@import "src/assets/scss/variables";
@import "src/assets/scss/utilities";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

.payment-type-box{
	height: 100%;
}
.disabledinput {
  opacity: 0.4;
  border-color: #cdcdcd;
  background-color: #cccccc;
  filter: alpha(opacity=40); /* For IE8 and earlier */
  cursor: default ;
}
.disabledtext {
  opacity: 0.7;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  cursor: default ;
}

