<ng-walkthrough-flow #walkOrderHistory id="wt-test-flow" focusBackdrop="true" closeAnywhere="false" showArrow="true"
 radius="auto" [texts]="navText" arrowColor="#5bc6d0" (finished)="walkOrderHistoryFinished();">

	<!-- step datePeriod start -->
	<ng-walkthrough focusElementSelector="#datePeriod" [contentTemplate]="stepDatePeriod">
		<ng-template #stepDatePeriod>
			<h5 class="text-primary font-weight-bold">Step 1 :</h5>
			<p><b>Order Hisotry :</b> This section allows to view all your past orders from My Warehouse. The <b>Search</b> section allows you to easily filter your orders.<br><b>Date Period :</b> Allows you to using different date range.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step datePeriod cart end -->

	<!-- step moreOption start -->
	<ng-walkthrough focusElementSelector="#moreOption" [contentTemplate]="stepMoreOption">
		<ng-template #stepMoreOption>
			<h5 class="text-primary font-weight-bold">Step 2 :</h5>
			<p>Check this to refine your search using the below listed search options.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step moreOption cart end -->

	<!-- step moreField start -->
	<ng-walkthrough focusElementSelector="#moreField" [contentTemplate]="stepMoreField">
		<ng-template #stepMoreField>
			<h5 class="text-primary font-weight-bold">Step 3 :</h5>
			<p>Serah using Shipment Number, Order Number and Status to easily filter results.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step moreField cart end -->

	<!-- step reset start -->
	<ng-walkthrough focusElementSelector="#reset" [contentTemplate]="stepReset">
		<ng-template #stepReset>
			<h5 class="text-primary font-weight-bold">Step 4 :</h5>
			<p>Click to reset the search form and display all orders.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step reset end -->

	<!-- step search start -->
	<ng-walkthrough focusElementSelector="#search" [contentTemplate]="stepSearch">
		<ng-template #stepSearch>
			<h5 class="text-primary font-weight-bold">Step 5 :</h5>
			<p>Click to search with the above search criteria(s).</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step search end -->

	<!-- step historyTable start -->
	<ng-walkthrough focusElementSelector="#historyTable" [contentTemplate]="stepHistoryTable">
		<ng-template #stepHistoryTable>
			<h5 class="text-primary font-weight-bold">Step 6 :</h5>
			<p>List of all the past orders that have been processed.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step historyTable end -->

	<!-- step dropdown start -->
	<ng-walkthrough focusElementSelector="#dropdown" [contentTemplate]="stepDropdown">
		<ng-template #stepDropdown>
			<h5 class="text-primary font-weight-bold">Step 7 :</h5>
			<p>Click to view the detailed <b>item(s) information</b> amd <b>print invoice</b>.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step dropdown end -->

	<!-- step pagination start -->
	<ng-walkthrough focusElementSelector="#pagination" [contentTemplate]="stepPagination">
		<ng-template #stepPagination>
			<h5 class="text-primary font-weight-bold">Step 8 :</h5>
			<p>Change the number of records displayed above.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step pagination end -->
</ng-walkthrough-flow>

<header class="page-header border-bottom mb-3">
	<h3>Order History</h3>
</header>
<!-- header end -->

<!-- order history content start -->
<p>You can search for the orders to view/process using the form below.</p>
<!--<h4>Search for orders</h4>
<p>Setting up advanced search parameters provides more relevant results.</p>-->
<!-- order history content end -->

<!-- form start -->
<div class="white-box cart-list p-3 mb-4">
	<form method="post" name="form">
		<div class="form-row">
			<div class="form-group col-md-3 col-sm-4" id="datePeriod">
				<label class="font-weight-medium">Date Period</label>
				<select name="orderDate" class="form-control form-control-sm">
					<option value="AD">All dates</option>
					<option value="TM">This month</option>
					<option value="TW">This week</option>
					<option value="TO">Today</option>
					<option value="FR">From</option>
				</select>
			</div>
			<div class="form-group col-md-3 col-sm-4"></div>

			<div class="form-group col-md-9 col-sm-6 d-flex d-sm-block justify-content-center justify-content-sm-start">
				<label class="custom-check text-left flex-row" id="moreOption">
					<input type="checkbox" value="" name="checkMore">
					<span class="checkmark"></span>
					<strong class="font-weight-medium pl-2">More Search Options</strong>
				</label>
			</div>

			<!-- more options start -->
			<div class="form-group col-md-9 col-sm-8 mb-0" id="moreField">
				<div class="form-row">
					<div class="form-group col-md-4 col-6">
						<label class="font-weight-medium">Shipment Number
							<!--<span class="text-secondary">*</span>-->
						</label>
						<input myNumberOnly name="shipmentId" type="text" class="form-control form-control-sm">
					</div>
					<div class="form-group col-md-4 col-6">
						<label class="font-weight-medium">Order Number
							<!--<span class="text-secondary">*</span>-->
						</label>
						<input name="orderId" type="text" class="form-control form-control-sm">
					</div>
					<div class="form-group col-md-4 col-6">
						<label class="font-weight-medium">Shipment Status</label>
						<select name="status" class="form-control form-control-sm">
							<option value="">All</option>

						</select>
					</div>
				</div>
			</div>
			<!-- more options end -->

			<div class="form-group col-sm justify-content-sm-end justify-content-center d-flex align-items-end">
				<a href="javascript:void(0);" class="btn btn-sm btn-link" id="reset">Reset Filter</a>
				<button type="submit" class="btn btn-sm btn-secondary" id="search">Search</button>
			</div>
		</div>
	</form>
</div>
<!-- form end -->

<article class="mb-4">
	<header>
		<h4>Submitted Orders</h4>
	</header>
	<!-- table start -->
	<table datatable class="hover mb-4" [dtOptions]="dtOptions" id="historyTable">
		<thead>
			<tr>
				<th>Shipment #</th>
				<th>Order #</th>
				<th>Total Shipping <br> Cost</th>
				<th>Total Cost</th>
				<th>Status</th>
				<th>Payment <br> Status</th>
				<th>Date</th>
				<th>&nbsp;</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let item of orders" [ngClass]="{'active': item.selected }">
				<td class="white-space-nowrap">#{{item.shipment}}</td>
				<td class="white-space-nowrap">{{item.order?item.order:'N/A'}}</td>
				<td>{{item.shipping_cost}}</td>
				<td>{{item.total_cost}}</td>
				<td class="font-size-md">
					<span class="badge badge-pill font-weight-medium" tooltip="{{ item.status }}" [ngClass]="{'badge-warning': item.status === 'Processed', 'badge-danger': item.status === 'Not finished', 'badge-success':
					item.status === 'Shipment Submitted'}">{{
						item.status }}</span>
				</td>
				<td class="font-size-md">
					<button class="btn btn-sm btn-action" container="body" placement="left" tooltip="{{ item.payment_status=='Paid'?'Paid':'Unpaid' }}"
					 type="button" [ngClass]="{' btn-light': item.payment_status == 'unpaid', 'btn-success': item.payment_status == 'paid'}"><i
						 class="fa fa-usd" aria-hidden="true"></i></button>
				</td>
				<td class="white-space-nowrap">{{item.date | date: 'MM/dd/yyyy'}}</td>
				<td class="white-space-nowrap text-right">
					<div class="btn-group" dropdown placement="bottom right" container="body">
						<button dropdownToggle type="button" tooltip="Actions" placement="left" container="body" class="btn btn-light btn-action text-primary dropdown-toggle"
						 id="dropdown"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
						<ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
							<li role="menuitem"><a class="dropdown-item px-3" (click)="print(item.id,item.shipmentType,item.paymentStatus)"
								 tooltip="{{ item.paymentStatus=='paid'?'Print Receipt':'Print Invoice' }}"><i class="fa fa-print mr-2"
									 aria-hidden="true"></i>Print</a></li>
							<li role="menuitem"><a class="dropdown-item px-3" (click)="showItemDetail(item.id)"><i class="fa fa-info-circle mr-2"
									 aria-hidden="true"></i>Information</a></li>
						</ul>
					</div>
				</td>


			</tr>
		</tbody>

	</table>
	<!-- table end -->

	<!-- datatable bottom panel start -->
	<footer class="border-bottom border-left border-right p-2">
		<div class="row">
			<div class="col-sm-3">
				<div class="input-group input-group-sm" id="pagination">
					<select name="perPage" class="form-control">
						<option value="10">10</option>
						<option value="20">20</option>
						<option value="30">30</option>
						<option value="50">50</option>
						<option value="100">100</option>
					</select>
					<div class="input-group-append">
						<span class="input-group-text" id="basic-addon2">Records</span>
					</div>
				</div>
			</div>

			<!-- 	<div class="col-sm-9 d-flex justify-content-sm-end justify-content-center mt-2 mt-sm-0" *ngIf="details">
				<pagination-controls  id="pagination"
					(pageChange)="pageChanged($event)"
					maxSize="5"
					directionLinks="true"
					autoHide="true"
					previousLabel="Previous"
					nextLabel="Next">
				</pagination-controls>
			</div> -->
		</div>
	</footer>
	<!-- datatable bottom panel end -->
</article>
