<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">View Item Detail</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button> 
</div>
<div class="modal-body">

		<!-- table start -->
		<div *ngFor="let eachDelivery of bagList">
		<div class="row">
		<div class="col-sm-12">
			<h3>Delivery #{{eachDelivery.id}}</h3>
		</div>
		</div>
		<div class="row">
			<div class="col-sm-2">
				<span><strong>Length:</strong>{{ eachDelivery.length }}</span>
			</div>
			<div class="col-sm-2">
				<span><strong>Height:</strong>{{ eachDelivery.height }}</span>
			</div>
			<div class="col-sm-2">
				<span><strong>Width:</strong>{{ eachDelivery.width }}</span>
			</div>
			<div class="col-sm-2">
				<span><strong>Weight:</strong>{{ eachDelivery.weight }}</span>
			</div>
			<div class="col-sm-4">
				<span><strong>Weight:</strong>{{ eachDelivery.chargeableWeight }}</span>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-3">
				<span><strong>Snapshot:</strong>{{ eachDelivery.snapshot+' '+(eachDelivery.snapshotRequestedOn?eachDelivery.snapshotRequestedOn:"") }}</span>
			</div>
			<div class="col-sm-3">
				<span><strong>Recount:</strong>{{ eachDelivery.recount+' '+(eachDelivery.recountRequestedOn?eachDelivery.recountRequestedOn:"") }}</span>
			</div>
			<div class="col-sm-3">
				<span><strong>Reweigh:</strong>{{ eachDelivery.reweigh+' '+(eachDelivery.reweighRequestedOn?eachDelivery.reweighRequestedOn:"") }}</span>
			</div>
			<div class="col-sm-3">
				<span><strong>Wrong Inventory:</strong>{{ eachDelivery.wrongInventory }}</span>
			</div>
		</div>
		
		<table datatable class="hover" [dtOptions]="dtOptions">		
			<thead>
				<tr>
					<th>Store</th>
					<th>Category</th>
					<th>Subcategory</th>
					<th>Product</th>
					<th>Item Ordered</th>
					<th>Value Per Item</th>
					<th>Shipping Cost</th>
					<th>Qualtity</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of eachDelivery.packages">
					<td>{{item.storeName?item.storeName:'N/A'}}</td>
					<td>{{item.categoryName?item.categoryName:'N/A'}}</td>
					<td>{{item.subcategoryName?item.subcategoryName:'N/A'}}</td>
					<td>{{item.productName?item.productName:'N/A'}}</td>
					<td>{{item.itemName}}</td>
					<td>{{item.itemPrice}}</td>
					<td>{{item.itemShippingCost?item.itemShippingCost:'0.00'}}</td>
					<td>{{item.itemQuantity}}</td>
					<td>{{item.itemTotalCost}}</td>
				</tr>
			</tbody>
			
		</table>
		</div>
		<!-- table end -->


</div>

