<app-header></app-header>

<section class="container">
	<div class="row">
		<!-- sidebar start -->
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-flyout></app-sidebar-flyout>
		</aside>
		<!-- sidebar end -->

		<!-- main content start -->
		<main class="col main-content py-md-5 py-3  pl-lg-5">
			<!-- header start -->
			<header class="page-header border-bottom mb-3">
				<h3>Shipment Settings</h3>
			</header>
			<!-- header end -->
			<div data-ng-show="showError" ng-class="{fade:doFade}" class="alert alert-danger" *ngIf="submitError">
				<strong>Error: </strong>Something went wrong
			</div>
			<div data-ng-show="showError" ng-class="{fade:doFade}" class="alert alert-success" *ngIf="submitSuccess">
				<strong>Success: </strong>Settings saved successfully
			</div>
			<div class="white-box ">
				<form method="post" (ngSubmit)="shipmentSettingsForm.form.valid && onSubmit(shipmentSettingsForm)" #shipmentSettingsForm="ngForm">
				
					<div class="form-group setting-item" *ngFor="let item of updates">
						<label class="custom-check mb-0">
							<!-- <input type="checkbox" name="{{ item.name }}" ngModel value="1" [(ngModel)]="shipmentSettings[item.name]" [checked]="shipmentSettings[item.name] == 1" > 
							<span class="checkmark"></span>-->
							<span class="ml-2">{{item.title}}</span>
						</label>
						<select class="form-control" name="{{ item.name }}" [(ngModel)]="shipmentSettings[item.name]" style="width:80px;">
							<option value="0">No</option>
							<option value="1">Yes</option>
						</select>
						<a href="javascript:void(0)" class="help-icon ml-2" container="body" triggers="mouseenter:mouseleave" [placement]="item.position"
						 [popover]="item.description">
							<i class="fa fa-question" aria-hidden="true"></i>
						</a>
					</div>
					<div class="form-group setting-item" *ngFor="let item of ships">
						<label class="custom-check mb-0">
							<!-- <input type="checkbox" name="{{ item.name }}" ngModel value="1" [checked]="shipmentSettings[item.name] == 1">
							<span class="checkmark"></span> -->
							<span class="ml-2">{{item.title}}</span>
						</label>
						<select class="form-control" name="{{ item.name }}" [(ngModel)]="shipmentSettings[item.name]" style="width:80px;">
							<option value="0">No</option>
							<option value="1">Yes</option>
						</select>
						<a href="javascript:void(0)" class="help-icon ml-2" container="body" triggers="mouseenter:mouseleave" [placement]="item.position"
						 [popover]="item.description">
							<i class="fa fa-question" aria-hidden="true"></i>
						</a>
					</div>
					<div class="form-group setting-item" *ngFor="let item of others">
						<label class="custom-check mb-0">
							<!-- <input type="checkbox" name="{{ item.name }}" ngModel value="1" [(ngModel)]="shipmentSettings[item.name]">
							<span class="checkmark"></span> -->
							<span class="ml-2">{{item.title}}</span>
						</label>
						<select class="form-control" name="{{ item.name }}" [(ngModel)]="shipmentSettings[item.name]"style="width:80px;">
							<option value="0">No</option>
							<option value="1">Yes</option>
						</select>
						<a href="javascript:void(0)" class="help-icon ml-2" container="body" triggers="mouseenter:mouseleave" [placement]="item.position"
						 [popover]="item.description">
							<i class="fa fa-question" aria-hidden="true"></i>
						</a>
					</div>
					<div class="form-group mb-0">
						<label class="d-block">Special Handling Instructions</label>
						<textarea class="form-control" rows="3" name="special_instruction" [(ngModel)]="shipmentSettings.special_instruction"></textarea>
					</div>
					<br/>
					<div class="form-group mb-0">
						<!--<button type="submit" class="btn btn-secondary mb-3" [disabled]="!shipmentSettingsForm.dirty" *ngIf="!formSubmit">Save</button>-->
						<button type="submit" class="btn btn-secondary mb-3">Save</button>
					</div>
				</form>
				
			
				<div *ngIf="shipmentHistory">
					<div class="row">
						<div class="col-sm-4"><h3>Change History</h3></div>
						<div class="col-sm-8">&nbsp;</div>
					</div>
					<div class="row" *ngFor="let eachHistory of shipmentHistory">
						<div class="col-sm-6">Setting modified on {{eachHistory.modifiedOn | date: 'MM/dd/yyyy'}} at {{eachHistory.modifiedOn | date: 'HH:mm'}}</div>
						<div class="col-sm-6">&nbsp;</div>
					</div>
				</div>
			</div>
		</main>
		<!-- main content end -->
	</div>
</section>
<app-footer></app-footer>
