@import "src/assets/scss/variables";
@import "src/assets/scss/utilities";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
.main-header {
    background: var(--white);
    // top bar
    .top-bar {
        background-color: theme-color(blue-grey);
        color: $white;
        .container {
            height: 44px;
            @include media-breakpoint-down(md) {
                padding: 0;
            }
            .list-top-bar {
                margin: 0;
                text-align: right;
                display: flex;
                align-items: center;
                height: 100%;
                justify-content: flex-end;
                >li {
                    list-style-type: none;
                    display: inline-block;
                    @extend .font-size-sm;
                    svg-icon {
                        margin: 3px 5px 0 0;
                        /deep/svg {
                            fill: var(--white);
                            height: 16px;
                            line-height: 1;
                        }
                    }
                    
                    &.call {
                        // padding: 0 0 0 $spacer;
                        margin-right: $spacer;
                        // border-right: 1px solid rgba($white, .2);
                        @include media-breakpoint-down(md) {
                            height: 100%;
                            margin-right: 0;
                        }
                        /deep/.ng-value {
                            display: flex;
                            align-items: center;
                        }
                        /deep/.ng-dropdown-panel.ng-select-bottom {
                            left: 0;
                        }
                        /deep/.ng-select .ng-select-container {
                            border: 0;
                            background: transparent;
                            color: var(--white);
                        }
                    }
                    .btn {
                        min-width: 100px;
                        line-height: 1;
                        @include media-breakpoint-down(md) {
                            padding: 0;
                            width: 44px;
                            min-width: inherit;
                            height: 44px;
                            border-radius: 0;
                            line-height: 44px;
                        }
                    }
                }
                
            }
        }
    }
    // middle bar
    .middle-bar {
        position: relative;
        height: 72px;
        @include media-breakpoint-down(md) {
            height: 60px;
        }
        .warehouse{
            svg-icon {
                ::ng-deepsvg {
                    fill: theme-color(primary);
                    height: 20px;
                }
            } 
        }

        // user-dropdown
        .user-dropdown {
            .dropdown-toggle {
                // min-width: 170px;
                // max-width: 250px;
                width: 160px;
                @include media-breakpoint-down(md) {
                    // padding: 0;
                    width: auto;
                    min-width: inherit;
                    // height: 44px;
                    // border-radius: 0;
                    // line-height: 44px;
                }
                .title {
                    text-align: left;
                    width: calc(100% - 35px);
                    @extend .text-ellipsis;
                    // @extend .font-size-sm;
                    // line-height: 14px;
                }
                &:after{
                    @include media-breakpoint-down(md) {
                        display: none;
                    }
                }
            }
            .open {
                .btn {
                    border-radius: 0.25rem 0.25rem 0 0;
                }
            }
            .btn {
                &.btn-dark {
                    &:hover,
                    &:focus,
                    &:active,
                    &.dropdown-toggle {
                        background: theme-color(dark);
                        border-color: theme-color(dark);
                    }
                }
            }
            .dropdown-menu {
                margin: 0;
                width: 100%;
                border-radius: 0 0 0.25rem 0.25rem;
                border: 0;
                background: theme-color(dark);
                @include media-breakpoint-down(md) {
                    left: auto !important;
                    right: 0 !important;
                }
                .dropdown-item {
                    color: var(--white);
                    font-size: $font-size-base/1.10;
                    &:hover {
                        background-color: theme-color-level(dark, 2);
                    }
                }
            }
        }

        .logo {
            width: 160px;
            display: block;
            margin-top: -$spacer*3;
            position: absolute;
            @include media-breakpoint-down(xs) {
                width: 120px;
                margin-top: -$spacer*1.5;
            }
            svg-icon {
                // /deep/svg{
                // 	stroke: red;
                // 	stroke-width: 10;
                // }
            }
        }
    }
}

.g-ad-header{
	width: 350px;
	height: 56px;
	// float: right;
	// margin-top: -$spacer/2;
	// margin-right: $spacer/2;
	// margin-bottom: -$spacer/2;
	position: absolute;
	left: 0;
	right: 0;
	top: $spacer/2;
	margin: 0 auto;
	@include media-breakpoint-down(lg) {
		width: 250px;
	}
	@include media-breakpoint-down(sm) {
		display: none;
	}
}
