<!-- <a routerLink="/login" routerLinkActive="active">Login</a> |
<a>Register</a> -->
<ngx-loading-bar color="#5BC6D0" [includeSpinner]="false"></ngx-loading-bar>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#a7f4fb"></ngx-spinner>
<header class="main-header">

    <!-- top bar start -->
    <section class="top-bar">
        <div class="container">
            <ul class="list-top-bar">
                <!-- need help -->
                <li class="mr-lg-2 mr-3">


                </li>
                <!-- phone -->
                <li class="call mr-2 d-lg-flex d-none flex-row align-items-center" *ngIf="phones">
                    <svg-icon src="assets/imgs/icons/call.svg" class="float-left d-block"></svg-icon>
                    <span class="d-block">Phone:</span>
                </li>
                <li class="mr-3 mr-lg-2" *ngIf="this.phones">
                    <a href="tel:{{ this.phones.NG.dialNumber }}" class="text-white">
                        <img height="20" class="float-left mr-0 mr-lg-2"
                            src="https://www.countryflags.io/NG/flat/64.png" />
                        <span class="d-none d-lg-inline-block">{{ this.phones.NG.displayNumber }}</span>
                    </a>
                </li>
                <li class="mr-lg-2 mr-3" *ngIf="this.phones">
                    <a href="tel:{{ this.phones.NG.dialNumber }}" class="text-white">
                        <img height="20" class="float-left mr-0 mr-lg-2"
                            src="https://www.countryflags.io/US/flat/64.png" />
                        <span class="d-none d-lg-inline-block">{{ this.phones.US.displayNumber }}</span>
                    </a>
                </li>
                <li class="mr-lg-2">
                    <a href="https://api.whatsapp.com/send?phone=2348135414956" class="text-white d-none d-lg-block"
                        target="_blank">
                        <img height="20" class="float-left mr-0 mr-lg-2" src="assets/imgs/icons/whatsapp.png" />
                        <span class="d-none d-lg-inline-block">(+234) 813 541 4956</span>
                    </a>
                    <a href="https://api.whatsapp.com/send?phone=2348135414956"
                        class="btn btn-default text-white d-lg-none d-flex align-items-center justify-content-center border-dark border-top-0 border-bottom-0"
                        target="_blank">
                        <img height="16" src="assets/imgs/icons/whatsapp.png" />
                    </a>
                </li>


                <!-- email -->
                <li class="mr-lg-2">
                    <svg-icon src="assets/imgs/icons/mail.svg" class="float-left d-none d-lg-block"></svg-icon>
                    <a routerLink="/send-us-message" class="btn btn-default text-white d-lg-none">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </a>
                    <span class="d-none d-lg-inline-block mr-1"><a class="text-white d-none d-lg-inline-block mr-1"
                            routerLink="/send-us-message">Email Us</a></span>

                </li>



                <!-- sign in -->
                <li>
                    <a routerLink="/help" class="btn btn-dark">
                        <i class="fa fa-question-circle-o d-lg-none" aria-hidden="true"></i>
                        <span class="d-none d-lg-inline-block">Need Help?</span>
                    </a>
                </li>
                <!-- join now -->
                <li class="ml-lg-2">
                    <a class="btn btn-primary" routerLink="/" fragment="shipping-cost">
                        <i class="fa fa-calculator d-lg-none" aria-hidden="true"></i>
                        <span class="d-none d-lg-inline-block">Get A Quote</span>
                    </a>
                </li>


                <!-- menu -->
                <li class="bar-menu" *ngIf="showMenuButtons && isMediumScreen">
                    <a class="navbar-toggle collapsed btn btn-dark" (click)="isCollapsed = !isCollapsed"
                        aria-expanded="false">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </a>
                </li>

                <!-- sidenav menu -->
                <li class="bar-menu" *ngIf="showSideNavButtons && isMediumScreen">
                    <a class="navbar-toggle collapsed btn btn-default"
                        (click)="isSidenavCollapsed = !isSidenavCollapsed" (onShown)="onShown()" (onHidden)="onHidden()"
                        aria-expanded="false">
                        <i class="fa fa-bars" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <!-- top bar end -->

    <!-- nav -->
    <div class="collapse navbar-collapse main-menu animated slideInRight" [collapse]="isCollapsed"
        *ngIf="isMediumScreen && pageType != 2">
        <header class="clearfix">
            <h4 class="text-white float-left no-margin">Menu</h4>
            <a class="collapsed text-white float-right" (click)="isCollapsed = !isCollapsed" aria-expanded="false">
                <i class="fa fa-close" aria-hidden="true"></i>
            </a>
        </header>
        <div class="content">
            <app-navigation></app-navigation>
        </div>
    </div>

    <!-- middle bar start -->
    <section class="middle-bar container clearfix py-3">
        <span class="logo float-left">
            <a routerLink="/">
                <picture>
                    <source srcset="assets/imgs/logo/logo.webp" type="image/webp">
                    <source srcset="assets/imgs/logo/logo.jpg" type="image/jpeg">
                    <img src="assets/imgs/logo/logo.jpg">
                </picture>
            </a>
        </span>

        <!-- profile -->
        <div class="ml-2 user-dropdown float-right" *ngIf="auth.isLoggedIn && auth.item">
            <div class="btn-group" dropdown>
                <button dropdownToggle type="button" class="btn btn-dark dropdown-toggle">
                    <i class="fa fa-user-o" aria-hidden="true"></i>
                    <span class="title d-lg-inline d-none pl-2" *ngIf="auth.item.user">{{ auth.item.user.firstName+'
                								'+auth.item.user.lastName }}</span>
                    <!-- <i class="fa fa-user-o d-lg-none" aria-hidden="true"></i> -->
                </button>
                <ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
                    <li role="menuitem">
                        <a class="dropdown-item" routerLink="/my-account">My Profile</a>
                    </li>
                    <li role="menuitem">
                        <a href="javascript:void(0)" class="dropdown-item" (click)="logout()">Sign Out</a>
                    </li>

                </ul>
            </div>
        </div>

        <!-- my warehouse -->
        <div class="warehouse float-right" *ngIf="auth.isLoggedIn">
            <a routerLink="/my-warehouse/overview" class="text-primary btn btn-link d-flex justify-content-center">
                <svg-icon src="assets/imgs/icons/shop-online.svg" class="mr-1"></svg-icon>
                <span class="d-inline-block">My Warehouse</span>
            </a>
        </div>



        <a *ngIf="!isMediumScreen && pageType != 2 && !auth.isLoggedIn" routerLink="/subscribe" fragment="shipping-cost"
            class="btn btn-secondary btn-lg float-right">
            Sign Up <i class="fa fa-sign-out" aria-hidden="true"></i></a>
        <a *ngIf="isMediumScreen && !auth.isLoggedIn" routerLink="/subscribe" fragment="shipping-cost"
            class="btn btn-secondary btn-sm float-right">
            Sign Up <i class="fa fa-sign-out" aria-hidden="true"></i></a>

        <a *ngIf="!auth.isLoggedIn && !isMediumScreen" class="btn btn-dark btn-lg float-right mr-2"
            routerLink="/login">Sign In <i class="fa fa-sign-in" aria-hidden="true"></i></a>
        <a *ngIf="!auth.isLoggedIn && isMediumScreen" class="btn btn-dark btn-sm float-right mr-2"
            routerLink="/login">Sign In <i class="fa fa-sign-in" aria-hidden="true"></i></a>
        <div class="bg-light g-ad-header"><a href="{{homepageAdLink}}" target="_blank"> <img
                    src="{{ homepageAdBanner }}" *ngIf="homepageAdBanner"></a></div>
        <span *ngIf="pageType == 2" class="float-right">&nbsp;</span>
    </section>
    <!-- middle bar end -->
    <nav class="navigation" *ngIf="showNavigation">
        <div class="container">
            <!-- *ngIf="isMediumScreen() ? true : false" -->
            <app-navigation *ngIf="!isMediumScreen"></app-navigation>
        </div>
    </nav>
</header>

<div class="sidenav-collapsed" [collapse]="isSidenavCollapsed" *ngIf="isMediumScreen && pageType != 2">
    <header class="clearfix">
        <h4 class="text-white float-left no-margin">Side Menu</h4>
        <a class="collapsed text-white float-right" (click)="isSidenavCollapsed = !isSidenavCollapsed"
            aria-expanded="false">
            <i class="fa fa-close" aria-hidden="true"></i>
        </a>
    </header>
    <div class="content">
        <app-sidebar-flyout *ngIf="!showHelpMenu"></app-sidebar-flyout>
        <app-sidebar-help *ngIf="showHelpMenu"></app-sidebar-help>
    </div>


</div>