<div class="row">
	<div class="col-lg-3 text-center text-lg-left">
		<ul class="list-ui">
			<li>Enter your from and to address.</li>
			<li>Fill in the weight and dimensions.</li>
			<li>Enter the correct value ($) of your item.</li>
			<li>The system will show you a valid shipping cost.</li>
			<p>&nbsp;</p>
			<p class="text-center">NOTE:</p>
			<p class="text-center">For an accurate shipping cost use the weight, length, width and height of the package</p>
		</ul>
		

		<picture>
		  <source srcset="assets/imgs/correct-getaquotecar/correct-getaquotecar.webp" type="image/webp">
		  <source srcset="assets/imgs/correct-getaquotecar/correct-getaquotecar.jpg" type="image/jpeg"> 
		  <img src="assets/imgs/correct-getaquotecar/correct-getaquotecar.jpg">
		</picture>
		<picture>
		  <source srcset="assets/imgs/wrong-getaquotecar/wrong-getaquotecar.webp" type="image/webp">
		  <source srcset="assets/imgs/wrong-getaquotecar/wrong-getaquotecar.jpg" type="image/jpeg"> 
		  <img src="assets/imgs/wrong-getaquotecar/wrong-getaquotecar.jpg">
		</picture>
	</div>
	<div class="col-lg-9">
		<form method="post" (ngSubmit)="getquoteFrm.form.valid && onSubmit(getquote)" #getquoteFrm="ngForm">
		<div class="bg-white form-area">
			<div class="row">
				<!-- from start -->
				<div class="col-sm-6 pr-sm-4 border-right border-primary">
					<h5 class="border-bottom border-primary pb-2 mb-3">From</h5>
					<div class="form-group">
						<label for="countryId">
							<span class="text-danger">*</span>Country:</label>
							<select class="form-control" [ngClass]="{ 'is-invalid': getquoteFrm.submitted && countryId.invalid }" name="countryId" #countryId="ngModel" (ngModelChange)="countryChanged($event)" [(ngModel)]="getquote.from.countryId" required>
								<option value="">Select</option>
								<option *ngFor="let country of countryList" [value]="country.id">{{country.name}} </option> 
							</select>
							<div *ngIf="getquoteFrm.submitted && countryId.invalid" class="invalid-feedback">
                            	<div *ngIf="countryId.errors.required">Field is required</div>
                        	</div>
					</div>
					<div class="form-group">
						<label for="stateId">
							<span class="text-danger">*</span>State:</label>
						<select class="form-control" [ngClass]="{ 'is-invalid': getquoteFrm.submitted && stateId.invalid }" name="stateId" #stateId="ngModel"  (ngModelChange)="stateChanged($event)" [(ngModel)]="getquote.from.stateId" required>
							<option value="">Select</option>
							<option *ngFor="let state of stateList" [value]="state.id">{{state.name}} </option> 
						</select>
						<div *ngIf="getquoteFrm.submitted && stateId.invalid" class="invalid-feedback">
                            	<div *ngIf="stateId.errors.required">Field is required</div>
                        </div>
					</div>
					<div class="form-group">
						<label for="cityId"><span class="text-danger">*</span>City:</label>
						<select class="form-control" [ngClass]="{ 'is-invalid': getquoteFrm.submitted && cityId.invalid }" name="cityId" #cityId="ngModel" [(ngModel)]="getquote.from.cityId" required> 
							<option value="">Select</option>
							<option *ngFor="let city of cityList" [value]="city.id">{{city.name}} </option> 
						</select>
						<div *ngIf="getquoteFrm.submitted && cityId.invalid" class="invalid-feedback">
                            	<div *ngIf="cityId.errors.required">Field is required</div>
                        </div>
					</div>
				</div>
				<!-- from end -->
				<!-- to start -->
				<div class="col-sm-6 pl-sm-4">
					<h5 class="border-bottom border-primary pb-2 mb-3">To</h5>
					<div class="form-group">
						<label for="tocountryId"><span class="text-danger">*</span>Country:</label>
						<select class="form-control" [ngClass]="{ 'is-invalid': getquoteFrm.submitted && tocountryId.invalid }" name="tocountryId" #tocountryId="ngModel" (ngModelChange)="tocountryChanged($event)" [(ngModel)]="getquote.to.countryId" required>
							<option value="">Select</option>
							<option *ngFor="let country of countryList" [value]="country.id">{{country.name}} </option> 
						</select>
						<div *ngIf="getquoteFrm.submitted && tocountryId.invalid" class="invalid-feedback">
                            	<div *ngIf="tocountryId.errors.required">Field is required</div>
                        </div>
					</div>
					<div class="form-group">
						<label for="tostateId"><span class="text-danger">*</span>State:</label>
						<select class="form-control" [ngClass]="{ 'is-invalid': getquoteFrm.submitted && tostateId.invalid }" name="tostateId" #tostateId="ngModel" (ngModelChange)="tostateChanged($event)" [(ngModel)]="getquote.to.stateId" required>
							<option value="">Select</option>
							<option *ngFor="let tostate of tostateList" [value]="tostate.id">{{tostate.name}} </option> 
						</select>
						<div *ngIf="getquoteFrm.submitted && tostateId.invalid" class="invalid-feedback">
                            	<div *ngIf="tostateId.errors.required">Field is required</div>
                        </div>
					</div>
					<div class="form-group">
						<label for="tocityId"><span class="text-danger">*</span>City:</label>
						<select class="form-control" [ngClass]="{ 'is-invalid': getquoteFrm.submitted && tocityId.invalid }"  name="tocityId" #tocityId="ngModel" [(ngModel)]="getquote.to.cityId" required>
							<option value="">Select</option>
							<option *ngFor="let tocity of tocityList" [value]="tocity.id">{{tocity.name}} </option> 
						</select>
						<div *ngIf="getquoteFrm.submitted && tocityId.invalid" class="invalid-feedback">
                            	<div *ngIf="tocityId.errors.required">Field is required</div>
                        </div>
					</div>

				</div>
				<!-- to end -->
			</div>
			<div class="row">
				<!-- package start -->
				<div class="col mt-3">
					<h5 class="border-bottom border-primary pb-2 mb-3">Package dim(in)</h5>
					<div *ngFor="let package of getquote.packages; index as i" [attr.data-index]="i" class="form-row add-package">
						<div class="form-group col-md-2 col-sm-4 col-6">
							<label><span class="text-danger">*</span>Length:</label>
							<input type="text" [(ngModel)]="package.length" name="length_{{i}}" (change)="setTwoNumberDecimal($event)" class="form-control" [ngClass]="{ 'is-invalid': getquoteFrm.submitted && length.invalid }" #length="ngModel" required="">
							<div *ngIf="getquoteFrm.submitted && length.invalid" class="invalid-feedback">
                            	<div *ngIf="length.errors.required">Field is required</div>
                        	</div>
						</div>
						<div class="form-group col-md-2 col-sm-4 col-6">
							<label><span class="text-danger">*</span>Width:</label>
							<input type="text" [(ngModel)]="package.width" name="width_{{i}}" (change)="setTwoNumberDecimal($event)" class="form-control" [ngClass]="{ 'is-invalid': getquoteFrm.submitted && width.invalid }" #width="ngModel" required="">
							<div *ngIf="getquoteFrm.submitted && width.invalid" class="invalid-feedback">
                            	<div *ngIf="width.errors.required">Field is required</div>
                        	</div>
						</div>
						<div class="form-group col-md-2 col-sm-4 col-6">
							<label><span class="text-danger">*</span>Height:</label>
							<input type="number" [(ngModel)]="package.height" name="height_{{i}}" (change)="setTwoNumberDecimal($event)" class="form-control" [ngClass]="{ 'is-invalid': getquoteFrm.submitted && height.invalid }" #height="ngModel" required="">
							<div *ngIf="getquoteFrm.submitted && height.invalid" class="invalid-feedback">
                            	<div *ngIf="height.errors.required">Field is required</div>
                        	</div>
						</div>
						<div class="form-group col-md-2 col-sm-4 col-6">
							<label>Unit:</label>
							<select class="form-control" [(ngModel)]="package.unit" name="unit_{{i}}">
								<option value="P" selected="selected">lbs / in</option>
      							<option value="K">kg / cm</option>
							</select>
						</div>
						<div class="form-group col-md-2 col-sm-4 col-6">
							<label><span class="text-danger">*</span>Weight:</label>
							<input type="text" #packageWeight="ngModel" [(ngModel)]="package.weight" [ngClass]="{ 'is-invalid': getquoteFrm.submitted && packageWeight.invalid }"  name="weight_{{i}}" (change)="setTwoNumberDecimal($event)" class="form-control" required>
							<div *ngIf="getquoteFrm.submitted && packageWeight.invalid" class="invalid-feedback">
                            	<div *ngIf="packageWeight.errors.required">Field is required</div>
                       	   </div>
						</div>
						<div class="form-group col-md-2 col-sm-4 col-6">
							<label class="text-nowrap"><span class="text-danger">*</span>Declared Value<span class="text-danger">({{ currencySymbol }})</span>:</label>
							<div class="input-group">
								<input type="text" [(ngModel)]="package.declaredValue" (change)="setTwoNumberDecimal($event)"  name="declaredValue_{{i}}" class="form-control" [ngClass]="{ 'is-invalid': getquoteFrm.submitted && declaredValue.invalid }" #declaredValue="ngModel" required="">

								<div class="input-group-append" *ngIf="i == 0 ? false : true">
									<button type="button" class="btn btn-secondary rounded-0" (click)="deletePackageRow(i)"><i class="fa fa-close" aria-hidden="true"></i></button>
								</div>
								<div *ngIf="getquoteFrm.submitted && declaredValue.invalid" class="invalid-feedback">
	                            	<div *ngIf="declaredValue.errors.required">Field is required</div>
	                        	</div>
							</div>

						</div>

					</div>
					<div class="form-row">
						<input type="hidden"  [(ngModel)]="packageCount" name="packageCount" value="{{packageCount}}">
						<button type="button" (click)="addPackage()" class="btn btn-primary m-auto"><i class="fa fa-plus mr-2" aria-hidden="true"></i>Add More Packages</button>
					</div>
				</div>
				<!-- package end -->
			</div>
			<div class="row">
				<div class="col">
					<div class="mt-3 pt-3 border-top border-primary">
						<div class="form-row">
							<div class="form-group col-sm-4 offset-sm-2">
								<label>
									<strong>View Pricing In:</strong> Currency</label>
									<select class="form-control" name="viewCurrency" [(ngModel)]="getquote.viewCurrency">
										<option value="">Select Currency</option>
										<option *ngFor="let currency of currencyList" [value]="currency.code">{{currency.code}} - {{currency.name}}</option> 
									</select>
							</div>
							<div class="form-group col-sm-4">
								<label>Warehouse</label>
								<select class="form-control">
									<option *ngFor="let warehouse of warehouseList" [value]="warehouse.id">{{warehouse.name}} ({{ warehouse.cityName }})</option> 
								</select>
							</div>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-secondary btn-lg"><i class="fa fa-calculator" aria-hidden="true"></i> Get A Quote</button>
						</div>
					</div>
				</div>
				<div class="col-sm-12" *ngIf="showShipping">
					<div class="row shipping-type">
						<div class="col-md col-sm-12 mt-3 item" *ngFor="let item of shippingTypes">
							<div class="item-inn px-0">
								<img src="{{item.companyLogo}}" class="mb-3">
								<h5 class="text-primary">{{item.shipping}}</h5>
								<span class="font-size-sm font-weight-medium">Shipping Cost: {{item.shippingCost}}</span>
								<span *ngIf="item.isDutyCharged" class="font-size-sm font-weight-medium">Clearing, duty & Local Handling: {{item.clearingDuty}}</span>
								<span *ngIf="!item.isDutyCharged" class="font-size-sm font-weight-medium">Clearing, & Local Handling: {{item.clearingDuty}}</span>
								<div class="bg-dark w-100 my-3">
									<span class="mb-2 d-block font-size-lg text-white">
										<strong>{{item.totalShippingCost}}</strong>
									</span>
									<span class="d-block font-size-sm text-medium">{{item.shipping_time}}</span>
									<span class="mb-3 d-block font-size-sm text-medium">{{item.estimatedDeliveryDate}}</span>
								</div>
								<div>
									<a href="javascript:void(0)" tooltip="{{item.learn_more}}" container="body" class="btn btn-primary btn-sm mr-1">Details</a>
								</div>
							</div>

						</div>
					</div>		
				</div>


			</div>
		</div>
		</form>
	</div>
</div>
