<div class="row">
	<div class="col-lg-3 text-center text-lg-left">
		<ul class="list-ui">
			<li>Select your from and to address.</li>
			<li>Select the product/item you want to ship.</li>
			<li>If product is not listed, the boxes below can help you to determine the shipping cost.</li>
			<li>If it fits the box, it ships for that cost.</li>
		</ul>	
		
		<picture>
		  <source srcset="assets/imgs/boxes-for-what-are-you-shopping/boxes-for-what-are-you-shopping.webp" type="image/webp">
		  <source srcset="assets/imgs/boxes-for-what-are-you-shopping/boxes-for-what-are-you-shopping.jpg" type="image/jpeg"> 
		  <img src="assets/imgs/boxes-for-what-are-you-shopping/boxes-for-what-are-you-shopping.jpg">
		</picture>
	</div>
	
	<div class="col-lg-9">
		<form method="post" (ngSubmit)="getquoteitemFrm.form.valid && dataSubmit(getquoteitem,getquoteitemFrm)" #getquoteitemFrm="ngForm">
		<div class="bg-white form-area">
			<div class="row">
				<!-- from start -->
				<div class="col-sm-6 pr-sm-4 border-right border-primary">
					<h5 class="border-bottom border-primary pb-2 mb-3">From</h5>
					<div class="form-group">
						<label for="countryId">
							<span class="text-danger">*</span>Country:</label>
							<select class="form-control" [ngClass]="{ 'is-invalid': getquoteitemFrm.submitted && countryId.invalid }" name="countryId" #countryId="ngModel" (ngModelChange)="countryChanged($event)" [(ngModel)]="getquoteitem.from.countryId" required>
								<option value="">Select</option>
								<option *ngFor="let country of countryList" [value]="country.id">{{country.name}} </option> 
							</select>
							<div *ngIf="getquoteitemFrm.submitted && countryId.invalid" class="invalid-feedback">
                            	<div *ngIf="countryId.errors.required">Field is required</div>
                        	</div>
					</div>
					<div class="form-group">
						<label for="stateId">
							<span class="text-danger">*</span>State:</label>
						<select class="form-control" [ngClass]="{ 'is-invalid': getquoteitemFrm.submitted && stateId.invalid }" name="stateId" #stateId="ngModel"  (ngModelChange)="stateChanged($event)" [(ngModel)]="getquoteitem.from.stateId" required>
							<option value="">Select</option>
							<option *ngFor="let state of stateList" [value]="state.id">{{state.name}} </option> 
						</select>
						<div *ngIf="getquoteitemFrm.submitted && stateId.invalid" class="invalid-feedback">
                            	<div *ngIf="stateId.errors.required">Field is required</div>
                        </div>
					</div>
					<div class="form-group">
						<label for="cityId"><span class="text-danger">*</span>City:</label>
						<select class="form-control" [ngClass]="{ 'is-invalid': getquoteitemFrm.submitted && cityId.invalid }" name="cityId" #cityId="ngModel" [(ngModel)]="getquoteitem.from.cityId" required> 
							<option value="">Select</option>
							<option *ngFor="let city of cityList" [value]="city.id">{{city.name}} </option> 
						</select>
						<div *ngIf="getquoteitemFrm.submitted && cityId.invalid" class="invalid-feedback">
                            	<div *ngIf="cityId.errors.required">Field is required</div>
                        </div>
					</div>
				</div>
				<!-- from end -->
				<!-- to start -->
				<div class="col-sm-6 pl-sm-4">
					<h5 class="border-bottom border-primary pb-2 mb-3">To</h5>
					<div class="form-group">
						<label for="tocountryId"><span class="text-danger">*</span>Country:</label>
						<select class="form-control" [ngClass]="{ 'is-invalid': getquoteitemFrm.submitted && tocountryId.invalid }" name="tocountryId" #tocountryId="ngModel" (ngModelChange)="tocountryChanged($event)" [(ngModel)]="getquoteitem.to.countryId" required>
							<option value="">Select</option>
							<option *ngFor="let country of countryList" [value]="country.id">{{country.name}} </option> 
						</select>
						<div *ngIf="getquoteitemFrm.submitted && tocountryId.invalid" class="invalid-feedback">
                            	<div *ngIf="tocountryId.errors.required">Field is required</div>
                        </div>
					</div>
					<div class="form-group">
						<label for="tostateId"><span class="text-danger">*</span>State:</label>
						<select class="form-control" [ngClass]="{ 'is-invalid': getquoteitemFrm.submitted && tostateId.invalid }" name="tostateId" #tostateId="ngModel" (ngModelChange)="tostateChanged($event)" [(ngModel)]="getquoteitem.to.stateId" required>
							<option value="">Select</option>
							<option *ngFor="let state of tostateList" [value]="state.id">{{state.name}} </option> 
						</select>
						<div *ngIf="getquoteitemFrm.submitted && tostateId.invalid" class="invalid-feedback">
                            	<div *ngIf="tostateId.errors.required">Field is required</div>
                        </div>
					</div>
					<div class="form-group">
						<label for="tocityId"><span class="text-danger">*</span>City:</label>
						<select class="form-control" [ngClass]="{ 'is-invalid': getquoteitemFrm.submitted && tocityId.invalid }"  name="tocityId" #tocityId="ngModel" [(ngModel)]="getquoteitem.to.cityId" required>
							<option value="">Select</option>
							<option *ngFor="let city of tocityList" [value]="city.id">{{city.name}} </option> 
						</select>
						<div *ngIf="getquoteitemFrm.submitted && tocityId.invalid" class="invalid-feedback">
                            	<div *ngIf="tocityId.errors.required">Field is required</div>
                        </div>
					</div>

				</div>
				<!-- to end -->
			</div>
			<div class="row">
				<!-- package start -->
				<div class="col mt-3">
					<h5 class="border-bottom border-primary pb-2 mb-3">Items</h5>
					<div *ngFor="let item of getquoteitem.items; index as i" [attr.data-index]="i" class="form-row add-package">
						<div class="form-group col-md-2 col-sm-4 col-6 text-center">
							<!-- <label>Product Image:</label> -->
							<img [src]="getquoteitem.items[i].productImgSrc" class="product-img m-auto">
						</div>
						<div class="form-group col-md-2 col-sm-4 col-6">
							<label><span class="text-danger">*</span>Catgeory:</label>
							<select class="form-control"  #categoryId="ngModel" [(ngModel)]="getquoteitem.items[i].categoryId" (ngModelChange)="categoryChanged($event,i)" name="items[{{i}}][catgeoryId]" [ngClass]="{ 'is-invalid': getquoteitemFrm.submitted && categoryId.invalid }" required>
								<option value=""> Select </option>
								<option value="0">Not Listed</option>
								<option *ngFor="let category of categoryList" [value]="category.id">{{category.categoryName}}</option> 
							</select>
							<div *ngIf="getquoteitemFrm.submitted && categoryId.invalid" class="invalid-feedback">
                            	<div *ngIf="categoryId.errors.required">Field is required</div>
                        	</div>
						</div>
						<div class="form-group col-md-2 col-sm-4 col-6">
							<label><span class="text-danger">*</span>Sub Catgeory:</label>
							<select class="form-control"  #subCategoryId="ngModel" [(ngModel)]="getquoteitem.items[i].subCategoryId" (ngModelChange)="subCategoryChanged($event,i)" name="subCatgeoryId_{{i}}" [ngClass]="{ 'is-invalid': getquoteitemFrm.submitted && subCategoryId.invalid }" required>
								<option value="0">Not Listed</option>
								<option *ngFor="let subcategory of getquoteitem.items[i].subcategoryList" [value]="subcategory.id">{{subcategory.categoryName}}</option> 
							</select>
							<div *ngIf="getquoteitemFrm.submitted && subCategoryId.invalid" class="invalid-feedback">
                            	<div *ngIf="subCategoryId.errors.required">Field is required</div>
                        	</div>
						</div>
						<div class="form-group col-md-2 col-sm-4 col-6">
							<label><span class="text-danger">*</span>Product:</label>
							<select class="form-control"  #productId="ngModel" [(ngModel)]="getquoteitem.items[i].productId" name="productId_{{i}}" (ngModelChange)="productChanged($event,i)" [ngClass]="{ 'is-invalid': getquoteitemFrm.submitted && productId.invalid }" required>
								<option value="0">Not Listed</option>
								<option *ngFor="let product of getquoteitem.items[i].productList" [value]="product.id">{{product.productName}}</option> 
							</select>
							<div *ngIf="getquoteitemFrm.submitted && productId.invalid" class="invalid-feedback">
                            	<div *ngIf="productId.errors.required">Field is required</div>
                        	</div>
						</div>
						<div class="form-group col-md-2 col-sm-4 col-6">
							<label><span class="text-danger">*</span>Quantity:</label>
							<input type="number" min="1" #quantity="ngModel" [(ngModel)]="getquoteitem.items[i].quantity" [ngClass]="{ 'is-invalid': getquoteitemFrm.submitted && quantity.invalid }" name="quantity_{{i}}" class="form-control" required (change)="setTwoNumberDecimal($event)">
							<div *ngIf="getquoteitemFrm.submitted && quantity.invalid" class="invalid-feedback">
                            	<div *ngIf="quantity.errors.required">Field is required</div>
                            	<div *ngIf="quantity.errors.pattern">Please enter integer only</div>
                       	   </div>
						</div>
						<div class="form-group col-md-2 col-sm-4 col-6">
							<div *ngIf="!item.quoteRequest">
								<label class="text-nowrap"><span class="text-danger">*</span>Declared Value<span class="text-danger">({{ currencySymbol }})</span>:</label>
								<div class="input-group">
										<input type="text" [(ngModel)]="item.declaredValue" (change)="setTwoNumberDecimal($event)"  name="declaredValue_{{i}}" class="form-control" [ngClass]="{ 'is-invalid': getquoteitemFrm.submitted && declaredValue.invalid }" #declaredValue="ngModel" required="">
										<div class="input-group-append" *ngIf="i == 0 ? false : true">
											<button type="button" class="btn btn-secondary rounded-0" (click)="deletePackageRow(i)"><i class="fa fa-close" aria-hidden="true"></i></button>
										</div>
										<div *ngIf="getquoteitemFrm.submitted && declaredValue.invalid" class="invalid-feedback">
			                            	<div *ngIf="declaredValue.errors.required">Field is required</div>
			                        	</div>
								</div>
							</div>
							<div *ngIf="item.quoteRequest">
								<label class="text-nowrap">Declared Value({{ currencySymbol }}):</label>
								<div class="input-group">
										<input type="text" [(ngModel)]="item.declaredValue"  name="declaredValue_{{i}}" class="form-control" #declaredValue="ngModel" [disabled]="true">
										<div class="input-group-append" *ngIf="i == 0 ? false : true">
											<button type="button" class="btn btn-secondary rounded-0" (click)="deletePackageRow(i)"><i class="fa fa-close" aria-hidden="true"></i></button>
										</div>
								</div>
							</div>
						</div>
						
						<div class="form-group col-md-5 ml-auto col-sm-4 col-6">
							<div *ngIf="item.quoteRequest || sendQuoteRequest">
								<label><span class="text-danger">*</span>Item URL:</label>
								<input type="text" #itemUrl="ngModel" [(ngModel)]="getquoteitem.items[i].itemUrl" [ngClass]="{ 'is-invalid': getquoteitemFrm.submitted && itemUrl.invalid }" name="itemUrl_{{i}}" class="form-control" required>
								<div *ngIf="getquoteitemFrm.submitted && itemUrl.invalid" class="invalid-feedback">
	                            	<div *ngIf="itemUrl.errors.required">Field is required</div>
	                       	   </div>
                       	   	</div>
                       	   	<div *ngIf="!item.quoteRequest && !sendQuoteRequest">
                       	   		<label>Item URL:</label>
								<input type="text" #itemUrl="ngModel" [(ngModel)]="getquoteitem.items[i].itemUrl" name="itemUrl_{{i}}" class="form-control">
                       	   	</div>
						</div>
						<div class="form-group col-md-5 col-sm-4 col-6">
							<div *ngIf="item.quoteRequest || sendQuoteRequest">
								<label><span class="text-danger">*</span>Item Description:</label>
								<input type="text" #itemDescription="ngModel" [(ngModel)]="getquoteitem.items[i].itemDescription" [ngClass]="{ 'is-invalid': getquoteitemFrm.submitted && itemDescription.invalid }" name="itemDescription_{{i}}" class="form-control" required>
								<div *ngIf="getquoteitemFrm.submitted && itemDescription.invalid" class="invalid-feedback">
	                            	<div *ngIf="itemDescription.errors.required">Field is required</div>
	                       	   </div>
                       	   	</div>
                       	   	<div *ngIf="!item.quoteRequest && !sendQuoteRequest">
                       	   		<label>Item Description:</label>
								<input type="text" #itemDescription="ngModel" [(ngModel)]="getquoteitem.items[i].itemDescription" name="itemDescription_{{i}}" class="form-control">
                       	   	</div>
						</div>
					</div>
					<div class="form-row">
						<input type="hidden"  [(ngModel)]="itemCount" name="itemCount" value="{{itemCount}}">
						<button type="button" (click)="addItem()" class="btn btn-primary m-auto"><i class="fa fa-plus mr-2" aria-hidden="true"></i>Add More Items</button>
					</div>
				</div>
				<!-- package end -->
			</div>
			<br>
			<div class="shipping-type" id="shippingType" #shippingType *ngIf="sendQuoteRequest">
				<div class="row">
					<div class="col-md-12 text-center">
						<span><strong>Please provide details so we can send you exact quote.</strong></span>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label><span class="text-danger">*</span>Name :</label>
							<input autocomplete="off" type="text" class="form-control" [ngClass]="{'is-invalid': getquoteitemFrm.submitted && contactName.invalid }" name="contactName" #contactName="ngModel" [(ngModel)]="getquoteitem.itemContactName" required>
							<div *ngIf="getquoteitemFrm.submitted && contactName.invalid" class="invalid-feedback">
	                            <div *ngIf="contactName.errors.required">Field is required</div>
	                        </div>
						</div>
					</div>
					<div class="col-md-6">	
						<div class="form-group">
							<label><span class="text-danger">*</span>Email :</label>
							<input autocomplete="off" type="email" class="form-control" [ngClass]="{'is-invalid': getquoteitemFrm.submitted && contactEmail.invalid }" placeholder="Email" name="contactEmail" #contactEmail="ngModel" [(ngModel)]="getquoteitem.itemContactEmail" required email>
							<div *ngIf="getquoteitemFrm.submitted && contactEmail.invalid" class="invalid-feedback">
	                            <div *ngIf="contactEmail.errors.required">Field is required</div>
	                            <div *ngIf="contactEmail.errors.email">Email must be a valid email address</div>
	                        </div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group">
							<label><span class="text-danger">*</span>Phone Number :</label>
							<input class="form-control" type="text" name="contactPhone" [ngClass]="{'is-invalid': getquoteitemFrm.submitted && contactPhone.invalid }" [(ngModel)]="getquoteitem.itemContactPhone" #contactPhone="ngModel" required>
							<div *ngIf="getquoteitemFrm.submitted && contactPhone.invalid" class="invalid-feedback">
	                            <div *ngIf="contactPhone.errors.required">Field is required</div>
	                        </div>
						</div>			
					</div>						
				</div>
				
			</div>
			<div class="row">
				<div class="col">
					<div class="mt-3 pt-3 border-top border-primary">
						<div class="form-row">
							<div class="form-group col-sm-4 offset-sm-2">
								<label>
									<strong>View Pricing In:</strong> Currency</label>
									<select class="form-control" name="viewCurrency" [(ngModel)]="getquoteitem.viewCurrency">
										<option value="">Select Currency</option>
										<option *ngFor="let currency of currencyList" [value]="currency.code">{{currency.code}} - {{currency.name}}</option> 
									</select>
							</div>
							<div class="form-group col-sm-4">
								<label>Warehouse</label>
								<select class="form-control">
									<option *ngFor="let warehouse of warehouseList" [value]="warehouse.id">{{warehouse.name}} ({{ warehouse.cityName }})</option> 
								</select>
							</div>
						</div>
						<div class="text-center" *ngIf="!sendQuoteRequest">
							<button type="submit" class="btn btn-secondary btn-lg"><i class="fa fa-calculator" aria-hidden="true"></i> Get A Quote</button>
						</div>
						<div class="text-center" *ngIf="sendQuoteRequest">
							<button type="submit" class="btn btn-secondary btn-lg">Submit</button>
						</div>
					</div>
				</div>
				<div class="col-sm-12">
					<div class="row shipping-type" *ngIf="showShipping">
						<div class="col-md col-sm-12 mt-3 item" *ngFor="let item of shippingTypes">
							<div class="item-inn px-0">
								<img src="{{item.companyLogo}}" class="mb-3">
								<h5 class="text-primary">{{item.shipping}}</h5>
								<span class="font-size-sm font-weight-medium">Shipping Cost: {{item.shippingCost}}</span>
								<span *ngIf="item.isDutyCharged" class="font-size-sm font-weight-medium">Clearing, duty & Local Handling: {{item.clearingDuty}}</span>
								<span *ngIf="!item.isDutyCharged" class="font-size-sm font-weight-medium">Clearing, & Local Handling: {{item.clearingDuty}}</span>
								<div class="bg-dark w-100 my-3">
									<span class="mb-2 d-block font-size-lg text-white">
										<strong>{{item.totalShippingCost}}</strong>
									</span>
									<span class="d-block font-size-sm text-medium">{{item.shipping_time}}</span>
									<span class="mb-3 d-block font-size-sm text-medium">{{item.estimatedDeliveryDate}}</span>
								</div>
								<div>
									<a href="javascript:void(0)" tooltip="{{item.learn_more}}" container="body" class="btn btn-primary btn-sm mr-1">Details</a>
								</div>
							</div>

						</div>
					</div>	
	
				</div>
				<div class="col-sm-12" *ngIf="quoteMsg"><div class="mt-3 text-center">NOTE: <span [innerHtml]="quoteMsg"></span></div></div>

				
			</div>
		</div>
	</form>
	</div>
</div>
