<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">Update Item Price</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form method="post" name="">
	<div class="modal-body" *ngIf="packageId && minPrice && maxPrice">
		<div class="form-group">
	    	<label for="exampleInputEmail1">Enter Cost Of Item</label>
	    	<input type="text" class="form-control" id="exampleInputEmail1" name="maxPrice" ngModel [(ngModel)]="maxPrice" (change)="setTwoNumberDecimal($event)">
	    	<small id="emailHelp" class="form-text text-muted">Please enter the cost of the item as shown on the purchase invoice. Please note that this cost is what is used for insurance purposes, and should anything happen to your items during transit, the purchase invoice will be needed to file an insurance claim and to refund you for the item. </small>
  		</div>
  		<div *ngIf="uploadEnabled">
	  		<div class="form-group" *ngIf="invoiceList">
	  			Select previous invoice to upload (If your item include in any previous invoice)
	  			<article *ngFor="let eachInvoice of invoiceList">
					<div class="d-flex align-items-center p-3 border-bottom justify-content-between">
						<label class="form-check custom-radio mb-0">
							<input type="radio" name="uploadedInvoice" (click)="previousFileUpload($event,eachInvoice.id)"/>
							<span class="checkmark"></span>
							<span class="ml-2">{{ eachInvoice.invoiceFile }}</span>
						</label>
					</div>
				</article>
	  			
	  		</div>
	  		<div class="form-group" *ngIf="invoiceList">
	  			<strong>OR</strong>
	  		</div>
	  		<div class="form-group">
	  			<label for="exampleInputEmail1">Select Invoice File To Upload</label>
	  			<input type="file" class="form-control" (change)="fileUpload($event)">
	  		</div>
  		</div>
  		<p class="mb-0 alert alert-danger" *ngIf="lessValueEntered">
			Value entered is lower than customs accepted value for this item. The minimum acceptable value for this item is ${{ minPrice}}. Please enter a value greater than ${{minPrice}}. However if the item was highly discounted and was bought less than ${{ minPrice}}, please upload your invoice.
		</p>
		<br>
  		<p class="mb-0 alert alert-danger">
			<strong>NOTE:</strong> We will not refund you for more than the value you are entering here.
		</p>
		
		<p class="mb-0">
			<strong>Please note that you cannot change this value after it is saved.</strong>
		</p>
	</div>
	<div class="modal-footer" *ngIf="packageId && minPrice && maxPrice">
		<button type="button" class="btn btn-dark" (click)="bsModalRef.hide()">Cancel</button>
		<button type="button" class="btn btn-secondary" (click)="saveItemPrice()" *ngIf="!lessValueEntered && !uploadEnabled">Save</button>
		<button type="button" class="btn btn-secondary" (click)="enableUpload()" *ngIf="lessValueEntered && !uploadEnabled">Upload Invoice</button>
	</div>
</form>
