<ng-walkthrough-flow #walkWarehouseShippingAndPayment id="wt-test-flow" focusBackdrop="true" closeAnywhere="false"
 showArrow="true" radius="auto" [texts]="lastNavText" (finished)="walkWarehouseShippingAndPaymentFinished()" arrowColor="#5bc6d0"
 previousStep="">

	<!-- step shippingAddress start -->
	<ng-walkthrough focusElementSelector="#shippingAddress" [contentTemplate]="stepShippingAddress">
		<ng-template #stepShippingAddress>
			<h5 class="text-primary font-weight-bold">Step 23 :</h5>
			<p>Displays the <b>Shipping Address</b> details.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step shippingAddress cart end -->

	<!-- step billingAddress start -->
	<ng-walkthrough focusElementSelector="#billingAddress" [contentTemplate]="stepBillingAddress">
		<ng-template #stepBillingAddress>
			<h5 class="text-primary font-weight-bold">Step 24 :</h5>
			<p>Displays the <b>Billing Address</b> details.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step billingAddress cart end -->

	<!-- step paymentMethod start -->
	<ng-walkthrough focusElementSelector="#paymentMethod" [contentTemplate]="stepPaymentMethod">
		<ng-template #stepPaymentMethod>
			<h5 class="text-primary font-weight-bold">Step 25 :</h5>
			<p>Displays the available <b>Payment method</b> list. Select the desired payment method to continue.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step paymentMethod cart end -->

	<!-- step paymentMethod start -->
	<ng-walkthrough focusElementSelector="#continue" [contentTemplate]="stepContinue">
		<ng-template #stepContinue>
			<h5 class="text-primary font-weight-bold">Step 26 :</h5>
			<p>Click on <b>Continue</b> to proceed to the final checkout page.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step paymentMethod cart end -->

</ng-walkthrough-flow>

<div class=" my-3 my-md-5">
	<!-- header start -->
	<header class="page-header border-bottom pb-2">
		<h3>Shipping &amp; payment</h3>
	</header>
	<!-- header end -->
	<!-- shipping and payment details start -->
	<div class="row">
		<!-- shipping address start -->
		<div class="col-sm-6 col-12 mt-3 item" id="shippingAddress">
			<div class="border payment-type-box d-flex flex-column text-center">
				<div class="p-3">
					<h4 class="text-primary">Shipping address</h4>
					<span class="d-block font-weight-medium">Nduka Udeh</span>
					<span class="d-block">211 South Meadows Court,
						<br>ikeja, Lagos, 77479 NG</span>
					<span class="d-block">Phone: +17135301160</span>
				</div>
				
			</div>
		</div>
		<!-- shipping address end -->

		<!-- billing address start -->
		<div class="col-sm-6 col-12 mt-3 item" id="billingAddress">
			<div class="border d-flex flex-column text-center">
				<div class="p-3">
					<h4 class="text-primary">Billing address</h4>
					<span class="d-block font-weight-medium">Nduka Udeh</span>
					<span class="d-block">12011 Westbrae Parkway #B
						<br>STMD - UNIT NG114945
						<br>Houston, Texas - 77031
					</span>
					<span class="d-block">Phone: +17135301160</span>
				</div>
				
			</div>
		</div>
		<!-- billing address end -->

		<!-- payment method start -->
		<div class="col-12 mt-3 item" id="paymentMethod">
			<div class="border payment-type-box d-flex flex-column">
				<header class="border-bottom px-3 py-2">
					<h4 class="mb-0 text-primary">
						Payment method
					</h4>
				</header>
				<div>
					<!-- <div class="d-flex align-items-center p-3 border-bottom justify-content-between">
						<label class="form-check custom-radio mb-0">
							<input type="radio" name="payment-type">
							<span class="checkmark"></span>
							<span class="ml-2">PayPal</span>
						</label>
						<a class="help-icon ml-2 flex-none" container="body" href="javascript:void(0)" tooltip="Valid Paypal account holders only. A 2.99% processing fee applies."
						 placement="left">
							<i aria-hidden="true" class="fa fa-question"></i>
						</a>
					</div> -->
					<div class="d-flex align-items-center p-3 border-bottom justify-content-between">
						<label class="form-check custom-radio mb-0">
							<input type="radio" name="payment-type">
							<span class="checkmark"></span>
							<span class="ml-2">Credit / Debit Cards</span>
						</label>
						<a class="help-icon ml-2 flex-none" href="javascript:void(0)" tooltip="Cards With Visa &amp; MasterCard Logo."
						 container="body" placement="left">
							<i aria-hidden="true" class="fa fa-question"></i>
						</a>
					</div>
					<div class="d-flex align-items-center p-3 border-bottom justify-content-between" tooltip="" container="body">
						<label class="form-check custom-radio mb-0">
							<input type="radio" name="payment-type">
							<span class="checkmark"></span>
							<span class="ml-2">Save time. Pay securely using your stored payment information. Pay with credit card, bank
								account, or your PayPal
								account balance
							</span>
						</label>
					</div>
					<div class="d-flex align-items-center p-3 border-bottom justify-content-between">
						<label class="form-check custom-radio mb-0">
							<input type="radio" name="payment-type">
							<span class="checkmark"></span>
							<span class="ml-2">GTBank: # : Online Trf : Act# : 0121339039</span>
						</label>
						<a class="help-icon ml-2 flex-none" href="javascript:void(0)" tooltip="Transfer to American AirSea Cargo Nig. Ltd: Sort Code: 058152609: Please note your Order Number in Comments field
						for us to identify your payment. A 5% VAT applies."
						 container="body" placement="left">
							<i aria-hidden="true" class="fa fa-question"></i>
						</a>
					</div>
					<div class="d-flex align-items-center p-3 border-bottom justify-content-between">
						<label class="form-check custom-radio mb-0">
							<input type="radio" name="payment-type">
							<span class="checkmark"></span>
							<span class="ml-2">GTBank : Pay at Bank : Act# : 0121339039</span>
						</label>
						<a class="help-icon ml-2 flex-none" href="javascript:void(0)" tooltip="Print Your Invoice, &amp; Pay In Any GTBank: American AirSea Cargo Nig. Ltd (=N=): Act#: 0121339039: A 5% VAT applies."
						 container="body" placement="left">
							<i aria-hidden="true" class="fa fa-question"></i>
						</a>
					</div>
					<div class="d-flex align-items-center p-3 border-bottom justify-content-between">
						<label class="form-check custom-radio mb-0">
							<input type="radio" name="payment-type">
							<span class="checkmark"></span>
							<span class="ml-2">GTBank: $ : Act# : 0121340105</span>
						</label>
						<a class="help-icon ml-2 flex-none" href="javascript:void(0)" tooltip="Print Your Invoice, &amp; Pay in Dollars In Any GTBank: American AirSea Cargo Nig Ltd. A 5% VAT applies."
						 container="body" placement="left">
							<i aria-hidden="true" class="fa fa-question"></i>
						</a>
					</div>
					<div class="d-flex align-items-center p-3 border-bottom justify-content-between">
						<label class="form-check custom-radio mb-0">
							<input type="radio" name="payment-type">
							<span class="checkmark"></span>
							<span class="ml-2">E-Wallet</span>
						</label>
						<a class="help-icon ml-2 flex-none" href="javascript:void(0)" tooltip="Store your e-wallet code and use it over and over to pay."
						 container="body" placement="left">
							<i aria-hidden="true" class="fa fa-question"></i>
						</a>
					</div>
					<div class="d-flex align-items-center p-3 justify-content-between">
						<label class="form-check custom-radio mb-0">
							<input type="radio" name="payment-type">
							<span class="checkmark"></span>
							<span class="ml-2">Wire Transfer</span>
						</label>
						<a class="help-icon ml-2 flex-none" href="javascript:void(0)" tooltip="Send wires to: American AirSea Cargo LLC; Bank of America; 1739 West Belfort Street, Stafford, Texas - 77477, USA; Bank Sort
						Code-BOFAUS3N; Account Number-5860 2260 3718"
						 container="body" placement="left">
							<i aria-hidden="true" class="fa fa-question"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
		<!-- payment method end -->

		<!-- submit start -->
		<article class="col-12 text-center mt-3 mt-md-5">
			<a routerLink="/virtual-tour/my-warehouse/checkout/place-order" class="btn btn-secondary btn-lg" id="continue">Continue</a>

		</article>
		<!-- submit end -->
	</div>
	<!-- shipping and payment details end -->
</div>
