<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#a7f4fb"></ngx-spinner>
<app-header></app-header>

<!-- content start -->
<section class="section-padding">
	<div class="container">
		<article class="white-box p-0 mb-4 plans">
			<div *ngIf="isLargeScreen() ? true : false">
				<table class="dataTable hover">
					<thead>

						<tr>
							<th class="bg-primary text-white font-weight-bold font-size-md">Features</th>
							<th class="bg-primary text-white font-weight-bold font-size-md text-center">One Time Shopper
							</th>
							<th colspan="4" class="bg-primary text-white font-weight-bold font-size-md text-center">
								Subscribe and Save
							</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of featureList">
							<td>
								<div class="d-flex justify-content-between">
									<span class="flex-1">{{item.feature}}</span>
									<a class="help-icon d-inline-block" container="body" href="javascript:void(0)"
										tooltip="{{item.des}}"><i aria-hidden="true" class="fa fa-question"></i></a>
								</div>
							</td>
							<td align="center">
								<i class="fa font-size-lg"
									[ngClass]="{'fa-check-circle text-success': item.one_time_shop == true, 'fa-times-circle text-danger': item.one_time_shop == false}"
									aria-hidden="true"></i>
							</td>
							<td align="center" colspan="4">
								<i class="fa font-size-lg"
									[ngClass]="{'fa-check-circle text-success': item.subscription_and_save == true, 'fa-times-circle text-danger': item.subscription_and_save == false}"
									aria-hidden="true"></i>
							</td>
						</tr>
						<tr>
							<td colspan="6" align="center" class="bg-white">
								<a href="javascript:void(0)" (click)="showHideFeature()">See all features of your
									Shoptomydoor Account</a>
							</td>
						</tr>
					</tbody>
					<tfoot class="bg-dark text-white">
						<tr>
							<th class="white-space-initial font-weight-normal">
								<p class="mb-0">
									The average Shopper Who subscribes save their
									subscription cost
									<span [ngClass]="{'d-none': !show, 'd-inline': show}">after the second
										shipment.The average Shopper Who subscribes save their subscription cost after
										the
										second shipment.</span>
									<a href="javascript:void(0)"
										(click)="show = !show">...{{ show ? 'Show less': 'Show More' }}</a>

								</p>

							</th>
							<th class="text-center"><button class="btn btn-secondary btn-sm">Sign Up</button></th>
							<th valign="top">
								<div class="text-center d-flex flex-column h-100">
									<span class="text-uppercase h6 font-weight-bold text-white flex-1">1 Month</span>
									<span class="btn btn-outline-warning px-3 py-0 font-weight-bold mb-2">$ 15</span>
									<button class="btn btn-secondary btn-sm">Sign Up</button>
								</div>
							</th>
							<th>
								<div class="text-center d-flex flex-column">
									<span class="text-uppercase h6 font-weight-bold text-white">3 Month</span>
									<span class="btn btn-outline-warning px-3 py-0 font-weight-bold mb-2">$ 39</span>
									<span class="text-uppercase h6 font-weight-bold text-white">Save 15%</span>
									<button class="btn btn-secondary btn-sm">Sign Up</button>
								</div>
							</th>
							<th>
								<div class="text-center d-flex flex-column">
									<span class="text-uppercase h6 font-weight-bold text-white">6 Month</span>
									<span class="btn btn-outline-warning px-3 py-0 font-weight-bold mb-2">$ 69</span>
									<span class="text-uppercase h6 font-weight-bold text-white">Save 30%</span>
									<button class="btn btn-secondary btn-sm">Sign Up</button>
								</div>
							</th>
							<th>
								<div class="text-center d-flex flex-column">
									<span class="text-uppercase h6 font-weight-bold text-white">12 Month</span>
									<span class="btn btn-outline-warning px-3 py-0 font-weight-bold mb-2">$ 99</span>
									<span class="text-uppercase h6 font-weight-bold text-white">Save 45%</span>
									<button class="btn btn-secondary btn-sm">Sign Up</button>
								</div>
							</th>
						</tr>
					</tfoot>
				</table>
			</div>

			<!-- accordion start -->
			<accordion class="accordion accordion-primary" *ngIf="isLargeScreen() ? false : true">
				<accordion-group [isOpen]="isFirstOpen">
					<header accordion-heading>
						<span class="text-ellipsis font-weight-bold font-size-md">One Time Shopper</span>
					</header>

					<div class="d-flex justify-content-between mb-2" *ngFor="let item of featureList">
						<i class="fa font-size-lg mr-3"
							[ngClass]="{'fa-check-circle text-success': item.one_time_shop == true, 'fa-times-circle text-danger': item.one_time_shop == false}"
							aria-hidden="true"></i>
						<span class="flex-1">{{item.feature}}</span>
						<a class="help-icon d-inline-block" container="body" href="javascript:void(0)"
							tooltip="{{item.des}}" placement="left"><i aria-hidden="true"
								class="fa fa-question"></i></a>
					</div>

					<a href="javascript:void(0)" (click)="showHideFeature()">See all features of your
						Shoptomydoor Account</a>

					<footer class="mt-3">
						<button class="btn btn-secondary btn-sm">Sign Up</button>
					</footer>

				</accordion-group>
				<accordion-group>
					<header accordion-heading>
						<span class="text-ellipsis font-weight-bold font-size-md">Subscribe and Save</span>
					</header>


					<div class="d-flex justify-content-between mb-2" *ngFor="let item of featureList">
						<i class="fa font-size-lg mr-3"
							[ngClass]="{'fa-check-circle text-success': item.subscription_and_save == true, 'fa-times-circle text-danger': item.subscription_and_save == false}"
							aria-hidden="true"></i>
						<span class="flex-1">{{item.feature}}</span>
						<a class="help-icon d-inline-block" container="body" href="javascript:void(0)"
							tooltip="{{item.des}}" placement="left"><i aria-hidden="true"
								class="fa fa-question"></i></a>
					</div>

					<!-- <a href="javascript:void(0)" (click)="showHideFeature()">See all features of your
						Shoptomydoor Account</a> -->

					<div class="custom-control custom-radio mt-4 mb-2">
						<input type="radio" class="custom-control-input" id="1m" name="radio-package" required>
						<label class="custom-control-label d-flex justify-content-between w-100" for="1m">
							<span>1 MONTH</span>
							<span class="btn btn-warning px-3 py-0 font-weight-bold">$15</span>
						</label>
					</div>
					<div class="custom-control custom-radio custom-radio-secondary mb-2">
						<input type="radio" class="custom-control-input" id="3m" name="radio-package">
						<label class="custom-control-label d-flex justify-content-between w-100" for="3m">
							<span>3 MONTH <strong>SAVE 15%</strong></span>
							<span class="btn btn-warning px-3 py-0 font-weight-bold">$39</span>
						</label>
					</div>
					<div class="custom-control custom-radio custom-radio-secondary mb-2">
						<input type="radio" class="custom-control-input" id="6m" name="radio-package">
						<label class="custom-control-label d-flex justify-content-between w-100" for="6m">
							<span>6 MONTH <strong>SAVE 30%</strong></span>
							<span class="btn btn-warning px-3 py-0 font-weight-bold">$69</span>
						</label>
					</div>
					<div class="custom-control custom-radio custom-radio-secondary mb-2">
						<input type="radio" class="custom-control-input" id="12m" name="radio-package">
						<label class="custom-control-label d-flex justify-content-between w-100" for="12m">
							<span>12 MONTH <strong>SAVE 45%</strong></span>
							<span class="btn btn-warning px-3 py-0 font-weight-bold">$99</span>
						</label>
					</div>

					<p class="mb-3">
						The average Shopper Who subscribes SaV5 their
						subscription cost
						<span [ngClass]="{'d-none': !show, 'd-inline': show}">after the second
							shipment.The average Shopper Who subscribes SaV5 their subscription cost after
							the
							second shipment.</span>
						<a href="javascript:void(0)" (click)="show = !show">...{{ show ? 'Show less': 'Show More' }}</a>

					</p>

					<button class="btn btn-secondary btn-sm">Sign Up</button>

				</accordion-group>
			</accordion>
			<!-- accordion end -->

		</article>
	</div>
</section>
<!-- content start -->

<app-footer></app-footer>