@import "src/assets/scss/variables";
@import "src/assets/scss/utilities";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

.payment-type-box{
	height: 100%;
}

.inner-container{
	@include media-breakpoint-down(sm) {
		padding-left: 0;
		padding-right: 0;
	}
}
.main-content{
	@include media-breakpoint-up(md) {
		width: calc(100% - 320px);
	}
}

.sidebar.right .content{
	position: inherit;
	top: inherit;
}
