<ng-walkthrough-flow #walkWarehousePlaceOrder id="wt-test-flow" focusBackdrop="true" closeAnywhere="false" showArrow="true"
 radius="auto" [texts]="navText" (finished)="walkWarehousePlaceOrderFinished()" arrowColor="#5bc6d0" previousStep="">

	<!-- step placeOrder start -->
	<ng-walkthrough focusElementSelector="#placeOrder" [contentTemplate]="stepPlaceOrder">
		<ng-template #stepPlaceOrder>
			<h5 class="text-primary font-weight-bold">Step 27 :</h5>
			<p>Displays the list of items to be ordered.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step placeOrder end -->

	<!-- step contactInfo start -->
	<ng-walkthrough focusElementSelector="#contactInfo" [contentTemplate]="stepContactInfo">
		<ng-template #stepContactInfo>
			<h5 class="text-primary font-weight-bold">Step 28 :</h5>
			<p>Displays the <b>Contact</b> information.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step contactInfo end -->

	<!-- step billingAddress start -->
	<ng-walkthrough focusElementSelector="#billingAddress" [contentTemplate]="stepBillingAddress">
		<ng-template #stepBillingAddress>
			<h5 class="text-primary font-weight-bold">Step 29 :</h5>
			<p>Displays the <b>Billing Address</b> information.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step billingAddress end -->

	<!-- step shippingAddress start -->
	<ng-walkthrough focusElementSelector="#shippingAddress" [contentTemplate]="stepShippingAddress">
		<ng-template #stepShippingAddress>
			<h5 class="text-primary font-weight-bold">Step 30 :</h5>
			<p>Displays the <b>Shipping Address</b> information.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step shippingAddress end -->

	<!-- step paymentMethod start -->
	<ng-walkthrough focusElementSelector="#paymentMethod" [contentTemplate]="stepPaymentMethod">
		<ng-template #stepPaymentMethod>
			<h5 class="text-primary font-weight-bold">Step 31 :</h5>
			<p>Displays the selected <b>Payment method</b> information.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step paymentMethod end -->

	<!-- step coupon start -->
	<ng-walkthrough focusElementSelector="#coupon" [contentTemplate]="stepCoupon">
		<ng-template #stepCoupon>
			<h5 class="text-primary font-weight-bold">Step 32 :</h5>
			<p>If you have a <b>Coupon code</b>, enter it to avail discount on Shipping Cost. Yes, this option is only available if you are paying the Shipping cost.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step coupon end -->

	<!-- step priceDetail start -->
	<ng-walkthrough focusElementSelector="#priceDetail" [contentTemplate]="stepPriceDetail">
		<ng-template #stepPriceDetail>
			<h5 class="text-primary font-weight-bold">Step 33 :</h5>
			<p>Displays the breakdown of the <b>Total Billing</b> amount.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step priceDetail end -->

	<!-- step currency start -->
	<ng-walkthrough focusElementSelector="#currency" [contentTemplate]="stepCurrency">
		<ng-template #stepCurrency>
			<h5 class="text-primary font-weight-bold">Step 34 :</h5>
			<p>Click on <b>Change Currency</b> to convert the current currency to your desired currency. And view the updated price details in your selected currency.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step currency end -->

	<!-- step tc start -->
	<ng-walkthrough focusElementSelector="#tc" [contentTemplate]="stepTC">
		<ng-template #stepTC>
			<h5 class="text-primary font-weight-bold">Step 35 :</h5>
			<p>Please read the <b>Terms & Conditions</b> and accept it to place the order.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step tc end -->

	<!-- step submit start -->
	<ng-walkthrough focusElementSelector="#submit" [contentTemplate]="stepSubmit">
		<ng-template #stepSubmit>
			<h5 class="text-primary font-weight-bold">Step 36 :</h5>
			<p>You are just one click away to Place your order. Click on <b>Submit Order</b> to place your order with us.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step submit end -->
</ng-walkthrough-flow>

<div class="row">
	<!-- main content start -->
	<main class="col main-content py-md-5 py-3">
		<div id="placeOrder">
			<!-- header start -->
			<header class="page-header border-bottom mb-3 pb-2">
				<h3>Place order</h3>
			</header>
			<!-- header end -->
			<!-- added product start -->
			<article class="white-box p-0 mb-4">
				<header class="p-2">
					<div class="row font-size-sm no-gutters">
						<div class="col-sm-6 col-lg-2">
							<span>Delivery :
								<strong># 1</strong>
							</span>
						</div>
						<div class="col-sm-6 col-lg-6">
							<span>Shipping Via :
								<strong>Standard Shipping</strong>
							</span>
						</div>
					</div>
				</header>
				<!-- table start -->
				<table datatable class="hover" [dtOptions]="dtOptions">
					<thead>
						<tr>
							<th>Product</th>
							<th>Price</th>
							<th>Quantity</th>
							<th>Shipping to Warehouse</th>
							<th>Subtotal</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Shipment #131061</td>
							<td>$300.00</td>
							<td>1</td>
							<td>$0.00</td>
							<td>$300.00</td>
						</tr>
						<!-- <tr>
						<td>SKU_PHOTOSHOT . Photo Shot Option</td>
						<td>$6.99</td>
						<td>3</td>
						<td>$2.10</td>
						<td>$18.87</td>
					</tr>
					<tr>
						<td>SKU_RECOUNT . Recount Option</td>
						<td>$4.99</td>
						<td>1</td>
						<td>$0.50</td>
						<td>$4.49</td>
					</tr>
					<tr>
						<td>SKU_PHOTOSHOT . Photo Shot Option</td>
						<td>$6.99</td>
						<td>3</td>
						<td>$2.10</td>
						<td>$18.87</td>
					</tr>
					<tr>
						<td>SKU_SNAPSHOT . Item Snap Shot Option</td>
						<td>$2.99</td>
						<td>4</td>
						<td>$1.20</td>
						<td>$10.76</td>
					</tr>
					<tr>
						<td>SKU_SPLIT_SHIPMENT . Split Shipment Request</td>
						<td>$5.99</td>
						<td>1</td>
						<td>$0.60</td>
						<td>$5.39</td>
					</tr> -->
					</tbody>
					<!-- 	<tfoot>
					<tr>
						<th colspan="3" class="text-right">Summary</th>
						<th>$6.50</th>
						<th>$358.38</th>
					</tr>
				</tfoot> -->
				</table>
				<!-- table end -->
			</article>
			<!-- added product end -->
		</div>

		<!-- personal information start -->
		<div class="row">
			<!-- contact information start -->
			<div class="col-12 mt-3 item" id="contactInfo">
				<div class="border payment-type-box d-flex flex-column">
					<header class="border-bottom px-3 py-2">
						<h4 class="mb-0 text-primary">
							Contact information
						</h4>
					</header>
					<div class="py-1">
						<div class="d-flex align-items-center py-1">
							<div class="col-md-3 col-sm-4 col-5">
								<span class="font-weight-medium">Email :</span>
							</div>
							<div class="col-md-9 col-sm-8 col-7 break-word">
								<a href="mailto:mrityunjoy.marial@indusnet.co.in">mrityunjoy.marial@indusnet.co.in</a>
							</div>
						</div>
						<div class="d-flex align-items-center py-1">
							<div class="col-md-3 col-sm-4 col-5">
								<span class="font-weight-medium">Title :</span>
							</div>
							<div class="col-md-9 col-sm-8 col-7">
								<span>Mr.</span>
							</div>
						</div>
						<div class="d-flex align-items-center py-1">
							<div class="col-md-3 col-sm-4 col-5">
								<span class="font-weight-medium">First name :</span>
							</div>
							<div class="col-md-9 col-sm-8 col-7">
								<span>Ndukaee</span>
							</div>
						</div>
						<div class="d-flex align-items-center py-1">
							<div class="col-md-3 col-sm-4 col-5">
								<span class="font-weight-medium">Last name :</span>
							</div>
							<div class="col-md-9 col-sm-8 col-7">
								<span>Udeh</span>
							</div>
						</div>
						<div class="d-flex align-items-center py-1">
							<div class="col-md-3 col-sm-4 col-5">
								<span class="font-weight-medium">Company :</span>
							</div>
							<div class="col-md-9 col-sm-8 col-7"></div>
						</div>
					</div>
					<!-- <footer class="px-3 py-2 mt-auto border-top">
						<a href="javaseript:void(0)" class="btn btn-primary btn-sm">Modify</a>
					</footer> -->
				</div>
			</div>
			<!-- contact information end -->

			<!-- billing address start -->
			<div class="col-12 mt-3 item" id="billingAddress">
				<div class="border payment-type-box d-flex flex-column">
					<header class="border-bottom px-3 py-2">
						<h4 class="mb-0 text-primary">
							<span class="font-weight-medium">Billing address</span>
						</h4>
					</header>
					<div class="py-1">
						<div class="d-flex align-items-center py-1">
							<div class="col-md-3 col-sm-4 col-5">
								<span class="font-weight-medium">First name :</span>
							</div>
							<div class="col-md-9 col-sm-8 col-7">
								<span>Ndukaee</span>
							</div>
						</div>
						<div class="d-flex align-items-center py-1">
							<div class="col-md-3 col-sm-4 col-5">
								<span class="font-weight-medium">Last name :</span>
							</div>
							<div class="col-md-9 col-sm-8 col-7">
								<span>Udeh</span>
							</div>
						</div>
						<div class="d-flex align-items-center py-1">
							<div class="col-md-3 col-sm-4 col-5">
								<span class="font-weight-medium">Address :</span>
							</div>
							<div class="col-md-9 col-sm-8 col-7">
								<span>211 South Meadows Court</span>
							</div>
						</div>
						<div class="d-flex align-items-center py-1">
							<div class="col-md-3 col-sm-4 col-5">
								<span class="font-weight-medium">City :</span>
							</div>
							<div class="col-md-9 col-sm-8 col-7">
								<span>Ikeja</span>
							</div>
						</div>
						<div class="d-flex align-items-center py-1">
							<div class="col-md-3 col-sm-4 col-5">
								<span class="font-weight-medium">State :</span>
							</div>
							<div class="col-md-9 col-sm-8 col-7">
								<span>Lagos</span>
							</div>
						</div>
						<div class="d-flex align-items-center py-1">
							<div class="col-md-3 col-sm-4 col-5">
								<span class="font-weight-medium">Country :</span>
							</div>
							<div class="col-md-9 col-sm-8 col-7">
								<span>Nigeria</span>
							</div>
						</div>
						<div class="d-flex align-items-center py-1">
							<div class="col-md-3 col-sm-4 col-5">
								<span class="font-weight-medium">Zip/Postal code :</span>
							</div>
							<div class="col-md-9 col-sm-8 col-7">
								<span>77479</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- billing address start -->

			<!-- shipping address start -->
			<div class="col-12 mt-3 item" id="shippingAddress">
				<div class="border payment-type-box d-flex flex-column">
					<header class="border-bottom px-3 py-2">
						<h4 class="mb-0 text-primary">
							<span class="font-weight-medium">Shipping address</span>
						</h4>
					</header>
					<div class="py-1">
						<div class="d-flex align-items-center py-1">
							<div class="col-md-3 col-sm-4 col-5">
								<span class="font-weight-medium">First name :</span>
							</div>
							<div class="col-md-9 col-sm-8 col-7">
								<span>Virat</span>
							</div>
						</div>
						<div class="d-flex align-items-center py-1">
							<div class="col-md-3 col-sm-4 col-5">
								<span class="font-weight-medium">Last name :</span>
							</div>
							<div class="col-md-9 col-sm-8 col-7">
								<span>Kohli</span>
							</div>
						</div>
						<div class="d-flex align-items-center py-1">
							<div class="col-md-3 col-sm-4 col-5">
								<span class="font-weight-medium">Address :</span>
							</div>
							<div class="col-md-9 col-sm-8 col-7">
								<span>test virat address</span>
							</div>
						</div>
						<div class="d-flex align-items-center py-1">
							<div class="col-md-3 col-sm-4 col-5">
								<span class="font-weight-medium">City :</span>
							</div>
							<div class="col-md-9 col-sm-8 col-7">
								<span>Kolkata</span>
							</div>
						</div>
						<div class="d-flex align-items-center py-1">
							<div class="col-md-3 col-sm-4 col-5">
								<span class="font-weight-medium">State :</span>
							</div>
							<div class="col-md-9 col-sm-8 col-7">
								<span>West Bengal</span>
							</div>
						</div>
						<div class="d-flex align-items-center py-1">
							<div class="col-md-3 col-sm-4 col-5">
								<span class="font-weight-medium">Country :</span>
							</div>
							<div class="col-md-9 col-sm-8 col-7">
								<span>India</span>
							</div>
						</div>
						<div class="d-flex align-items-center py-1">
							<div class="col-md-3 col-sm-4 col-5">
								<span class="font-weight-medium">Zip/Postal code :</span>
							</div>
							<div class="col-md-9 col-sm-8 col-7">
								<span>700101</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- shipping address start -->

			<!-- payment method start -->
			<div class="col-12 mt-3 item" id="paymentMethod">
				<div class="border payment-type-box d-flex flex-column">
					<header class="border-bottom px-3 py-2">
						<h4 class="mb-0 text-primary">
							Payment method
						</h4>
					</header>
					<div class="p-3">
						GTBank : Pay at Bank : Act# : 0121339039
					</div>
					<footer class="px-3 py-2 mt-auto border-top">
						<a routerLink="/virtual-tour/my-warehouse/checkout/shipping-and-payment" class="btn btn-primary btn-sm">Change
							payment method</a>
					</footer>
				</div>
			</div>
			<!-- payment method start -->

			<!-- note start -->
			<div class="col-12 mt-4">
				<div class="alert alert-danger mb-0">
					<span>
						<strong>Note :</strong> We do not ship or return any fraudulently purchased items. You are advised to only pay to
						ship items
						that you can provide valid evidence of proof of purchase when and if requested. Items for which a valid proof of
						purchase
						can not be provided will be handed over to US Customs. In addition, any shipping cost paid will be forfeited and
						billed
						to you as cost of fraud verification.
					</span>
				</div>
			</div>
			<!-- note end -->
		</div>
		<!-- personal information end -->
	</main>
	<!-- main content end -->
	<!-- sidebar start -->
	<aside class="col sidebar right py-md-5 py-3">
		<div class="content">
			<article class="mb-3 border-bottom" id="coupon">
				<span class="font-size-sm d-block mb-2">
					<strong class="d-block">Have a coupon code?</strong> Enter it here and click on Submit.</span>
				<div class="input-group input-group-sm mb-3">
					<input type="text" class="form-control" placeholder="Coupon Code">
					<div class="input-group-append">
						<button class="btn btn-outline-primary" type="button">Submit</button>
					</div>
				</div>
			</article>
			<!-- price detail start -->
			<article class="mb-3 border-bottom" id="priceDetail">
				<h6>Price Details</h6>
				<table border="0" width="100%" class="font-size-sm">
					<tbody>
						<tr>
							<td class="white-space-nowrap py-2">Subtotal : </td>
							<td class="white-space-nowrap text-right py-2">
								<strong class="font-weight-medium">364.88 $</strong>
							</td>
							<td class="white-space-nowrap text-right py-2">(364.88 SOS)</td>
						</tr>
						<tr>
							<td class="white-space-nowrap py-2">Discount : </td>
							<td class="white-space-nowrap text-right py-2 text-success">
								<strong class="font-weight-medium">6.50 $</strong>
							</td>
							<td class="white-space-nowrap text-right py-2 text-success">(6.50 SOS)</td>
						</tr>
						<tr>
							<td class="white-space-nowrap py-2">Discounted subtotal : </td>
							<td class="white-space-nowrap text-right py-2">
								<strong class="font-weight-medium">358.38 $</strong>
							</td>
							<td class="white-space-nowrap text-right py-2">(358.38 SOS)</td>
						</tr>
						<tr>
							<td class="white-space-nowrap py-2">Other charges : </td>
							<td class="white-space-nowrap text-right py-2">
								<strong class="font-weight-medium">12.68 $</strong>
							</td>
							<td class="white-space-nowrap text-right py-2">(12.68 SOS)</td>
						</tr>
						<tr>
							<td class="white-space-nowrap py-2">Storage Charge : </td>
							<td class="white-space-nowrap text-right py-2">
								<strong class="font-weight-medium">12.68 $</strong>
							</td>
							<td class="white-space-nowrap text-right py-2">(12.68 SOS)</td>
						</tr>
						<tr>
							<td class="white-space-nowrap py-2">Inventory Charge : </td>
							<td class="white-space-nowrap text-right py-2">
								<strong class="font-weight-medium">12.68 $</strong>
							</td>
							<td class="white-space-nowrap text-right py-2">(12.68 SOS)</td>
						</tr>
						<tr>
							<td class="white-space-nowrap py-2">Value Added Tax (VAT) : </td>
							<td class="white-space-nowrap text-right py-2">
								<strong class="font-weight-medium">14.81 $</strong>
							</td>
							<td class="white-space-nowrap text-right py-2">(14.81 SOS)</td>
						</tr>
					</tbody>
					<tfoot class="border-top">
						<tr>
							<th class="white-space-nowrap py-2">Total : </th>
							<th class="white-space-nowrap text-right py-2">385.87 $</th>
							<th class="white-space-nowrap text-right py-2">(385.87 SOS)</th>
						</tr>
					</tfoot>
				</table>
			</article>
			<!-- price detail end -->

			<!-- currency start -->
			<article class="text-center mb-3 border-bottom pb-3">
				<a href="javascript:void(0)" class="btn btn-outline-primary btn-sm" id="currency">Change Currency</a>
			</article>
			<!-- currency end -->

			<!-- note start -->
			<article class="mb-3">
				<ul class="list-ui mb-0">
					<li>Prices and subtotals are displayed including taxes.</li>
					<li>Discounts are calculated based on prices and subtotals taken without consideration of taxes.</li>
				</ul>
			</article>
			<!-- note end -->

			<article class="mb-3 border-bottom pb-3">
				<label class="custom-check text-left flex-row" id="tc">
					<input type="checkbox" value="">
					<span class="checkmark"></span>
					<span class="font-size-sm ml-2">I accept the "
						<a href="javascript:void(0);" class="text-underline">Terms & Conditions</a> "
					</span>
				</label>
			</article>

			<!-- submit start -->
			<article class="text-center">
				<a routerLink="/virtual-tour/my-warehouse/order-history" class="btn btn-secondary btn-lg btn-block" id="submit">Submit
					order</a>
			</article>
			<!-- submit end -->
		</div>
	</aside>
	<!-- sidebar end -->
</div>
