<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">Cart Data</h4>
</div>
<div class="modal-body">
	<p *ngIf="dataFound">We have found the best quote for you. Thank you for contacting</p>
	<p *ngIf="!dataFound">No quote found for given data. Please contact customer support for exact quote</p>
	<iframe src="https://shoptomydoor.com/stmd/seo/iframe.html" style="display: none"></iframe>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-dark" (click)="bsModalRef.hide()">Ok</button>
</div>
