<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">Reweigh</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form method="post" name="">
	<div class="modal-body">
		<p>The reweigh option allows you to now request for us to reweigh this delivery in your shipment for accuracy, if you doubt
			that there may have been an error in the initial weights provided. A charge of {{reweighCost}} applies. Should our initial weight
			be in error, you will not be charged for the reweight. This is done within 24 business hours and we will notify you once
			done.
		</p>
		<p>
			<strong>Please note that this request can’t be changed once its added.</strong>
		</p>
		<textarea rows="3" name="" class="form-control"></textarea>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-dark" (click)="bsModalRef.hide()">Cancel</button>
		<button type="button" class="btn btn-secondary" (click)="addDeliveryReweigh(deliveryId, shipmentId)">Continue</button>
	</div>
</form>
