img,
svg{
	display: block;
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	line-height: 1.4;
	color: theme-color(dark);
}

h1, .h1 {
	@include media-breakpoint-down(sm) {
		font-size: $h1-font-size/1.75;
	}
}
h2, .h2 {
	@include media-breakpoint-down(sm) {
		font-size: $h2-font-size/1.75;
	}
}
h3, .h3 {
	@include media-breakpoint-down(sm) {
		font-size: $h3-font-size/1.50;
	}
}
h4, .h4 {
	@include media-breakpoint-down(sm) {
		font-size: $h4-font-size/1.15;
	}
}
h5, .h5 { font-size: $h5-font-size;
	@include media-breakpoint-down(sm) {
		font-size: $h4-font-size/1.10;
	}
}
h6, .h6 { font-size: $h6-font-size;
	@include media-breakpoint-down(sm) {
		font-size: $h6-font-size/1.10;
	}
}

ul{
	padding: 0;
	li{
		list-style-type: none;
	}
}
a{
	&:hover{
		text-decoration: none;
	}
}
body {
    font-family: $font-family-base;
	font-size: $font-size-base;
	font-weight: $font-weight-base;
	line-height: $line-height-base;
	color: theme-color(body-color);
	background: $body-bg;
	background-size: 100% 370px;
	@include media-breakpoint-down(sm) {
		font-size: $font-size-base/1.05;
	}
}

button{
	outline: 0;
	&:focus{
		outline: 0;
	}
}

// container
.container{
	@include media-breakpoint-down(lg) {
		max-width: 1140px;
	}
}
.container-sm{
	max-width: 768px;
	padding-right: $spacer;
    padding-left: $spacer;
    margin-right: auto;
    margin-left: auto;
}

// btn
.btn{
	&-link{
		&:hover,
		&:focus,
		&.focus{
			text-decoration: none;
		}
	}
}
// primary
.btn-primary{
	color: var(--white);
	&:hover{
		color: var(--white);
	}
	&:disabled{
		color: var(--white);
		opacity: .4;
	}
}
.btn-outline-primary{
	&:hover,
	&:not(:disabled):not(.disabled):active{
		color: var(--white);
	}
}

// btn-lg
.btn-lg,
.btn-group-lg > .btn{
	font-size: 1rem;
	font-weight: 500;
	@include media-breakpoint-down(sm) {
		font-size: $font-size-base;
	}
}

// btn-action
.btn-action{
	border-radius: 100%;
	padding: 0;
	width: 34px;
	height: 34px;
	line-height: 34px;
	&.btn-sm{
		width: 28px;
		height: 28px;
		line-height: 28px;
	}
	&:after{
		display: none;
	}
}

// btn-skip
// .btn-skip{
// 	z-index: 9999;
// 	bottom: $spacer;
// 	right: $spacer;
// }
.btn-skip{
	text-transform: uppercase;
    font-weight: 700;
	font-size: 100% !important;
	color: theme-color(secondary);
	padding: 6px;
	display: block;
	right: $spacer/4;
	bottom: 6px;
	position: absolute;
	// opacity: .50;
	&:hover{
		color: theme-color(secondary);
		opacity: .80;
	}
}

// dropdown
.dropdown-toggle{
	&:after{
		border: 0;
		content: '\f107';
		font-family: fontAwesome;
		position: absolute;
	}
}


// form
select{
	&.form-control{
		-webkit-appearance: none;
		-moz-appearance: none;
		background: url('assets/imgs/icons/bottom-arrow.svg') var(--white) no-repeat right $spacer center;
		background-size: $spacer - .2 auto;
		padding-right: $spacer*2;
	}
}
.form-control{
	border-radius: 0;
}
label{
	span.font-size-lg{
		line-height: 0;
		display: inline-block;
	}
}
