<div class="modal-header">	
	<h4 class="modal-title pull-left text-primary">Tell Us How To Handle Your Shipment – SELECT CAREFULLY</h4>
	<!-- <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button> -->
</div>
<form method="post" (ngSubmit)="shippingSettFrm.form.valid && onSubmit(shippingSettFrm)" #shippingSettFrm="ngForm">
<div class="modal-body"> 
	
		
			<div class="form-group setting-item" *ngFor="let item of updates">
						<label class="custom-check mb-0">
							<span>{{item.title}}</span>
						</label>
						<select class="form-control" name="{{ item.name }}" [(ngModel)]="shipmentSettings[item.name]" style="width:80px;">
							<option value="0">No</option>
							<option value="1">Yes</option>
						</select>
						<a href="javascript:void(0)" class="help-icon ml-2" container="body" triggers="mouseenter:mouseleave" [placement]="item.position"
						 [popover]="item.description">
							<i class="fa fa-question" aria-hidden="true"></i>
						</a>
					</div>
					
					<div class="form-group setting-item" *ngFor="let item of others">
						<label class="custom-check mb-0">
							<span>{{item.title}}</span>
						</label>
						<select class="form-control" name="{{ item.name }}" [(ngModel)]="shipmentSettings[item.name]"style="width:80px;">
							<option value="0">No</option>
							<option value="1">Yes</option>
						</select>
						<a href="javascript:void(0)" class="help-icon ml-2" container="body" triggers="mouseenter:mouseleave" [placement]="item.position"
						 [popover]="item.description">
							<i class="fa fa-question" aria-hidden="true"></i>
						</a>
					</div>
					<div class="form-group mb-0">
						<label class="d-block">Special Handling Instructions</label>
						<textarea class="form-control" rows="3" name="special_instruction" [(ngModel)]="shipmentSettings.special_instruction"></textarea>
					</div>
		</div>

	
	

<div class="modal-footer">
	<div>
		<button type="submit" class="btn btn-secondary mb-3">Save</button>
	</div>
	
</div>
</form>
