<ng-walkthrough-flow #walkWarehouseOverview focusBackdrop="true" closeAnywhere="false" showArrow="true" radius="auto"
 [texts]="lastNavText" (finished)="walkWarehouseOverviewFinished()" arrowColor="#5bc6d0" previousStep="">

	<!-- step deliveryStatus start -->
	<ng-walkthrough focusElementSelector="#deliveryStatus" [contentTemplate]="stepDeliveryStatus">
		<ng-template #stepDeliveryStatus>
			<h5 class="text-primary font-weight-bold">Step 1 :</h5>
			<p>Displaying package receive date in warehouse, maximum storage date and estimated storage charge.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step deliveryStatus end -->

	<!-- step chooseFile start -->
	<ng-walkthrough focusElementSelector="#chooseFile" [contentTemplate]="stepChooseFile">
		<ng-template #stepChooseFile>
			<h5 class="text-primary font-weight-bold">Step 2 :</h5>
			<p>If you find any value is wrong according to your invoice then please upload invoice using choose file button.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step chooseFile end -->

	<!-- step photoShot start -->
	<ng-walkthrough focusElementSelector="#photoShot" [contentTemplate]="stepPhotoShot">
		<ng-template #stepPhotoShot>
		<h5 class="text-primary font-weight-bold">Step 3 :</h5>
			<p>If you want to get photo shot of items then choose 'Yes', it will calculate the photo shot charges and add the amount to final checkout value. Otherwise deafult is 'No'.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step photoShot end -->

	<!-- step recount start -->
	<ng-walkthrough focusElementSelector="#recount" [contentTemplate]="stepRecount">
		<ng-template #stepRecount>
			<h5 class="text-primary font-weight-bold">Step 4 :</h5>
			<p>If you want to get recount of items then choose 'Yes', it will calculate the recount charges and add the amount to final checkout value. Otherwise deafult is 'No'.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step recount end -->

	<!-- step reweigh start -->
	<ng-walkthrough focusElementSelector="#reweigh" [contentTemplate]="stepReweigh">
		<ng-template #stepReweigh>
			<h5 class="text-primary font-weight-bold">Step 5 :</h5>
			<p>If you want to get reweigh of items then choose 'Yes', it will calculate the reweigh charges and add the amount to final checkout value. Otherwise deafult is 'No'.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step reweigh end -->

	<!-- step allValue start -->
	<ng-walkthrough focusElementSelector="#allValue" [contentTemplate]="stepAllValue">
		<ng-template #stepAllValue>
			<h5 class="text-primary font-weight-bold">Step 6 :</h5>
			<p>Please select 'No' if all values and quantities of items are incorrect. </p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step allValue end -->

	<!-- step shipVia start -->
	<ng-walkthrough focusElementSelector="#shipVia" [contentTemplate]="stepShipVia">
		<ng-template #stepShipVia>
			<h5 class="text-primary font-weight-bold">Step 7 :</h5>
			<p>Please choose your preferred shipping method from available options.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step shipVia end -->

	<!-- step shipTable start -->
	<ng-walkthrough focusElementSelector="#shipTable" [contentTemplate]="stepShipTable">
		<ng-template #stepShipTable>
			<h5 class="text-primary font-weight-bold">Step 8 :</h5>
			<p>Displaying deliverable item(s) name, price, quantity, total value and any other chosen options(if available).</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step shipTable end -->

	<!-- step getThis start -->
	<ng-walkthrough focusElementSelector="#getThis" [contentTemplate]="stepGetThis">
		<ng-template #stepGetThis>
			<h5 class="text-primary font-weight-bold">Step 9 :</h5>
			<p>Diplaying all calculated charges according to chosen shipping method.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step getThis end -->

	<!-- step calculate start -->
	<ng-walkthrough focusElementSelector="#calculate" [contentTemplate]="stepCalculate">
		<ng-template #stepCalculate>
			<h5 class="text-primary font-weight-bold">Step 10 :</h5>
			<p>Click to get details of Shipping cost, delivery cost and Total cost</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step calculate end -->

	<!-- step plan start -->
	<ng-walkthrough focusElementSelector="#plan" [contentTemplate]="stepPlan">
		<ng-template #stepPlan>
			<h5 class="text-primary font-weight-bold">Step 11 :</h5>
			<p>Displaying Shipping Cost as per chosen shipping method, Clearing,duty and local handling cost, </p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step plan end -->

	<!-- step checkout start -->
	<ng-walkthrough focusElementSelector="#checkout" [contentTemplate]="stepCheckout">
		<ng-template #stepCheckout>
			<h5 class="text-primary font-weight-bold">Step 12 :</h5>
			<p>Click to <b>checkout</b></p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step checkout end -->
</ng-walkthrough-flow>

<section class="container">
	<div class="row">
		<!-- sidebar start -->
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-flyout></app-sidebar-flyout>
		</aside>
		<!-- sidebar end -->

		<!-- main content start -->
		<main class="col main-content py-md-5 py-3  pl-lg-5">
			<!-- breadcrumb start -->
			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a routerLink="#">my-warehouse</a>
					</li>
					<li class="breadcrumb-item active" aria-current="page">overview</li>
				</ol>
			</nav>
			<!-- breadcrumb end -->

			<!-- header start -->
			<header class="page-header border-bottom mb-3" id="myWarehouse">
				<h3>My Warehouse</h3>
			</header>
			<!-- header end -->


			<!-- shipment item start -->
			<section class="shipment-item mt-md-5 mt-4">
				<header class="d-flex align-items-center mb-md-4 mb-3">
					<h3 class="mb-0 text-ellipsis">Shipment:#130611</h3>
					<svg-icon src="assets/imgs/icons/shipment-id.svg" [svgStyle]="{ 'height.px':35}" class="ml-3"></svg-icon>
					<a href="javascript:void(0)" class="help-icon ml-2" container="body" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
						<i class="fa fa-question" aria-hidden="true"></i>
					</a>
				</header>

				<!-- delivery status start -->
				<article class="bg-medium font-size-sm px-3 py-2" id="deliveryStatus">
					<div class="row align-items-md-center">
						<div class="col-md col-12 mb-1 mb-md-0 d-flex align-items-center">
							<span class="font-weight-medium">First Receive Date: 01-23-2018 09:18</span>
							<a href="javascript:void(0)" class="help-icon ml-2 flex-none" container="body" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
								<i class="fa fa-question" aria-hidden="true"></i>
							</a>
						</div>
						<div class="col-md col-6 mb-1 mb-md-0">
							<span class="font-weight-medium">Maximum Storage Date: 02-13-2018 09:18</span>
						</div>
						<div class="col-md-3 col-6 mb-1 mb-md-0">
							<span class="font-weight-medium">Estimated Store Charge: 0.86</span>
						</div>
					</div>
				</article>
				<!-- delivery status end -->

				<!-- browse start -->
				<div class="row font-size-sm my-md-4 my-3">
					<div class="col-md-6 mb-2 mb-md-0">
						<span>
							<strong class="font-weight-medium text-secondary">NOTE:</strong> If the values of any item is wrong, please
							upload invoices
						</span>
					</div>
					<div class="col-md-6">
						<input type="file" class="form-control-file" id="chooseFile">
					</div>
				</div>
				<!-- browse end -->

				<!-- package start -->
				<div class="white-box pt-0">
					<!-- header start -->
					<header class="border-bottom py-3 px-0">
						<h4 class="mb-0">Package/Delivery 27</h4>
					</header>
					<!-- header end -->

					<!-- form start -->
					<div class="form-row font-size-sm mt-3 mb-md-3">
						<!-- store start -->
						<div class="form-group col-md-3">
							<label class="font-weight-medium d-block">Store:</label>
							<span>7TH AVENUE STORE</span>
						</div>
						<!-- store end -->

						<!-- photo shot start -->
						<div class="form-group col-md-2 col-sm-3 col-6" id="photoShot">
							<label class="font-weight-medium d-block">Photo Shot:</label>
							<div class="input-group">
								<select class="form-control form-control-sm" (change)="openPhotoShotModal($event.target.value)" [disabled]="isPhotoShotDisabled">
									<option value="0">No</option>
									<option value="1">Yes</option>
								</select>
								<div class="input-group-append">
									<a href="javascript:void(0)" class="btn btn-outline-primary btn-sm rounded-0" container="body" placement="top"
									 tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
										<i class="fa fa-question" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>
						<!-- photo shot end -->

						<!-- recount start -->
						<div class="form-group col-md-2 col-sm-3 col-6" id="recount">
							<label class="font-weight-medium d-block">Recount:</label>
							<div class="input-group">
								<select class="form-control form-control-sm" (change)="openRecountModal($event.target.value)" [disabled]="isRecountDisabled">
									<option value="0">No</option>
									<option value="1">Yes</option>
								</select>
								<div class="input-group-append">
									<a href="javascript:void(0)" class="btn btn-outline-primary btn-sm rounded-0" container="body" placement="left"
									 tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
										<i class="fa fa-question" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>
						<!-- recount end -->

						<!-- reweigh start -->
						<div class="form-group col-md-2 col-sm-3 col-6" id="reweigh">
							<label class="font-weight-medium d-block">Reweigh:</label>
							<div class="input-group">
								<select class="form-control form-control-sm" (change)="openReweighModal($event.target.value)" [disabled]="isReweighDisabled">
									<option value="0">No</option>
									<option value="1">Yes</option>
								</select>
								<div class="input-group-append">
									<a href="javascript:void(0)" class="btn btn-outline-primary btn-sm rounded-0" container="body" placement="top"
									 tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
										<i class="fa fa-question" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>
						<!-- reweigh end -->

						<!-- value start -->
						<div class="form-group col-md-3 col-sm-3 col-6" id="allValue">
							<label class="font-weight-medium d-block text-ellipsis" tooltip="All Values & Quantities are correct">All Values
								& Quantities are correct:</label>
							<div class="input-group">
								<select class="form-control form-control-sm">
									<option>--</option>
									<option>01</option>
									<option>02</option>
									<option>03</option>
								</select>
								<div class="input-group-append">
									<a href="javascript:void(0)" class="btn btn-outline-primary btn-sm rounded-0" placement="left" container="body"
									 tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
										<i class="fa fa-question" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>
						<!-- value end -->
					</div>
					<!-- form end -->

					<!-- delivery status start -->
					<article class="bg-medium font-size-sm px-3 py-2">
						<div class="row no-gutters">
							<div class="col-md-4 col-6 mb-1 mb-md-0">
								<span>
									<strong class="font-weight-medium d-block d-sm-inline-block">Delivery Company:</strong> Fedex</span>
							</div>
							<div class="col-md-4 col-6 mb-1 mb-md-0">
								<span>
									<strong class="font-weight-medium d-block d-sm-inline-block">Delivered:</strong> 01-23-2018 09:17</span>
							</div>
							<div class="col-md-2 col-6">
								<span>
									<strong class="font-weight-medium d-block d-sm-inline-block">Tracking #:</strong> 2322</span>
							</div>
							<div class="col-md-2 col-6">
								<span>
									<strong class="font-weight-medium d-block d-sm-inline-block">Storage:</strong> $0.86</span>
							</div>
						</div>
					</article>
					<!-- delivery status end -->

					<!-- delivery options start -->
					<div class="form-row font-size-sm my-4">
						<div class="form-group col mb-0 d-sm-flex align-items-sm-center justify-content-sm-end">
							<label class="font-weight-medium mb-sm-0">Ship Via:</label>
						</div>
						<div class="form-group mb-0 col-sm-3" id="shipVia">
							<select class="form-control form-control-sm">
								<option>Air Standard</option>
								<option>Ocean Standard</option>
								<option>Ocean Priority</option>
							</select>
						</div>
					</div>
					<!-- delivery options end -->

					<!-- table start -->
					<table datatable class="row-border hover" [dtOptions]="dtOptions" id="shipTable">
						<thead>
							<tr>
								<th>Items / products ordered</th>
								<th>Value Per Item</th>
								<th>Quantity</th>
								<th>Total</th>
								<th>Note</th>
								<th>Received</th>
								<th class="text-right">Photo Shot</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Shoes</td>
								<td>$25.00</td>
								<td>5</td>
								<td>125.00</td>
								<td>
									<i class="fa fa-minus" aria-hidden="true"></i>
								</td>
								<td>Yes</td>
								<td class="text-right">
									<button class="btn btn-primary btn-sm btn-action" [disabled]="isPhotoShotDisabled" tooltip="Photo Shot"
									 container="body" placement="left">
										<i class="fa fa-camera" aria-hidden="true"></i>
									</button>
								</td>
							</tr>

						</tbody>
					</table>
					<!-- table end -->

					<!-- shipping cost start -->
					<article>
						<header class="bg-dark text-center text-center p-3 d-flex flex-column  align-items-center">
							<span class="text-white font-weight-medium mb-2">Shipping Cost For This Delivery : $12.00</span>
							<a href="javascript:void(0)" id="getThis" (click)="showShippingCost = !showShippingCost" class="btn btn-primary btn-sm">How
								Did We Get This</a>
						</header>
						<div *ngIf="showShippingCost" class="bg-light border p-3">
							<div class="row">
								<div class="col-sm-6 mb-2">
									<span class="font-weight-medium">Total number of Items :
										<strong>5</strong>
									</span>
								</div>
								<div class="col-sm-6 mb-2">
									<span class="font-weight-medium">Declared Value of Items :
										<strong>$120.00</strong>
									</span>
								</div>
								<div class="col-sm-6 mb-2">
									<span class="font-weight-medium">Combined Weight :
										<strong>6.00 lbs</strong>
									</span>
								</div>
								<div class="col-sm-6 mb-2">
									<span class="font-weight-medium">Chargeable Weight :
										<strong>7.00 lbs</strong>
									</span>
								</div>
								<div class="col-sm-6 mb-2">
									<span class="font-weight-medium">Dimensions :
										<strong>5.00 X 5.00 X 6.00</strong>
									</span>
								</div>
								<div class="col-sm-6 mb-2">
									<span class="font-weight-medium">Warehousing/inventory Charge :
										<strong>$3.00</strong>
									</span>
								</div>
								<div class="col-sm-6 mb-2">
									<span class="font-weight-medium">Storage Charge :
										<strong>$3.00</strong>
									</span>
								</div>
								<div class="col-sm-6 mb-2">
									<span class="font-weight-medium">Other Charges :
										<strong>$5.00</strong>
									</span>
								</div>
								<div class="col-sm-6 mb-2">
									<span class="font-weight-medium">Total Shipping Cost :
										<strong>$21.00</strong>
									</span>
								</div>
							</div>
						</div>
					</article>
					<!-- shipping cost end -->
				</div>
				<!-- package end -->

				<div class="text-center mt-3 mb-3">
					<button class="btn btn-secondary btn-lg" type="button" id="calculate">Calculate Shipping Cost</button>
				</div>
				<!-- total for the shipment start -->
				<section class="white-box p-0 border mt-4">
					<header class="border-bottom px-3 py-2 justify-content-center justify-content-sm-start">
						<h4 class="mb-0 text-primary">Total For The Shipment</h4>
					</header>
					<div class="row p-3 text-center text-sm-left">
						<div class="col-sm-6 mb-2">
							<span class="font-weight-medium">Chargeable Weight :
								<strong>15.00 lbs</strong>
							</span>
						</div>
						<div class="col-sm-6 mb-2">
							<span class="font-weight-medium">Declared Value of Items :
								<strong>$250.00</strong>
							</span>
						</div>
						<div class="col-sm-6 mb-2">
							<span class="font-weight-medium">Warehousing/inventory Charge :
								<strong>$10.00</strong>
							</span>
						</div>
						<div class="col-sm-6 mb-2">
							<span class="font-weight-medium">Storage Charge :
								<strong>$15.00</strong>
							</span>
						</div>
						<div class="col-sm-6 mb-2">
							<span class="font-weight-medium">Other Charges :
								<strong>$15.00</strong>
							</span>
						</div>
						<div class="col-sm-6 mb-2">
							<span class="font-weight-medium">Door to Door Delivery Cost :
								<strong>$400.00</strong>
							</span>
						</div>
					</div>

					<article class="bg-medium font-size-sm px-3 py-2" id="cost">
						<div class="row">
							<div class="col-md-4 col-sm-6 mb-2 mb-md-0 d-flex align-items-center justify-content-center justify-content-sm-start">
								<span class="font-weight-medium">Cost to ship Separately: $123.00</span>
								<a class="help-icon ml-2 flex-none" container="body" href="javascript:void(0)" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
								 ng-reflect-tooltip="Vivamus sagittis lacus vel aug" ng-reflect-container="body">
									<i aria-hidden="true" class="fa fa-question"></i>
								</a>
							</div>
							<div class="col-md-4 col-sm-6 mb-2 mb-md-0 d-flex align-items-center justify-content-center justify-content-sm-start">
								<span class="font-weight-medium">Combine and Save Cost: $50.00</span>
								<a class="help-icon ml-2 flex-none" container="body" href="javascript:void(0)" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
								 ng-reflect-tooltip="Vivamus sagittis lacus vel aug" ng-reflect-container="body">
									<i aria-hidden="true" class="fa fa-question"></i>
								</a>
							</div>
							<div class="col-md-4 col-sm-6 d-flex align-items-center justify-content-center justify-content-sm-start">
								<span class="font-weight-medium">Total Saving by Combine: $10.00</span>
								<a class="help-icon ml-2 flex-none" container="body" href="javascript:void(0)" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."
								 ng-reflect-tooltip="Vivamus sagittis lacus vel aug" ng-reflect-container="body">
									<i aria-hidden="true" class="fa fa-question"></i>
								</a>
							</div>
						</div>
					</article>
				</section>
				<!-- total for the shipment end -->

				<!-- plan start -->
				<div class="row shipping-type mb-4">
					<div class="col-md-6 col-sm-12 mt-3 item">
						<div class="item-inn px-0" id="plan">
							<!-- <label class="form-check custom-radio">
								<input type="radio" name="shipping">
								<span class="checkmark"></span>
							</label> -->
							<img src="assets/imgs/dhl.jpg" class="mb-3">
							<h5 class="text-primary">Express Shipping (DHL)</h5>
							<span class="font-size-sm font-weight-medium">Shipping Cost: $0.00</span>
							<span class="font-size-sm font-weight-medium">Clearing, duty & Local Handling: $5.00</span>
							<div class="bg-dark w-100 my-3">
								<span class="mb-2 d-block font-size-lg text-white">
									<strong>$120.00</strong>
								</span>
								<span class="d-block font-size-sm text-medium">2 - 4 Busi Days</span>
								<span class="mb-3 d-block font-size-sm text-medium">Get it by Tue, May 15th</span>
							</div>
							<div>
								<span class="d-block h6 text-secondary mb-2">Your Delivery Cost is $130.00</span>
								<a href="javaseript:void(0)" tooltip="Details of item" container="body" class="btn btn-primary btn-sm mr-1">Details</a>
							</div>
						</div>
					</div>
				</div>
				<!-- plan end -->




				<div class="text-center">
					<span class="h3 text-primary d-block">Total Cost $509.00</span>
					<span class="h4 text-primary d-block">How Do I Lower This Shipping Cost</span>
				</div>
				<div class="text-center">
					<a routerLink="/virtual-tour/my-warehouse/checkout" class="btn btn-secondary btn-lg" id="checkout">Checkout</a>
				</div>
			</section>

			<!-- shipment item end -->
		</main>
		<!-- main content end -->
	</div>
</section>
