<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">Payeezy Payment</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form method="post" (ngSubmit)="payeezyPayment.form.valid && dataSubmit(payeezyPayment)" #payeezyPayment="ngForm" autocomplete="off">
<div class="modal-body">
	<h4 class="mb-3">Payable amount {{paySymbol}} {{amountDisplay}}</h4>
	<div class="form-row">
		<div class="form-group col-12">
			<label>Card Number <span class="text-secondary">*</span></label>
			<div class="input-group">
				<input type="text" class="form-control" name="ccardNumber" (input)="onSearchChange($event.target.value)" [(ngModel)]="ccardNumber" id="ccardNumber" [ngClass]="{ 'is-invalid': cardInvalid.ccardNumber}" autocomplete="off" />
				<div class="input-group-append">
					<span class="input-group-text py-0 px-2 input-card" id="basic-addon2"><div *ngIf="this.cardTypeIcon">
					<img src="assets/imgs/icons/paymentpageIcons/{{ this.cardTypeIcon }}" height="30"></div><div *ngIf="!this.cardTypeIcon">
					<img src="assets/imgs/icons/paymentpageIcons/credit-card.png" height="30"></div></span>
				</div>
			</div>
			<div *ngIf="cardInvalid.ccardNumber" class="invalid-feedback">
	    		<div>Field is required</div>
			</div>
		</div>
		<div class="form-group col-4">
			<label>Expiry Month <span class="text-secondary">*</span></label>
			<select class="form-control" [ngClass]="{ 'is-invalid': cardInvalid.expiryMonth }" name="expiryMonth" [(ngModel)]="expiryMonth" autocomplete="off">
				<option value="">Select</option>
				<option value="01">January</option>
				<option value="02">February</option>
				<option value="03">March</option>
				<option value="04">April</option>
				<option value="05">May</option>
				<option value="06">June</option>
				<option value="07">July</option>
				<option value="08">August</option>
				<option value="09">September</option>
				<option value="10">October</option>
				<option value="11">November</option>
				<option value="12">December</option>
			</select>
		    <div *ngIf="cardInvalid.expiryMonth" class="invalid-feedback">
		        <div>Field is required</div>
		    </div>
		</div>
		<div class="form-group col-4">
			<label>Expiry Year <span class="text-secondary">*</span></label>
			<select class="form-control" [ngClass]="{ 'is-invalid': cardInvalid.expiryYear }" name="expiryYear" [(ngModel)]="expiryYear" autocomplete="off">
				<option value="">Select</option>
				<option *ngFor="let item of createRangeYear(5);" [ngValue]="item">{{item}}</option>
			</select>
		    <div *ngIf="cardInvalid.expiryYear" class="invalid-feedback">
		        <div>Field is required</div>
		    </div>
		</div>
		<div class="form-group col-4">
			<label>CVV <span class="text-secondary">*</span></label>
			<input type="password" class="form-control" name="cvvCode" [(ngModel)]="cvvCode" [ngClass]="{ 'is-invalid': cardInvalid.cvvCode}" autocomplete="off" maxlength="4" />
			<div *ngIf="cardInvalid.cvvCode" class="invalid-feedback">
	    		<div>Field is required</div>
			</div>
		</div>
		<div class="form-group col-12 mb-0">
			<label>Name on Card<span class="text-secondary">*</span></label>
			<input type="text" class="form-control" name="cardHolderName" [(ngModel)]="cardHolderName" [ngClass]="{ 'is-invalid': cardInvalid.cardHolderName}" autocomplete="off" />
			<div *ngIf="cardInvalid.cardHolderName" class="invalid-feedback">
	    		<div>Field is required</div>
			</div>
		</div>		
	</div>
 
</div>
<div class="modal-footer">
	<button type="submit" class="btn btn-secondary text-right">Pay</button>
</div>
</form>
