<div class="row">
	<!-- main content start -->
	<main class="col main-content py-md-5 py-3">
		<!-- header start -->
		<header class="page-header border-bottom mb-3">
			<h3>Your shopping cart</h3>
			<span class="text-primary mb-3 d-block">
				<strong>Thank you for shipping with us. We appreciate it.</strong>
			</span>
		</header>
		
		
		<article class="white-box p-0 mb-4">
			<header class="p-2">
				<div class="row font-size-sm no-gutters">
					<div class="col-sm-6 col-lg-6">
						<span>Recommended Box :
							<strong>{{cartDetails.boxName}}</strong> ({{cartDetails.boxLength+'*'+cartDetails.boxWidth+'*'+cartDetails.boxHeight}})
						</span>
					</div>
					<div class="col-sm-6 col-lg-6">
						<span>Shipping Via :
							<strong>{{cartDetails.shippingMethodName}}</strong> 
						</span>
					</div>
				</div>
			</header>

			<table datatable class="hover" [dtOptions]="dtOptions">
				<thead>
					<tr>
						<th colspan="2"><strong class="text-secondary">Note:</strong> The maximum allowable weight if shipping by air is <strong>{{cartDetails.boxChargeableWeight}} lbs ({{ cartDetails.boxChargeableWeight*0.4534 | number:'1.2-2' }} kg)</strong>. If shipping by sea, these is no limit.</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th>
							<span class="d-block">Total Number Of Items:</span>
							<span class="d-block">1</span>
						</th>
						<th>
							<span class="d-block">Chargeable Weight:</span> 
							<span class="d-block">{{cartDetails.boxChargeableWeight}} lbs ({{ cartDetails.boxChargeableWeight*0.4534 | number:'1.2-2' }} kg)</span>
						</th>
					</tr>
				</tbody>
				
			</table>
			
		</article>
		
		<div class="clearfix">
			<a routerLink="/fill-and-ship/order-form" class="btn btn-light btn-sm float-left"><i class="fa fa-chevron-left mr-2" aria-hidden="true"></i>Back to Order</a>
			<button type="button" class="btn btn-secondary btn-sm float-right ml-1" (click)="clearCart()">Clear Cart</button>
		</div>
		

	</main>
	<!-- main content end -->
	<!-- sidebar start -->
	<aside class="col sidebar right py-md-5 py-3">
		<div class="content">
			<!-- price detail start -->
			<article class="mb-3">
				<h6>Price Details</h6>
				<table border="0" width="100%" class="font-size-sm">
					<tbody>
						<tr>
							<td class="white-space-nowrap py-2">Shipping Cost : </td>
							<td class="white-space-nowrap text-right py-2">
								<strong class="font-weight-medium">{{currencySymbol}} {{cartDetails.shippingCost*exchangeRate | number:'1.2-2'}}</strong>
							</td>
							<td *ngIf="isCurrencyChanged=='Y'" class="white-space-nowrap text-success text-right py-2"><small>( {{defaultCurrencySymbol}} {{cartDetails.shippingCost | number:'1.2-2'}} )</small></td>
						</tr>
						<tr>
							<td class="white-space-nowrap py-2">Clearing, Duty  & Insurance: </td>
							<td class="white-space-nowrap text-right py-2">
								<strong class="font-weight-medium">{{currencySymbol}} {{cartDetails.totalClearingDuty*exchangeRate | number:'1.2-2'}}</strong>
							</td>
							<td *ngIf="isCurrencyChanged=='Y'" class="white-space-nowrap text-success text-right py-2"><small>( {{defaultCurrencySymbol}} {{cartDetails.totalClearingDuty | number:'1.2-2'}} )</small></td>
						</tr>
						<tr *ngIf="cartDetails['isInsuranceCharged'] == 'Y'">
							<td class="white-space-nowrap py-2">Insurance Cost : </td>
							<td class="white-space-nowrap text-right py-2">
								<strong class="font-weight-medium">{{currencySymbol}} {{cartDetails.totalInsurance*exchangeRate | number:'1.2-2'}}</strong>
							</td>
							<td *ngIf="isCurrencyChanged=='Y'" class="white-space-nowrap text-success text-right py-2"><small>( {{defaultCurrencySymbol}} {{cartDetails.totalInsurance | number:'1.2-2'}} )</small></td>
						</tr>
						<tr>
							<td class="white-space-nowrap py-2">Other Charges: </td>
							<td class="white-space-nowrap text-right py-2">
								<strong class="font-weight-medium">{{currencySymbol}} {{cartDetails.otherCharge*exchangeRate | number:'1.2-2'}}</strong>
							</td>
							<td *ngIf="isCurrencyChanged=='Y'" class="white-space-nowrap text-success text-right py-2"><small>( {{defaultCurrencySymbol}} {{cartDetails.otherCharge| number:'1.2-2'}} )</small></td>
						</tr>
					</tbody>
					<tfoot class="border-top">
						<tr>
							<th class="white-space-nowrap py-2">Total: </th>
							<th class="white-space-nowrap text-right py-2">{{currencySymbol}} {{cartDetails.totalCost*exchangeRate  | number:'1.2-2'}}</th>
							<th *ngIf="isCurrencyChanged=='Y'" class="white-space-nowrap text-success text-right py-2"><small>( {{defaultCurrencySymbol}} {{cartDetails.totalCost | number:'1.2-2'}} )</small></th>
						</tr>
					</tfoot>
				</table>
			</article>
			<!-- price detail end -->

			<!-- currency start -->
			<article class="text-center mb-3 border-bottom pb-3">
				<span class="font-size-sm text-medium d-block mb-2">NOTE: Final Amount is visible only after checkout</span>
				<a href="javascript:void(0)" class="btn btn-outline-primary btn-sm" (click)="showCurrency();">Change Currency</a>
			</article>
			<!-- currency end -->

			<article class="text-center">
				<a class="btn btn-secondary btn-lg btn-block" (click)="checkout()">Checkout</a>
			</article>
		</div>
	</aside>
	<!-- sidebar end -->
</div>
