<!-- step 1 start -->
<ng-walkthrough #walk1 focusElementSelector="#aaa" focusBackdrop="true" [contentTemplate]="step1" closeAnywhere="false"
 showArrow="true" arrowColor="#5bc6d0" radius="auto" [texts]="lastNavText" closeButton="false" (finished)="walkFinished();">
	<ng-template #step1>
		<h5 class="text-primary font-weight-bold">Step 1 :</h5>
		<p>In less than 30 seconds, Lets show you how to use Shoptomydoor.</p>
		<p>Your delivery address is where your purchases will be delivered to by Shoptomydoor. This is your home or office address. You will have an opportunity to set your delivery address after this short tutorial.</p>
		<!-- <p><strong>Option 1 - </strong>Deliver to my address: Fill in the required details. We recommend entering an alternate phone number that you can also be reached during delivery if your main number is not reachable.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a> -->
	</ng-template>
</ng-walkthrough>
<!-- step 1 end -->

<!-- step 2 start -->
<ng-walkthrough #walk2 focusElementSelector="#bbb" focusBackdrop="true" [contentTemplate]="step2" closeButton="false"
 closeAnywhere="false" showArrow="true" arrowColor="#5bc6d0" radius="auto" [texts]="lastNavText" (finished)="walk2Finished();">
	<ng-template #step2>
		<h5 class="text-primary font-weight-bold">Step 2 :</h5>
		<!-- <p><strong>Option 2 - </strong>Select to have items picked up from a Shoptomydoor Location. A cheaper option than home delivery. Only states and cities with a pick-up location will be displayed. Select your preferred location from the available list. The address and phone numbers of the location will be displayed automatically.</p> -->
		<p>You can select your home or office address as your delivery address. In this case, all items are delivered to your door. Be sure to set a second phone number if feasible so our delivery drivers can always reach someone at home before heading out. </p>
		<!-- <a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a> -->
	</ng-template>
</ng-walkthrough>
<!-- step 2 end -->

<!-- step 5 start -->
<ng-walkthrough-flow #walk5 id="wt-test-flow" focusBackdrop="true" closeAnywhere="false" showArrow="true" radius="auto"
 [texts]="navText" closeButton="false" (finished)="walk3Finished()" arrowColor="#5bc6d0" previousStep="">
	<ng-walkthrough focusElementSelector="#location" [contentTemplate]="step5">
		<ng-template #step5>
			<h5 class="text-primary font-weight-bold">Step 3 :</h5>
			<!-- <p><strong>Your Warehouse Location - </strong>This is your assigned address where all your purchases are delivered to from online stores in the USA or UK. This address is assigned to you by Shoptomydoor, and it is the address you enter as your shipping address when shopping on various online stores in USA or UK.</p> -->
			<p>We recommend you select a pick-up center as your delivery address. Its faster and cheaper to deliver to pick up centers. We are adding more pick up centers all over the country, so if you don’t see one near you, select home delivery for now.</p>
			<!-- <a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a> -->
		</ng-template>
	</ng-walkthrough>

	<ng-walkthrough focusElementSelector="#reward" [contentTemplate]="step6" previousStep="false">
		<ng-template #step6>
			<h5 class="text-primary font-weight-bold">Step 4 :</h5>
			<!-- <p>We reward you as you shop, and you can see the details here. Points can be converted at any time towards a Visa 
Gift card of $25 or more that can be used to shop from thousands of US and UK online stores. Just our way to thank you for being a valued customer.</p> -->
			<p>Since the stores won’t deliver internationally (or when they deliver, the cost is very high), when shopping, use your assigned US/UK address as your shipping address on any US/UK store. The stores will deliver to this address and Shoptomydoor sends them cheaply to your delivery address. </p>
			<p>For example, when shopping on Amazon.com, the shipping address used on Amazon must be your assigned US/UK address. Amazon will deliver to the address we assigned to you. We will pack them and, and then ship  them down to your delivery address at a far cheaper cost.</p>
			<!-- <a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a> -->
		</ng-template>
	</ng-walkthrough>
	<ng-walkthrough focusElementSelector="#goTo" [contentTemplate]="step8" previousStep="false">
		<ng-template #step8>
			<h5 class="text-primary font-weight-bold">Step 5 :</h5>
			<!-- <p>Your address book allows you to change your delivery address as well as your billing address at any time. Go to My Accounts and select Address Book to make these changes when needed.</p>
			<p>Any further questions on how to start shopping immediately, Please chat or call us now at <strong>0700 800 8000</strong>.</p> -->
			<p>Finally, always include your unit number as part of your address when shopping on US/UK stores. Your unit number is assigned to only you. It enables us to easily identify your items and to quickly assign them to your account. Not adding your unit number will delay your shipment, as well as lead to a $9.99 sorting charge on your account.</p>
			<p>Still confused about how to use Shoptomydoor and how it saves you money. Chat with us or Call us now on <strong>+234 700 800 8000</strong> or <strong>+1 888 315 9027</strong>.</p> 
			<p>Now you are ready to shop and ship. Please fill your delivery address on the next screen.   </p>
			<!-- <a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a> -->
		</ng-template>
	</ng-walkthrough>
</ng-walkthrough-flow>

<!-- step 5 end -->

<!-- step 6 start -->
<!-- <ng-walkthrough #walk6 focusElementSelector="#reward" focusBackdrop="true" [contentTemplate]="step6" closeButton="true"
 closeAnywhere="false" showArrow="true" arrowColor="#5bc6d0" radius="auto" focusHighlightAnimation="true" [texts]="navText"
 [nextStep]="walk7">
	<ng-template #step6>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius blandit dolor, sit amet condimentum eros
			vulputate</p>
	</ng-template>
</ng-walkthrough> -->
<!-- step 6 end -->

<!-- step 7 start -->
<!-- <ng-walkthrough #walk7 focusElementSelector="#myAddress" focusBackdrop="true" [contentTemplate]="step7" closeButton="true"
 closeAnywhere="false" showArrow="true" arrowColor="#5bc6d0" radius="auto" focusHighlightAnimation="true" [texts]="navText"
 [nextStep]="walk8">
	<ng-template #step7>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius blandit dolor, sit amet condimentum eros
			vulputate</p>
	</ng-template>
</ng-walkthrough> -->
<!-- step 7 end -->

<!-- step 8 start -->
<!-- <ng-walkthrough #walk8 focusElementSelector="#goTo" focusBackdrop="true" [contentTemplate]="step8" closeButton="false"
 closeAnywhere="false" showArrow="true" arrowColor="#5bc6d0" radius="auto" focusHighlightAnimation="true" [texts]="navText"
 (finished)="walk3Finished();" finishButton="true">
	<ng-template #step8>
		<p>aaaaa</p>
	</ng-template>
</ng-walkthrough> -->
<!-- step 8 end -->

<ng-template #template>
	<div id="aaa">

		<div class="modal-header">
			<h4 class="modal-title pull-left text-primary">Add/Edit Address</h4>
			<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>

		<div class="modal-body p-0">
			<div class="row no-gutters text-primary border-bottom">
				<div class="col-6 border-right" id="deliver">
					<label class="form-check custom-radio py-5 justify-content-center align-items-center mb-0 px-2 font-size-sm w-100 bg-primary text-white h-100 font-weight-bold text-center">
						<input name="shipping" type="radio">Deliver to my Address
					</label>
				</div>
				<div class="col-6" id="pickup">
					<label class="form-check custom-radio justify-content-center align-items-center py-5 mb-0 px-2 font-size-sm w-100 h-100 font-weight-bold text-center">
						<input name="shipping" type="radio">Pickup from Shoptomydoor location
					</label>
				</div>
			</div>


			<div class="px-3">
				<div class="form-row field-area pt-3">
					<div class="form-group col-4 col-sm-4 mb-sm-4 mb-3">
						<label>Title
							<span class="text-secondary">*</span>
						</label>
						<select class="form-control" name="title">
							<option>Select</option>
							<option>Mr.</option>
							<option>Mrs.</option>
							<option>Ms.</option>
						</select>
					</div>
					<div class="form-group col-8 col-sm-4 mb-sm-4 mb-3">
						<label data-error="Required Field!">First name
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control validate" placeholder="First name" name="firstName">
					</div>
					<div class="form-group col-sm-4 mb-sm-4 mb-3">
						<label>Last name
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control" placeholder="Last name" name="lastName">
					</div>
					<div class="form-group col-sm-12 mb-sm-4 mb-3">
						<label>Email<span class="text-secondary">*</span></label>
						<input type="email" class="form-control" placeholder="Email" name="email">
					</div>
					<div class="form-group col-sm-12 mb-sm-4 mb-3">
						<label>Address<span class="text-secondary">*</span></label>
						<input type="text" class="form-control" placeholder="Address" name="address">
					</div>
					<div class="form-group col-sm-12 mb-sm-4 mb-3">
						<label>Address (line 2)</label>
						<input type="email" class="form-control" placeholder="Address line 2" name="alternateAddress">
					</div>
					<div class="form-group col-sm-4 mb-sm-4 mb-3">
						<label>Country<span class="text-secondary">*</span>
						</label>
						<select class="form-control">
							<option>Select</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
						</select>
					</div>
					<div class="form-group col-sm-4 mb-sm-4 mb-3">
						<label>State<span class="text-secondary">*</span>
						</label>
						<select class="form-control" name="state">
							<option>Select</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
						</select>
					</div>
					<div class="form-group col-sm-4 mb-sm-4 mb-3">
						<label>City<span class="text-secondary">*</span>
						</label>
						<select class="form-control" name="city">
							<option>Select</option>
							<option>1</option>
							<option>2</option>
							<option>3</option>
						</select>
					</div>
					<div class="form-group col-sm-12 mb-sm-4 mb-3">
						<label>Zip/Postal Code
						</label>
						<input type="text" class="form-control" placeholder="Zip/Postal Code">

					</div>
					<div class="form-group col-sm-6 mb-sm-4 mb-3">
						<label>Phone<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control" placeholder="Phone" name="phone">
					</div>
					<div class="form-group col-sm-6 mb-sm-4 mb-3">
						<label>Alternate Phone
						</label>
						<input type="text" class="form-control" placeholder="Alternate Phone" name="alternatePhone">
					</div>
				</div>
			</div>
		</div>


		<div class="modal-footer" id="addAddressFooter">
			<button type="submit" class="btn btn-secondary" (click)="bsModalRef.hide()" id="saveChange">Save Changes</button>
			<button type="submit" class="btn btn-secondary" (click)="bsModalRef.hide()">Create As New Address</button>
			<button type="button" class="btn btn-dark" (click)="bsModalRef.hide()">Close</button>
		</div>


	</div>
</ng-template>

<ng-template #template2>
	<div id="bbb">
		<!-- header start -->
		<div class="modal-header">
			<h4 class="modal-title pull-left text-primary">Add/Edit Address</h4>
			<button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<!-- header end -->
		<div class="modal-body p-0">
			<div class="row no-gutters text-primary border-bottom">
				<div class="col-6 border-right">
					<label class="form-check custom-radio py-5 justify-content-center align-items-center mb-0 px-2 font-size-sm w-100 text-primary h-100 font-weight-bold text-center">
						<input name="shipping" type="radio">Deliver to my Address
					</label>
				</div>
				<div class="col-6">
					<label class="form-check custom-radio justify-content-center align-items-center py-5 mb-0 px-2 font-size-sm w-100 h-100 font-weight-bold text-center bg-primary text-white">
						<input name="shipping" type="radio">Pickup from Shoptomydoor location
					</label>
				</div>
			</div>


			<div class="px-3">
				<div class="form-row field-area pt-3">
					<div class="form-group col-4 col-sm-4 mb-sm-4 mb-3">
						<label>Title
							<span class="text-secondary">*</span>
						</label>
						<select class="form-control" name="title">
							<option value="">Select</option>
							<option>Mr.</option>
							<option>Mrs.</option>
							<option>Ms.</option>
						</select>
					</div>
					<div class="form-group col-8 col-sm-4 mb-sm-4 mb-3">
						<label data-error="Required Field!">First name
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control validate" placeholder="First name" name="firstName">
					</div>
					<div class="form-group col-sm-4 mb-sm-4 mb-3">
						<label>Last name
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control" placeholder="Last name" name="lastName">
					</div>
					<div class="form-group col-sm-12 mb-sm-4 mb-3">
						<label>Email<span class="text-secondary">*</span></label>
						<input type="email" class="form-control" placeholder="Email" name="email">
					</div>
					<div class="form-group col-sm-12 mb-sm-4 mb-3">
						<label>Address<span class="text-secondary">*</span></label>
						<input type="text" class="form-control" placeholder="Address" name="address">
					</div>
					<div class="form-group col-sm-12 mb-sm-4 mb-3">
						<label>Address (line 2)</label>
						<input type="email" class="form-control" placeholder="Address line 2" name="alternateAddress">
					</div>
					<div class="form-group col-sm-4 mb-sm-4 mb-3">
						<label>Country<span class="text-secondary">*</span>
						</label>
						<select class="form-control" name="country">
							<option value="">Select</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</div>
					<div class="form-group col-sm-4 mb-sm-4 mb-3">
						<label>State<span class="text-secondary">*</span>
						</label>
						<select class="form-control" name="state">
							<option value="">Select</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</div>
					<div class="form-group col-sm-4 mb-sm-4 mb-3">
						<label>City<span class="text-secondary">*</span>
						</label>
						<select class="form-control" name="city">
							<option value="">Select</option>
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select>
					</div>
					<div class="form-group col-sm-12 mb-sm-4 mb-3">
						<label>Zip/Postal Code
						</label>
						<input type="text" ngModel class="form-control" placeholder="Zip/Postal Code" name="zipcode">

					</div>
					<div class="form-group col-sm-6 mb-sm-4 mb-3">
						<label>Phone<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control" placeholder="Phone" name="phone">
					</div>
					<div class="form-group col-sm-6 mb-sm-4 mb-3">
						<label>Alternate Phone
						</label>
						<input type="text" class="form-control" placeholder="Alternate Phone" name="alternatePhone">
					</div>
				</div>
			</div>
		</div>

		<!-- modal footer start -->
		<div class="modal-footer" id="addAddressFooter">
			<button type="submit" class="btn btn-secondary" (click)="bsModalRef.hide()" id="saveChange">Save Changes</button>
			<button type="submit" class="btn btn-secondary" (click)="bsModalRef.hide()">Create As New Address</button>
			<button type="button" class="btn btn-dark" (click)="bsModalRef.hide()">Close</button>
		</div>
		<!-- modal footer end -->
	</div>
</ng-template>

<!-- header start -->
<header class="page-header border-bottom mb-3">
	<h3>Account Details</h3>
</header>
<!-- header end -->

<!-- location start -->
<div class="row align-items-center mb-md-5 mb-3">
	<div class="col-md-4 col-sm-5" id="location">
		<label>Select Warehouse Location:</label>
		<select class="form-control">
			<option>United States</option>
			<option>India</option>
			<option>Srilanka</option>
		</select>
	</div>
	<!-- <div class="col-md-8 col-sm-7 d-flex justify-content-end mt-3 mt-sm-0">
		<div class="account-type px-3 py-2">
			<span class="d-block">Account type:</span>
			<span class="font-weight-medium d-block">
				<strong class="font-weight-medium">Personal Account</strong>
			</span>
		</div>
		<div class="px-3 py-2">
			<span class="d-block">Account expires:</span>
			<span class="d-block">
				<strong class="font-weight-medium">Nov 15th, 2018</strong>
			</span>
		</div>
	</div> -->
</div>
<!-- location end -->

<div class="white-box">
	<!-- usrt deail start -->
	<div class="row user-detail">
		<div class="col-sm img flex-none">
			<img src="assets/imgs/user.jpg">
		</div>
		<div class="col-sm content">
			<h3 class="text-primary">Mr.James Williams</h3>
			<div class="border-bottom py-2">
				<h5>Caremarque Pvt. Ltd.</h5>
				<span class="d-block">Mail: james.williams3694@indusnet.co.in</span>
				<span class="d-block">Phone: +17135301160</span>
			</div>
			<!-- <div class="border-bottom py-2">
				<span class="d-block">Birth Day</span>
				<h5>25th November, 2018</h5>
			</div> -->
		</div>
	</div>
	<!-- usrt deail end -->

	<!-- shopper rewards start -->
	<div class="row rewards my-4 my-md-5" id="reward">
		<div class="col-sm-12">
			<h4>Shopper Rewards</h4>
		</div>
		<div class="col-md-4 item">
			<div class="row no-gutters border align-items-center">
				<div class="col icon p-3">
					<svg-icon src="assets/imgs/icons/earned-points.svg" [svgStyle]="{ 'height.px':40}"></svg-icon>
				</div>
				<div class="col-8 content p-3">
					<span class="title">Earned Points :</span>
					<span class="value">23600258</span>
				</div>
			</div>
		</div>
		<div class="col-md-4 item">
			<div class="row no-gutters border align-items-center">
				<div class="col icon p-3">
					<svg-icon src="assets/imgs/icons/rewards.svg" [svgStyle]="{ 'height.px':40}"></svg-icon>

				</div>
				<div class="col-8 content p-3">
					<span class="title">Reward Level :</span>
					<span class="value">Bronze</span>
				</div>
			</div>
		</div>
		<div class="col-md-4 item">
			<div class="row no-gutters border align-items-center">
				<div class="col icon p-3">
					<svg-icon src="assets/imgs/icons/reward-expires.svg" [svgStyle]="{ 'height.px':40}"></svg-icon>
				</div>
				<div class="col-8 content p-3">
					<span class="title">Reward Expires :</span>
					<span class="value">Dec 31st, 18</span>
				</div>
			</div>
		</div>
		<div class="col-sm-12 text-center mt-3 mt-md-5">
			<a routerLink="/" class="btn btn-primary btn-sm">My Reward Details</a>
		</div>
	</div>
	<!-- shopper rewards end -->

	<!-- address start -->
	<div class="row delivery-address">
		<div class="col-md-6 col-12 item">
			<div class="border item-wrap p-3">
				<div class="row">
					<div class="col icon">
						<svg-icon src="assets/imgs/icons/delivery-address.svg" [svgStyle]="{ 'height.px':95}"></svg-icon>
					</div>
					<div class="col-sm-8">
						<h4>My Delivery Address</h4>
						<span class="font-weight-bold">Nduka Udeh</span>
						<span class="d-block mb-2">211 South Meadows Court, ikeja, Lagos, 77479 NG Phone: +17135301160</span>
						<a routerLink="/" class="btn btn-primary btn-sm mr-2" id="goTo">Go to Addressbook</a>
						<!-- <a routerLink="/" class="btn btn-dark btn-sm"> Locations</a> -->
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-12 item">
			<div class="border item-wrap p-3">
				<div class="row">
					<div class="col icon">
						<svg-icon src="assets/imgs/icons/delivery-address.svg" [svgStyle]="{ 'height.px':95}"></svg-icon>
					</div>
					<div class="col-sm-8">
						<h4>My US Address</h4>
						<span class="font-weight-bold">Nduka Udeh</span>
						<span class="d-block mb-2">211 South Meadows Court, ikeja, Lagos, 77479 NG Phone: +17135301160</span>
						<a routerLink="/" class="btn btn-primary btn-sm mr-2" id="myAddress">How to Use My address</a>
						<!-- <a routerLink="/" class="btn btn-dark btn-sm"> Locations</a> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- address end -->
</div>
