@import "src/assets/scss/variables";
@import "src/assets/scss/utilities";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";


.account-type{
	border-right: 1px solid theme-color(medium);
}

// user-detail
.user-detail{
	.img{
		max-width: 250px;
		@include media-breakpoint-down(sm) {
			max-width: 150px;
		}
		@include media-breakpoint-down(xs) {
			margin: 0 auto $spacer;
		}
		.upload{
			border-radius: 0;
			top: 0;
			right: $spacer;
			position: absolute;
			background-color: rgba(theme-color(dark), .20);
			padding: 0;
			width: 30px;
			height: 30px;
		}
		img{
			object-fit: cover;
			width: 220px;
			height: 225px;
			@include media-breakpoint-down(sm) {
				width: 100%;
				height: 120px;
			}
		}
	}
	.content{
		@include media-breakpoint-down(xs) {
			text-align: center;
		}
	}
}

// rewards
.rewards{
	.item{
		.icon{
			border-right: 1px solid theme-color-level(medium, -3);
			max-width: 90px;
			text-align: center;
		}
		.content{
			display: flex;
			flex-direction: column;
			.title{
				@extend .text-ellipsis;
				font-size: $font-size-base/1.10;
			}
			.value{
				font-size: $h4-font-size;
				line-height: 1;
				color: $black;
				font-weight: 500;
				@extend .text-ellipsis;
			}
		}
	}
}

// delivery-address
.delivery-address{
	.item{
		.item-wrap{
			height: 100%;
			@include media-breakpoint-down(xs) {
				text-align: center;
			}
		}
		.icon{
			max-width: 155px;
			border-right: 1px solid theme-color-level(medium, -3);
			display: flex;
			justify-content: center;
			align-items: center;
			@include media-breakpoint-down(lg) {
				max-width: 80px;
			}
			@include media-breakpoint-down(xs) {
				border: 0;
				max-width: 100%;
				margin-bottom: $spacer;
			}
			/deep/svg{
				@include media-breakpoint-down(lg) {
					height: 50px !important;
				}
			}
		}
	}
}

.modal-body{
	max-height: 50vh;
    overflow: auto;
}



