<div class="modal-header">
	<h4 class="modal-title pull-left text-primary" *ngIf="!packagetype">Delivery Photo Shot</h4>
	<h4 class="modal-title pull-left text-primary" *ngIf="packagetype">Item Photo Shot</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<p>You are requesting a photo shot of the selected delivery. We will take pictures of every item in this delivery for a {{ photoshotCost }}
		charge that will be added to your account. If you want pictures for just one item, please select the Camera button beside
		that item only. Your images will be ready within 24 business hours and you will be notified once ready.
	</p>
	<p class="mb-0">
		<strong>Please note that this request can’t be changed once its added.</strong>
	</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-dark" (click)="bsModalRef.hide()">Cancel</button>
	<button type="button" class="btn btn-secondary" (click)="addDeliveryPhotoShot(deliveryId, shipmentId)">Add Photo Shot To Cart</button>
</div>
