<!-- header start -->
<header class="page-header border-bottom mb-3">
	<h3>My Profile Details</h3>
</header>
<!-- header end -->

<div class="white-box p-0">
	<article class="account-collapse" [collapse]="isCollapsed">
		<div class="row no-gutters">
			<div class="col img">
				<img src="assets/imgs/user.jpg">
			</div>
			<div class="col">
				<!-- header start -->
				<header class="clearfix">
					<h4 class="float-left m-0">My Profile Details</h4>
					<a href="javaseript:void(0)" class="arrow float-right" (click)="isCollapsed = !isCollapsed"></a>
				</header>
				<!-- header end -->
			</div>
		</div>
	</article>
	<!-- account details collapsed start -->
	<article class="account-collapse-in" [collapse]="!isCollapsed">
		<div class="row no-gutters">
			<div class="col-md img">
				<img src="assets/imgs/user.jpg">
				<button type="button" class="btn text-white upload" (click)="profileImg.click()">
					<i class="fa fa-camera" aria-hidden="true"></i>
				</button>
				<input hidden type="file" #profileImg>
			</div>
			<div class="col-md">
				<!-- header start -->
				<header class="clearfix">
					<a href="javaseript:void(0)" class="arrow float-right" (click)="isCollapsed = !isCollapsed"></a>
				</header>
				<!-- header end -->

				<!-- detail start -->
				<div class="details">
					<div class="row">
						<!-- my Delivery Address start -->
						<div class="col-sm-4 mb-3 mb-sm-0">
							<h6>My Delivery Address</h6>
							<span class="d-block">
								<strong>Nduka Udeh</strong>
							</span>
							<span class="d-block">211 South Meadows Court, ikeja, Lagos, 77479 NG Phone: +17135301160</span>
							<ul class="list-link">
								<li>
									<a href="">Modify</a>
								</li>
								<li>
									<a href="javascript:void(0)" (click)="openRecipientModal()">Recipient</a>
								</li>
							</ul>
						</div>
						<!-- my Delivery Address end -->

						<!-- my Delivery Address start -->
						<div class="col-sm-4 mb-3 mb-sm-0">
							<h6>My US Address</h6>
							<span class="d-block">
								<strong>Nduka Udeh</strong>
							</span>
							<span class="d-block">12011 Westbrae Parkway #B STMD - UNIT NG114945 Houston, Texas - 77031</span>
							<ul class="list-link">
								<li>
									<a href="" placement="left">Using Your Address</a>
								</li>
							</ul>
						</div>
						<!-- my Delivery Address end -->

						<!-- my Delivery Address start -->
						<div class="col-sm-4">
							<h6>Shopper Rewards</h6>
							<span class="d-block">
								<strong>Nduka Udeh</strong>
							</span>
							<span class="d-block">Earned Points :
								<strong class="font-weight-medium">0</strong>
							</span>
							<span class="d-block">Reward Level :
								<strong class="font-weight-medium">Bronze</strong>
							</span>
							<span class="d-block">Reward Expires :
								<strong class="font-weight-medium">Dec 31st, 18</strong>
							</span>
							<ul class="list-link">
								<li>
									<a href="">My Reward Details</a>
								</li>
							</ul>
						</div>
						<!-- my Delivery Address end -->
					</div>
				</div>
				<!-- details end -->
			</div>
		</div>
	</article>
	<!-- account details collapsed end -->
</div>

<!-- Modify Account -->
<div class="pb-3 pt-4 pt-md-5">
	<h4>Modify Account</h4>
	<p>This form enables you to modify your profile so that your data is always up to date</p>
	<span class="d-block font-size-sm">The fields marked with
		<strong class="font-weight-medium text-secondary">*</strong> are mandatory.
	</span>
</div>

<!-- modify account form start -->
<section class="white-box">
	<form method="post" name="">
		<!-- personal information start -->
		<article class="mb-2 mb-md-3">
			<header class="border-bottom mb-3">
				<h6 class="mb-3">
					<i class="fa fa-chevron-circle-right mr-2 text-primary" aria-hidden="true"></i>Personal Information
				</h6>
			</header>
			<div class="form-row">
				<div class="form-group col-sm-2">
					<label>Title</label>
					<select class="form-control">
						<option>Mr.</option>
						<option>Mrs.</option>
						<option>Ms.</option>
					</select>
				</div>
				<div class="form-group col-sm-4">
					<label>First Name
						<span class="text-secondary">*</span>
					</label>
					<input type="text" class="form-control">
				</div>
				<div class="form-group col-sm-6">
					<label>Last Name
						<span class="text-secondary">*</span>
					</label>
					<input type="text" class="form-control">
				</div>
				<div class="form-group col-sm-6">
					<label>Company
						<span class="text-secondary">*</span>
					</label>
					<input type="text" class="form-control">
				</div>
				<div class="form-group col-sm-6">
					<label>Birth Day</label>
					<div class="form-row">
						<div class="form-group col-md-3 col-sm-4 col-4 mb-0">
							<select class="form-control">
								<option>Day</option>
								<option>01</option>
								<option>02</option>
								<option>03</option>
							</select>
						</div>
						<div class="form-group col-md-3 col-sm-4 col-4 mb-0">
							<select class="form-control">
								<option>Month</option>
								<option>01</option>
								<option>02</option>
								<option>03</option>
							</select>
						</div>
						<div class="form-group col-md-6 col-sm-4 col-4 mb-0">
							<select class="form-control">
								<option>Year</option>
								<option>1990</option>
								<option>1991</option>
								<option>1992</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</article>
		<!-- personal information end -->

		<!-- account information start -->
		<article class="mb-2 mb-md-3">
			<header class="border-bottom mb-3">
				<h6 class="mb-3">
					<i class="fa fa-chevron-circle-right mr-2 text-primary" aria-hidden="true"></i>Account Information
				</h6>
			</header>
			<div class="form-row">
				<div class="form-group col-sm-5">
					<label>Email
						<span class="text-secondary">*</span>
					</label>
					<input type="text" class="form-control mb-3">
					<a href="#" class="text-underline">Change password</a>
				</div>
			</div>
		</article>
		<!-- account information end -->

		<!-- account information start -->
		<article>
			<header class="border-bottom mb-3">
				<h6 class="mb-3">
					<i class="fa fa-chevron-circle-right mr-2 text-primary" aria-hidden="true"></i>Newsletter
				</h6>
			</header>
			<p class="mb-3 mb-md-4">If you wish to receive our newsletters, please select the news lists to which you want to
				subscribe:</p>
			<div class="form-group mb-0">
				<label class="custom-check text-left flex-row">
					<input type="checkbox" value="">
					<span class="checkmark"></span>
					<strong class="font-weight-medium pl-2">News Update</strong>
				</label>
			</div>
			<span class="font-size-sm d-block mb-3">Site news and updates on differing offerings, discount offers and promotions
				from American AirSea Cargo.</span>
			<span class="font-size-sm d-block">I accept the "
				<a href="#" class="text-underline">Terms & Conditions</a> "
			</span>
		</article>
		<!-- account information end -->

		<!-- submit start -->
		<article class="text-center border-top pt-3 pt-md-5 mt-3 mt-md-5">
			<button type="submit" class="btn btn-secondary mb-3">Submit</button>
			<p class="font-size-sm mb-0">All information you provide to us will be kept confidential. We will never sell,
				exchange or market it in any way.</p>
		</article>
		<!-- submit end -->
	</form>
</section>
<!-- modify account form end -->
