<section class="container">
	<div class="row">
		<!-- sidebar start -->
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-flyout></app-sidebar-flyout>
		</aside>
		<!-- sidebar end -->

		<!-- main content start -->
		<main class="col main-content py-md-5 py-3  pl-lg-5">
			<!-- header start -->
			<header class="page-header border-bottom mb-3">
				<h3>Ship My Car</h3>
			</header>
			<!-- header end -->

			<form method="post">
				<!-- buy car form start -->
				<div class="white-box">
					<div class="form-row">
						<div class="form-group col-sm-4 col-6">
							<label>Make
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control">
								<option>Select</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
						</div>
						<div class="form-group col-sm-4 col-6">
							<label>Model
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control">
								<option>Select</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
						</div>
						<div class="form-group col-sm-4 col-6">
							<label>Year
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control">
								<option>Select</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
						</div>
						<div class="form-group col-sm-4 col-6">
							<label>Car Value
								<span class="text-secondary">*</span>
							</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group col-sm-4 col-6">
							<label>Car Condition
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control">
								<option>Select</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
						</div>
						<div class="form-group col-sm-4 col-6">
							<label>Color</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group col-sm-4">
							<label>Location of Car (Country)
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control">
								<option>Select</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
							
						</div>
						<div class="form-group col-sm-4">
							<label>Location of Car (State)
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control">
								<option>Select</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
						</div>
						<div class="form-group col-sm-4">
							<label>Location of Car (City)
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control">
								<option>Select</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
							<small class="form-text text-muted">(This is used to determine the pick up cost. Select a car in Houston or Atlanta to enjoy a pick-up cost of just $195)</small>
						</div>
						
						<div class="form-group col-sm-12">
							<label>Pick Up Address
								<span class="text-secondary">*</span>
							</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group col-sm-4">
							<label>Pick Up Date
								<span class="text-secondary">*</span>
							</label>
							<input type="text" placeholder="dd/mm/yyyy" class="form-control" bsDatepicker>
						</div>
						<div class="form-group col-sm-4">
							<label>Pick Up Location Type
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control">
								<option>Select</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
						</div>
						<div class="form-group col-sm-4">
							<label>Pick Up Contact Name
								<span class="text-secondary">*</span>
							</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group col-sm-4 col-6">
							<label>Contact Phone Number
								<span class="text-secondary">*</span>
							</label>
							<ng-select [items]="phcodeList" name="pickupPhoneCode" [searchable]="true" [clearable]="false" #altphcode="ngModel" [(ngModel)]="pickupPhoneCode" bindLabel="image" bindValue="isdCode" [virtualScroll]="true">
								<ng-template ng-option-tmp ng-label-tmp let-item="item">
									<img height="20" class="float-left mr-2" src="{{item.image}}" />
									<span [ngOptionHighlight]="search">{{item.name}} {{item.isdCode}}</span>
								</ng-template>
							</ng-select>
						</div>
						<div class="form-group col-sm-4 col-6">
							<label>&nbsp;</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group col-sm-4 col-6">
							<label>Contact Email Address</label>
							<input type="text" class="form-control">
						</div>
						
						<div class="form-group col-sm-4 col-6">
							<label>Millage</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group col-sm-4 col-6">
							<label>VIN Number</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group col-sm-4">
							<label>Direct URL/Website Link to Car</label>
							<input type="text" class="form-control">
						</div>

						<div class="form-group col-sm-6">
							<label>Upload Car Picture</label>
							<input class="form-control-file" type="file">
						</div>
						<div class="form-group col-sm-6">
							<label>Upload Copy of Car Title</label>
							<input class="form-control-file" type="file">
						</div>
						<div class="form-group col-12">
							<div class="alert alert-danger mb-0">
								<span>
									<strong>Note :</strong> We need the details of the car title before we can schedule a pick up, as we can’t ship any car without the original title.
								</span>
							</div>
						</div>
						<div class="form-group col-sm-4">
							<label>Destination Country<span class="text-secondary">*</span></label>
							<select class="form-control">
								<option>Select</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
						</div>
						<div class="form-group col-sm-4">
							<label>Destination State<span class="text-secondary">*</span></label>
							<select class="form-control">
								<option>Select</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
						</div>
						<div class="form-group col-sm-4">
							<label>Destination City<span class="text-secondary">*</span></label>
							<select class="form-control">
								<option>Select</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
						</div>
						<div class="form-group col-8">
							<label>Destination Address<span class="text-secondary">*</span></label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group col-sm-4">
							<label>Recipient Name<span class="text-secondary">*</span></label>
							<input type="tel" class="form-control">
						</div>
						<div class="form-group col-sm-4">
							<label>Recipient Phone Number<span class="text-secondary">*</span></label>
							<ng-select [items]="phcodeList" name="pickupPhoneCode" [searchable]="true" [clearable]="false" #altphcode="ngModel" [(ngModel)]="pickupPhoneCode" bindLabel="image" bindValue="isdCode" [virtualScroll]="true">
								<ng-template ng-option-tmp ng-label-tmp let-item="item">
									<img height="20" class="float-left mr-2" src="{{item.image}}" />
									<span [ngOptionHighlight]="search">{{item.name}} {{item.isdCode}}</span>
								</ng-template>
							</ng-select>
						</div>
						<div class="form-group col-sm-4">
							<label>&nbsp;</label>
							<input type="tel" class="form-control">
						</div>
						<div class="form-group col-sm-4">
							<label>Recipient Email<span class="text-secondary">*</span></label>
							<input type="email" class="form-control">
						</div>
					</div>

					<article class="px-3 py-2 bg-medium text-center text-sm-left">
						<div class="row">
							<div class="col-md-4 col-sm-6 mb-2 mb-md-0">
								<span class="font-weight-medium">Pick Up Cost : </span>
								<strong>$300.00</strong>
							</div>
							<div class="col-md-4 col-sm-6 mb-2 mb-md-0">
								<span class="font-weight-medium">Shipping Cost : </span>
								<strong>$790.00</strong>
							</div>
							<div class="col-md-4 col-sm-6 mb-2 mb-md-0">
								<span class="font-weight-medium">Total Due : </span>
								<strong>$6730.00</strong>
							</div>
						</div>
					</article>
				</div>
				<!-- buy car form end -->

				<div class="text-center mt-3">
					<button type="submit" class="btn btn-secondary btn-lg">Checkout</button>
				</div>
			</form>
		</main>
		<!-- main content end -->
	</div>
</section>
