<!-- step 1 start -->
<ng-walkthrough #walk1 focusElementSelector="#deliveryAddress" focusBackdrop="true" [contentTemplate]="step1"
 closeButton="false" closeAnywhere="false" showArrow="true" arrowColor="#5bc6d0" radius="auto" focusHighlightAnimation="true"
 [texts]="lastNavText" (finished)="walkFinished();">
	<ng-template #step1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius blandit dolor, sit amet condimentum eros
			vulputate</p>
	</ng-template>
</ng-walkthrough>
<!-- step 1 end -->




<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">Add/Edit Address</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>

<form method="post" id="deliveryAddress">
	<div class="modal-body p-0">
		<div class="row no-gutters text-primary border-bottom">
			<div class="col-6 border-right" id="deliver">
				<label class="form-check custom-radio py-5 justify-content-center align-items-center mb-0 px-2 font-size-sm w-100 bg-primary text-white h-100 font-weight-bold text-center">
					<input name="shipping" type="radio">Deliver to my Address
				</label>
			</div>
			<div class="col-6" id="pickup">
				<label class="form-check custom-radio justify-content-center align-items-center py-5 mb-0 px-2 font-size-sm w-100 h-100 font-weight-bold text-center">
					<input name="shipping" type="radio">Pickup from Shoptomydoor location
				</label>
			</div>
		</div>


		<div class="px-3">
			<div class="form-row field-area pt-3">
				<div class="form-group col-4 col-sm-4 mb-sm-4 mb-3">
					<label>Title
						<span class="text-secondary">*</span>
					</label>
					<select class="form-control" name="title">
						<option value="">Select</option>
						<option>Mr.</option>
						<option>Mrs.</option>
						<option>Ms.</option>
					</select>
				</div>
				<div class="form-group col-8 col-sm-4 mb-sm-4 mb-3">
					<label data-error="Required Field!">First name
						<span class="text-secondary">*</span>
					</label>
					<input type="text" class="form-control validate" placeholder="First name" name="firstName">
				</div>
				<div class="form-group col-sm-4 mb-sm-4 mb-3">
					<label>Last name
						<span class="text-secondary">*</span>
					</label>
					<input type="text" class="form-control" placeholder="Last name" name="lastName">
				</div>
				<div class="form-group col-sm-12 mb-sm-4 mb-3">
					<label>Email<span class="text-secondary">*</span></label>
					<input type="email" class="form-control" placeholder="Email" name="email">
				</div>
				<div class="form-group col-sm-12 mb-sm-4 mb-3">
					<label>Address<span class="text-secondary">*</span></label>
					<input type="text" class="form-control" placeholder="Address" name="address">
				</div>
				<div class="form-group col-sm-12 mb-sm-4 mb-3">
					<label>Address (line 2)</label>
					<input type="email" class="form-control" placeholder="Address line 2" name="alternateAddress">
				</div>
				<div class="form-group col-sm-4 mb-sm-4 mb-3">
					<label>Country<span class="text-secondary">*</span>
					</label>
					<select class="form-control" name="country">
						<option value="">Select</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
				</div>
				<div class="form-group col-sm-4 mb-sm-4 mb-3">
					<label>State<span class="text-secondary">*</span>
					</label>
					<select class="form-control" name="state">
						<option value="">Select</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
				</div>
				<div class="form-group col-sm-4 mb-sm-4 mb-3">
					<label>City<span class="text-secondary">*</span>
					</label>
					<select class="form-control" name="city">
						<option value="">Select</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
				</div>
				<div class="form-group col-sm-12 mb-sm-4 mb-3">
					<label>Zip/Postal Code
					</label>
					<input type="text" ngModel class="form-control" placeholder="Zip/Postal Code" name="zipcode">

				</div>
				<div class="form-group col-sm-6 mb-sm-4 mb-3">
					<label>Phone<span class="text-secondary">*</span>
					</label>
					<input type="text" class="form-control" placeholder="Phone" name="phone">
				</div>
				<div class="form-group col-sm-6 mb-sm-4 mb-3">
					<label>Alternate Phone
					</label>
					<input type="text" class="form-control" placeholder="Alternate Phone" name="alternatePhone">
				</div>
			</div>

			<div class="form-row field-area pt-3">
				<div class="form-group col-sm-4 mb-sm-4 mb-3">
					<label>Country<span class="text-secondary">*</span></label>
					<select class="form-control" name="country">
						<option value="">Select</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
				</div>
				<div class="form-group col-sm-4 mb-sm-4 mb-3">
					<label>State</label>
					<select class="form-control" name="state">
						<option value="">Select</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
				</div>
				<div class="form-group col-sm-4 mb-sm-4 mb-3">
					<label>City<span class="text-secondary">*</span>
					</label>
					<select class="form-control" name="city">
						<option value="">Select</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
				</div>
				<div class="form-group col-sm-12 mb-sm-4 mb-3">
					<label>Location<span class="text-secondary">*</span>
					</label>
					<select class="form-control" name="locationId">
						<option value="">Select</option>
						<option value="1">1</option>
						<option value="2">2</option>
						<option value="3">3</option>
					</select>
				</div>
				<div class="form-group col-4 col-sm-4 mb-sm-4 mb-3">
					<label>Title
						<span class="text-secondary">*</span>
					</label>
					<select class="form-control">
						<option value="">Select</option>
						<option>Mr.</option>
						<option>Mrs.</option>
						<option>Ms.</option>
					</select>
				</div>
				<div class="form-group col-8 col-sm-4 mb-sm-4 mb-3">
					<label data-error="Required Field!">First name
						<span class="text-secondary">*</span>
					</label>
					<input type="text" class="form-control validate" placeholder="First name" name="firstName">
				</div>
				<div class="form-group col-sm-4 mb-sm-4 mb-3">
					<label>Last name<span class="text-secondary">*</span></label>
					<input type="text" class="form-control" placeholder="Last name" name="lastName" required>
				</div>
				<div class="form-group col-sm-12 mb-sm-4 mb-3">
					<label>Email<span class="text-secondary">*</span></label>
					<input type="email" class="form-control" placeholder="Email" name="email" [readonly]="true">
				</div>
				<div class="form-group col-sm-12 mb-sm-4 mb-3">
					<label>Address<span class="text-secondary">*</span></label>
					<input type="text" class="form-control" placeholder="Address" name="address" [readonly]="true">
				</div>
				<div class="form-group col-sm-12 mb-sm-4 mb-3">
					<label>Address (line 2)</label>
					<input type="email" class="form-control" placeholder="Address line 2" name="alternateAddress" [readonly]="true">
				</div>

				<div class="form-group col-sm-12 mb-sm-4 mb-3">
					<label>Zip/Postal Code</label>
					<input type="text" ngModel class="form-control" placeholder="Zip/Postal Code" name="zipcode" [readonly]="true">
				</div>
				<div class="form-group col-sm-6 mb-sm-4 mb-3">
					<label>Phone<span class="text-secondary">*</span></label>
					<input type="text" class="form-control" placeholder="Phone" name="phone" [readonly]="true">
				</div>
				<div class="form-group col-sm-6 mb-sm-4 mb-3">
					<label>Alternate Phone</label>
					<input type="text" class="form-control" placeholder="Alternate Phone" name="alternatePhone" [readonly]="true">
				</div>
			</div>
		</div>
	</div>

	<!-- modal footer start -->
	<div class="modal-footer" id="addAddressFooter">
		<button type="submit" class="btn btn-secondary" (click)="bsModalRef.hide()" id="saveChange">Save Changes</button>
		<button type="submit" class="btn btn-secondary" (click)="bsModalRef.hide()">Create As New Address</button>
		<button type="button" class="btn btn-dark" (click)="bsModalRef.hide()">Close</button>
	</div>
	<!-- modal footer end -->
</form>
