// @import "src/assets/scss/variables";
// @import "src/assets/scss/utilities";
// @import "node_modules/bootstrap/scss/functions";
// @import "node_modules/bootstrap/scss/variables";

.modal-body{
	max-height: 75vh;
    overflow: auto;
}



