<section class="container">
	<div class="row">
		<!-- sidebar start -->
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-flyout></app-sidebar-flyout>
		</aside>
		<!-- sidebar end -->

		<!-- main content start -->
		<main class="col main-content py-md-5 py-3  pl-lg-5">
			<!-- header start -->
			<header class="page-header border-bottom mb-3">
				<h3>Order History</h3>
			</header>
			<!-- header end -->

			<!-- order history content start -->
			<p>You can search for the orders to view/process using the form below.</p>
			<!--<h4>Search for orders</h4>
<p>Setting up advanced search parameters provides more relevant results.</p>-->
			<!-- order history content end -->

			<!-- form start -->
			<div class="white-box cart-list p-3 mb-4">
				<form method="post" name="form" #orderForm="ngForm" (ngSubmit)="onSubmit(orderForm)">
					<div class="form-row">
						<div class="form-group col-md-3 col-sm-4">
							<label class="font-weight-medium">Date Period</label>
							<select name="orderDate" [(ngModel)]="orderDate" class="form-control form-control-sm" (change)="enableRange($event.target.value)">
								<option value="AD">All dates</option>
								<option value="TM">This month</option>
								<option value="TW">This week</option>
								<option value="TO">Today</option>
								<option value="FR">From</option>
							</select>
						</div>
						<div class="form-group col-md-3 col-sm-4" *ngIf="isPeriodDisabled">
							<label>Select Range
								<span class="text-secondary">*</span>
							</label>
							<input type="text" name="rangeDate" [(ngModel)]="rangeDate" placeholder="Select Range" class="form-control form-control-sm"
							 bsDaterangepicker [disabled]="!isPeriodDisabled">
						</div>
						<div class="form-group col-md-3 col-sm-4" *ngIf="!isPeriodDisabled"></div>

						<div class="form-group col-md-9 col-sm-6 d-flex d-sm-block justify-content-center justify-content-sm-start">
							<label class="custom-check text-left flex-row">
								<input type="checkbox" value="" (click)="showMore($event)" name="checkMore" [(checked)]="checkMore" [(ngModel)]="checkMore">
								<span class="checkmark"></span>
								<strong class="font-weight-medium pl-2">More Search Options</strong>
							</label>
						</div>

						<!-- more options start -->
						<div class="form-group col-md-9 col-sm-8 mb-0" *ngIf="showMoreOptions === true">
							<div class="form-row">
								<div class="form-group col-md-4 col-6">
									<label class="font-weight-medium">Order Number
										<!--<span class="text-secondary">*</span>-->
									</label>
									<input myNumberOnly name="orderId" [(ngModel)]="orderId" type="text" class="form-control form-control-sm">
								</div>
								<div class="form-group col-md-4 col-6">
									<label class="font-weight-medium">Order Status</label>
									<select name="status" [(ngModel)]="status" class="form-control form-control-sm">
										<!-- <option value="">All</option>
							<option value="RFC">Request For Cost</option>-->
										<option value="S">Submitted</option>
										<option value="IR">Item Received</option>
										<option value="R">Rejected</option>
										<option value="C">Completed</option>
									</select>
								</div>
							</div>
						</div>
						<!-- more options end -->

						<div class="form-group col-sm justify-content-sm-end justify-content-center d-flex align-items-end">
							<a href="javascript:void(0);" (click)="resetFilter()" class="btn btn-sm btn-link">Reset Filter</a>
							<button type="submit" class="btn btn-sm btn-secondary">Search</button>
						</div>
					</div>
				</form>
			</div>
			<!-- form end -->

			<article *ngIf="details" class="mb-4">
				<header>
					<h4>Submitted Orders</h4>
				</header>
				<!-- table start -->
				<table datatable class="hover mb-4" [dtOptions]="dtOptions">
					<thead>
						<tr>
							<th>#</th>
							<th>Urgent <br> Purchase</th>
							<th>Shop For Me <br> Cost</th>
							<th>Total Shipping <br> Cost</th>
							<th>Total Cost</th>
							<th>Status</th>
							<th>Payment <br> Status</th>
							<th>Order Date</th>
							<th>View</th>
						</tr>
					</thead>
					<tbody *ngIf="details?.length;else no_data_templ">
						<tr *ngFor="let item of details  | paginate: { id: 'pagination', itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItems }"
						 [ngClass]="{'active': item.selected }">
							<td class="white-space-nowrap">#{{item.id}}</td>

							<td>
								<span class="badge badge-pill font-weight-medium" [ngClass]="{'badge-success': item.urgent == 'Y', 'badge-danger': item.urgent == 'N'}">{{
									item.urgent=='Y'?'Yes':'No' }}</span>
							</td>

							<td>
								{{item.totalProcurementCost}}
							</td>
							<td>{{item.totalShippingCost}}</td>
							<td>{{item.totalCost}}</td>
							<td class="font-size-md">
								<span class="badge badge-pill font-weight-medium" [ngClass]="{'badge-danger': item.status == 'rejected', 'badge-success': item.status == 'submitted', 'badge-warning': item.status == 'orderplaced', 'badge-basic': item.status == 'itemreceived', 'badge-info': item.status == 'completed'}">{{
									getText(item.status, item.invoiceSent) }}</span>
							</td>
							<td class="font-size-md">
								<button class="btn btn-sm btn-action" container="body" placement="left" tooltip="{{ item.paymentStatus=='paid'?'Paid':'Unpaid' }}"
								 type="button" [ngClass]="{' btn-light': item.paymentStatus == 'unpaid', 'btn-success': item.paymentStatus == 'paid'}"><i
									 class="fa fa-usd" aria-hidden="true"></i></button>
							</td>
							<td class="white-space-nowrap">{{item.orderDate | date: 'MM/dd/yyyy'}}</td>
							<td class="white-space-nowrap text-right">
								<div class="btn-group" dropdown placement="bottom right" container="body">
									<button dropdownToggle type="button" tooltip="Actions" placement="left" container="body" class="btn btn-light btn-action text-primary dropdown-toggle"><i
										 class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
									<ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
										<li role="menuitem"><a class="dropdown-item px-3" (click)="print(item.id)" tooltip="{{ item.paymentStatus=='paid'?'Print Receipt':'Print Invoice' }}"><i
												 class="fa fa-print mr-2" aria-hidden="true"></i>Print</a></li>
										<li role="menuitem"><a class="dropdown-item px-3" (click)="showItemDetail($event, item.id)"><i class="fa fa-info-circle mr-2"
												 aria-hidden="true"></i>Information</a></li>
									</ul>
								</div>
							</td>


						</tr>
					</tbody>
					<ng-template #no_data_templ>
						<tbody>
							<tr>
								<td colspan="9" class="text-center">No Record Found</td>
							</tr>
						</tbody>
					</ng-template>
				</table>
				<!-- table end -->

				<!-- datatable bottom panel start -->
				<footer class="border-bottom border-left border-right p-2" *ngIf="details?.length">
					<div class="row">
						<div class="col-sm-3">
							<div class="input-group input-group-sm">
								<select name="perPage" [(ngModel)]="perPage" class="form-control" (change)="perPageChanged($event)">
									<option value="10">10</option>
									<option value="20">20</option>
									<option value="30">30</option>
									<option value="50">50</option>
									<option value="100">100</option>
								</select>
								<div class="input-group-append">
									<span class="input-group-text" id="basic-addon2">Records</span>
								</div>
							</div>
						</div>

						<div class="col-sm-9 d-flex justify-content-sm-end justify-content-center mt-2 mt-sm-0" *ngIf="details">
							<pagination-controls id="pagination" (pageChange)="pageChanged($event)" maxSize="5" directionLinks="true"
							 autoHide="true" previousLabel="Previous" nextLabel="Next">
							</pagination-controls>
						</div>
					</div>
				</footer>
				<!-- datatable bottom panel end -->
			</article>

			<div class="white-box cart-list p-3 mb-4">
				<form method="post" name="form" #requestforcostForm="ngForm" (ngSubmit)="onSubmit(requestforcostForm)">
					<div class="form-row">
						<div class="form-group col-md-3 col-sm-4">
							<label class="font-weight-medium">Date Period</label>
							<select name="requestforcostDate" [(ngModel)]="requestforcostDate" class="form-control form-control-sm" (change)="enableRange($event.target.value)">
								<option value="AD">All dates</option>
								<option value="TM">This month</option>
								<option value="TW">This week</option>
								<option value="TO">Today</option>
								<option value="FR">From</option>
							</select>
						</div>
						<div class="form-group col-sm justify-content-sm-end justify-content-center d-flex align-items-end">
							<a href="javascript:void(0);" (click)="resetFilter()" class="btn btn-sm btn-link">Reset Filter</a>
							<button type="submit" class="btn btn-sm btn-secondary">Search</button>
						</div>
					</div>
				</form>
			</div>
			<!-- form end -->

			<article #orderhistory id="orderhistory" *ngIf="requestForCostShipment" >
				<header>
					<h4>Request for cost</h4>
				</header>
				<!-- table start -->

				<!-- table start -->
				<table datatable class="hover" [dtOptions]="dtOptions">
					<thead>
						<tr>
							<th width="1%">#</th>
							<th width="1%">Urgent <br> Purchase</th>
							<th width="5%">Shop For Me <br> Cost</th>
							<th width="5%">Total Shipping <br> Cost</th>
							<th width="5%">Total Cost</th>
							<th width="5%">Status</th>
							<th>Payment <br> Status</th>
							<th>Order Date</th>
							<th>Click to View <br>ShippingCost</th>
							<th>Details</th>
						</tr>
					</thead>
					<tbody *ngIf="requestForCostShipment?.length;else no_data_templ">
						<tr *ngFor="let item of requestForCostShipment  | paginate: { id: 'pagination', itemsPerPage: pageSize, currentPage: currentPage, totaRequestForCostItems: totaRequestForCostItems }"
						 [ngClass]="{'active': item.selected }">
							<td class="white-space-nowrap">#{{item.id}}</td>

							<td><span class="badge badge-pill font-weight-medium" [ngClass]="{'badge-success': item.urgent == 'Y', 'badge-danger': item.urgent == 'N'}">{{
									item.urgent=='Y'?'Yes':'No' }}</span></td>

							<td>{{item.totalProcurementCost}}</td>
							<td>{{item.totalShippingCost}}</td>
							<td>{{item.totalCost}}</td>
							<td class="font-size-md">
								<span class="badge badge-pill font-weight-medium badge-warning">{{ getText(item.status, item.invoiceSent) }}</span>
							</td>
							<td class="font-size-md">
								<button class="btn btn-sm btn-action" container="body" placement="left" tooltip="{{ item.paymentStatus=='paid'?'Paid':'Unpaid' }}"
								 type="button" [ngClass]="{' btn-light': item.paymentStatus == 'unpaid', 'btn-success': item.paymentStatus == 'paid'}"><i
									 class="fa fa-usd" aria-hidden="true"></i></button>
							</td>
							<td class="white-space-nowrap">{{item.orderDate | date: 'MM/dd/yyyy'}}</td>
							<td class="white-space-nowrap">
								<button *ngIf="item.invoiceSent == 'Y'" (click)="viewShippingCost($event, item.id)" class="btn btn-sm btn-action btn-light" container="body" placement="left" tooltip="View Shipping Cost" type="button"><i class="fa fa-eye text-info" aria-hidden="true"></i></button>	
							</td>	
							<td class="white-space-nowrap text-right">
									<button (click)="showItemDetail($event, item.id)" class="btn btn-sm btn-action btn-light" container="body" placement="left" tooltip="View Details" type="button"><i class="fa text-primary fa-info-circle" aria-hidden="true"></i></button>

								<!--<div class="btn-group" dropdown placement="bottom right" container="body">
									<button dropdownToggle type="button" tooltip="Actions" placement="left" container="body" class="btn btn-light btn-action text-primary dropdown-toggle"><i
										 class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
									<ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
										<li *ngIf="item.invoiceSent == 'Y'" role="menuitem"><a class="dropdown-item px-3" (click)="viewShippingCost($event, item.id)"
											 tooltip="View Shipping Cost"><i class="fa fa-eye mr-2" aria-hidden="true"></i>View</a></li>
										<li role="menuitem"><a class="dropdown-item px-3" (click)="showItemDetail($event, item.id)"><i class="fa fa-info-circle mr-2"
												 aria-hidden="true"></i>Information</a></li>
									</ul>
								</div>-->

							</td>


						</tr>
					</tbody>
					<ng-template #no_data_templ>
						<tbody>
							<tr>
								<td colspan="9" class="text-center">No Record Found</td>
							</tr>
						</tbody>
					</ng-template>
				</table>
				<!-- table end -->


				<!-- datatable bottom panel start -->
				<footer class="border-bottom border-left border-right p-2" *ngIf="requestForCostShipment?.length">
					<div class="row">
						<div class="col-sm-3">
							<div class="input-group input-group-sm">
								<select name="perPage" [(ngModel)]="perPage" class="form-control" (change)="perPageChanged($event)">
									<option value="10">10</option>
									<option value="20">20</option>
									<option value="30">30</option>
									<option value="50">50</option>
									<option value="100">100</option>
								</select>
								<div class="input-group-append">
									<span class="input-group-text" id="basic-addon2">Records</span>
								</div>
							</div>
						</div>

						<div class="col-sm-9 d-flex justify-content-sm-end justify-content-center mt-2 mt-sm-0" *ngIf="details">
							<pagination-controls id="pagination" (pageChange)="pageChanged($event)" maxSize="5" directionLinks="true"
							 autoHide="true" previousLabel="Previous" nextLabel="Next">
							</pagination-controls>
						</div>
					</div>
				</footer>
				<!-- datatable bottom panel end -->
			</article>


		</main>
		<!-- main content end -->
	</div>
</section>
