<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">View Shipping Cost</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button> 
</div>
<div class="modal-body">

		<!-- table start -->
		<table datatable class="hover" [dtOptions]="dtOptions">		
			<thead>
				<tr>
					<th>Item/Products Ordered</th>
					<th>Value Per Item</th>
					<th>Qualtity Cost</th>
					<th>Shipping Cost to Warehouse</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of bagList">
					<td>{{item.itemName}}</td>
					<td>{{item.itemPrice}}</td>
					<td>{{item.itemQuantity}}</td>
					<td>{{item.itemShippingCost}}</td>
					<td>{{item.itemTotalCost}}</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th>
						<span class="d-block">Total From Store(s):</span>
						<span class="d-block">{{defaultCurrencySymbol}} {{totalItemCost}}</span>
						</th>
						<th>
							<span class="d-block">Processing Fee:</span> 
							<span class="d-block">{{defaultCurrencySymbol}} {{totalProcessingFee}}</span>
						</th>
						<th>
							<span class="d-block">Urgent Purchase Fee:</span> 
							<span class="d-block">{{defaultCurrencySymbol}} {{urgentPurchaseCost}}</span>
						</th>
						<th colspan="2">
							<span class="d-block">Total Shop For Me Cost:</span> 
							<span class="d-block">{{defaultCurrencySymbol}} {{totalProcurementCost}}</span>
						</th>
				</tr>
			</tfoot>
		</table>
		<!-- table end -->

		<div class="row mt-3">
			<div *ngIf="showShipping" class="col">
					<div class="row shipping-type justify-content-center">
						<div class="col-md col-sm-6 mt-3 item" *ngFor="let item of hack(shippingTypes)">
							<div class="item-inn px-0">
								<img src="{{item.companyLogo}}" class="mb-3">
								<h5 class="text-primary">{{item.shipping}}</h5>
								<span class="font-size-sm font-weight-medium">Shipping Cost: {{item.shippingCost}}</span>
								<span *ngIf="item.isDutyCharged" class="font-size-sm font-weight-medium">Clearing, duty & Local Handling: {{item.clearingDuty}}</span>
								<span *ngIf="!item.isDutyCharged" class="font-size-sm font-weight-medium">Clearing, & Local Handling: {{item.clearingDuty}}</span>
								<div class="bg-dark w-100 my-3">
									<span class="mb-2 d-block font-size-lg text-white">
										<strong>{{item.totalShippingCost}}</strong>
									</span>
									<span class="d-block font-size-sm text-medium">{{item.shipping_time}}</span>
									<span class="mb-3 d-block font-size-sm text-medium">{{item.estimatedDeliveryDate}}</span>
								</div>
								<div>
									<a href="javascript:void(0)" tooltip="{{item.learn_more}}" container="body" class="btn btn-primary btn-sm mr-1">Details</a>
									<a href="javascript:void(0)" (click) = "submitProcurement($event, item.shippingId);" class="btn btn-secondary btn-sm">Checkout</a>
								</div>
							</div>

						</div>
					</div>
					<div class="row shipping-type justify-content-center">
						<div class="col-sm-6 mt-3 item">
							<div class="item-inn px-0">
								<h5 class="text-primary">Add to My Warehouse</h5>
								<span class="font-size-sm font-weight-medium">Shipping Cost: </span>
								<span class="font-size-sm font-weight-medium">Clearing, duty & Local Handling: </span>
								<div class="bg-dark w-100 my-3">
									<span class="mb-2 d-block font-size-lg text-white">
										<strong>{{defaultCurrencySymbol}} {{paymentDetails.totalProcurementCost}}</strong>
									</span>
								</div>
								<div>
									Items will be added to other items of your warehouse. You can ship later.
							 	</div>
							 	<div class="mt-3">
									<a href="javascript:void(0)" (click) = "submitProcurement($event,0);" class="btn btn-secondary btn-sm">Checkout</a>
								</div>
							</div>
						</div>
					</div>
			</div>
		</div>
</div>

