<ng-walkthrough-flow #walkCar focusBackdrop="true" closeAnywhere="false" showArrow="true" radius="auto" [texts]="lastNavText"
 arrowColor="#5bc6d0" (finished)="walkCarFinished();">

	<!-- step carWebsite start -->
	<ng-walkthrough focusElementSelector="#carWebsite" [contentTemplate]="stepCarWebsite">
		<ng-template #stepCarWebsite>
			<h5 class="text-primary font-weight-bold">Step 1 :</h5>
			<p>To buy a car from USA first select the car website</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step carWebsite cart end -->

	<!-- step carForm start -->
	<ng-walkthrough focusElementSelector="#carForm" [contentTemplate]="stepCarForm">
		<ng-template #stepCarForm>
			<h5 class="text-primary font-weight-bold">Step 2 :</h5>
			<p>Select Make,Model of car, year of car manufacture. Enter price of the car you want to get shipped. And country,state,city of the car from which shoptomydoor will pick that car. Also upload car picture which you want to buy.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step carForm cart end -->

	<!-- step formDetail start -->
	<ng-walkthrough focusElementSelector="#formDetail" [contentTemplate]="stepFormDetail">
		<ng-template #stepFormDetail>
			<h5 class="text-primary font-weight-bold">Step 3 :</h5>
			<p>Depending your selection of car and pickup location we will show you the cost which you have to pay to get that car shipped.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step formDetail cart end -->

	<!-- step checkout start -->
	<ng-walkthrough focusElementSelector="#checkout" [contentTemplate]="stepCheckout">
		<ng-template #stepCheckout>
			<h5 class="text-primary font-weight-bold">Step 4 :</h5>
			<p>Once you get all the prices hit checkout and proceed for payment.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step checkout cart end -->


</ng-walkthrough-flow>

<section class="container">
	<div class="row">
		<!-- sidebar start -->
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-flyout></app-sidebar-flyout>
		</aside>
		<!-- sidebar end -->

		<!-- main content start -->
		<main class="col main-content py-md-5 py-3  pl-lg-5">
			<!-- header start -->
			<header class="page-header border-bottom mb-3">
				<h3>Buy A Car For Me</h3>
			</header>
			<!-- header end -->

			<form method="post">
				<div class="white-box border border-primary mb-4">
					<div class="form-row">
						<div class="form-group col-sm-4" id="carWebsite">
							<label>Car Website : </label>
							<select class="form-control">
								<option>Select</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
						</div>
					</div>
					<div class="border-top pt-3">
						<p class="mb-0">Ever tried shopping in international online stores, only to have your cards declined. With Shop
							For Me, we can help
							you make purchases from these stores usig the following simple process.
						</p>
					</div>
				</div>
				<!-- buy car form start -->
				<div class="white-box">
					<div class="form-row" id="carForm">
						<div class="form-group col-sm-4">
							<label>Make
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control">
								<option>Select</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
						</div>
						<div class="form-group col-sm-4 col-6">
							<label>Model
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control">
								<option>Select</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
						</div>
						<div class="form-group col-sm-4 col-6">
							<label>Year
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control">
								<option>Select</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
						</div>
						<div class="form-group col-8">
							<label>Direct URL/Website Link to Car
								<span class="text-secondary">*</span>
							</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group col-sm-4">
							<label>Price
								<span class="text-secondary">*</span>
							</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group col-sm-4">
							<label>Location of Car (Country)
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control">
								<option>Select</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
						</div>
						<div class="form-group col-sm-4">
							<label>Location of Car (State)
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control">
								<option>Select</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
						</div>
						<div class="form-group col-sm-4">
							<label>Location of Car (City)
								<span class="text-secondary">*</span>
							</label>
							<select class="form-control">
								<option>Select</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
							</select>
							<small class="form-text text-muted">(This is used to determine the pick up cost. Select a car in Houston or
								Atlanta to enjoy a pick-up cost of just $195)</small>
						</div>
						<div class="form-group col-12">
							<div class="alert alert-danger mb-0">
								<span>
									<strong>Note :</strong> If Location in not listed, please give us a call at
									<strong class="font-weight-medium">0700 800 8000</strong> or email us at
									<strong class="font-weight-medium">contact@shoptomydoor.com</strong> to provide a pick up cost
								</span>
							</div>
						</div>
						<div class="form-group col-sm-3">
							<label>Millage</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group col-sm-3">
							<label>VIN Number</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group col-sm-3">
							<label>Color</label>
							<input type="text" class="form-control">
						</div>
						<div class="form-group col-sm-3">
							<label>Upload Picture</label>
							<input class="form-control-file" type="file">
						</div>
					</div>

					<article class="px-3 py-2 bg-medium text-center text-sm-left" id="formDetail">
						<div class="row">
							<div class="col-md-4 col-sm-6 mb-2">
								<span class="font-weight-medium">Car Price : </span>
								<strong>$5400.00</strong>
							</div>
							<div class="col-md-4 col-sm-6 mb-2">
								<span class="font-weight-medium">Processing Fee : </span>
								<strong>$540.00</strong>
							</div>
							<div class="col-md-4 col-sm-6 mb-2">
								<span class="font-weight-medium">Pick Up Cost : </span>
								<strong>$300.00</strong>
							</div>
							<div class="col-md-4 col-sm-6 mb-2 mb-md-0">
								<span class="font-weight-medium">Shipping Cost : </span>
								<strong>$790.00</strong>
							</div>
							<div class="col-md-4 col-sm-6 mb-2 mb-md-0">
								<span class="font-weight-medium">Total Due : </span>
								<strong>$6730.00</strong>
							</div>

						</div>
					</article>
				</div>
				<!-- buy car form end -->

				<div class="text-center mt-3">
					<a routerLink="/auto/checkout" class="btn btn-secondary btn-lg" id="checkout" (click)="showSuccess()">Checkout</a>
				</div>
			</form>
		</main>
		<!-- main content end -->
	</div>
</section>
