<ng-walkthrough-flow #walkWarehouseCart focusBackdrop="true" closeAnywhere="false" showArrow="true" radius="auto"
 [texts]="lastNavText" (finished)="walkWarehouseCartFinished()" arrowColor="#5bc6d0" previousStep="">

	<!-- step shopping cart start -->
	<ng-walkthrough focusElementSelector="#shoppingCart" [contentTemplate]="stepShoppingCart">
		<ng-template #stepShoppingCart>
			<h5 class="text-primary font-weight-bold">Step 13 :</h5>
			<p>Displays the list of items available in your cart.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step shopping cart end -->

	<!-- step back to bag start -->
	<ng-walkthrough focusElementSelector="#backBag" [contentTemplate]="stepBackBag">
		<ng-template #stepBackBag>
			<h5 class="text-primary font-weight-bold">Step 14 :</h5>
			<p>Click to go back to <b>Order From</b>.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step back to bag end -->

	<!-- step clear cart start -->
	<ng-walkthrough focusElementSelector="#clearCart" [contentTemplate]="stepClearCart">
		<ng-template #stepClearCart>
			<h5 class="text-primary font-weight-bold">Step 15 :</h5>
			<p>Click to remove all the items from cart.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step clear cart end -->

	<!-- step price detail start -->
	<ng-walkthrough focusElementSelector="#priceDetail" [contentTemplate]="stepPriceDetail">
		<ng-template #stepPriceDetail>
			<h5 class="text-primary font-weight-bold">Step 16 :</h5>
			<p>Displays the price breakdown and details.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step price detail end -->

	<!-- step change currency start -->
	<ng-walkthrough focusElementSelector="#changeCurrency" [contentTemplate]="stepChangeCurrency">
		<ng-template #stepChangeCurrency>
			<h5 class="text-primary font-weight-bold">Step 17 :</h5>
			<p>Click on <b>Change Currency</b> to convert the current currency to your desired currency. And view the updated price details in your selected currency.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step change currency end -->

	<!-- step checkout start -->
	<ng-walkthrough focusElementSelector="#checkout" [contentTemplate]="stepCheckout">
		<ng-template #stepCheckout>
			<h5 class="text-primary font-weight-bold">Step 18 :</h5>
			<p>Click on <b>Checkout</b> to proceed.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step checkout end -->

</ng-walkthrough-flow>

<div class="row">
	<!-- main content start -->
	<main class="col main-content py-md-5 py-3">
		<!-- header start -->
		<header class="page-header border-bottom mb-3">
			<h3>Your shopping cart</h3>
			<span class="text-primary mb-3 d-block">
				<strong>Thank you for shipping with us. We appreciate it.</strong>
			</span>
		</header>
		<!-- header end -->

		<!-- product start -->
		<article class="white-box p-0 mb-4" *ngFor="let item of [1, 2, 3]" id="shoppingCart">
			<header class="p-2">
				<h5 class="text-primary">Shipment# 131061</h5>
				<div class="row font-size-sm no-gutters">
					<div class="col-sm-6 col-lg-2">
						<span>Delivery :
							<strong>10</strong>
						</span>
					</div>
					<!-- <div class="col-sm-6 col-lg-3">
						<span>Store :
							<strong>AMAZON</strong>
						</span>
					</div>
					<div class="col-sm-6 col-lg-3">
						<span>Tracking # :
							<strong>65454432</strong>
						</span>
					</div> -->
					<div class="col-sm-6 col-lg-4">
						<span>Delivered :
							<strong>01-02-2018 19:29</strong>
						</span>
					</div>
				</div>
			</header>

			<!-- table start -->
			<table datatable class="hover" [dtOptions]="dtOptions">
				<thead>
					<tr>
						<th>Items / products ordered</th>
						<th>Value Per Item</th>
						<th>Quantity</th>
						<th>Shipping Cost to Warehouse</th>
						<th>Total</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let item of [1, 2, 3]">
						<td>Shoes</td>
						<td>$25.00</td>
						<td>5</td>
						<td>$0.00</td>
						<td>$125.00</td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th colspan="2" class="text-right">Total</th>
						<th>6</th>
						<th colspan="2">$150</th>
					</tr>
				</tfoot>
			</table>
			<!-- table end -->
		</article>
		<!-- product end -->

		<div class="clearfix">
			<a routerLink="/virtual-tour/my-warehouse/overview" class="btn btn-light btn-sm float-left" id="backBag">
				<i class="fa fa-chevron-left mr-2" aria-hidden="true"></i>Back to Warehouse
			</a>
			<button type="button" class="btn btn-secondary btn-sm float-right ml-1" id="clearCart">Clear Cart</button>
			<!-- <button type="button" class="btn btn-primary btn-sm float-right ml-1">Update</button> -->
		</div>

	</main>
	<!-- main content end -->
	<!-- sidebar start -->
	<aside class="col sidebar right py-md-5 py-3">
		<div class="content">
			<!-- price detail start -->
			<article class="mb-3" id="priceDetail">
				<h6>Price Details</h6>
				<table border="0" width="100%" class="font-size-sm">
					<tbody>
						<tr>
							<td class="white-space-nowrap py-2">Subtotal : </td>
							<td class="white-space-nowrap text-right py-2">
								<strong class="font-weight-medium">$ 355.91 </strong>
							</td>
							<td class="white-space-nowrap text-right py-2">(355.91 SOS)</td>
						</tr>
						<tr>
							<td class="py-2">Clearing, duty & Local Handling: </td>
							<td class="white-space-nowrap text-right py-2" valign="top">
								<strong class="font-weight-medium">$ 12.68 </strong>
							</td>
							<td class="white-space-nowrap text-right py-2" valign="top">(12.68 SOS)</td>
						</tr>
						<tr>
							<td class="white-space-nowrap py-2">Other Charges: </td>
							<td class="white-space-nowrap text-right py-2">
								<strong class="font-weight-medium">$ 12.68</strong>
							</td>
							<td class="white-space-nowrap text-right py-2">(12.68 SOS)</td>
						</tr>
						<tr>
							<td class="white-space-nowrap py-2">Storage Charge : </td>
							<td class="white-space-nowrap text-right py-2 text-success">
								<strong class="font-weight-medium">$ 5.60</strong>
							</td>
							<td class="white-space-nowrap text-right py-2 text-success">(5.60 SOS)</td>
						</tr>
						<tr>
							<td class="white-space-nowrap py-2">Inventory Charge : </td>
							<td class="white-space-nowrap text-right py-2 text-success">
								<strong class="font-weight-medium">$ 10.60</strong>
							</td>
							<td class="white-space-nowrap text-right py-2 text-success">(5.60 SOS)</td>
						</tr>
					</tbody>
					<tfoot class="border-top">
						<tr>
							<th class="white-space-nowrap py-2">Total Cost: </th>
							<th class="white-space-nowrap text-right py-2">$ 397.47</th>
							<th class="white-space-nowrap text-right py-2">(397.47 SOS)</th>
						</tr>
					</tfoot>
				</table>
			</article>
			<!-- price detail end -->

			<!-- currency start -->
			<article class="text-center mb-3 border-bottom pb-3">
				<span class="font-size-sm text-medium d-block mb-2">NOTE: Final Amount is visible only after checkout</span>
				<a href="javascript:void(0)" class="btn btn-outline-primary btn-sm" id="changeCurrency">Change Currency</a>
			</article>
			<!-- currency end -->

			<article class="text-center">
				<a routerLink="/virtual-tour/my-warehouse/checkout/personal-detail" class="btn btn-secondary btn-lg btn-block" id="checkout">Checkout</a>
			</article>
		</div>
	</aside>
	<!-- sidebar end -->
</div>
