@import "src/assets/scss/variables";
@import "src/assets/scss/utilities";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";


.account-type{
	border-right: 1px solid theme-color(medium);
}

.main-content{
	@include media-breakpoint-up(md) {
		width: calc(100% - 320px);
	}
}

.sidebar.right .content{
	position: inherit;
	top: inherit;
}


