<!-- <app-header></app-header>
<section class="container">
	<div class="row">
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-flyout></app-sidebar-flyout>
		</aside>

		<main class="col main-content py-md-5 py-3  pl-lg-5">
			<header class="page-header border-bottom mb-3">
				<h3>My Profile Details</h3>
			</header>
		</main>
	</div>
</section>
<app-footer></app-footer> -->
<router-outlet></router-outlet>
