@import "src/assets/scss/variables";
@import "src/assets/scss/utilities";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";


.payment-type-box{
	height: 100%;
}

.inner-container{
	@include media-breakpoint-down(sm) {
		padding-left: 0;
		padding-right: 0;
	}
}
.main-content{
	@include media-breakpoint-up(md) {
		width: calc(100% - 320px);
	}
}

.product{
	img{
		width: 100%;
		height: 300px;
		object-fit: contain;
		@extend .border;
		@include media-breakpoint-up(md) {
			margin-bottom: $spacer;
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: $spacer;
		}
	}
}

.sidebar.right .content{
	position: inherit;
	top: inherit;
}
