<ng-walkthrough-flow #walkAutoCheckout focusBackdrop="true" closeAnywhere="false" showArrow="true"
 radius="auto" [texts]="lastNavText" (finished)="walkAutoCheckoutFinished()" arrowColor="#5bc6d0">

	<!-- step placeOrder start -->
	<ng-walkthrough focusElementSelector="#detail" [contentTemplate]="stepPlaceOrder">
		<ng-template #stepPlaceOrder>
			<h5 class="text-primary font-weight-bold">Step 5 :</h5>
			<p>Displays Details of your car you are buying.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step placeOrder end -->

	<!-- step contactInfo start -->
	<ng-walkthrough focusElementSelector="#contactInfo" [contentTemplate]="stepContactInfo">
		<ng-template #stepContactInfo>
			<h5 class="text-primary font-weight-bold">Step 6 :</h5>
			<p>Displays your contact information</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step contactInfo end -->

	<!-- step billingAddress start -->
	<ng-walkthrough focusElementSelector="#billingAddress" [contentTemplate]="stepBillingAddress">
		<ng-template #stepBillingAddress>
			<h5 class="text-primary font-weight-bold">Step 7 :</h5>
			<p>Displays your billing address </p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step billingAddress end -->

	<!-- step shippingAddress start -->
	<ng-walkthrough focusElementSelector="#shippingAddress" [contentTemplate]="stepShippingAddress">
		<ng-template #stepShippingAddress>
			<h5 class="text-primary font-weight-bold">Step 8 :</h5>
			<p>Displys you shipping address</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step shippingAddress end -->

	<!-- step paymentMethod start -->
	<ng-walkthrough focusElementSelector="#paymentMethod" [contentTemplate]="stepPaymentMethod">
		<ng-template #stepPaymentMethod>
			<h5 class="text-primary font-weight-bold">Step 9 :</h5>
			<p>Select Payment method with which you want to proceed for the payment</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step paymentMethod end -->

	<!-- step coupon start -->
	<ng-walkthrough focusElementSelector="#coupon" [contentTemplate]="stepCoupon">
		<ng-template #stepCoupon>
			<h5 class="text-primary font-weight-bold">Step 10 :</h5>
			<p>If you have any coupon code. Apply that coupon here.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step coupon end -->

	<!-- step priceDetail start -->
	<ng-walkthrough focusElementSelector="#priceDetail" [contentTemplate]="stepPriceDetail">
		<ng-template #stepPriceDetail>
			<h5 class="text-primary font-weight-bold">Step 11 :</h5>
			<p>Displays the breakdown of the Total Billing amount. You can see discounted amount also if you have applied any coupon.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step priceDetail end -->

	<!-- step insurance start -->
	<ng-walkthrough focusElementSelector="#insurance" [contentTemplate]="stepInsurance">
		<ng-template #stepInsurance>
			<h5 class="text-primary font-weight-bold">Step 12 :</h5>
			<p>If you want to insure your shipment opt for it. It will secure any damage to your shipment.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step insurance end -->

	<!-- step currency start -->
	<ng-walkthrough focusElementSelector="#currency" [contentTemplate]="stepCurrency">
		<ng-template #stepCurrency>
			<h5 class="text-primary font-weight-bold">Step 13 :</h5>
			<p>Click on Change Currency to convert the current currency to your desired currency. And view the updated price details in your selected currency.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step currency end -->

	<!-- step tc start -->
	<ng-walkthrough focusElementSelector="#tc" [contentTemplate]="stepTC">
		<ng-template #stepTC>
			<h5 class="text-primary font-weight-bold">Step 14 :</h5>
			<p>Please read the Terms & Conditions and accept it to place the order.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step tc end -->

	<!-- step submit start -->
	<ng-walkthrough focusElementSelector="#submit" [contentTemplate]="stepSubmit">
		<ng-template #stepSubmit>
			<h5 class="text-primary font-weight-bold">Step 15 :</h5>
			<p>You are just one click away to Place your order. Click on Submit Order to place your order with us.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step submit end -->
</ng-walkthrough-flow>

<main class="container">
	<div class="row">
		<!-- main content start -->
		<main class="col main-content py-md-5 py-3">
			<!-- header start -->
			<header class="page-header border-bottom mb-3 pb-2">
				<h3>Your shopping cart</h3>
			</header>
			<!-- header end -->

			<!-- added product start -->
			<article class="white-box p-3 mb-4 product" id="detail">
				<div class="row">
					<div class="col-lg col-md-12 col-sm img">
						<img src="assets/imgs/car.jpg">
					</div>
					<div class="col-lg col-md-12 col-sm content">
						<h5 class="text-primary">Car Details</h5>
						<div class="row cart-list-body">
							<div class="col-12 mb-2">
								<span class="font-size-sm d-block justify-content-between d-flex">Car Website:
									<strong class="font-weight-medium text-right">Cargurus.com</strong>
								</span>
							</div>
							<div class="col-12 mb-2">
								<span class="font-size-sm d-block justify-content-between d-flex">Make:
									<strong class="font-weight-medium text-right">Acura</strong>
								</span>
							</div>
							<div class="col-12 mb-2">
								<span class="font-size-sm d-block justify-content-between d-flex">Model:
									<strong class="font-weight-medium text-right">Forester</strong>
								</span>
							</div>
							<div class="col-12 mb-2">
								<span class="font-size-sm d-block justify-content-between d-flex">Year:
									<strong class="font-weight-medium text-right">2017</strong>
								</span>
							</div>
							<div class="col-12 mb-2">
								<span class="font-size-sm d-block justify-content-between d-flex">Direct Link:
									<strong class="font-weight-medium text-right">www.cargurus.com/acura</strong>
								</span>
							</div>
							<div class="col-12 mb-2">
								<span class="font-size-sm d-block justify-content-between d-flex">Pickup Country:
									<strong class="font-weight-medium text-right">United States</strong>
								</span>
							</div>

							<div class="col-12 mb-2">
								<span class="font-size-sm d-block justify-content-between d-flex">Pickup State:
									<strong class="font-weight-medium text-right">Arizona</strong>
								</span>
							</div>
							<div class="col-12 mb-2">
								<span class="font-size-sm d-block justify-content-between d-flex">Pickup City:
									<strong class="font-weight-medium text-right">Tuscon</strong>
								</span>
							</div>
							<div class="col-12 mb-2">
								<span class="font-size-sm d-block justify-content-between d-flex">Milage:
									<strong class="font-weight-medium text-right">5689</strong>
								</span>
							</div>
							<div class="col-12 mb-2">
								<span class="font-size-sm d-block justify-content-between d-flex">VIN Number:
									<strong class="font-weight-medium text-right">123956</strong>
								</span>
							</div>
							<div class="col-12 mb-2">
								<span class="font-size-sm d-block justify-content-between d-flex">Color:
									<strong class="font-weight-medium text-right">Black</strong>
								</span>
							</div>
							<div class="col-12 mb-2">
								<span class="font-size-sm d-block justify-content-between d-flex">Value:
									<strong class="font-weight-medium text-right">$15000</strong>
								</span>
							</div>
						</div>
					</div>
				</div>
			</article>
			<!-- added product end -->

			<!-- personal information start -->
			<div class="row">
				<!-- contact information start -->
				<div class="col-12 mt-3 item" id="contactInfo">
					<div class="border payment-type-box d-flex flex-column">
						<header class="border-bottom px-3 py-2">
							<h4 class="mb-0 text-primary">
								Contact information
							</h4>
						</header>
						<div class="py-1">
							<div class="d-flex align-items-center py-1">
								<div class="col-md-3 col-sm-4 col-5">
									<span class="font-weight-medium">Email :</span>
								</div>
								<div class="col-md-9 col-sm-8 col-7 break-word">
									<a href="mailto:mrityunjoy.marial@indusnet.co.in">mrityunjoy.marial@indusnet.co.in</a>
								</div>
							</div>
							<div class="d-flex align-items-center py-1">
								<div class="col-md-3 col-sm-4 col-5">
									<span class="font-weight-medium">Title :</span>
								</div>
								<div class="col-md-9 col-sm-8 col-7">
									<span>Mr.</span>
								</div>
							</div>
							<div class="d-flex align-items-center py-1">
								<div class="col-md-3 col-sm-4 col-5">
									<span class="font-weight-medium">First name :</span>
								</div>
								<div class="col-md-9 col-sm-8 col-7">
									<span>Ndukaee</span>
								</div>
							</div>
							<div class="d-flex align-items-center py-1">
								<div class="col-md-3 col-sm-4 col-5">
									<span class="font-weight-medium">Last name :</span>
								</div>
								<div class="col-md-9 col-sm-8 col-7">
									<span>Udeh</span>
								</div>
							</div>
							<div class="d-flex align-items-center py-1">
								<div class="col-md-3 col-sm-4 col-5">
									<span class="font-weight-medium">Company :</span>
								</div>
								<div class="col-md-9 col-sm-8 col-7">
									<span>Shoptomydoor</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- contact information end -->

				<!-- billing address start -->
				<div class="col-12 mt-3 item" id="billingAddress">
					<div class="border payment-type-box d-flex flex-column">
						<header class="border-bottom px-3 py-2">
							<h4 class="mb-0 text-primary">
								<span class="font-weight-medium">Billing address</span>
							</h4>
						</header>
						<div class="py-1">
							<div class="d-flex align-items-center py-1">
								<div class="col-md-3 col-sm-4 col-5">
									<span class="font-weight-medium">First name :</span>
								</div>
								<div class="col-md-9 col-sm-8 col-7">
									<span>Ndukaee</span>
								</div>
							</div>
							<div class="d-flex align-items-center py-1">
								<div class="col-md-3 col-sm-4 col-5">
									<span class="font-weight-medium">Last name :</span>
								</div>
								<div class="col-md-9 col-sm-8 col-7">
									<span>Udeh</span>
								</div>
							</div>
							<div class="d-flex align-items-center py-1">
								<div class="col-md-3 col-sm-4 col-5">
									<span class="font-weight-medium">Address :</span>
								</div>
								<div class="col-md-9 col-sm-8 col-7">
									<span>211 South Meadows Court</span>
								</div>
							</div>
							<div class="d-flex align-items-center py-1">
								<div class="col-md-3 col-sm-4 col-5">
									<span class="font-weight-medium">City :</span>
								</div>
								<div class="col-md-9 col-sm-8 col-7">
									<span>Ikeja</span>
								</div>
							</div>
							<div class="d-flex align-items-center py-1">
								<div class="col-md-3 col-sm-4 col-5">
									<span class="font-weight-medium">State :</span>
								</div>
								<div class="col-md-9 col-sm-8 col-7">
									<span>Lagos</span>
								</div>
							</div>
							<div class="d-flex align-items-center py-1">
								<div class="col-md-3 col-sm-4 col-5">
									<span class="font-weight-medium">Country :</span>
								</div>
								<div class="col-md-9 col-sm-8 col-7">
									<span>Nigeria</span>
								</div>
							</div>
							<div class="d-flex align-items-center py-1">
								<div class="col-md-3 col-sm-4 col-5">
									<span class="font-weight-medium">Zip/Postal code :</span>
								</div>
								<div class="col-md-9 col-sm-8 col-7">
									<span>77479</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- billing address start -->

				<!-- shipping address start -->
				<div class="col-12 mt-3 item" id="shippingAddress">
					<div class="border payment-type-box d-flex flex-column">
						<header class="border-bottom px-3 py-2">
							<h4 class="mb-0 text-primary">
								<span class="font-weight-medium">Shipping address</span>
							</h4>
						</header>
						<div class="py-1">
							<div class="d-flex align-items-center py-1">
								<div class="col-md-3 col-sm-4 col-5">
									<span class="font-weight-medium">First name :</span>
								</div>
								<div class="col-md-9 col-sm-8 col-7">
									<span>Ndukaee</span>
								</div>
							</div>
							<div class="d-flex align-items-center py-1">
								<div class="col-md-3 col-sm-4 col-5">
									<span class="font-weight-medium">Last name :</span>
								</div>
								<div class="col-md-9 col-sm-8 col-7">
									<span>Udeh</span>
								</div>
							</div>
							<div class="d-flex align-items-center py-1">
								<div class="col-md-3 col-sm-4 col-5">
									<span class="font-weight-medium">Address :</span>
								</div>
								<div class="col-md-9 col-sm-8 col-7">
									<span>211 South Meadows Court</span>
								</div>
							</div>
							<div class="d-flex align-items-center py-1">
								<div class="col-md-3 col-sm-4 col-5">
									<span class="font-weight-medium">City :</span>
								</div>
								<div class="col-md-9 col-sm-8 col-7">
									<span>Ikeja</span>
								</div>
							</div>
							<div class="d-flex align-items-center py-1">
								<div class="col-md-3 col-sm-4 col-5">
									<span class="font-weight-medium">State :</span>
								</div>
								<div class="col-md-9 col-sm-8 col-7">
									<span>Lagos</span>
								</div>
							</div>
							<div class="d-flex align-items-center py-1">
								<div class="col-md-3 col-sm-4 col-5">
									<span class="font-weight-medium">Country :</span>
								</div>
								<div class="col-md-9 col-sm-8 col-7">
									<span>Nigeria</span>
								</div>
							</div>
							<div class="d-flex align-items-center py-1">
								<div class="col-md-3 col-sm-4 col-5">
									<span class="font-weight-medium">Zip/Postal code :</span>
								</div>
								<div class="col-md-9 col-sm-8 col-7">
									<span>77479</span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- shipping address start -->

				<!-- payment method start -->
				<div class="col-12 mt-3 item" id="paymentMethod">
					<div class="border payment-type-box d-flex flex-column">
						<header class="border-bottom px-3 py-2">
							<h4 class="mb-0 text-primary">
								Payment method
							</h4>
						</header>
						<div>
							<div class="d-flex align-items-center p-3 border-bottom justify-content-between">
								<label class="form-check custom-radio mb-0">
									<input type="radio" name="payment-type">
									<span class="checkmark"></span>
									<span class="ml-2">PayPal</span>
								</label>
								<a class="help-icon ml-2 flex-none" container="body" href="javascript:void(0)" tooltip="Valid Paypal account holders only. A 2.99% processing fee applies."
								 placement="left">
									<i aria-hidden="true" class="fa fa-question"></i>
								</a>
							</div>
							<div class="d-flex align-items-center p-3 border-bottom justify-content-between">
								<label class="form-check custom-radio mb-0">
									<input type="radio" name="payment-type">
									<span class="checkmark"></span>
									<span class="ml-2">Credit / Debit Cards</span>
								</label>
								<a class="help-icon ml-2 flex-none" href="javascript:void(0)" tooltip="Cards With Visa &amp; MasterCard Logo."
								 container="body" placement="left">
									<i aria-hidden="true" class="fa fa-question"></i>
								</a>
							</div>
							<div class="d-flex align-items-center p-3 border-bottom justify-content-between" tooltip="" container="body">
								<label class="form-check custom-radio mb-0">
									<input type="radio" name="payment-type">
									<span class="checkmark"></span>
									<span class="ml-2">Save time. Pay securely using your stored payment information. Pay with credit card, bank
										account, or your PayPal
										account balance
									</span>
								</label>
							</div>
							<div class="d-flex align-items-center p-3 border-bottom justify-content-between">
								<label class="form-check custom-radio mb-0">
									<input type="radio" name="payment-type">
									<span class="checkmark"></span>
									<span class="ml-2">GTBank: # : Online Trf : Act# : 0121339039</span>
								</label>
								<a class="help-icon ml-2 flex-none" href="javascript:void(0)" tooltip="Transfer to American AirSea Cargo Nig. Ltd: Sort Code: 058152609: Please note your Order Number in Comments field
										for us to identify your payment. A 5% VAT applies."
								 container="body" placement="left">
									<i aria-hidden="true" class="fa fa-question"></i>
								</a>
							</div>
							<div class="d-flex align-items-center p-3 border-bottom justify-content-between">
								<label class="form-check custom-radio mb-0">
									<input type="radio" name="payment-type">
									<span class="checkmark"></span>
									<span class="ml-2">GTBank : Pay at Bank : Act# : 0121339039</span>
								</label>
								<a class="help-icon ml-2 flex-none" href="javascript:void(0)" tooltip="Print Your Invoice, &amp; Pay In Any GTBank: American AirSea Cargo Nig. Ltd (=N=): Act#: 0121339039: A 5% VAT applies."
								 container="body" placement="left">
									<i aria-hidden="true" class="fa fa-question"></i>
								</a>
							</div>
							<div class="d-flex align-items-center p-3 border-bottom justify-content-between">
								<label class="form-check custom-radio mb-0">
									<input type="radio" name="payment-type">
									<span class="checkmark"></span>
									<span class="ml-2">GTBank: $ : Act# : 0121340105</span>
								</label>
								<a class="help-icon ml-2 flex-none" href="javascript:void(0)" tooltip="Print Your Invoice, &amp; Pay in Dollars In Any GTBank: American AirSea Cargo Nig Ltd. A 5% VAT applies."
								 container="body" placement="left">
									<i aria-hidden="true" class="fa fa-question"></i>
								</a>
							</div>
							<div class="d-flex align-items-center p-3 border-bottom justify-content-between">
								<label class="form-check custom-radio mb-0">
									<input type="radio" name="payment-type">
									<span class="checkmark"></span>
									<span class="ml-2">E-Wallet</span>
								</label>
								<a class="help-icon ml-2 flex-none" href="javascript:void(0)" tooltip="Store your e-wallet code and use it over and over to pay."
								 container="body" placement="left">
									<i aria-hidden="true" class="fa fa-question"></i>
								</a>
							</div>
							<div class="d-flex align-items-center p-3 justify-content-between">
								<label class="form-check custom-radio mb-0">
									<input type="radio" name="payment-type">
									<span class="checkmark"></span>
									<span class="ml-2">Wire Transfer</span>
								</label>
								<a class="help-icon ml-2 flex-none" href="javascript:void(0)" tooltip="Send wires to: American AirSea Cargo LLC; Bank of America; 1739 West Belfort Street, Stafford, Texas - 77477, USA; Bank Sort
										Code-BOFAUS3N; Account Number-5860 2260 3718"
								 container="body" placement="left">
									<i aria-hidden="true" class="fa fa-question"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<!-- payment method end -->

				<!-- note start -->
				<div class="col-12 mt-4">
					<div class="alert alert-danger mb-0">
						<span>
							<strong>Note :</strong> We do not ship or return any fraudulently purchased items. You are advised to only pay
							to ship items
							that you can provide valid evidence of proof of purchase when and if requested. Items for which a valid proof of
							purchase
							can not be provided will be handed over to US Customs. In addition, any shipping cost paid will be forfeited and
							billed
							to you as cost of fraud verification.
						</span>
					</div>
				</div>
				<!-- note end -->
			</div>
			<!-- personal information end -->
		</main>
		<!-- main content end -->
		<!-- sidebar start -->
		<aside class="col sidebar right py-md-5 py-3">
			<div class="content">
				<!-- coupon start -->
				<article class="mb-3 border-bottom" id="coupon">
					<span class="font-size-sm d-block mb-2">
						<strong class="d-block">Have a coupon code?</strong> Enter it here and click on Submit.
					</span>
					<div class="input-group input-group-sm mb-3">
						<input class="form-control" placeholder="Coupon Code" type="text">
						<div class="input-group-append">
							<button class="btn btn-outline-primary" type="button">Submit</button>
						</div>
					</div>
				</article>
				<!-- coupon end -->

				<!-- price detail start -->
				<article class="mb-3 border-bottom">
					<div id="priceDetail">
						<h6>Price Details</h6>
						<table border="0" width="100%" class="font-size-sm">
							<tbody>
								<tr>
									<td class="white-space-nowrap py-2">Item Price : </td>
									<td class="white-space-nowrap text-right py-2">
										<strong class="font-weight-medium">364.88 $</strong>
									</td>
									<td class="white-space-nowrap text-right py-2">(364.88 SOS)</td>
								</tr>

								<tr>
									<td class="white-space-nowrap py-2">Processing Fee : </td>
									<td class="white-space-nowrap text-right py-2">
										<strong class="font-weight-medium">358.38 $</strong>
									</td>
									<td class="white-space-nowrap text-right py-2">(358.38 SOS)</td>
								</tr>
								<tr>
									<td class="white-space-nowrap py-2">Pickup Cost : </td>
									<td class="white-space-nowrap text-right py-2">
										<strong class="font-weight-medium">12.68 $</strong>
									</td>
									<td class="white-space-nowrap text-right py-2">(12.68 SOS)</td>
								</tr>
								<tr>
									<td class="white-space-nowrap py-2">Shipping Cost : </td>
									<td class="white-space-nowrap text-right py-2">
										<strong class="font-weight-medium">12.68 $</strong>
									</td>
									<td class="white-space-nowrap text-right py-2">(12.68 SOS)</td>
								</tr>
								<tr>
									<td class="white-space-nowrap py-2">Value Added Tax (VAT) : </td>
									<td class="white-space-nowrap text-right py-2">
										<strong class="font-weight-medium">14.81 $</strong>
									</td>
									<td class="white-space-nowrap text-right py-2">(14.81 SOS)</td>
								</tr>
								<tr>
									<td class="white-space-nowrap py-2">Discount : </td>
									<td class="white-space-nowrap text-right py-2 text-success">
										<strong class="font-weight-medium">6.50 $</strong>
									</td>
									<td class="white-space-nowrap text-right py-2 text-success">(6.50 SOS)</td>
								</tr>
							</tbody>
							<tfoot class="border-top">
								<tr>
									<th class="white-space-nowrap py-2">Total : </th>
									<th class="white-space-nowrap text-right py-2">385.87 $</th>
									<th class="white-space-nowrap text-right py-2">(385.87 SOS)</th>
								</tr>
							</tfoot>
						</table>
					</div>
					<label class="custom-check text-left flex-row mt-2" id="insurance">
						<input type="checkbox">
						<span class="checkmark"></span>
						<strong class="font-weight-medium pl-2">Do you want to add Insurance?</strong>
					</label>
				</article>
				<!-- price detail end -->

				<!-- currency start -->
				<article class="text-center mb-3 border-bottom pb-3">
					<a href="javascript:void(0)" class="btn btn-outline-primary btn-sm" id="currency">Change Currency</a>
				</article>
				<!-- currency end -->

				<!-- note start -->
				<article class="mb-3">
					<ul class="list-ui mb-0">
						<li>Prices and subtotals are displayed including taxes.</li>
						<li>Discounts are calculated based on prices and subtotals taken without consideration of taxes.</li>
					</ul>
				</article>
				<!-- note end -->

				<article class="mb-3 border-bottom pb-3">
					<label class="custom-check text-left flex-row" id="tc">
						<input type="checkbox" value="">
						<span class="checkmark"></span>
						<span class="font-size-sm ml-2">I accept the "
							<a href="#" class="text-underline">Terms & Conditions</a> "
						</span>
					</label>
				</article>

				<!-- submit start -->
				<article class="text-center">
					<a href="#" class="btn btn-secondary btn-lg btn-block" id="submit">Submit order</a>
				</article>
				<!-- submit end -->
			</div>
		</aside>
		<!-- sidebar end -->
	</div>
</main>
