<!-- header start -->
<header class="page-header border-bottom mb-3">
	<h3>Rewards</h3>
</header>
<!-- header end -->

<div class="row">
	<!-- my shoppers reward start -->
	<div class="col-sm-6 text-center mb-sm-4 mb-3">
		<div class="border border-primary d-flex flex-column h-100">
			<header class="border-bottom px-3 py-2">
				<img src="assets/imgs/bronze.png" height="130" class="mx-auto">
				<h4 class="mb-0 text-primary">Ndukaee Udeh</h4>
			</header>
			<div class="p-3">
				<span class="font-size-sm d-block justify-content-between d-flex mb-2">Balance Points:
					<strong class="font-weight-medium text-right">0</strong>
				</span>
				<span class="font-size-sm d-block justify-content-between d-flex mb-2">Reward Level:
					<strong class="font-weight-medium text-right text-secondary">Bronze</strong>
				</span>
				<span class="font-size-sm d-block justify-content-between d-flex mb-2">Reward Expires:
					<strong class="font-weight-medium text-right">Dec 31st, 16</strong>
				</span>
			</div>
		</div>
	</div>
	<!-- my shoppers reward end -->

	<!-- level qualification information start -->
	<div class="col-sm-6 text-center mb-sm-4 mb-3">
		<div class="border d-flex flex-column h-100">
			<header class="border-bottom px-3 py-2">
				<h4 class="mb-0 text-primary">Level Qualification Information</h4>
			</header>
			<div class="p-3">
				<span class="font-size-sm d-block justify-content-between d-flex mb-2">Qualifying points for the year:
					<strong class="font-weight-medium text-right">314</strong>
				</span>
				<span class="font-size-sm d-block justify-content-between d-flex mb-2">Earned Points:
					<strong class="font-weight-medium text-right">0</strong>
				</span>
				<span class="font-size-sm d-block justify-content-between d-flex mb-2">Total Orders for the year:
					<strong class="font-weight-medium text-right">7</strong>
				</span>
				<span class="font-size-sm d-block justify-content-between d-flex mb-2">Total Amount Spent:
					<strong class="font-weight-medium text-right">1,404.80 $</strong>
				</span>
				<span class="font-size-sm d-block justify-content-between d-flex">Points to the next level:
					<strong class="font-weight-medium text-right">4686</strong>
				</span>
			</div>
			<footer class="px-3 py-2 mt-auto border-top bg-dark text-white">
				<span class="d-block">Progress to Next Level</span>
				<span class="h6 text-white">Points Expire: 31/12/2015</span>
			</footer>
		</div>
	</div>
	<!-- level qualification information end -->

	<!-- e wallet start -->
	<div class="col-md-4 text-center mb-sm-4 mb-3">
		<div class="border d-flex flex-column h-100">
			<header class="border-bottom px-3 py-2">
				<h4 class="mb-0 text-primary">E-Wallet </h4>
			</header>
			<div class="py-3">
				<span class="d-block font-weight-medium mb-2">E-Wallet Ballance: 90,000.00 $</span>
				<a href="#" class="btn btn-secondary btn-sm">Get E-Wallet Code</a>
			</div>
		</div>
	</div>
	<!-- e wallet end -->

	<!-- benefits start -->
	<div class="col-md-4 text-center mb-sm-4 mb-3">
		<div class="border d-flex flex-column h-100">
			<header class="border-bottom px-3 py-2">
				<h4 class="mb-0 text-primary">Your Benefits</h4>
			</header>
			<div class="py-3">
				<span class="d-block font-weight-medium mb-2">Start earning at just $1 spend No discounts until you hit Silver</span>
			</div>
		</div>
	</div>
	<!-- benefits end -->

	<!-- next level benefits start -->
	<div class="col-md-4 text-center mb-sm-4 mb-3">
		<div class="border d-flex flex-column h-100">
			<header class="border-bottom px-3 py-2">
				<h4 class="mb-0 text-primary">Next Level Benefits</h4>
			</header>
			<div class="py-3">
				<span class="d-block font-weight-medium mb-2">Coming Soon</span>
			</div>
		</div>
	</div>
	<!-- next level benefits end -->
</div>

<!-- table start -->
<table datatable class="row-border hover" [dtOptions]="dtOptions">
	<thead>
		<tr>
			<th>Date</th>
			<th>Reason</th>
			<th class="text-right">Points</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of activities">
			<td>{{item.date}}</td>
			<td>{{item.reason}}</td>
			<td class="text-right">
				<strong>{{item.point}}</strong>
			</td>
		</tr>
	</tbody>
</table>
<!-- table end -->
