<ng-walkthrough-flow #walkAddressBook focusBackdrop="true" focusHighlightAnimation="true" closeAnywhere="false"
 showArrow="true" radius="auto" [texts]="navText" (finished)="walkAddressBookFinished()" arrowColor="#5bc6d0"
 previousStep="">

	<!-- step addAddress start -->
	<ng-walkthrough focusElementSelector="#addAddress" [contentTemplate]="stepAddAddress">
		<ng-template #stepAddAddress>
			<h5 class="text-primary font-weight-bold">Step 1 :</h5>
			<p>Click here to <b>Add a new address</b> to your <b>Address book</b>.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step addAddress end -->

	<!-- step modify start -->
	<ng-walkthrough focusElementSelector="#modify" [contentTemplate]="stepModify">
		<ng-template #stepModify>
			<h5 class="text-primary font-weight-bold">Step 2 :</h5>
			<p>Click here to if you want to modify and make chages to your address.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step modify end -->

	<!-- step defaultBilling start -->
	<ng-walkthrough focusElementSelector="#defaultBilling" [contentTemplate]="stepDefaultBilling">
		<ng-template #stepDefaultBilling>
			<h5 class="text-primary font-weight-bold">Step 3 :</h5>
			<p>Click here to make the particular address your <b>default billing address</b>.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step defaultBilling end -->

	<!-- step defaultShipping start -->
	<ng-walkthrough focusElementSelector="#defaultShipping" [contentTemplate]="stepDefaultShipping">
		<ng-template #stepDefaultShipping>
			<h5 class="text-primary font-weight-bold">Step 4 :</h5>
			<p>Click here to make the particular address your <b>default shipping address</b>.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step defaultShipping end -->

	<!-- step billingIcon start -->
	<ng-walkthrough focusElementSelector="#billingIcon" [contentTemplate]="stepBillingIcon">
		<ng-template #stepBillingIcon>
			<h5 class="text-primary font-weight-bold">Step 5 :</h5>
			<p>This indicates that the particular address is your <b>default billing address</b></p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step billingIcon end -->

	<!-- step shippingIcon start -->
	<ng-walkthrough focusElementSelector="#shippingIcon" [contentTemplate]="stepShippingIcon">
		<ng-template #stepShippingIcon>
			<h5 class="text-primary font-weight-bold">Step 6 :</h5>
			<p>This indicates that the particular address is your <b>default shipping address</b></p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step shippingIcon end -->
</ng-walkthrough-flow>

<!-- header start -->
<header class="page-header border-bottom mb-3">
	<h3>Addressbook</h3>
</header>
<!-- header end -->

<!-- delivery address start -->
<div class="white-box delivery-address mb-3">
	<header class="d-flex justify-content-center p-0">
		<a href="javascript:void(0)" tooltip="Add New Address" container="body" id="addAddress" class="btn btn-primary btn-action flex-none ml-1"
		 container="body"><i class="fa fa-plus" aria-hidden="true"></i></a>
	</header>
	<!-- address start -->
	<div class="row">
		<div class="item col-md-6 mt-3" *ngFor="let eachShippingAddress of userShippingAddress">
			<div class="border item-wrap p-3">
				<div class="row">
					<div class="col icon">
						<svg-icon src="assets/imgs/icons/delivery-address.svg" [svgStyle]="{ 'height.px':95}"></svg-icon>
						<div class="mt-2">
							<button *ngIf="eachShippingAddress.locationId==0" type="button" [disabled]="eachShippingAddress.isDefaultBilling==1"
							 [tooltip]="eachShippingAddress.isDefaultBilling==1?'Default Billing Address':'Set Default Billing Address'"
							 container="body" class="btn btn-success btn-action btn-sm flex-none" id="defaultBilling" (click)="setAddressDefault('billing', eachShippingAddress.id)"><i
								 class="fa fa-file-text" aria-hidden="true"></i></button>
							<button type="button" [disabled]="eachShippingAddress.isDefaultShipping==1" [tooltip]="eachShippingAddress.isDefaultShipping==1?'Default Shipping Address':'Set Default Shipping Address'"
							 container="body" class="btn btn-success btn-sm btn-action flex-none ml-1" id="defaultShipping" (click)="setAddressDefault('shipping', eachShippingAddress.id)"><i
								 class="fa fa-truck" aria-hidden="true"></i></button>
						</div>
					</div>
					<div class="col-sm-8">
						<span class="font-weight-bold position-relative d-block">{{eachShippingAddress.firstName+ '
							'+eachShippingAddress.lastName}}<i tooltip="Default Address" placement="left" class="fa fa-check-circle text-success default"
							 aria-hidden="true" *ngIf="(eachShippingAddress.isDefaultShipping==1 || eachShippingAddress.isDefaultBilling==1)"></i></span>
						<span class="d-block mb-2">{{eachShippingAddress.address}},
							{{(eachShippingAddress.city!=null)?eachShippingAddress.city.name+',':''}}
							{{(eachShippingAddress.state!=null)?eachShippingAddress.state.name+',':''}}
							{{(eachShippingAddress.zipcode!=null)?eachShippingAddress.zipcode+',':''}}
							{{(eachShippingAddress.country!=null)?eachShippingAddress.country.code+',':''}}
							{{(eachShippingAddress.phone!=null)?'Phone: '+eachShippingAddress.phone:''}}</span>
						<a href="javascript:void(0)" (click)="modifyAddress(eachShippingAddress.id)" class="btn btn-primary btn-sm mr-2 mb-1"
						 *ngIf="eachShippingAddress.locationId==0" id="modify">Modify</a>
						<div class="btn-group mb-1 mr-2" role="group" aria-label="Button group with nested dropdown" *ngIf="eachShippingAddress.locationId!=0">
							<button class="btn btn-primary btn-sm" id="modify" disabled="">Modify</button>

							<a href="javascript:void(0)" class="btn btn-outline-primary btn-sm" container="body" tooltip="You are not allowed to modify this address as is a Shoptomydoor location address.">
								<i class="fa fa-question" aria-hidden="true"></i>
							</a>
						</div>
						<span tooltip="Default Billing Address" id="billingIcon" class="btn btn-secondary cursor-inherit btn-sm mb-1 mr-2"
						 *ngIf="eachShippingAddress.isDefaultBilling==1"><i class="fa fa-file-text" aria-hidden="true"></i></span>
						<span tooltip="Default Shipping Address" id="shippingIcon" class="btn btn-secondary cursor-inherit btn-sm mb-1 mr-2"
						 *ngIf="eachShippingAddress.isDefaultShipping==1"><i class="fa fa-truck" aria-hidden="true"></i></span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- address end -->
</div>
<!-- delivery address end -->
