<section class="container">
	<div class="row">
		<!-- sidebar start -->
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-flyout></app-sidebar-flyout>
		</aside>
		<!-- sidebar end -->

		<!-- main content start -->
		<main class="col main-content py-md-5 py-3  pl-lg-5">
			<!-- header tab start -->
			<ul class="list-tab-link">
				<li *ngFor="let item of links">
					<a routerLink="/{{item.url}}" routerLinkActive="active">{{item.title}}</a>
				</li>
			</ul>
			<!-- header tab end -->

			<!-- content goes here -->

		</main>
		<!-- main content end -->
	</div>
</section>
