<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">Recount</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<p>You are requesting a recount of the selected delivery. A {{ recountCost }} charge applies and will be added to your account. We take
		extra care to ensure that items are counted correctly the first time and should our initial count be in error, we will
		not charge you. Your recount will be done within 24 hours and you will be notified once its done.

	</p>
	<p class="mb-0">
		<strong>Please note that this request can’t be changed once its added.</strong>
	</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-dark" (click)="bsModalRef.hide()">Cancel</button>
	<button type="button" class="btn btn-secondary" (click)="addDeliveryRecount(deliveryId, shipmentId);">Add Recount To Cart</button>
</div>
