<section class="container">
	<div class="row">
		<!-- sidebar start -->
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-flyout></app-sidebar-flyout>
		</aside>
		<!-- sidebar end -->
		
		<!-- main content start -->
		<main class="col main-content py-md-5 py-3  pl-lg-5">
			<!-- header start -->
			<header class="page-header border-bottom mb-3">
				<h3>My Saved Order</h3>
			</header>
			<!-- header end -->


			<!-- add produce start -->
			<div class="white-box cart-list p-0">
				<header *ngIf="saveForLaterList" class="border-bottom">
					<label class="custom-check text-right flex-row-reverse mb-0">
						<input type="checkbox" name="type" value="SelectAll" [(ngModel)]="check_all.type" (click)="selectAll('type')">
						<span class="checkmark"></span>
						<strong class="font-weight-medium pr-2">Select All</strong>
					</label>
				</header>
				<article class="item" *ngIf="showItems">
					<div *ngFor="let item of saveForLaterList | paginate: { id: 'pagination',
			                                                      itemsPerPage: pageSize,
			                                                      currentPage: currentPage,
			                                                      totalItems: totalItems }" [ngClass]="{'active': item.selected }" class="row no-gutters">
						<div class="col img pr-3">
							<img *ngIf="!item.itemImage" src="assets/imgs/box.png">
							<img *ngIf="item.itemImage" src="{{item.itemImage}}">
						</div>
						<div class="col content">
							<!-- header start -->
							<header class="d-flex align-items-center justify-content-between">
								<h4 class="text-ellipsis">
									<a href="">{{item.itemName}}</a>
								</h4>
								<label class="custom-check text-right flex-row-reverse">
									<input type="checkbox" value="{{item.id}}" [(ngModel)]="item.selected" (change)="filterSearch($event,item.selected);">
									<span class="checkmark"></span>
								</label>
							</header>
							<!-- header end -->

							<!-- body start -->
							<div class="row cart-list-body">
								<div class="col-sm">
									<span class="font-size-sm d-block">Store:
										<strong class="font-weight-medium">{{item.storeName}}</strong>
									</span>
									<span class="font-size-sm d-block">URL/Website Link:
										<strong class="font-weight-medium">{{item.websiteUrl}}</strong>
									</span>
									<span class="font-size-sm d-block">Color/Size:
										<strong class="font-weight-medium">{{item.options}}</strong>
									</span>
								</div>
								<div class="col-sm text-sm-right">
									<span class="font-size-sm d-block">Quantity:
										<strong class="font-weight-medium">{{item.itemQuantity}}</strong>
									</span>
									<span class="font-size-sm d-block">Unit Price :
										<strong>{{item.itemPrice}}</strong>
									</span>
									<span class="font-size-sm d-block">Shipping to Your Warehouse :
										<strong>{{item.itemShippingCost}}</strong>
									</span>
								</div>
							</div>
							<!-- body end -->

							<!-- footer start -->
							<footer class="mt-2 d-sm-flex flex-row-reverse align-items-center">
								<div class="flex-1 text-sm-right">
									<h4>Total :
										<strong class="text-success">{{item.itemTotalCost}}</strong>
									</h4>
								</div>
								<div class="flex-none">
									<a href="javascript:void(0)" (click)="deleteItem(item.id);" class="btn btn-secondary btn-sm">Remove</a>
								</div>
							</footer>
							<!-- footer end -->
						</div>
					</div>
					
				</article>
				<div class="row no-gutters" *ngIf="noItems">
						<span class="content d-block"><h5>No Items Added</h5></span>
					</div>

				<footer *ngIf="saveForLaterList"  class="clearfix text-center text-sm-left">
					<pagination-controls  id="pagination"
			                      (pageChange)="pageChanged($event)"
			                      maxSize="9"
			                      directionLinks="true"
			                      autoHide="true"
			                      previousLabel="Previous"
			                      nextLabel="Next">
					 </pagination-controls>

					<a href="javascript:void(0)" (click)="moveToCart();" class="btn btn-primary mr-1 float-sm-right">
						<i class="fa fa-shopping-cart mr-2" aria-hidden="true"></i>Move To Bag
					</a>
				</footer>
			</div>
			<!-- add produce end -->
		</main>
		<!-- main content end -->
	</div>
</section>