<section class="container">
	<div class="row">
		<!-- sidebar start -->
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-flyout></app-sidebar-flyout>
		</aside>
		<!-- sidebar end -->

		<!-- main content start -->
		<main class="col main-content py-md-5 py-3  pl-lg-5">
			<!-- header start -->
			<ul class="list-tab-link">
				<li *ngFor="let item of links">
					<a routerLink="/{{item.url}}" routerLinkActive="active">{{item.title}}</a>
				</li>
			</ul>
			<!-- header end -->

			<section class="white-box p-0 mb-4" *ngFor="let car of cars | paginate: { id: 'pagination', itemsPerPage: pageSize, currentPage: currentPage, totalItems: totalItems }">
				<header class="px-3 pb-0 pt-3">
					<h4>Shipment: #{{car.carItem.id}}</h4>
				</header>

				<!-- track order start -->
				<nav aria-label="track-order" class="p-3 border-bottom">
					<ul class="track-order">
						<li *ngFor="let item of car.carItem.tracks" [ngClass]="{'visited': item.visited === true, 'completed': item.completed === true}">
							<span class="milestone"></span>
							<div class="content">
								<span class="font-weight-medium d-block title">{{item.title}}</span>
								<span class="text-medium d-block">{{item.date | date:'MM/dd/yyyy'}}</span>
							</div>
						</li>
					</ul>
				</nav>
				<!-- track order end -->

				<div class="px-3 py-4 border-bottom">
					<!-- detail start -->
					<div class="row font-size-sm mb-2">
						<div class="col-md-12 col-sm-12 mb-2 justify-content-between d-flex d-sm-block">
							<header>
								<h4 class="text-ellipsis">
									Pick Up Location
								</h4>
							</header>
						</div>

						<div class="col-md-4 col-sm-6 mb-2 justify-content-between d-flex d-sm-block">
							Country:
							<span class="font-weight-medium text-right text-sm-left">{{car.carItem.fromCountry}}</span>
						</div>
						<div class="col-md-4 col-sm-6 mb-2 justify-content-between d-flex d-sm-block">
							State:
							<span class="font-weight-medium text-right text-sm-left">{{car.carItem.fromState}}</span>
						</div>
						<div class="col-md-4 col-sm-6 mb-2 justify-content-between d-flex d-sm-block">
							City:
							<span class="font-weight-medium text-right text-sm-left">{{car.carItem.fromCity}}</span>
						</div>
					</div>
					<!-- detail end -->

					<!-- sender start -->
					<article class="px-3 py-2 bg-light text-center text-sm-left">
						<div class="row font-size-sm">
							<div class="col-12 border-bottom mb-2">
								<h5 class="text-primary">Sender</h5>
							</div>
							<div class="col-sm-6 mb-2">
								<span class="font-weight-medium">Name: </span>
								<strong>{{car.carItem.pickupName}}</strong>
							</div>
							<div class="col-sm-6 mb-2">
								<span class="font-weight-medium">Phone: </span>
								<strong>{{car.carItem.pickupPhone}}</strong>
							</div>
							<div class="col-sm-6 mb-2">
								<span class="font-weight-medium">Email: </span>
								<a href="mailto:james.williams3694@indusnet.co.in">{{car.carItem.pickupEmail}}</a>
							</div>
							<div class="col-sm-6 mb-2">
								<span class="font-weight-medium">City: </span>
								<strong>{{car.carItem.fromCity}}</strong>
							</div>
							<div class="col-sm-12 mb-2">
								<span class="font-weight-medium">Address: </span>
								<strong>{{car.carItem.pickupAddress}}</strong>
							</div>
							<div class="col-sm-6 mb-2">
								<span class="font-weight-medium">State: </span>
								<strong>{{car.carItem.fromState}}</strong>
							</div>
							<div class="col-sm-6 mb-2">
								<span class="font-weight-medium">Country: </span>
								<strong>{{car.carItem.fromCountry}}</strong>
							</div>
						</div>
					</article>
					<!-- sender end -->

					<!-- receiver start -->
					<article class="px-3 py-2 bg-light text-center text-sm-left">
						<div class="row font-size-sm">
							<div class="col-12 border-bottom mb-2">
								<h5 class="text-primary">Receiver</h5>
							</div>
							<div class="col-sm-6 mb-2">
								<span class="font-weight-medium">Name: </span>
								<strong>{{car.carItem.recceiverName}}</strong>
							</div>
							<div class="col-sm-6 mb-2">
								<span class="font-weight-medium">Phone: </span>
								<strong>{{car.carItem.receiverPhone}}</strong>
							</div>
							<div class="col-sm-6 mb-2">
								<span class="font-weight-medium">Email: </span>
								<a href="mailto:james.williams3694@indusnet.co.in">{{car.carItem.receiverEmail}}</a>
							</div>
							<div class="col-sm-6 mb-2">
								<span class="font-weight-medium">City: </span>
								<strong>{{car.carItem.toCity}}</strong>
							</div>
							<div class="col-sm-12 mb-2">
								<span class="font-weight-medium">Address: </span>
								<strong>{{car.carItem.receiverAddress}}</strong>
							</div>
							<div class="col-sm-6 mb-2">
								<span class="font-weight-medium">State: </span>
								<strong>{{car.carItem.toState}}</strong>
							</div>
							<div class="col-sm-6 mb-2">
								<span class="font-weight-medium">Country: </span>
								<strong>{{car.carItem.toCountry}}</strong>
							</div>
						</div>
					</article>
					<!-- receiver end -->
					
				</div>

				<!-- car details start -->
				<div class="cart-list p-0">
					<article class="item p-3">
						<div class="row no-gutters">
							<div class="col img pr-3">
								<img src="{{car.carItem.itemImage}}">
							</div>
							<div class="col content">
								<!-- header start -->
								<!--<header>
									<h4 class="text-ellipsis">
										<a href="javascript:void(0);">Car 2</a>
									</h4>
								</header>-->
								<!-- header end -->

								<!-- body start -->
								<div class="row cart-list-body">
									<div class="col-md-4 col-sm-6 mb-2">
										<span class="font-size-sm d-block justify-content-between d-flex d-sm-block">Make:
											<strong class="font-weight-medium text-right text-sm-left">{{car.carItem.make}}</strong>
										</span>
									</div>
									<div class="col-md-4 col-sm-6 mb-2">
										<span class="font-size-sm d-block justify-content-between d-flex d-sm-block">Model:
											<strong class="font-weight-medium text-right text-sm-left">{{car.carItem.model}}</strong>
										</span>
									</div>
									<div class="col-md-4 col-sm-6 mb-2">
										<span class="font-size-sm d-block justify-content-between d-flex d-sm-block">VIN Number:
											<strong class="font-weight-medium text-right text-sm-left">{{car.carItem.vin}}</strong>
										</span>
									</div>
									<div class="col-md-4 col-sm-6 mb-2">
										<span class="font-size-sm d-block justify-content-between d-flex d-sm-block">Car URL:
											<strong class="font-weight-medium text-right text-sm-left">{{car.carItem.websiteUrl}}</strong>
										</span>
									</div>
									<div class="col-md-4 col-sm-6 mb-2">
										<span class="font-size-sm d-block justify-content-between d-flex d-sm-block">Year:
											<strong class="font-weight-medium text-right text-sm-left">{{car.carItem.year}}</strong>
										</span>
									</div>

									
									<div class="col-md-4 col-sm-6 mb-2">
										<span class="font-size-sm d-block justify-content-between d-flex d-sm-block">Color:
											<strong class="font-weight-medium text-right text-sm-left">{{car.carItem.options}}</strong>
										</span>
									</div>

									<div class="col-md-4 col-sm-6 mb-2">
										<span class="font-size-sm d-block justify-content-between d-flex d-sm-block">Car Condition:
											<strong class="font-weight-medium text-right text-sm-left">{{car.carItem.carCondition}}</strong>
										</span>
									</div>

									<div class="col-md-4 col-sm-6 mb-2">
										<span class="font-size-sm d-block justify-content-between d-flex d-sm-block">Millage:
											<strong class="font-weight-medium text-right text-sm-left">{{car.carItem.Millage}}</strong>
										</span>
									</div>

									<div class="col-md-4 col-sm-6 mb-2" *ngIf="car.carItem.carTitleStatus == 'Y'">
										<span class="font-size-sm d-block justify-content-between d-flex d-sm-block"><a download="{{car.carItem.imgName}}" href="{{car.carItem.base64Img}}" (click)="downloadImage(car.carItem.carTitle)" class="btn btn-sm btn-info btn-action" tooltip="Download Image" placement="left" container="body"><i class="fa fa-download" aria-hidden="true"></i></a>
											<strong class="font-weight-medium text-right text-sm-left"></strong>
										</span>
									</div>

								</div>
								<!-- body end -->
							</div>
						</div>
					</article>
					<article class="item p-3">
						<div class="row">
							<div class="col-md-3 col-sm-6 mb-3" *ngIf="car.carItem.uploadedImages.front">
								<div class="border d-flex align-items-center flex-column p-3 h-100">
									<span class="font-weight-bold d-md-block">Front</span>
									<img src="{{ car.carItem.uploadedImages.front.imagePath }}" class="object-fit-cover" width="100" height="60" (click)="showFullImage(car.carItem.uploadedImages.front.id)">
								</div>
							</div>
							<div class="col-md-3 col-sm-6 mb-3" *ngIf="car.carItem.uploadedImages.driver_side">
								<div class="border d-flex align-items-center flex-column p-3 h-100">
									<span class="font-weight-bold d-md-block">Driver Side</span>
									<img src="{{ car.carItem.uploadedImages.driver_side.imagePath }}" class="object-fit-cover" width="100" height="60" (click)="showFullImage(car.carItem.uploadedImages.driver_side.id)">
								</div>
							</div>
							<div class="col-md-3 col-sm-6 mb-3" *ngIf="car.carItem.uploadedImages.passenger_side">
								<div class="border d-flex align-items-center flex-column p-3 h-100">
									<span class="font-weight-bold d-md-block">Passenger Side</span>
									<img src="{{ car.carItem.uploadedImages.passenger_side.imagePath }}" class="object-fit-cover" width="100" height="60" (click)="showFullImage(car.carItem.uploadedImages.passenger_side.id)">
								</div>	
							</div>
							<div class="col-md-3 col-sm-6 mb-3" *ngIf="car.carItem.uploadedImages.back">
								<div class="border d-flex align-items-center flex-column p-3 h-100">
									<span class="font-weight-bold d-md-block">Back</span>
									<img src="{{ car.carItem.uploadedImages.back.imagePath }}" class="object-fit-cover" width="100" height="60" (click)="showFullImage(car.carItem.uploadedImages.back.id)">
								</div>
							</div>
							<div class="col-md-3 col-sm-6 mb-3" *ngIf="car.carItem.uploadedImages.interior">
								<div class="border d-flex align-items-center flex-column p-3 h-100">
									<span class="font-weight-bold d-md-block">Interior</span>
									<img src="{{ car.carItem.uploadedImages.interior.imagePath }}" class="object-fit-cover" width="100" height="60" (click)="showFullImage(car.carItem.uploadedImages.interior.id)">
								</div>
							</div>
							<div class="col-md-3 col-sm-6 mb-3" *ngIf="car.carItem.uploadedImages.optional_1">
								<div class="border d-flex align-items-center flex-column p-3 h-100">
									<span class="font-weight-bold d-md-block">Optional 1</span>
									<img src="{{ car.carItem.uploadedImages.optional_1.imagePath }}" class="object-fit-cover" width="100" height="60" (click)="showFullImage(car.carItem.uploadedImages.optional_1.id)">
								</div>
							</div>
							<div class="col-md-3 col-sm-6 mb-3" *ngIf="car.carItem.uploadedImages.optional_2">
								<div class="border d-flex align-items-center flex-column p-3 h-100">
									<span class="font-weight-bold d-md-block">Optional 2</span>
									<img src="{{ car.carItem.uploadedImages.optional_2.imagePath }}" class="object-fit-cover" width="100" height="60" (click)="showFullImage(car.carItem.uploadedImages.optional_2.id)">
								</div>
							</div>
							<div class="col-md-3 col-sm-6 mb-3" *ngIf="car.carItem.uploadedImages.optional_3">
								<div class="border d-flex align-items-center flex-column p-3 h-100">
									<span class="font-weight-bold d-md-block">Optional 3</span>
									<img src="{{ car.carItem.uploadedImages.optional_3.imagePath }}" class="object-fit-cover" width="100" height="60" (click)="showFullImage(car.carItem.uploadedImages.optional_3.id)">
								</div>
							</div>
						</div>
					</article>
				</div>
				<!-- car details end -->

				<article class="px-3 py-2 bg-medium text-center text-sm-left">
					<div class="row">
						<div class="col-md-3 col-sm-6 mb-2 mb-md-0 justify-content-between d-flex d-sm-block">
							<span class="font-weight-medium d-md-block">Pickup Cost:</span>
							<strong>{{car.carItem.pickupCost}}</strong>
						</div>
						<div class="col-md-3 col-sm-6 mb-2 mb-md-0 justify-content-between d-flex d-sm-block">
							<span class="font-weight-medium d-md-block">Shipping:</span>
							<strong>{{car.carItem.shipmentCost}}</strong>
						</div>
						<div class="col-md-2 col-sm-6 mb-2 mb-sm-0 justify-content-between d-flex d-sm-block">
							<span class="font-weight-medium d-md-block">Insurance:</span>
							<strong>{{car.carItem.insuranceCost}}</strong>
						</div>
						<div class="col-md-2 col-sm-6 justify-content-between d-flex d-sm-block">
							<span class="font-weight-medium d-md-block">Tax:</span>
							<strong>{{car.carItem.taxCost}}</strong>
						</div>
						<div class="col-md-2 col-sm-6 justify-content-between d-flex d-sm-block">
							<span class="font-weight-medium d-md-block">Total:</span>
							<strong>{{car.carItem.totalCost}}</strong>
						</div>

					</div>
				</article>

				<div class="p-3 text-center" *ngIf="car.carItem.paymentStatus == 'unpaid' && car.carItem.paymentMethodId != NULL ">
					<button type="button" class="btn btn-sm btn-info btn-action" (click)="print(car.carItem.id,'invoice')" tooltip="Print Invoice" placement="left" container="body"><i class="fa fa-print" aria-hidden="true"></i></button>
				</div>
				<div class="p-3 text-center" *ngIf="car.carItem.paymentStatus == 'paid' && car.carItem.paymentMethodId != NULL ">
					<button type="button" class="btn btn-sm btn-info btn-action" (click)="print(car.carItem.id,'receipt')" tooltip="Print Receipt" placement="left" container="body"><i class="fa fa-print" aria-hidden="true"></i></button>
				</div>
				<div class="p-3 text-center" *ngIf="car.carItem.paymentStatus == 'unpaid' && car.carItem.paymentMethodId == NULL ">
					<button type="button" class="btn btn-sm btn-info btn-action" (click)="processShipmentpayment(car.carItem.id)" tooltip="Checkout" placement="left" container="body"><i class="fa fa-shopping-cart" aria-hidden="true"></i></button>
				</div>

			</section>


			<article  class="item" >
				<div class="row no-gutters" *ngIf="cars?.length === 0">
					<h5>No Items Added</h5>
				</div>
			</article>



			<footer class="p-2" *ngIf="cars?.length">
				<div class="row">
					<div class="col-sm-3">
						<div class="input-group input-group-sm">
							<select name="perPage" [(ngModel)]="perPage" class="form-control" (change)="perPageChanged($event)">
								<option value="10">10</option>
								<option value="20">20</option>
								<option value="30">30</option>
								<option value="50">50</option>
								<option value="100">100</option>
							</select>
							<div class="input-group-append">
								<span class="input-group-text" id="basic-addon2">Records</span>
							</div>
						</div>
					</div>

					<div class="col-sm-9 d-flex justify-content-sm-end justify-content-center mt-2 mt-sm-0" *ngIf="cars">
						<pagination-controls  id="pagination"
							(pageChange)="pageChanged($event)"
							maxSize="5"
							directionLinks="true"
							autoHide="true"
							previousLabel="Previous"
							nextLabel="Next">
						</pagination-controls>
					</div>
				</div>
			</footer>

		</main>
		<!-- main content end -->

		


	</div>
</section>


			

