<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">Cart Data</h4>
</div>
<div class="modal-body">
	<p>There are previous data in you cart. Want to continue with that?</p>
</div>
<div class="modal-footer">
	<button type="button" class="btn btn-dark" (click)="previosData()">Yes</button>
	<button type="button" class="btn btn-primary" (click)="newData()">No</button>
	<input type="hidden" name="type" ngModel [(ngModel)]="type">
</div>
