<!-- header start -->
<header class="page-header border-bottom mb-3">
    <h3>Account Details</h3>
</header>
<!-- header end -->

<!-- location start -->
<div class="row align-items-center mb-md-5 mb-3">
    <div class="col-md-4 col-sm-5">
        <label>Select Warehouse Location:</label>
        <select class="form-control" [(ngModel)]="selectedWarehouse" (change)="selectWarehose($event)">
            <option value="{{ i }}" *ngFor="let eachWarehouse of allWarehouse; let i = index">
                    {{ eachWarehouse.country.name }} ({{eachWarehouse.city.name}})</option>
        </select>
    </div>
    <!--<div class="col-md-8 col-sm-7 d-flex justify-content-end mt-3 mt-sm-0">
                                    <div class="account-type px-3 py-2">
                                            <span class="d-block">Account type:</span>
                                            <span class="font-weight-medium d-block">
                                                    <strong>Personal Account</strong>
                                            </span>
                                    </div>
                                    <div class="px-3 py-2">
                                            <span class="d-block">Account expires:</span>
                                            <span class="d-block">
                                                    <strong>Nov 15th, 2018</strong>
                                            </span>
                                    </div>
                            </div> -->
</div>
<!-- location end -->

<div class="white-box">
    <!-- usrt deail start -->
    <div class="row user-detail">
        <div class="col img">
            <img [src]="profileImg" *ngIf="defaultProfile==''">
            <img src="{{ defaultProfile }}" *ngIf="defaultProfile!=''">
            <button type="button" class="btn text-white upload" (click)="editProfileImg.click()">
                <i class="fa fa-camera" aria-hidden="true"></i>
            </button>
            <input hidden type="file" #editProfileImg (change)="fileUpload($event)">
        </div>
        <div class="col content">
            <div class="border-bottom pb-3 mb-3" *ngIf="auth.item">
                <h3 class="text-primary">
                    {{auth.item.user.title+' '+auth.item.user.firstName+' '+auth.item.user.lastName}}</h3>
                <h5>{{auth.item.user.company}}</h5>
                <span class="d-block">Mail: {{auth.item.user.email}}</span>
                <span class="d-block">Phone: {{auth.item.user.contactNumber}}</span>
            </div>
            <button class="btn btn-success text-uppercase font-weight-bold" (click)="showData()" *ngIf="!showsubscribe && userSubscription == 'N'">Subscribe Now</button>

            <div *ngIf="userSubscriptionData && userSubscription == 'Y'" class="bg-light shadow-1 px-3 py-2">
                <label class="d-flex justify-content-between w-100 mb-0">
                    <div><strong class="text-uppercase">Subscribed For {{userSubscriptionData.subscribedFor}} {{userSubscriptionData.subscribedFor > 1 ? 'Months' : 'Month'}}</strong> <span class="text-warning pl-2">Expiry On : {{userSubscriptionData.expiryDate | date}}</span></div>
                    <span class="btn btn-warning px-3 py-0 font-weight-bold">{{defaultCurrencySymbol}} {{userSubscriptionData.subscribedAmount}}</span>
                </label>
            </div> 

        </div>
    </div>
    <!-- usrt deail end -->

    <!-- shopper rewards start -->
    <div class="row rewards my-3 my-sm-5">
        <div class="col-sm-12">
            <h4>Shopper Rewards</h4>
        </div>
        <div class="col-md-4 item">
            <div class="row no-gutters border align-items-center">
                <div class="col icon p-3">
                    <svg-icon src="assets/imgs/icons/earned-points.svg" [svgStyle]="{ 'height.px':40}"></svg-icon>
                </div>
                <div class="col-8 content p-3">
                    <span class="title">Earned Points :</span>
                    <span class="value">{{earnedPoints}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 item">
            <div class="row no-gutters border align-items-center">
                <div class="col icon p-3">
                    <svg-icon src="assets/imgs/icons/rewards.svg" [svgStyle]="{ 'height.px':40}"></svg-icon>
                </div>
                <div class="col-8 content p-3">
                    <span class="title">Reward Level :</span>
                    <span class="value">{{rewardName}}</span>
                </div>
            </div>
        </div>
        <div class="col-md-4 item">
            <div class="row no-gutters border align-items-center">
                <div class="col icon p-3">
                    <svg-icon src="assets/imgs/icons/reward-expires.svg" [svgStyle]="{ 'height.px':40}"></svg-icon>
                </div>
                <div class="col-8 content p-3">
                    <span class="title">Reward Expires :</span>
                    <span class="value">{{expString}}</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 text-center mt-3 mt-md-5">
            <a routerLink="../reward" class="btn btn-primary btn-sm">My Reward Details</a>
        </div>
    </div>
    <!-- shopper rewards end -->

    <!-- address start -->
    <div class="row delivery-address">
        <div class="col-md-6 col-12 item" *ngFor="let eachShippingAddress of userShippingAddress">
             <div class="border item-wrap p-3">
                <div class="row">
                    <div class="col icon">
                        <svg-icon src="assets/imgs/icons/delivery-address.svg" [svgStyle]="{ 'height.px':95}">
                        </svg-icon>
                    </div>
                    <div class="col-sm-8">
                        <h4>My Delivery Address</h4>
                        <span
                            class="font-weight-bold">{{eachShippingAddress.firstName+ ' '+eachShippingAddress.lastName}}</span>
                        <span class="d-block mb-2">{{eachShippingAddress.address}},
                            {{(eachShippingAddress.city!=null)?eachShippingAddress.city.name+',':''}}
                            {{(eachShippingAddress.state!=null)?eachShippingAddress.state.name+',':''}}
                            {{(eachShippingAddress.zipcode!=null)?eachShippingAddress.zipcode+',':''}}
                            {{(eachShippingAddress.country!=null)?eachShippingAddress.country.code+',':''}}
                            {{(eachShippingAddress.phone!=null)?'Phone: '+eachShippingAddress.phone:''}}</span>
                        <a routerLink="/addressbook" class="btn btn-primary btn-sm">Go To Addressbook</a>
                    </div>
                </div>
            </div>
        </div>
        <div #warehouseAddress id="warehouseAddress" class="col-md-6 col-12 item">
            <div class="border item-wrap p-3">
                <div class="row">
                    <div class="col icon">
                        <svg-icon src="assets/imgs/icons/delivery-address.svg" [svgStyle]="{ 'height.px':95}">
                        </svg-icon>
                    </div>
                    <div class="col-sm-8" *ngIf="selectedWarehouseDetails && auth.item">

                         <h4>My {{ selectedWarehouseDetails.country.code }} Address</h4>
                        <span class="d-block">
                            <strong>{{'UNIT '+auth.item.user.unit}}</strong>
                        </span>
                        <span class="font-weight-bold">{{auth.item.user.firstName+' '+auth.item.user.lastName}}</span>
                        <span class="d-block mb-2">{{ selectedWarehouseDetails.address }},
                            {{ selectedWarehouseDetails.city.name }}, {{ selectedWarehouseDetails.state.name }},
                            {{selectedWarehouseDetails.zipcode}} {{selectedWarehouseDetails.country.code}}</span>
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm mr-2"
                           (click)="showWarehouseAddress()">How to use my address</a>

                    </div>
                </div>
                <!-- address end -->
            </div>
        </div>
        <div *ngIf="showsubscribe" class="card text-center mt-3">
            <article class="white-box p-0 mb-4 plans">
                <div *ngIf="isLargeScreen() ? true : false">
                    <table class="dataTable hover">
                        <thead>
                            <tr>
                                <th class="bg-primary text-white font-weight-bold font-size-md">Features</th>
                                <th class="bg-primary text-white font-weight-bold font-size-md text-center">One Time Shopper
                                </th>
                                <th colspan="4" class="bg-primary text-white font-weight-bold font-size-md text-center">
                                    Subscribe and Save
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of featureList">
                                <td>
                                    <div class="d-flex justify-content-between">
                                        <span class="flex-1">{{item.featureLabel}}</span>
                                        <a class="help-icon d-inline-block" container="body" href="javascript:void(0)"
                                           tooltip="{{item.helpText}}"><i aria-hidden="true" class="fa fa-question"></i></a>
                                    </div>
                                </td>
                                <td align="center">
                                    <i class="fa font-size-lg"
                                       [ngClass]="{'fa-check-circle text-success': item.freeFeature == 'Y', 'fa-times-circle text-danger': item.freeFeature == 'N'}"
                                       aria-hidden="true"></i>
                                </td>
                                <td align="center" colspan="4">
                                    <i class="fa font-size-lg"
                                       [ngClass]="{'fa-check-circle text-success':  item.subscribedFeature == 'Y', 'fa-times-circle text-danger':  item.subscribedFeature == 'N'}"
                                       aria-hidden="true"></i>
                                </td>
                            </tr>						
                        </tbody>
                        <tfoot class="bg-dark text-white">
                            <tr>
                                <th class="white-space-initial font-weight-normal">
                        <p class="mb-0">
                            The average Shopper Who subscribes and save their
                            subscription cost
                            <span [ngClass]="{'d-none': !show, 'd-inline': show}">after the second
                                shipment.The average Shopper Who subscribes and save their subscription cost after
                                the second shipment.</span>
                            <a href="javascript:void(0)"
                               (click)="show = !show">...{{ show ? 'Show less': 'Show More' }}</a>

                        </p>

                        </th>
                        <th class="text-center"><button class="btn btn-secondary btn-sm" disabled="">First User</button></th>
                        <th valign="top" *ngFor="let item of settings">
                    <div class="text-center d-flex flex-column h-100">
                        <span class="text-uppercase h6 font-weight-bold text-white flex-1">{{item.duration}}{{item.duration > 1 ? ' Months' : ' Month'}}</span>
                        <span class="btn btn-outline-warning px-3 py-0 font-weight-bold mb-2">$ {{item.amount}}</span>
                        <button class="btn btn-secondary btn-sm" (click)="payforSubscription(item.amount, item.duration)">Pay Now</button>
                    </div>
                    </th>

                    </tr>
                    </tfoot>
                </table>
            </div>
        </article>
    </div>
</div>
</div>