<div class=" my-3 my-md-5">
	<!-- header start -->
	<header class="page-header border-bottom mb-3">
		<h3>Personal details</h3>
		<!-- <p>Please enter your profile which is necessary to place your shipments or access your warehouse. If you are based in the
			US, and will primarily be dropping off your shipments in our US warehouse, you do not need an E-Procure account.</p> -->
		<p>Verify that your billing and delivery details are correct</p>
	</header>
	<!-- header end -->
	<div class="pb-3">
		<span class="d-block font-size-sm">The fields marked with
			<strong class="font-weight-medium text-secondary">*</strong> are mandatory.
		</span>
	</div>
	<!-- personal details form start -->
	<section class="white-box">
		<form method="post" name="form" #personalDetailFrm="ngForm" (ngSubmit) = "onSubmit(personalDetailFrm)">
			<!-- personal information start -->
			<article class="mb-2 mb-md-3">
				<header class="border-bottom mb-3">
					<h6 class="mb-3">
						<i class="fa fa-chevron-circle-right mr-2 text-primary" aria-hidden="true"></i>Contact Information
					</h6>
				</header>
				<div class="form-row">
					<div class="form-group col-sm-2">
						<label>Title</label>
						<select class="form-control" name="userTitle" [(ngModel)]="userDetails.title">
							<option>Mr.</option>
							<option>Mrs.</option>
							<option>Ms.</option>
						</select>
						<input type="text" [hidden]="true" #userEmail="ngModel" name="userEmail" [(ngModel)]="userDetails.email">
					</div>
					<div class="form-group col-sm-4">
						<label>First Name
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control" name="firstName"  #firstName="ngModel" [ngClass]="{ 'is-invalid': personalDetailFrm.submitted && firstName.invalid }" [(ngModel)]="userDetails.firstName" required />
						<div *ngIf="personalDetailFrm.submitted && firstName.invalid" class="invalid-feedback">
                        	<div *ngIf="firstName.errors.required">Field is required</div>
                    	</div>
					</div>
					<div class="form-group col-sm-6">
						<label>Last Name
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control" name="lastName" #lastName="ngModel" [ngClass]="{ 'is-invalid': personalDetailFrm.submitted && lastName.invalid }" [(ngModel)]="userDetails.lastName" required />
						<div *ngIf="personalDetailFrm.submitted && lastName.invalid" class="invalid-feedback">
                        	<div *ngIf="lastName.errors.required">Field is required</div>
                    	</div>
					</div>
					<div class="form-group col-sm-6">
						<label>Company
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control" name="company" #company="ngModel" [ngClass]="{ 'is-invalid': personalDetailFrm.submitted && company.invalid }" [(ngModel)]="userDetails.company" required />
						<div *ngIf="personalDetailFrm.submitted && company.invalid" class="invalid-feedback">
                        	<div *ngIf="company.errors.required">Field is required</div>
                    	</div>
					</div>
					<div class="form-group col-sm-6">
						<label>Phone</label>
						<input type="text" name="contactNumber" name="contactNumber" class="form-control" [(ngModel)]="userDetails.contactNumber" />
					</div>
				</div>
			</article>
			<!-- personal information end -->

			<!-- billing information start -->
			<article class="mb-2 mb-md-3">
				<header class="border-bottom mb-3">
					<h6 class="mb-3">
						<i class="fa fa-chevron-circle-right mr-2 text-primary" aria-hidden="true"></i>Billing Address
					</h6>
				</header>
				<div class="form-row">
					<div class="form-group col-sm-4">
						<label>First Name
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control" name="billingFirstName" #billingFirstName="ngModel" [ngClass]="{ 'is-invalid': personalDetailFrm.submitted && billingFirstName.invalid }" [(ngModel)]="userDefaultBillingAddress.firstName" [readonly]="isReadOnly" required />
						<div *ngIf="personalDetailFrm.submitted && billingFirstName.invalid" class="invalid-feedback">
                        	<div *ngIf="billingFirstName.errors.required">Field is required</div>
                    	</div>
					</div>
					<div class="form-group col-sm-4">
						<label>Last Name
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control" name="billingLastName" #billingLastName="ngModel" [ngClass]="{ 'is-invalid': personalDetailFrm.submitted && billingLastName.invalid }" [(ngModel)]="userDefaultBillingAddress.lastName" [readonly]="isReadOnly" required />
						<div *ngIf="personalDetailFrm.submitted && billingLastName.invalid" class="invalid-feedback">
                        	<div *ngIf="billingLastName.errors.required">Field is required</div>
                    	</div>
					</div>
					<div class="form-group col-sm-4">
						<label>Email
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control" name="billingEmail" #billingEmail="ngModel" [ngClass]="{ 'is-invalid': personalDetailFrm.submitted && billingEmail.invalid }" [(ngModel)]="userDefaultBillingAddress.email" [readonly]="isReadOnly" required />
						<div *ngIf="personalDetailFrm.submitted && billingEmail.invalid" class="invalid-feedback">
                        	<div *ngIf="billingEmail.errors.required">Field is required</div>
                    	</div>
					</div>
					<div class="form-group col-sm-6">
						<label>Address
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control"  name="billingAddress"  #billingAddress="ngModel" [ngClass]="{ 'is-invalid': personalDetailFrm.submitted && billingAddress.invalid }" [(ngModel)]="userDefaultBillingAddress.address" [readonly]="isReadOnly" required />
						<div *ngIf="personalDetailFrm.submitted && billingAddress.invalid" class="invalid-feedback">
                        	<div *ngIf="billingAddress.errors.required">Field is required</div>
                    	</div>
					</div>
					<div class="form-group col-sm-6">
						<label>Address (Line 2)
						</label>
						<input type="text" class="form-control"  name="billingAlternateAddress" [(ngModel)]="userDefaultBillingAddress.alternateAddress" [readonly]="isReadOnly">
					</div>
					<div class="form-group col-sm-2">
						<label>
							Country
							<span class="text-secondary">*</span>
						</label>
						<select class="form-control" name="billingCountryId" #billingCountryId="ngModel" [ngClass]="{ 'is-invalid': personalDetailFrm.submitted && billingCountryId.invalid }" [style.pointer-events]="isReadOnly == true ? 'none' : ''" [style.background-color]="isReadOnly == true ? '#e9ecef' : ''" [(ngModel)]="userDefaultBillingAddress.countryId" (change)="getStateCity($event)" required>
							<option value="">Select</option>
							<option (click)="setBillingCountryName($event)" value="{{country.id}}" *ngFor="let country of countryList">{{country.name}}</option>
						</select>
						<input type="text" [hidden]="true" name="defaultBillingCountryId" [(ngModel)]="defaultBillingCountryId">
						<input type="text" [hidden]="true" name="billingCountryName" [(ngModel)]="billingCountryName">
						<div *ngIf="personalDetailFrm.submitted && billingCountryId.invalid" class="invalid-feedback">
                        	<div *ngIf="billingCountryId.errors.required">Field is required</div>
                    	</div>
					</div>
					<div class="form-group col-sm-2">
						<label>
							State
						</label>
						<select class="form-control" name="billingStateId" #billingStateId="ngModel" [style.pointer-events]="isReadOnly == true ? 'none' : ''" [style.background-color]="isReadOnly == true ? '#e9ecef' : ''" [(ngModel)]="userDefaultBillingAddress.stateId" (change)="getCity($event)">
							<option value="">Select</option>
							<option (click)="setBillingStateName($event)" value="{{state.id}}" *ngFor="let state of stateList">{{state.name}}</option>
						</select>
						<input type="text" [hidden]="true" name="billingStateName" [(ngModel)]="billingStateName">
					</div>
					<div class="form-group col-sm-2">
						<label>
							City
						</label>
						<select class="form-control" name="billingCityId" #billingCityId="ngModel" [(ngModel)]="userDefaultBillingAddress.cityId"  [style.pointer-events]="isReadOnly == true ? 'none' : ''" [style.background-color]="isReadOnly == true ? '#e9ecef' : ''">
							<option value="">Select</option>
							<option (click)="setBillingCityName($event)"  value="{{city.id}}" *ngFor="let city of cityList">{{city.name}}</option>
						</select>
						<input type="text" [hidden]="true" name="billingCityName" [(ngModel)]="billingCityName">
					</div>
					<div class="form-group col-sm-3">
						<label>Zip/Postal Code
						</label>
						<input type="text" class="form-control" name="billingZipcode" [(ngModel)]="userDefaultBillingAddress.zipcode" [readonly]="isReadOnly">
					</div>
					<div class="form-group col-sm-3">
						<label>
							Phone
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control"  name="billingPhone" #billingPhone="ngModel" [ngClass]="{ 'is-invalid': personalDetailFrm.submitted && billingPhone.invalid }" [(ngModel)]="userDefaultBillingAddress.phone" [readonly]="isReadOnly" required />
						<div *ngIf="personalDetailFrm.submitted && billingPhone.invalid" class="invalid-feedback">
                        	<div *ngIf="billingPhone.errors.required">Field is required</div>
                    	</div>
					</div>
				</div>
			</article>
			<!-- billing information end -->

			<!-- shipping information start -->
			<article class="mb-2 mb-md-3">
				<header class="border-bottom mb-3">
					<h6 class="mb-3">
						<i class="fa fa-chevron-circle-right mr-2 text-primary" aria-hidden="true"></i>Shipping Address
					</h6>
				</header>
				
				<div class="form-row billingAddress">
					<div class="form-group col-sm-4">
						<label>First Name
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control" name="shippingFirstName" #shippingFirstName="ngModel" [ngClass]="{ 'is-invalid': personalDetailFrm.submitted && shippingFirstName.invalid }" [(ngModel)]="userDefaultShippingAddress.firstName" [readonly]="isReadOnly" required />
						<div *ngIf="personalDetailFrm.submitted && shippingFirstName.invalid" class="invalid-feedback">
                        	<div *ngIf="shippingFirstName.errors.required">Field is required</div>
                    	</div>
					</div>
					<div class="form-group col-sm-4">
						<label>Last Name
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control" name="shippingLastName" #shippingLastName="ngModel" [ngClass]="{ 'is-invalid': personalDetailFrm.submitted && shippingLastName.invalid }" [(ngModel)]="userDefaultShippingAddress.lastName" [readonly]="isReadOnly" required />
						<div *ngIf="personalDetailFrm.submitted && shippingLastName.invalid" class="invalid-feedback">
                        	<div *ngIf="shippingLastName.errors.required">Field is required</div>
                    	</div>
					</div>
					<div class="form-group col-sm-4">
						<label>Email
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control" name="shippingEmail" #shippingEmail="ngModel" [ngClass]="{ 'is-invalid': personalDetailFrm.submitted && shippingEmail.invalid }" [(ngModel)]="userDefaultShippingAddress.email" [readonly]="isReadOnly" required />
						<div *ngIf="personalDetailFrm.submitted && shippingEmail.invalid" class="invalid-feedback">
                        	<div *ngIf="shippingEmail.errors.required">Field is required</div>
                    	</div>
					</div>
					<div class="form-group col-sm-6">
						<label>Address
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control" name="shippingAddress" #shippingAddress="ngModel" [ngClass]="{ 'is-invalid': personalDetailFrm.submitted && shippingAddress.invalid }" [(ngModel)]="userDefaultShippingAddress.address" [readonly]="isReadOnly" required />
						<div *ngIf="personalDetailFrm.submitted && shippingAddress.invalid" class="invalid-feedback">
                        	<div *ngIf="shippingAddress.errors.required">Field is required</div>
                    	</div>
					</div>
					<div class="form-group col-sm-6">
						<label>Address (Line 2)
						</label>
						<input type="text" class="form-control"  name="shippingAlternateAddress" [(ngModel)]="userDefaultShippingAddress.alternateAddress" [readonly]="isReadOnly">
					</div>
					<div class="form-group col-sm-2">
						<label>
							Country
							<span class="text-secondary">*</span>
						</label>
						<select class="form-control" [style.pointer-events]="isReadOnly == true ? 'none' : ''" [style.background-color]="isReadOnly == true ? '#e9ecef' : ''" name="shippingCountryId" #shippingCountryId="ngModel" [ngClass]="{ 'is-invalid': personalDetailFrm.submitted && shippingCountryId.invalid }" [(ngModel)]="userDefaultShippingAddress.countryId" (change)="getStateCity($event)" required>
							<option value="">Select</option>
							<option (click)="setShippingCountryName($event)" value="{{country.id}}" *ngFor="let country of countryList">{{country.name}}</option>
						</select>
						<input type="hidden" class="form-control" name="shippingCountryName" [(ngModel)]="shippingCountryName">
						<div *ngIf="personalDetailFrm.submitted && shippingCountryId.invalid" class="invalid-feedback">
                        	<div *ngIf="shippingCountryId.errors.required">Field is required</div>
                    	</div>
					</div>
					<div class="form-group col-sm-2">
						<label>
							State
						</label>
						<select class="form-control" #shippingStateId="ngModel" name="shippingStateId" [style.pointer-events]="isReadOnly == true ? 'none' : ''" [style.background-color]="isReadOnly == true ? '#e9ecef' : ''" [(ngModel)]="userDefaultShippingAddress.stateId" (change)="getCity($event)">
							<option value="">Select</option>
							<option (click)="setShippingStateName($event)"  value="{{state.id}}" *ngFor="let state of stateList">{{state.name}}</option>
						</select>
						<input type="hidden" class="form-control" name="shippingStateName" [(ngModel)]="shippingStateName">
					</div>
					<div class="form-group col-sm-2">
						<label>
							City
						</label>
						<select class="form-control" #shippingCityId="ngModel" name="shippingCityId" [style.pointer-events]="isReadOnly == true ? 'none' : ''" [style.background-color]="isReadOnly == true ? '#e9ecef' : ''" [(ngModel)]="userDefaultShippingAddress.cityId" (change)="getCity($event)">
							<option value="">Select</option>
							<option (click)="setShippingCityName($event)" value="{{city.id}}" *ngFor="let city of cityList">{{city.name}}</option>
						</select>
						<input type="hidden" class="form-control" name="shippingCityName" [(ngModel)]="shippingCityName">
					</div>
					<div class="form-group col-sm-3">
						<label>Zip/Postal Code</label>
						<input type="text" class="form-control" name="shippingZipcode" [(ngModel)]="userDefaultShippingAddress.zipcode" [readonly]="isReadOnly">
					</div>
					<div class="form-group col-sm-3">
						<label>
							Phone
							<span class="text-secondary">*</span>
						</label>
						<input type="text" class="form-control" name="shippingPhone" [(ngModel)]="userDefaultShippingAddress.phone" #shippingPhone="ngModel" [ngClass]="{ 'is-invalid': personalDetailFrm.submitted && shippingPhone.invalid }" [readonly]="isReadOnly" required>
						<div *ngIf="personalDetailFrm.submitted && shippingPhone.invalid" class="invalid-feedback">
                        	<div *ngIf="shippingPhone.errors.required">Field is required</div>
                    	</div>
					</div>
				</div>
			</article>
			<!-- shipping information end -->

			<!-- submit start -->
			<article class="text-center border-top pt-3 pt-md-5 mt-3 mt-md-5">
				<button type="submit" class="btn btn-secondary mb-3" [disabled]="dataSubmit">Continue</button>
			</article>
			<!-- submit end -->
		</form>
	</section>
	<!-- personal details form end -->
</div>
