<!-- step start -->
<nav class="border-bottom">
	<div class="container py-md-4 py-3">
		<ul class="steper">
			<li *ngFor="let item of steps" [ngClass]="{'visited': item.isCompleted == true}">
				<button type="button" routerLink="{{item.link}}" routerLinkActive="active" (click)="visitedSteps(item.link)" [disabled]="item.isDisabled" (load)="visitedSteps(item.link)">
					<span class="d-none d-sm-block">{{item.title}}</span>
					<svg-icon class="d-block d-sm-none" src="assets/imgs/icons/{{item.icon}}" [svgStyle]="{ 'width.px':20, 'height.px':20}"></svg-icon>
				</button>
			</li>
		</ul>
	</div>
</nav>
<!-- step end -->
<main class="container">
	<router-outlet></router-outlet>
</main>
