<ng-walkthrough-flow #walkShopForMe focusBackdrop="true" focusHighlightAnimation="true" closeAnywhere="false" showArrow="true"
 radius="auto" [texts]="lastNavText" (finished)="walkShopForMeFinished()" arrowColor="#5bc6d0" previousStep="">
	<!-- step country start -->
	<ng-walkthrough focusElementSelector="#country" [contentTemplate]="stepCountry">
		<ng-template #stepCountry>
			<h5 class="text-primary font-weight-bold">Step 2 :</h5>
			<p>Select the <b>Country of Purchase</b> to specify the warehouse to whihc the ordered items will be shipped.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step country end -->

	<!-- step Urgent start -->
	<ng-walkthrough focusElementSelector="#urgent" [contentTemplate]="stepUrgent">
		<ng-template #stepUrgent>
			<h5 class="text-primary font-weight-bold">Step 3 :</h5>
			<p>Specify if this order is an <b>Urgent</b> purchase or not.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step Urgent end -->

	<!-- step tell us start -->
	<ng-walkthrough focusElementSelector="#tellUs" [contentTemplate]="stepTellUs">
		<ng-template #stepTellUs>
			<h5 class="text-primary font-weight-bold">Step 4 :</h5>
			<p>Fill in all the item details in the form. Specify the <b>Store</b>, <b>URL</b> for the item to be purchased from
				the <b>Website</b>, <b>Item Price</b> and other required details. Please provide <b>Shpping Cost</b> amount if the
				website charges delivery fees to ship item to the selected warehouse location.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step tell us end -->

	<!-- step my bag start -->
	<ng-walkthrough focusElementSelector="#myBag" [contentTemplate]="stepMyBag">
		<ng-template #stepMyBag>
			<h5 class="text-primary font-weight-bold">Step 5 :</h5>
			<p>Now, click on the <b>Add to My Bag</b> button to add the above item to your cart and proceed.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step my bag end -->

	<!-- step product start -->
	<ng-walkthrough focusElementSelector="#product" [contentTemplate]="stepProduct">
		<ng-template #stepProduct>
			<h5 class="text-primary font-weight-bold">Step 6 :</h5>
			<p>Displays all the items that have been added to the cart.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step product end -->

	<!-- step save for later start -->
	<ng-walkthrough focusElementSelector="#saveLater" [contentTemplate]="stepSaveLater">
		<ng-template #stepSaveLater>
			<h5 class="text-primary font-weight-bold">Step 7 :</h5>
			<p>Click on <b>Save For Later</b> if you want to save the items in the cart and place an order later. You can find
				these items under <b>My Saved Orders</b>. And later move them to cart to place an order.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step save for later end -->

	<!-- step calculate start -->
	<ng-walkthrough focusElementSelector="#calculate" [contentTemplate]="stepCalculate">
		<ng-template #stepCalculate>
			<h5 class="text-primary font-weight-bold">Step 8 :</h5>
			<p>Click on <b>Calculate Shipping Cost</b> to view all the available shipping methods and their cost. In additon,
				there are two other options <b>Add To My Warehouse</b>, <b>Send me Shipping Cost</b>.<br></p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step calculate end -->

	<!-- step Standard start -->
	<ng-walkthrough focusElementSelector="#standard" [contentTemplate]="stepStandard">
		<ng-template #stepStandard>
			<h5 class="text-primary font-weight-bold">Step 9 :</h5>
			<p>Displays the available <b>Shipping Method(s)</b> and the details. The calculated <b>Shipping Cost</b> to ship the
				item from our Warehouse to your Deluvery location based on total item(s) weight, the applicable <b>Clearing, Duty
					and Port Handling</b> charge and the estimated delivery date.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step Standard end -->

	<!-- step Standard checkout start -->
	<ng-walkthrough focusElementSelector="#standardCheckout" [contentTemplate]="stepStandardCheckout">
		<ng-template #stepStandardCheckout>
			<h5 class="text-primary font-weight-bold">Step 10 :</h5>
			<p>Select the desired Shipping Method and Click on <b>Checkout</b> to proceed to checkout and make payment. You need
				to pay the <b>Total Shop For Me Cost + Shippind Cost</b>.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step Standard checkout end -->

	<!-- step my warehouse start -->
	<ng-walkthrough focusElementSelector="#myWarehouse" [contentTemplate]="stepMyWarehouse">
		<ng-template #stepMyWarehouse>
			<h5 class="text-primary font-weight-bold">Step 11 :</h5>
			<p><b>Add To My Warehouse:</b>On selecting this option, you only need to pay the <b>Total Shop For Me Cost</b> =
				Total From Store(s) + Proccessing Fee + Urgent Purchase Fee (if any). On successful payment, the items will be
				orderd and after the items are received in warehouse, admin will create shipment for the ordered items. You can
				then, view them under <b>My Warehouse</b> section.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step my warehouse end -->

	<!-- step my warehouse checkout start -->
	<ng-walkthrough focusElementSelector="#warehouseCheckout" [contentTemplate]="stepWarehouseCheckout">
		<ng-template #stepWarehouseCheckout>
			<h5 class="text-primary font-weight-bold">Step 12 :</h5>
			<p>Click on <b>Checkout</b> to proceed to checkout and make payment.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step my warehouse checkout end -->

	<!-- step shipping cost start -->
	<ng-walkthrough focusElementSelector="#shippingCost" [contentTemplate]="stepShippingCost">
		<ng-template #stepShippingCost>
			<h5 class="text-primary font-weight-bold">Step 13 :</h5>
			<p><b>Send me Shipping Cost:</b> If you are not sure and want to get an estimate before making placing an order.
				Select this option. Your request will be sent to Admin and you will be provided with an estimated cost to ship the
				items.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step shipping cost end -->

	<!-- step shipping cost checkout start -->
	<ng-walkthrough focusElementSelector="#shippingCheckout" [contentTemplate]="stepShippingCheckout">
		<ng-template #stepShippingCheckout>
			<h5 class="text-primary font-weight-bold">Step 14 :</h5>
			<p>Click on <b>Checkout</b> to send an request for estimate.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step shipping cost checkout end -->
</ng-walkthrough-flow>

<section class="container">
	<div class="row">
		<!-- sidebar start -->
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-flyout></app-sidebar-flyout>
		</aside>
		<!-- sidebar end -->

		<!-- main content start -->
		<main class="col main-content py-md-5 py-3  pl-lg-5">
			<!-- header start -->
			<header class="page-header border-bottom mb-3">
				<h3>Shop For Me</h3>
			</header>
			<!-- header end -->

			<!-- form start -->
			<div class="white-box mb-4">
				<form method="post" name="">
					<div class="form-row mb-2 mb-md-3">
						<div class="form-group col-sm-6" id="country">
							<label class="font-weight-medium">Country of Purchase</label>
							<select class="form-control">
								<option value="1">United States</option>
								<option value="2">United Kingdom</option>
							</select>
						</div>
						<div class="form-group col-sm-6" id="urgent">
							<label class="font-weight-medium">Urgent Purchase</label>
							<div class="input-group">
								<select class="form-control">
									<option value="1">No</option>
									<option value="2">Yes</option>
								</select>
								<div class="input-group-append">
									<a href="javascript:void(0)" class="btn btn-outline-primary" container="body" placement="left" tooltip="Select this to have your purchases made within 24 hours. We recommend this for items on sale or for items that are in limited
									quantities.">
										<i class="fa fa-question" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

					<!-- add product form start -->
					<article class="mb-3">
						<header class="border-bottom mb-3">
							<h6 class="mb-3">
								<i class="fa fa-chevron-circle-right mr-2 text-primary" aria-hidden="true"></i>Tell us what you will like to
								buy
								below
							</h6>
						</header>
						<div class="form-row" id="tellUs">
							<div class="form-group col-sm-3">
								<label>Store
									<span class="text-secondary">*</span>
								</label>
								<select class="form-control">
									<option>Select</option>
									<option>1</option>
									<option>2</option>
								</select>
							</div>
							<div class="form-group col-sm-3">
								<label>Category</label>
								<select class="form-control">
									<option>Electronics</option>
									<option>Electronics 2</option>
									<option>Electronics 3</option>
								</select>
							</div>
							<div class="form-group col-sm-3">
								<label>Sub Category</label>
								<select class="form-control">
									<option>Phones</option>
									<option>Phones 2</option>
									<option>Phones 3</option>
								</select>
							</div>
							<div class="form-group col-sm-3">
								<label>Product</label>
								<select class="form-control">
									<option>Iphone</option>
									<option>Iphone 2</option>
									<option>Iphone 3</option>
								</select>
							</div>
							<div class="form-group col-sm-6">
								<label>URL/Website Link
									<span class="text-secondary">*</span>
								</label>
								<input type="text" class="form-control">
							</div>
							<div class="form-group col-sm-6">
								<label>Name of Item
									<span class="text-secondary">*</span>
								</label>
								<input type="text" class="form-control">
							</div>
							<div class="form-group col-sm-2 col-4">
								<label>Color/Size</label>
								<input type="text" class="form-control">
							</div>
							<div class="form-group col-sm-2 col-4">
								<label>Unit Price
									<span class="text-secondary">*</span>
								</label>
								<input type="text" class="form-control">
							</div>
							<div class="form-group col-sm-2 col-4">
								<label>Quantity
									<span class="text-secondary">*</span>
								</label>
								<input type="number" class="form-control">
							</div>
							<div class="form-group col-sm-6">
								<label>Shipping Cost to Your US Warehouse &amp; Sales Tax
									<span class="text-secondary">*</span>
								</label>
								<input type="text" class="form-control">
							</div>
							<div class="form-group col-sm-12 mb-0">
								<label>Upload Picture</label>
								<input type="file" class="form-control-file">
							</div>
						</div>
					</article>
					<!-- add product form end -->

					<article class="text-center border-top pt-3">
						<button class="btn btn-primary" id="myBag">
							<i aria-hidden="true" class="fa fa-plus mr-2"></i>Add to My Bag
						</button>
					</article>
				</form>
			</div>
			<!-- form end -->

			<!-- add produce start -->
			<div class="white-box cart-list p-0">
				<article class="item" *ngFor="let item of [1]" id="product">
					<div class="row no-gutters">
						<div class="col img pr-3">
							<img src="assets/imgs/box.png">
						</div>
						<div class="col content">
							<!-- header start -->
							<header>
								<h4 class="text-ellipsis">
									<a href="">Tommy Hilfiger Shoes</a>
								</h4>
							</header>
							<!-- header end -->

							<!-- body start -->
							<div class="row cart-list-body">
								<div class="col-sm">
									<span class="font-size-sm d-block">Store:
										<strong class="font-weight-medium">Amazone</strong>
									</span>
									<span class="font-size-sm d-block">Product:
										<strong class="font-weight-medium">Men Shoes</strong>
									</span>
									<span class="font-size-sm d-block">URL/Website Link:
										<strong class="font-weight-medium">https://www.flipkart.com</strong>
									</span>
									<span class="font-size-sm d-block">Color/Size:
										<strong class="font-weight-medium">Green/14</strong>
									</span>
								</div>
								<div class="col-sm text-sm-right">
									<span class="font-size-sm d-block">Quantity:
										<strong class="font-weight-medium">1</strong>
									</span>
									<span class="font-size-sm d-block">Unit Price :
										<strong>$25.00</strong>
									</span>
									<span class="font-size-sm d-block">Shipping Cost to Your Warehouse &amp; Sales Tax :
										<strong>$4.99</strong>
									</span>
								</div>
							</div>
							<!-- body end -->

							<!-- footer start -->
							<footer class="mt-2 d-sm-flex flex-row-reverse align-items-center">
								<div class="flex-1 text-sm-right">
									<h4>Total :
										<strong class="text-success">$29.99</strong>
									</h4>
								</div>
								<div class="flex-none">
									<a href="#" class="btn btn-secondary btn-sm">Remove</a>
								</div>
							</footer>
							<!-- footer end -->
						</div>
					</div>
				</article>

				<article class="px-3 py-2 bg-medium text-center text-sm-left">
					<div class="row">
						<div class="col-md-3 col-sm-6 mb-2 mb-md-0">
							<span class="font-weight-medium d-md-block">Total From Store(s):</span>
							<strong>$89.97</strong>
						</div>
						<div class="col-md-3 col-sm-6 mb-2 mb-md-0">
							<span class="font-weight-medium d-md-block">Processing Fee:</span>
							<strong>$10.97</strong>
						</div>
						<div class="col-md-3 col-sm-6 mb-2 mb-sm-0">
							<span class="font-weight-medium d-md-block">Urgent Purchase Fee:</span>
							<strong>$0.00</strong>
						</div>
						<div class="col-md-3 col-sm-6">
							<span class="font-weight-medium d-md-block">Total Shop For Me Cost:</span>
							<strong>$97.97</strong>
						</div>
					</div>
				</article>
				<div class="p-3 text-center">
					<a href="#" class="btn btn-primary mr-1" id="saveLater">
						<i class="fa fa-floppy-o mr-2" aria-hidden="true"></i>Save For Later
					</a>
				</div>
			</div>
			<!-- add produce end -->
			<div class="text-center mt-3">
				<button class="btn btn-secondary btn-lg" id="calculate" type="button" (click)="showShippingType()">Calculate
					Shipping
					Cost</button>
			</div>

			<div *ngIf="!showShipping">
				<div class="row shipping-type">
					<div class="col-md col-sm-12 mt-3 item" id="{{item.id}}" *ngFor="let item of shippingTypes">
						<div class="item-inn px-0">
							<img src="assets/imgs/{{item.icon}}" class="mb-3">
							<h5 class="text-primary">{{item.title}}</h5>
							<span class="font-size-sm font-weight-medium">Shipping Cost: {{item.shipping_cost}}</span>
							<span class="font-size-sm font-weight-medium">Clearing, duty & Local Handling: {{item.clearing}}</span>
							<div class="bg-dark w-100 my-3">
								<span class="mb-2 d-block font-size-lg text-white">
									<strong>{{item.price}}</strong>
								</span>
								<span class="d-block font-size-sm text-medium">{{item.time}}</span>
								<span class="mb-3 d-block font-size-sm text-medium">{{item.date}}</span>
							</div>
							<div>
								<a href="javaseript:void(0)" tooltip="{{item.details}}" container="body" class="btn btn-primary btn-sm mr-1">Details</a>
								<a href="javaseript:void(0)" class="btn btn-secondary btn-sm" id="standardCheckout">Checkout</a>
							</div>
						</div>
					</div>
				</div>

				<div class="row shipping-type">
					<div class="col-md col-sm-6 mt-3 item" id="myWarehouse">
						<div class="item-inn px-0">
							<h5 class="text-primary">Add to My Warehouse</h5>
							<span class="font-size-sm font-weight-medium">Shipping Cost: </span>
							<span class="font-size-sm font-weight-medium">Clearing, duty & Local Handling: </span>
							<div class="bg-dark w-100 my-3">
								<span class="mb-2 d-block font-size-lg text-white">
									<strong>$ 4200.00</strong>
								</span>
							</div>
							<div>
								Items will be added to other items of your warehouse. You can ship later.
							</div>
							<div class="mt-3">
								<a href="javascript:void(0)" (click)="submitProcurement($event,0);" class="btn btn-secondary btn-sm" id="warehouseCheckout">Checkout</a>
							</div>
						</div>
					</div>
					<div class="col-md col-sm-12 mt-3 item" id="shippingCost">
						<div class="item-inn px-0">
							<h5 class="text-primary">Send me Shipping Cost</h5>
							<span class="font-size-sm font-weight-medium">Shipping Cost: </span>
							<span class="font-size-sm font-weight-medium">Clearing, duty & Local Handling: </span>
							<div class="bg-dark w-100 my-3">
								<span class="mb-2 d-block font-size-lg text-white">
									<strong>$ 0.00</strong>
								</span>
							</div>
							<div>
								Shipping Cost will be email to you within 24 hours.
							</div>
							<div class="mt-3">
								<a href="javascript:void(0)" (click)="submitProcurement($event, -1);" class="btn btn-secondary btn-sm" id="shippingCheckout">Checkout</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!-- main content end -->
	</div>
</section>
