@import "src/assets/scss/variables";
@import "src/assets/scss/utilities";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

// shipment-item
.shipment-item{
	header{
		display: flex;
		/deep/svg{
			fill: theme-color(dark);
		}
	}
}

