<div class="modal-header border-0">
	<h4 class="modal-title pull-left text-primary">Add or Modify your Alternate Recipients</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<form method="post" name="">
	<div class="modal-body">
		<p>An alternative recipient is another person, such as a maid or relative in the same address that can sign and receive packages
			on your behalf.</p>
		<span class="font-weight-medium mb-2 d-block">Alternate Recipient 1</span>
		<input class="form-control mb-3" placeholder="Name" type="text">
		<input class="form-control mb-3" placeholder="Phone" type="text">

		<span class="font-weight-medium mb-2 d-block">Alternate Recipient 2</span>
		<input class="form-control mb-3" placeholder="Name" type="text">
		<input class="form-control" placeholder="Phone" type="text">
	</div>
	<div class="modal-footer justify-content-center border-0">
		<button type="button" class="btn btn-secondary" (click)="bsModalRef.hide()">Learn More</button>
	</div>
</form>
