<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">Contact Your Account Manager</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="row">
		<div class="col-md-12 mb-3 d-block">
			<span class="h6 mb-2 mt-0"> <label><strong> Name: </strong></label> {{firstName+" "+lastName}} </span>
			<span class="h6 ml-5 mt-0"> <label><strong> Phone: </strong></label> {{contactno}} </span>
			<span class="h6 ml-5 mt-0"> <label><strong> Email: </strong></label> {{email}} </span>
		</div>
	</div>
	<div class="white-box  mt-4">
		<form method="post" (ngSubmit)="contactFrm.form.valid && onSubmit(contactFrm)" #contactFrm="ngForm" enctype="multipart/form-data">
			<input class="form-control" type="text" name="representativeName" #ordernumber="ngModel" [(ngModel)]="firstName+' '+lastName" value="{{firstName+' '+lastName}}" [hidden]="true">
			<input class="form-control" type="text" name="representativeEmail" #ordernumber="ngModel" [(ngModel)]="email" value="{{email}}" [hidden]="true">
			<input class="form-control" type="text" name="userId" #ordernumber="ngModel" [(ngModel)]="userId" value="{{userId}}" [hidden]="true">
			<div class="form-row">
				<div class="form-group col-sm-12">
					<label>Subject<span class="text-secondary">*</span></label>
					<input class="form-control" type="text" [ngClass]="{ 'is-invalid': contactFrm.submitted && subject.invalid }" name="subject" #subject="ngModel" ngModel required>
					<div *ngIf="contactFrm.submitted && subject.invalid" class="invalid-feedback">
                        <div *ngIf="subject.errors.required">Field is required</div>
                    </div>
				</div>			
				<div class="form-group col-sm-6 col-6">
					<label>Order Number</label>
					<input class="form-control" type="text" name="ordernumber" #ordernumber="ngModel" ngModel>
				</div>
				<div class="form-group col-sm-6 col-6">
					<label>Shipment Id</label>
					<input class="form-control" type="text" name="shipmentnumber" #ordernumber="ngModel" ngModel>
				</div>
			</div>
			<div class="form-row">						
				<div class="form-group col-sm-12 mb-0">
					<label>Message</label>
					<textarea rows="3" class="form-control" name="message" #message="ngModel"  [ngClass]="{ 'is-invalid': contactFrm.submitted && message.invalid }" ngModel required></textarea>
				</div>	
				<div *ngIf="contactFrm.submitted && message.invalid" class="invalid-feedback">
                        <div *ngIf="message.errors.required">Field is required</div>
                    </div>			
			</div>
			<div class="form-row">						
				<div class="form-group col-sm-12 mb-0">
					<label>Attachment</label>
					<input class="form-control-file" type="file"  name="fileName" #fileName="ngModel" ngModel (change)="fileUpload($event)">				
				</div>				
			</div>
			<div class="form-row">	
				<div class="col-sm-12 mt-3">
					<button type="submit" class="btn btn-secondary btn-lg" *ngIf="!formSubmitted">Submit</button>
					<button type="submit" class="btn btn-secondary btn-lg" disabled="" *ngIf="formSubmitted">Submitting Data</button>
				</div>
			</div>
		</form>
	</div>	
</div>
<div class="modal-footer">
</div>
