<footer class="footer">
	<section *ngIf="pageType!=2" class="container-fluid footer-top">
		<div class="container">
			<div class="row">
				<!-- Get to Know Us start -->
				<div class="col-lg-2 col-md-3 col-sm-4 col-6">
					<h6>Get to Know Us</h6>
					<ul class="footer-menu-list">
						<li *ngFor="let fnav of footerNav">
							<a *ngIf="fnav.linkType == 2 && fnav.pannel == 1" routerLink="/{{fnav.cmsPageLink}}">{{fnav.label}}</a>
							<a *ngIf="fnav.linkType == 1 && fnav.pannel == 1" href="{{fnav.link}}" target="_blank">{{fnav.label}}</a>
						</li>
					</ul>
				</div>
				<!-- Get to Know Us end -->

				<!-- Our Services start -->
				<div class="col-lg-2 col-md-3 col-sm-4 col-6">
					<h6>Our Services</h6>
					<ul class="footer-menu-list">
						<li *ngFor="let fnav of footerNav">
							<a *ngIf="fnav.linkType == 2 && fnav.pannel == 2" routerLink="/{{fnav.cmsPageLink}}">{{fnav.label}}</a>
							<a *ngIf="fnav.linkType == 1 && fnav.pannel == 2" href="{{fnav.link}}" target="_blank">{{fnav.label}}</a>
						</li>
					</ul>
				</div>
				<!-- Our Services end -->

				<!-- Media start -->
				<div class="col-lg-2 col-md-3 col-sm-4 col-6">
					<h6>Media</h6>
					<ul class="footer-menu-list">
						<li *ngFor="let fnav of footerNav">
							<a *ngIf="fnav.linkType == 2 && fnav.pannel == 3" routerLink="/{{fnav.cmsPageLink}}">{{fnav.label}}</a>
							<a *ngIf="fnav.linkType == 1 && fnav.pannel == 3" href="{{fnav.link}}" target="_blank">{{fnav.label}}</a>
						</li>
					</ul>
				</div>
				<!-- Media end -->

				<!-- social list start -->
				<div class="col-lg-3 col-sm-6 col-6">
					<h6>Social Media Links</h6>
					<ul class="list-social">
						<li *ngFor="let item of socialIcons">
							<a href="{{ item.link }}" target="_blank" class="fb" [ngStyle]="{'background-color': item.bg}">
								<i class="fa {{item.icon}}" aria-hidden="true"></i>
							</a>
						</li>

					</ul>
					<p class="text-center"><a routerLink="/zero_fraud"><img [lazyLoad]="fraudImage"></a></p>
				</div>
				<!-- social list end -->

				<!-- social list start -->
				<div class="col-lg-3 col-sm-6 col-12">
					<h6>All Major Credit Cards Accepted</h6>
					<ul class="list-cards">
						<li *ngFor="let item of cards">
							<img [lazyLoad]="item.img">
						</li>

					</ul>
					<ul class="list-app mt-4">
						<li>
							<a href="#" target="_blank"><img src="assets/imgs/appstore-h.png" lazyLoad="assets/imgs/appstore-h.png"></a>
						</li>
						<li>
							<a href="#" target="_blank"><img src="assets/imgs/gplay-h.png" lazyLoad="assets/imgs/gplay-h.png"></a>
						</li>
					</ul>
				</div>
				<!-- social list end -->
			</div>
		</div>
	</section>

	<!-- copyright start -->
	<section *ngIf="pageType != 2" class="copyright container text-center">
		<span>Copyright 2018 The shoptomydoor. All Rights Reserved.</span>
	</section>
	<section *ngIf="pageType == 2" class="copyright container-fluid footer-top text-center">
		<span>Copyright 2018 The shoptomydoor. All Rights Reserved.</span>
	</section>
	<!-- copyright end -->
</footer>
