@import "src/assets/scss/variables";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/breakpoints";

.footer-top{
	padding: $spacer*3 0;
	border-top: 1px solid theme-color(medium);
	border-bottom: 1px solid theme-color(medium);
	@include media-breakpoint-down(sm) {
		padding: $spacer 0;
	}
}
// socials
.list-social{
	display: flex;
	flex-wrap: wrap;
	margin: 0;
	li{
		margin-right: $spacer/4;
		margin-bottom: $spacer/4;
		&:last-child{
			margin-right: 0;
		}
		a{
			width: 48px;
			height: 48px;
			border-radius: 100%;
			display: block;
			text-align: center;
			line-height: 48px;
			font-size: $h4-font-size;
			color: var(--white);
			transition: $transition;
			@include media-breakpoint-down(xl) {
				width: 34px;
				height: 34px;
				line-height: 34px;
			}
			&:hover{
				opacity: .80;
			}
		}
	}
}

// list-cards
.list-cards{
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	// justify-content: flex-end;
	@include media-breakpoint-down(lg) {
		justify-content: flex-start;
	}
	li{
		margin-right: $spacer/2;
		margin-bottom: $spacer/4;
		&:last-child{
			margin-right: 0;
		}
		img{
			max-height: 17px;
			// max-width: 50px;
		}
	}
}

// list-cards
.list-app{
	margin: 0;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	// justify-content: flex-end;
	@include media-breakpoint-down(lg) {
		justify-content: flex-start;
	}
	li{
		margin-right: $spacer/2;
		margin-bottom: $spacer/4;
		&:last-child{
			margin-right: 0;
		}
		img{
			max-height: 40px;
			// max-width: 50px;
		}
	}
}

// footer-menu-list
.footer-menu-list{
	li{
		line-height: 1.2;
		margin: 2px 0;
		a{
			color: $body-color;
			font-size: $font-size-base - .10;
		}
	}
}

// copyright
.copyright{
	padding-top: $spacer*2;
	padding-bottom: $spacer*2;
	color: theme-color-level(medium, 3);
	@include media-breakpoint-down(sm) {
		padding-top: $spacer;
		padding-bottom: $spacer;
		font-size: $font-size-base/1.10;
	}
}
