<app-header></app-header>

<section class="container">
	<div class="row">
		<!-- sidebar start -->
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-flyout></app-sidebar-flyout>
		</aside>
		<!-- sidebar end -->

		<!-- main content start -->
		<main class="col main-content py-md-5 py-3  pl-lg-5">
			<!-- header start -->
			<header class="page-header border-bottom mb-3">
				<h3>Addressbook</h3>
			</header>
			<!-- header end -->

			<!-- delivery address start -->
			<div class="white-box delivery-address mb-3">
				<header class="d-flex justify-content-center p-0">
					<!-- <h4 class="text-ellipsis flex-1"></h4>
					<button type="button" tooltip="Set Default Billing Address" container="body" class="btn btn-success btn-action flex-none" (click)="setAddressDefault('billing')"><i class="fa fa-file-text" aria-hidden="true"></i></button>
					<button type="button" tooltip="Set Default Shipping Address" container="body" class="btn btn-success btn-action flex-none ml-1" (click)="setAddressDefault('shipping')"><i class="fa fa-truck" aria-hidden="true"></i></button> -->
					<a href="javascript:void(0)" tooltip="Add New Address" container="body" class="btn btn-primary btn-action flex-none ml-1"
					 container="body" (click)="addNewAddress()"><i class="fa fa-plus" aria-hidden="true"></i></a>
				</header>
				<!-- address start -->
				<div class="row">
					<div class="item col-md-6 mt-3" *ngFor="let eachShippingAddress of userShippingAddress">
						<div class="border item-wrap p-3">
							<div class="row">
								<div class="col icon">
									<!--<label _ngcontent-c1="" class="form-check custom-radio"><input _ngcontent-c1="" name="shipping" type="radio" (click)="updateAddressId(eachShippingAddress.id)"><span _ngcontent-c1="" class="checkmark"></span></label>-->
									<svg-icon src="assets/imgs/icons/delivery-address.svg" [svgStyle]="{ 'height.px':95}"></svg-icon>
									<div class="mt-2">
										<button *ngIf="eachShippingAddress.locationId==0" type="button" [disabled]="eachShippingAddress.isDefaultBilling==1"
										 [tooltip]="eachShippingAddress.isDefaultBilling==1?'Default Billing Address':'Set Default Billing Address'"
										 container="body" class="btn btn-success btn-action btn-sm flex-none" (click)="setAddressDefault('billing', eachShippingAddress.id)"><i
											 class="fa fa-file-text" aria-hidden="true"></i></button>
										<button type="button" [disabled]="eachShippingAddress.isDefaultShipping==1" [tooltip]="eachShippingAddress.isDefaultShipping==1?'Default Shipping Address':'Set Default Shipping Address'"
										 container="body" class="btn btn-success btn-sm btn-action flex-none ml-1" (click)="setAddressDefault('shipping', eachShippingAddress.id)"><i
											 class="fa fa-truck" aria-hidden="true"></i></button>
									</div>
								</div>
								<div class="col-sm-8">
									<span class="font-weight-bold position-relative d-block">{{eachShippingAddress.firstName+ '
										'+eachShippingAddress.lastName}}<i tooltip="Default Address" placement="left" class="fa fa-check-circle text-success default"
										 aria-hidden="true" *ngIf="(eachShippingAddress.isDefaultShipping==1 || eachShippingAddress.isDefaultBilling==1)"></i></span>
									<span class="d-block mb-2">{{eachShippingAddress.address}},
										{{(eachShippingAddress.city!=null)?eachShippingAddress.city.name+',':''}}
										{{(eachShippingAddress.state!=null)?eachShippingAddress.state.name+',':''}}
										{{(eachShippingAddress.zipcode!=null)?eachShippingAddress.zipcode+',':''}}
										{{(eachShippingAddress.country!=null)?eachShippingAddress.country.code+',':''}}
										{{(eachShippingAddress.phone!=null)?'Phone: '+eachShippingAddress.phone:''}}</span>
									<a href="javascript:void(0)" (click)="modifyAddress(eachShippingAddress.id)" class="btn btn-primary btn-sm mr-2 mb-1"
									 *ngIf="eachShippingAddress.locationId==0">Modify</a>
									<div class="btn-group mb-1 mr-2" role="group" aria-label="Button group with nested dropdown" *ngIf="eachShippingAddress.locationId!=0">
										<button class="btn btn-primary btn-sm" disabled="">Modify</button>

										<a href="javascript:void(0)" class="btn btn-outline-primary btn-sm" container="body" tooltip="You are not allowed to modify this address as is a Shoptomydoor location address.">
											<i class="fa fa-question" aria-hidden="true"></i>
										</a>
									</div>
									<span tooltip="Default Billing Address" class="btn btn-secondary cursor-inherit btn-sm mb-1 mr-2" *ngIf="eachShippingAddress.isDefaultBilling==1"><i
										 class="fa fa-file-text" aria-hidden="true"></i></span>
									<span tooltip="Default Shipping Address" class="btn btn-secondary cursor-inherit btn-sm mb-1 mr-2" *ngIf="eachShippingAddress.isDefaultShipping==1"><i
										 class="fa fa-truck" aria-hidden="true"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- address end -->
			</div>
			<!-- delivery address end -->
		</main>
		<!-- main content end -->
	</div>
</section>
<app-footer></app-footer>
