<!-- header start -->
<header class="page-header border-bottom mb-3">
	<h3>File a claim</h3>
	<span class="d-block mb-3">Need to file a claim. Please fill the form and include all requested information. We will
		get back to you within 2 business days.</span>
</header>
<!-- header end -->
<form method="post" (ngSubmit)="claimForm.form.valid && onSubmit(claimForm)" #claimForm="ngForm">
<section class="white-box">
	<!-- date start -->
	<article class="mb-2 mb-md-3">
		<header class="border-bottom mb-3">
			<h6 class="mb-3"><i aria-hidden="true" class="fa fa-chevron-circle-right mr-2 text-primary"></i>Claimant Date</h6>
		</header>
		<div class="form-row">
			<div class="form-group col-sm-4">
				<label> Date
					<span class="text-secondary">*</span>
				</label>
				<input type="text" readonly placeholder="Enter Date" class="form-control" bsDatepicker name="claimDate" required #claimDate="ngModel" ngModel [ngClass]="{ 'is-invalid': claimForm.submitted && claimDate.invalid }">
				<div *ngIf="claimForm.submitted && claimDate.invalid" class="invalid-feedback">
            	<div *ngIf="claimDate.errors.required">Field is required</div>
    			</div>
			</div>
		</div>
	</article>
	<!-- date end -->

	<!-- data start -->
	<article class="mb-2 mb-md-3">
		<header class="border-bottom mb-3">
			<h6 class="mb-3"><i aria-hidden="true" class="fa fa-chevron-circle-right mr-2 text-primary"></i>Claimant Data</h6>
		</header>
		<div class="form-row">
			<div class="form-group col-sm-4">
				<label> Name of Claimant
					<span class="text-secondary">*</span>
				</label>
				<input type="text" class="form-control" name="cliamentName" #cliamentName="ngModel" [ngClass]="{ 'is-invalid': claimForm.submitted && cliamentName.invalid }" ngModel required>
				<div *ngIf="claimForm.submitted && cliamentName.invalid" class="invalid-feedback">
            	<div *ngIf="cliamentName.errors.required">Field is required</div>
    		</div>
			</div>
			<div class="form-group col-sm-4">
				<label>Address
					<span class="text-secondary">*</span>
				</label>
				<input type="text" class="form-control" name="cliamentAddress" #cliamentAddress="ngModel" [ngClass]="{ 'is-invalid': claimForm.submitted && cliamentAddress.invalid }" ngModel required>
				<div *ngIf="claimForm.submitted && cliamentAddress.invalid" class="invalid-feedback">
            	<div *ngIf="cliamentAddress.errors.required">Field is required</div>
    		</div>
			</div>
			<div class="form-group col-sm-4">
				<label>Phone Number
					<span class="text-secondary">*</span>
				</label>
				<input type="text" class="form-control" name="cliamentPhone" #cliamentPhone="ngModel" [ngClass]="{ 'is-invalid': claimForm.submitted && cliamentPhone.invalid }" ngModel required>
				<div *ngIf="claimForm.submitted && cliamentPhone.invalid" class="invalid-feedback">
            	<div *ngIf="cliamentPhone.errors.required">Field is required</div>
    			</div>
			</div>
		</div>
	</article>
	<!-- data end -->

	<!-- purpose start -->
	<article class="mb-2 mb-md-4">
		<header class="border-bottom mb-3">
			<h6 class="mb-3"><i aria-hidden="true" class="fa fa-chevron-circle-right mr-2 text-primary"></i>Purpose of Claim</h6>
		</header>
		<p>The Claim is made against the carrier for: <span class="d-block">(Please tick as appropriate)</span></p>
		<div class="form-row">
			<div class="form-group col-sm-4">
				<label class="custom-check text-left flex-row mb-0">
					<input type="checkbox" value="Loss" name="loss" #loss="ngModel" ngModel><span class="checkmark"></span><strong class="font-weight-medium pl-2">Loss</strong>
				</label>
			</div>

			<div class="form-group col-sm-4">
				<label class="custom-check text-left flex-row mb-0">
					<input type="checkbox" value="Damage" name="damage" #damage="ngModel" ngModel><span class="checkmark"></span><strong class="font-weight-medium pl-2">Damage</strong>
				</label>
			</div>
			<div class="form-group col-sm-4">
				<label class="custom-check text-left flex-row mb-0">
					<input type="checkbox" value="Incomplete Item" name="incomplete" #incomplete="ngModel" ngModel><span class="checkmark"></span><strong class="font-weight-medium pl-2">Incomplete
						Item</strong>
				</label>
			</div>
		</div>
		
		
		
	</article>
	<!-- purpose end -->

	<!-- information start -->
	<article class="mb-2 mb-md-3">
		<header class="border-bottom mb-3">
			<h6 class="mb-3"><i aria-hidden="true" class="fa fa-chevron-circle-right mr-2 text-primary"></i>Claim Information</h6>
		</header>
		<div class="form-row">
			<div class="form-group col-sm-4">
				<label> Description of item
					<span class="text-secondary">*</span>
				</label>
				<input type="text" class="form-control" name="itemDescription" #itemDescription="ngModel" [ngClass]="{ 'is-invalid': claimForm.submitted && itemDescription.invalid }" ngModel required>
				<div *ngIf="claimForm.submitted && itemDescription.invalid" class="invalid-feedback">
            	<div *ngIf="itemDescription.errors.required">Field is required</div>
    		</div>
			</div>
			<div class="form-group col-sm-4">
				<label> Order Number
					<span class="text-secondary">*</span>
				</label>
				<input type="text" class="form-control" [ngClass]="{ 'is-invalid': claimForm.submitted && orderNum.invalid }" name="orderNumber" #orderNum="ngModel" [(ngModel)]="orderNumber" required>
				<div *ngIf="claimForm.submitted && orderNum.invalid" class="invalid-feedback">
            	<div *ngIf="orderNum.errors.required">Field is required</div>
    		</div>
			</div>
			<div class="form-group col-sm-4">
				<label> Item number (if applicable) </label>
				<input type="text" class="form-control" name="itemNumber" #itemNumber="ngModel" ngModel>
			</div>
			<div class="form-group col-sm-4">
				<label>Value of item at date of purchase
					<span class="text-secondary">*</span>
				</label>
				<input type="text" class="form-control" name="dateOfPurchase" #dateOfPurchase="ngModel" [ngClass]="{ 'is-invalid': claimForm.submitted && dateOfPurchase.invalid }" ngModel required>
				<div *ngIf="claimForm.submitted && dateOfPurchase.invalid" class="invalid-feedback">
            	<div *ngIf="dateOfPurchase.errors.required">Field is required</div>
    		</div>
			</div>
			<div class="form-group col-sm-4">
				<label>Purchase date for item
					<span class="text-secondary">*</span>
				</label>
				<input type="text" class="form-control" bsDatepicker readonly name="purchaseDateOfItem" #purchaseDateOfItem="ngModel" [ngClass]="{ 'is-invalid': claimForm.submitted && purchaseDateOfItem.invalid }" ngModel required>
				<div *ngIf="claimForm.submitted && purchaseDateOfItem.invalid" class="invalid-feedback">
            	<div *ngIf="purchaseDateOfItem.errors.required">Field is required</div>
    		</div>
			</div>
			<div class="form-group col-sm-4">
				<label>Place of purchase
					<span class="text-secondary">*</span>
				</label>
				<input type="text" class="form-control" name="placeOfPurchase" #placeOfPurchase="ngModel" [ngClass]="{ 'is-invalid': claimForm.submitted && placeOfPurchase.invalid }" ngModel required>
				<div *ngIf="claimForm.submitted && placeOfPurchase.invalid" class="invalid-feedback">
            	<div *ngIf="placeOfPurchase.errors.required">Field is required</div>
    		</div>
			</div>
			<div class="form-group col-sm-4">
				<label>Total amount been claimed
					<span class="text-secondary">*</span>
				</label>
				<input type="text" myNumberOnly class="form-control" name="totalAmountClaimed" #totalAmountClaimed="ngModel" [ngClass]="{ 'is-invalid': claimForm.submitted && totalAmountClaimed.invalid }" ngModel required>
				<div *ngIf="claimForm.submitted && totalAmountClaimed.invalid" class="invalid-feedback">
            	<div *ngIf="totalAmountClaimed.errors.required">Field is required</div>
    		</div>
			</div>
			<div class="form-group col-sm-4">
				<label>Explain nature of damage
					<span class="text-secondary">*</span>
				</label>
				<input type="text" class="form-control" name="natureOfDamage" #natureOfDamage="ngModel" [ngClass]="{ 'is-invalid': claimForm.submitted && natureOfDamage.invalid }" ngModel required>
				<div *ngIf="claimForm.submitted && natureOfDamage.invalid" class="invalid-feedback">
            	<div *ngIf="natureOfDamage.errors.required">Field is required</div>
    		</div>
			</div>
			<div class="form-group col-sm-4">
				<label>Shipment via(Air Or Sea)
					<span class="text-secondary">*</span>
				</label>
				<input type="text" class="form-control" name="shipmentVia" #shipmentVia="ngModel" [ngClass]="{ 'is-invalid': claimForm.submitted && shipmentVia.invalid }" ngModel required>
				<div *ngIf="claimForm.submitted && shipmentVia.invalid" class="invalid-feedback">
            	<div *ngIf="shipmentVia.errors.required">Field is required</div>
    		</div>
			</div>
			<div class="form-group col-sm-12">
				<label>Date items were received
					<span class="text-secondary">*</span>
				</label>
				<textarea class="form-control" name="dateItemsReceived" #dateItemsReceived="ngModel" [ngClass]="{ 'is-invalid': claimForm.submitted && dateItemsReceived.invalid }" ngModel required></textarea>
				<div *ngIf="claimForm.submitted && dateItemsReceived.invalid" class="invalid-feedback">
            	<div *ngIf="dateItemsReceived.errors.required">Field is required</div>
    		</div>
			</div>
			<div class="form-group col-sm-6">
				<label>Upload Photo of Damaged Item(If Applicable)</label>
				<input class="form-control-file" type="file" name="filename2" (change)="fileUpload2($event)" ngModel>
			</div>
			<div class="form-group col-sm-6">
				<label>Upload a scanned copy of invoice</label>
				<input class="form-control-file" type="file" name="filename" (change)="fileUpload($event)" ngModel>
			</div>
			<div class="form-group col-sm-12 text-center">
				<button class="btn btn-secondary btn-lg" type="submit">Send</button>
			</div>
		</div>
	</article>
	<!-- information end -->

</section>
</form>