<section class="container">
	<div class="row">
		<!-- sidebar start -->
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-flyout></app-sidebar-flyout>
		</aside>
		<!-- sidebar end -->

		<!-- main content start -->
		<main class="col main-content py-md-5 py-3  pl-lg-5">
			<!-- header start -->
			<header class="page-header border-bottom mb-3">
				<h3>Fill & Ship</h3>
				<div>
				<strong>
				<span class="d-block">Fill and Ship is specially designed for small businesses and individuals who:</span>
				<ol>
					<li>Look for the best bargains from all over the internet by buying from different sources.</li>
					<li>Are not in a hurry to have their items shipped out but are more interested in the lowest shipping cost per item.</li>
					<li>Ship in bulk and expect their purchases to fill the minimum fill and ship box of 24 x 24 x 18 inches (61 x 61 x 46 cm) and the maximum 48 x 40 x 36 (122 x 102 x 92 cm).</li>
					<li>Who are okay with enjoying up to 30 days of free storage while their items arrive from various stores.</li>
					<li>Will like to enjoy zero inventory cost irrespective of the number of items we receive on your behalf. </li>
					<li>Unused space is credited back to your account and can be used later. </li>
				</ol>
				<span class="d-block">To use Fill and Ship:</span>
				<ol>
					<li>Select the item you expect to ship. If the item is not listed, use similar items to give you an idea of the box to buy.</li>
					<li>Select Find My Box, to see our suggested box for your selected items. The meter at the corner gives you an idea of space used up in the suggested box.</li>
					<li>Pay for the box and start shopping. As items arrive, we load into your already paid box, and you will be able to see the space used up as the box is been loaded by clicking on My Fill and Ship. </li>
					<li>When done with shopping, simply click on “Ship My Box” and that’s it. </li>
				</ol>
				</strong>
				</div>
				
			</header>
			<!-- header end -->

			<!-- location start -->
			<div class="row align-items-center mb-md-5 mb-3">
				<div class="col-md-4 col-sm-5">
					<label>Select Warehouse Location:</label>
					<select class="form-control" [(ngModel)]="selectedWarehouse" (change)="selectWarehose($event)">
						<option value="{{ i }}" *ngFor="let eachWarehouse of allWarehouse; let i = index">{{ eachWarehouse.country.name }} ({{eachWarehouse.city.name}})</option>
					</select>
				</div>

			</div>
			<!-- location end -->

			<section class="white-box p-0">
				<article class="account-collapse-in">
					<div class="row no-gutters">
						<div class="col-md img">
							<img src="{{defaultProfile}}">
						</div>
						<div class="col-md mt-3">
							<div class="details">
								<div class="row">
									<div *ngFor="let eachShippingAddress of userShippingAddress" class="col-sm-4 mb-3 mb-sm-0">
										<h6>My Delivery Address</h6>
										<span class="d-block">
											<strong>{{eachShippingAddress.firstName+ ' '+eachShippingAddress.lastName}}</strong>
										</span>
										<span class="d-block">{{eachShippingAddress.address}}, {{(eachShippingAddress.city!=null)?eachShippingAddress.city.name+',':''}} {{(eachShippingAddress.state!=null)?eachShippingAddress.state.name+',':''}} {{(eachShippingAddress.zipcode!=null)?eachShippingAddress.zipcode+',':''}} {{(eachShippingAddress.country!=null)?eachShippingAddress.country.code+',':''}} {{(eachShippingAddress.phone!=null)?'Phone: '+eachShippingAddress.phone:''}}</span>
										<ul class="list-link">
											<li>
												<a routerLink="/addressbook" >Go To Addressbook</a>
											</li>
										</ul>
									</div>
									<div #warehouseAddress id="warehouseAddress"  class="col-sm-4 mb-3 mb-sm-0" *ngIf="selectedWarehouseDetails">
										<h6>My {{ selectedWarehouseDetails.country.code }} Address</h6>
										<span class="d-block">
											<strong>{{regService.item.user.firstName+' '+regService.item.user.lastName}}</strong>
										</span>
										<span class="d-block">
											<strong>{{'UNIT '+regService.item.user.unit}}</strong>
										</span>
										<span class="d-block">{{ selectedWarehouseDetails.address }}, {{ selectedWarehouseDetails.city.name }}, {{ selectedWarehouseDetails.state.name }}, {{selectedWarehouseDetails.zipcode}} {{selectedWarehouseDetails.country.code}}</span>
										<ul class="list-link">
											<li>
												<a href="javascript:void(0)" (click)="showWarehouseAddress()">How to use my address</a>
											</li>
										</ul>
									</div>
									<div class="col-sm-4">
										<h6>Shopper Rewards</h6>
										<span class="d-block">
											<strong>{{regService.item.user.firstName+' '+regService.item.user.lastName}}</strong>
										</span>
										<span class="d-block">Earned Points :
											<strong class="font-weight-medium">{{earnedPoints}}</strong>
										</span>
										<span class="d-block">Reward Level :
											<strong class="font-weight-medium">{{rewardName}}</strong>
										</span>
										<span class="d-block">Reward Expires :
											<strong class="font-weight-medium">{{expString}}</strong>
										</span>
										<ul class="list-link">
											<li>
												<a routerLink="/my-account/reward">My Reward Details</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</article>
			</section>

			<!-- form start -->
			<div class="white-box my-4">
				<form method="post" (ngSubmit)="orderForm.form.valid && onSubmit(orderForm)" enctype="multipart/form-data"
				 #orderForm="ngForm">
					<div class="form-row mb-2 mb-md-3">
						<div class="form-group col-sm-6">
							<label class="font-weight-medium">Country of Purchase</label>
							<select name="warehouseId" class="form-control" [(ngModel)]="fillship.warehouseId" style="pointer-events:none; background-color: #e9ecef">
								<option value="{{ eachWarehouse.id }}" *ngFor="let eachWarehouse of allWarehouse; let i = index">{{ eachWarehouse.country.name }} ({{eachWarehouse.city.name}})</option>
							</select>
						</div>
					</div>

					<!-- add product form start -->
					<article class="mb-3">
						<header class="border-bottom mb-3">
							<h6 class="mb-3">
								<i class="fa fa-chevron-circle-right mr-2 text-primary" aria-hidden="true"></i>Product Information
							</h6>
						</header>
						<div class="form-row">
							<div class="form-group col-sm-3">
								<label>Category <span class="text-secondary">*</span></label>
								<select class="form-control" #siteCategoryId="ngModel" [ngClass]="{ 'is-invalid': orderForm.submitted && siteCategoryId.invalid }" [(ngModel)]="fillship.siteCategoryId" (ngModelChange)="categoryChanged($event)" name="siteCategoryId" required>
									<option value="">Select</option>
									<option *ngFor="let category of categoryList" [value]="category.id">{{category.categoryName}}</option>
								</select>
								<div *ngIf="orderForm.submitted && siteCategoryId.invalid" class="invalid-feedback">
									<div *ngIf="siteCategoryId.errors.required">Field is required</div>
								</div>
							</div>
							<div class="form-group col-sm-3">
								<label>Sub Category
									<span class="text-secondary">*</span>
								</label>
								<select class="form-control" #siteSubCategoryId="ngModel" [ngClass]="{ 'is-invalid': orderForm.submitted && siteSubCategoryId.invalid }" [(ngModel)]="fillship.siteSubCategoryId"
								 (ngModelChange)="subCategoryChanged($event)" name="siteSubCategoryId" required>
									<option value="">Select</option>
									<option *ngFor="let subcategory of subcategoryList" [value]="subcategory.id">{{subcategory.categoryName}}</option>
								</select>
								<div *ngIf="orderForm.submitted && siteSubCategoryId.invalid" class="invalid-feedback">
									<div *ngIf="siteSubCategoryId.errors.required">Field is required</div>
								</div>
							</div>
							<div class="form-group col-sm-2">
								<label>Product
									<span class="text-secondary">*</span>
								</label>
								<select class="form-control" #siteProductId="ngModel" [ngClass]="{ 'is-invalid': orderForm.submitted && siteProductId.invalid }" [(ngModel)]="fillship.siteProductId" name="siteProductId" required>
									<option value="">Select</option>
									<option (click)="productChanged($event)" *ngFor="let product of productList" [attr.data-image]="product.image"
									 [value]="product.id">{{product.productName}}</option>
								</select>
								<div *ngIf="orderForm.submitted && siteProductId.invalid" class="invalid-feedback">
									<div *ngIf="siteProductId.errors.required">Field is required</div>
								</div>
							</div>
							<div class="form-group col-sm-2 col-6">
								<label>Unit Price
									<span class="text-secondary">*</span>
								</label>
								<input type="text" class="form-control" [ngClass]="{ 'is-invalid': orderForm.submitted && itemPrice.invalid }"
							 (change)="setTwoNumberDecimal($event)" #itemPrice="ngModel" [(ngModel)]="fillship.itemPrice" required name="itemPrice">
								<div *ngIf="orderForm.submitted && itemPrice.invalid" class="invalid-feedback">
									<div *ngIf="itemPrice.errors.required">Field is required</div>
								</div>
							</div>
							<div class="form-group col-sm-2 col-6">
								<label>Quantity
									<span class="text-secondary">*</span>
								</label>
								<input type="number" class="form-control" [ngClass]="{ 'is-invalid': orderForm.submitted && itemQuantity.invalid }"
							 (change)="setTwoNumberDecimal($event)" #itemQuantity="ngModel" [(ngModel)]="fillship.itemQuantity" required
							 min="1" name="itemQuantity">
							<div *ngIf="orderForm.submitted && itemQuantity.invalid" class="invalid-feedback">
								<div *ngIf="itemQuantity.errors.required">Field is required</div>
							</div>
							</div>
						</div>
					</article>
					<!-- add product form end -->

					<article class="text-center border-top pt-3">
						<button type="submit" class="btn btn-primary">
							<i aria-hidden="true" class="fa fa-plus mr-2"></i>Add Item
						</button>
					</article>
				</form>
			</div>
			<!-- form end -->

			<!-- add produce start -->
			<div class="white-box cart-list p-0">
				<article *ngFor="let item of bagList; index as i" class="item p-3">
					<div class="row no-gutters align-items-md-center">
						<div class="col content">
							<!-- header start -->
							<header>
								<h4 class="text-ellipsis">
									<a href="javascript:void(0);">{{item.siteProductName}}</a>
								</h4>
							</header>
							<!-- header end -->

							<!-- body start -->
							<div class="row cart-list-body">
								<div class="col-sm mb-sm-0 mb-2">
									<span class="font-size-sm d-block">Quantity:
										<strong class="font-weight-medium">{{item.itemQuantity}}</strong>
									</span>
									<span class="font-size-sm d-block">Unit Price :
										<strong>{{item.itemPrice}}</strong>
									</span>
								</div>
								<div class="col-sm text-sm-right">
									<a href="javascript:void(0);" (click)="deleteItem(i, item.id)" class="btn btn-secondary btn-sm">Remove</a>
								</div>
							</div>
							<!-- body end -->

						</div>
					</div>
				</article>
			</div>
			<!-- add produce end -->
			<div class="text-center mt-3">
				<button class="btn btn-secondary btn-lg" *ngIf="showFindBtn" type="button" (click)="findMyBox()">Find My Box</button>
			</div>

			<div *ngIf="showShipping">
				<header class="mt-4">
					<h5 class="text-ellipsis">Recommended Box</h5>
				</header>
				<!-- box start -->
				<article class="border bg-light rounded p-3 mt-3">
					<div class="row recommend-box no-gutters text-center text-md-left justify-content-center">
						<div class="col-md img">
							<img *ngIf="!boxDetails.uploadedImage" src="assets/imgs/item-progress.jpg">
							<img *ngIf="boxDetails.uploadedImage" src="{{boxDetails.imagePath+'/'+boxDetails.uploadedImage}}">
						</div>
						<div class="col-md content px-3">
							<!-- header start -->
							<header>
								<h3 class="text-ellipsis">
									<a href="javascript:void(0);">{{boxDetails.name}} <small>({{boxDetails.length+'*'+boxDetails.width+'*'+boxDetails.height}})</small></a>
								</h3>
							</header>
							<!-- header end -->
							<p innerHtml="{{boxDetails.description}}"></p>
						</div>
						<div class="col-md product-content d-flex flex-row justify-content-center">
							<div class="product-box">
								<img src="assets/imgs/3d-box-front.png" class="box-img">
								<ul class="list-add-item">
									<li *ngFor="let item of bagList;"><img src="{{item.siteProductImage}}"></li>
								</ul>
							</div>
							<div class="gauge ml-3" [ngStyle]="{'height':'155px'}">
								<span class="gauge-value mb-2 d-block text-right"><strong>{{boxDetails.boxFillPercentage}}%</strong></span>
								<article class="gauge-container">
									<div class="gauge-scale">
										<ul>
											<li>Full</li>
											<li>Half</li>
											<li>Empty</li>
										</ul>
									</div>
									<div class="gauge-box">
										<span class="gauge-fill" [ngStyle]="{'height':boxDetails.boxFillPercentage+'%'}"></span>
									</div>
								</article>
							</div>
						<!-- box start --></div>
					</div>
				</article>
				<header *ngIf="shippingTypes.length > 0" class="text-center mt-4">
					<h5 class="text-ellipsis">Shipping Methods Available</h5>
				</header>
				<header *ngIf="shippingTypes.length == 0" class="text-center mt-4">
					<h5 class="text-danger text-ellipsis">No Shipping Methods Available</h5>
				</header>
				<div  *ngIf="shippingTypes.length > 0" class="row shipping-type">
					<div class="col-md col-sm-12 mt-3 item" *ngFor="let item of shippingTypes">
						<div class="item-inn px-0">
							<img src="{{item.companyLogo}}" class="mb-3">
							<h5 class="text-primary">{{item.shipping}}</h5>
							<span class="font-size-sm font-weight-medium">Shipping Cost: {{item.shippingCost}}</span>
							<span class="font-size-sm font-weight-medium">Clearing & duty : $ {{boxDetails.clearingAndDuty}}</span>
							<div class="bg-dark w-100 my-3">
								<span class="mb-2 d-block font-size-lg text-white">
									<strong>{{item.shippingCost}}</strong>
								</span>
								<span class="d-block font-size-sm text-medium">{{item.shipping_time}}</span>
								<span class="mb-3 d-block font-size-sm text-medium">{{item.estimatedDeliveryDate}}</span>
							</div>
							<div>
								<a href="javascript:void(0)" tooltip="{{item.learn_more}}" container="body" class="btn btn-primary btn-sm mr-1">Details</a>
								<a href="javascript:void(0)" (click)="submitFillShipData($event, item.shippingId);" class="btn btn-secondary btn-sm">Checkout</a>
							</div>
						</div>

					</div>
				</div>
			</div>
			<div class="white-box my-4">
				<article class="mb-3">
					<header class="border-bottom mb-3 mt-3">
						<h6 class="mb-3">
							<i class="fa fa-chevron-circle-right mr-2 text-primary" aria-hidden="true"></i>OR - Simply select one of our Fill and Ship boxes below
						</h6>
					</header>
				</article>
				<div class="form-row">
					<div class="col-md-3 col-sm-12 mt-3 item" *ngFor="let item of allAddedBox">
						<div class="item-inn px-0">
							<img height="100px" width="150px" src="{{item.uploadedImage}}" class="mb-3">
							<h5 class="text-primary">{{item.name}}</h5>
							<span class="font-size-sm font-weight-medium">{{item.length}} X {{item.width}} X {{item.height}} in</span>
							<div>
								<a href="javascript:void(0)" tooltip="{{item.description}}" container="body" class="btn btn-primary btn-sm mr-1">Details</a>
								<a href="javascript:void(0)" class="btn btn-secondary btn-sm" (click)="selectBox(item.id)">Select Box</a>
							</div>
						</div>
					</div>
				</div>
				<div id="selectedFromBoxList" #selectedFromBoxList>
					<div *ngIf="selectboxShipping" >
						<header class="mt-4">
							<h5 class="text-ellipsis">Selected Box</h5>
						</header>
						<!-- box start -->
						<article class="border bg-light rounded p-3 mt-3">
							<div class="row recommend-box no-gutters text-center text-md-left justify-content-center">
								<div class="col-md img">
									<img *ngIf="!selectedBoxDetails.uploadedImage" src="assets/imgs/item-progress.jpg">
									<img *ngIf="selectedBoxDetails.uploadedImage" src="{{selectedBoxDetails.imagePath+'/'+selectedBoxDetails.uploadedImage}}">
								</div>
								<div class="col-md content px-3">
									<!-- header start -->
									<header>
										<h3 class="text-ellipsis">
											<a href="javascript:void(0);">{{selectedBoxDetails.name}} <small>({{selectedBoxDetails.length+'*'+selectedBoxDetails.width+'*'+selectedBoxDetails.height}})</small></a>
										</h3>
									</header>
									<!-- header end -->
									<p innerHtml="{{selectedBoxDetails.description}}"></p>
								</div>
							</div>
						</article>
						<header *ngIf="selectedBoxshippingTypes.length > 0" class="text-center mt-4">
							<h5 class="text-ellipsis">Shipping Methods Available</h5>
						</header>
						<header *ngIf="selectedBoxshippingTypes.length == 0" class="text-center mt-4">
							<h5 class="text-danger text-ellipsis">No Shipping Methods Available</h5>
						</header>
						<div  *ngIf="selectedBoxshippingTypes.length > 0" class="row shipping-type">
							<div class="col-md col-sm-12 mt-3 item" *ngFor="let item of selectedBoxshippingTypes">
								<div class="item-inn px-0">
									<img src="{{item.companyLogo}}" class="mb-3">
									<h5 class="text-primary">{{item.shipping}}</h5>
									<span class="font-size-sm font-weight-medium">Shipping Cost: {{item.shippingCost}}</span>
									<span class="font-size-sm font-weight-medium">Clearing & duty : $ {{selectedBoxDetails.clearingAndDuty}}</span>
									<div class="bg-dark w-100 my-3">
										<span class="mb-2 d-block font-size-lg text-white">
											<strong>{{item.shippingCost}}</strong>
										</span>
										<span class="d-block font-size-sm text-medium">{{item.shipping_time}}</span>
										<span class="mb-3 d-block font-size-sm text-medium">{{item.estimatedDeliveryDate}}</span>
									</div>
									<div>
										<a href="javascript:void(0)" tooltip="{{item.learn_more}}" container="body" class="btn btn-primary btn-sm mr-1">Details</a>
										<a href="javascript:void(0)" (click)="submitSelectedBox(item.shippingId);" class="btn btn-secondary btn-sm">Checkout</a>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>

		</main>
		<!-- main content end -->
	</div>
</section>