@import "src/assets/scss/variables";
@import "src/assets/scss/utilities";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

.payment-type-box{
	height: 100%;
}

.inner-container{
	@include media-breakpoint-down(sm) {
		padding-left: 0;
		padding-right: 0;
	}
}
.main-content{
	@include media-breakpoint-up(md) {
		width: calc(100% - 320px);
	}
}

.coupon-code{
	background: rgba(theme-color(secondary), .2);
	border: 2px dashed theme-color(secondary);
	border-radius: $spacer/4 0 0 $spacer/4;
	font-weight: 600;
	padding: $spacer/4 $spacer/2;
}
.btn-clip{
	border-radius: 0 $spacer/4 $spacer/4 0;
}
