<ng-walkthrough-flow #walkYourCart id="wt-test-flow" focusBackdrop="true" closeAnywhere="false" showArrow="true" radius="auto"
 [texts]="lastNavText" (finished)="walkYourCartFinished()" arrowColor="#5bc6d0" previousStep="">

	<!-- step shopping cart start -->
	<ng-walkthrough focusElementSelector="#shoppingCart" [contentTemplate]="stepShoppingCart">
		<ng-template #stepShoppingCart>
			<h5 class="text-primary font-weight-bold">Step 14 :</h5>
			<p>Displays the list of items available in your cart.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step shopping cart end -->

	<!-- step back to bag start -->
	<ng-walkthrough focusElementSelector="#backBag" [contentTemplate]="stepBackBag">
		<ng-template #stepBackBag>
			<h5 class="text-primary font-weight-bold">Step 15 :</h5>
			<p>Click to go back to <b>Order From</b>.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step back to bag end -->

	<!-- step clear cart start -->
	<ng-walkthrough focusElementSelector="#clearCart" [contentTemplate]="stepClearCart">
		<ng-template #stepClearCart>
			<h5 class="text-primary font-weight-bold">Step 16 :</h5>
			<p>Click to remove all the items from cart.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step clear cart end -->

	<!-- step price detail start -->
	<ng-walkthrough focusElementSelector="#priceDetail" [contentTemplate]="stepPriceDetail">
		<ng-template #stepPriceDetail>
			<h5 class="text-primary font-weight-bold">Step 17 :</h5>
			<p>Displays the price breakdown and details.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step price detail end -->

	<!-- step insurance start -->
	<ng-walkthrough focusElementSelector="#insurance" [contentTemplate]="stepInsurance">
		<ng-template #stepInsurance>
			<h5 class="text-primary font-weight-bold">Step 18 :</h5>
			<p>Check the <b>checkbox</b> if you want to add Insurance to your order. This option is only available if you have chosen a <b>Shipping Method</b>.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step price detail end -->

	<!-- step change currency start -->
	<ng-walkthrough focusElementSelector="#changeCurrency" [contentTemplate]="stepChangeCurrency">
		<ng-template #stepChangeCurrency>
			<h5 class="text-primary font-weight-bold">Step 19 :</h5>
			<p>Click on <b>Change Currency</b> to convert the current currency to your desired currency. And view the updated price details in your selected currency.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step change currency end -->

	<!-- step checkout start -->
	<ng-walkthrough focusElementSelector="#checkout" [contentTemplate]="stepCheckout">
		<ng-template #stepCheckout>
			<h5 class="text-primary font-weight-bold">Step 20 :</h5>
			<p>Click on <b>Checkout</b> to proceed.</p>
			<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step checkout end -->
</ng-walkthrough-flow>


<div class="row">
	<!-- main content start -->
	<main class="col main-content py-md-5 py-3">
		<div id="shoppingCart">
			<!-- header start -->
			<header class="page-header border-bottom mb-3">
				<h3>Your shopping cart</h3>
				<span class="text-primary mb-3 d-block">
					<strong>Thank you for shipping with us. We appreciate it.</strong>
				</span>
			</header>
			<!-- header end -->

			<!-- product start -->
			<article class="white-box p-0 mb-4">
				<!-- table start -->
				<table datatable class="hover" [dtOptions]="dtOptions">
					<thead>
						<tr>
							<th>Items / products ordered</th>
							<th>Value Per Item</th>
							<th>Quantity</th>
							<th>Shipping Cost to Warehouse</th>
							<th>Total</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Ipad</td>
							<td>$ 4,000.00</td>
							<td>1</td>
							<td>$ 200.00</td>
							<td>$ 4,200.00</td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<th rowspan="1" colspan="1"><span class="d-block">Total From Store(s):</span><span _ngcontent-c13="" class="d-block">$
									4,200.00</span></th>
							<th rowspan="1" colspan="1"><span class="d-block">Processing Fee:</span><span class="d-block">$ 0.00</span></th>
							<th rowspan="1" colspan="1"><span class="d-block">Urgent Purchase Fee:</span><span class="d-block">$ 0.00</span></th>
							<th colspan="2" rowspan="1"><span class="d-block">Total Shop For Me Cost:</span><span class="d-block">$ 4,200.00</span></th>
						</tr>
					</tfoot>
				</table>
				<!-- table end -->
			</article>
			<!-- product end -->
		</div>

		<div class="clearfix">
			<a routerLink="/virtual-tour/shop-for-me/order-form" class="btn btn-light btn-sm float-left" id="backBag">
				<i class="fa fa-chevron-left mr-2" aria-hidden="true"></i>Back to Bag
			</a>
			<button type="button" class="btn btn-secondary btn-sm float-right ml-1" id="clearCart">Clear Cart</button>
		</div>

	</main>
	<!-- main content end -->
	<!-- sidebar start -->
	<aside class="col sidebar right py-md-5 py-3">
		<div class="content">

			<!-- price detail start -->
			<article class="mb-3">
				<div id="priceDetail">
					<h6>Price Details</h6>
					<table border="0" width="100%" class="font-size-sm">
						<tbody>
							<tr>
								<td class="white-space-nowrap py-2">Subtotal : </td>
								<td class="white-space-nowrap text-right py-2">
									<strong class="font-weight-medium">$ 4,200.00</strong>
								</td>
							</tr>
							<tr>
								<td class="white-space-nowrap py-2">Shipping Cost : </td>
								<td class="white-space-nowrap text-right py-2">
									<strong class="font-weight-medium">$ 55.37</strong>
								</td>
							</tr>
							<tr>
								<td class="white-space-nowrap py-2">Clearing, duty & Local Handling : </td>
								<td class="white-space-nowrap text-right py-2 text-success">
									<strong class="font-weight-medium">$ 444.34</strong>
								</td>
							</tr>
						</tbody>
						<tfoot class="border-top">
							<tr>
								<th class="white-space-nowrap py-2">Total Cost: </th>
								<th class="white-space-nowrap text-right py-2">$ 4,699.71</th>
							</tr>
						</tfoot>
					</table>
				</div>

				<label class="custom-check text-left flex-row mt-2" id="insurance">
					<input type="checkbox" value="">
					<span class="checkmark"></span>
					<strong class="font-weight-medium pl-2">Do you want to add Insurance?</strong>
				</label>
			</article>
			<!-- price detail end -->

			<!-- currency start -->
			<article class="text-center mb-3 border-bottom pb-3">
				<span class="font-size-sm text-medium d-block mb-2">NOTE: Final Amount is visible only after checkout</span>
				<a href="javascript:void(0)" class="btn btn-outline-primary btn-sm" id="changeCurrency">Change Currency</a>
			</article>
			<!-- currency end -->

			<article class="text-center">
				<a routerLink="/virtual-tour/shop-for-me/checkout/personal-detail" class="btn btn-secondary btn-lg btn-block" id="checkout">Checkout</a>
			</article>
		</div>
	</aside>
	<!-- sidebar end -->
</div>
