<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">Snapshot Images</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button> 
</div>
<div class="modal-body">

		<!-- table start -->
		
		<div class="row" *ngIf="snapimages">
			<div class="col-sm-4" *ngFor="let eachsnapimages of snapimages">
				<img src="{{ eachsnapimages.image }}" height="100px" width="150px">
			</div>
		</div>
		<div class="row" *ngIf="!snapimages">
			<div class="col-sm-12">No snapshot uploaded</div>
		</div>
		<!-- table end -->


</div>

