<app-header></app-header>

<main class="container my-3 my-md-5">

	<!-- form start -->
	<article class="white-box mt-4" *ngIf="!formSuccess" id="contact">
		<h3>Send Us A Message</h3>
		<form method="post" (ngSubmit)="contactusFrm.form.valid && onSubmit(contactusFrm)" #contactusFrm="ngForm">
			
			<div class="form-row">
				<div class="form-group col-sm-3 col-6">
					<label>First name
						<span class="text-secondary">*</span>
					</label>
					<input class="form-control" type="text" [ngClass]="{ 'is-invalid': contactusFrm.submitted && firstName.invalid }" name="firstName" #firstName="ngModel" ngModel required>
					<div *ngIf="contactusFrm.submitted && firstName.invalid" class="invalid-feedback">
                        <div *ngIf="firstName.errors.required">Field is required</div>
                    </div>
				</div>
				<div class="form-group col-sm-3 col-6">
					<label>Last name
						<span class="text-secondary">*</span>
					</label>
					<input class="form-control" type="text" [ngClass]="{ 'is-invalid': contactusFrm.submitted && lastName.invalid }" name="lastName" #lastName="ngModel" ngModel required>
					<div *ngIf="contactusFrm.submitted && lastName.invalid" class="invalid-feedback">
                        <div *ngIf="lastName.errors.required">Field is required</div>
                    </div>
				</div>				
				<div class="form-group col-sm-3 col-6">
					<label>Email
						<span class="text-secondary">*</span>
					</label>
					<input class="form-control" type="email" [ngClass]="{ 'is-invalid': contactusFrm.submitted && email.invalid }" name="email" #email="ngModel" ngModel required email>
					<div *ngIf="contactusFrm.submitted && email.invalid" class="invalid-feedback">
                        <div *ngIf="email.errors.required">Field is required</div>
                        <div *ngIf="email.errors.email">Email must be a valid email address</div>
                    </div>
				</div>
				<div class="form-group col-sm-3 col-6">
					<label>Phone
						<span class="text-secondary">*</span>
					</label>
					<input class="form-control" type="tel" [ngClass]="{ 'is-invalid': contactusFrm.submitted && phone.invalid }" name="phone" #phone="ngModel" ngModel required>
					<div *ngIf="contactusFrm.submitted && phone.invalid" class="invalid-feedback">
                        <div *ngIf="phone.errors.required">Field is required</div>
                    </div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-sm-4 col-6">
					<label>Category
						<span class="text-secondary">*</span>
					</label>
					<select class="form-control" [ngClass]="{ 'is-invalid': contactusFrm.submitted && reasontype.invalid }" name="reasontype" #reasontype="ngModel" ngModel required>
						<option value="">Select</option>
						<option value="{{reason.name}}" *ngFor="let reason of reasons">{{reason.name}}</option>
					</select>
					<div *ngIf="contactusFrm.submitted && reasontype.invalid" class="invalid-feedback">
                        <div *ngIf="reasontype.errors.required">Field is required</div>
                    </div>
				</div>				
				<div class="form-group col-sm-4">
					<label>Subject
						<span class="text-secondary">*</span>
					</label>
					<input class="form-control" type="text" [ngClass]="{ 'is-invalid': contactusFrm.submitted && subject.invalid }" name="subject" #subject="ngModel" ngModel required>
					<div *ngIf="contactusFrm.submitted && subject.invalid" class="invalid-feedback">
                        <div *ngIf="subject.errors.required">Field is required</div>
                    </div>
				</div>
				<div class="form-group col-sm-4">
					<label>Unit Number</label>
					<input class="form-control" type="text" name="unitnumber" #unitnumber="ngModel" ngModel >
					
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-sm-12 mb-0">
					<label>Message
						<span class="text-secondary">*</span>
					</label>
					<textarea rows="3" class="form-control" [ngClass]="{ 'is-invalid': contactusFrm.submitted && message.invalid }" name="message" #message="ngModel" ngModel required></textarea>
					<div *ngIf="contactusFrm.submitted && message.invalid" class="invalid-feedback">
                        <div *ngIf="message.errors.required">Field is required</div>
                    </div>
				</div>
				<div class="col-sm-12 mt-3">
					<button type="submit" class="btn btn-secondary btn-lg" *ngIf="!formSubmitted">Submit</button>
					<button type="submit" class="btn btn-secondary btn-lg" disabled="" *ngIf="formSubmitted">Submitting Data</button>
				</div>
			</div>
		</form>
	</article>
	<article class="white-box mt-4" *ngIf="formSuccess">
		<div data-ng-show="showError" ng-class="{fade:doFade}" class="alert alert-success">
			<strong>Success: </strong>Request saved. Our representative will reply you soon
		</div>
	</article>
	<!-- form end -->
</main>

<!-- floating button -->
<div class="floating">
	<ul class="list-floating">
		<li>
			<a href="javascript:void(0)" class="bg-primary" (click)="toggleChat()" tooltip="Live Chat" container="body" placement="left">
				<svg-icon [src]="showChat ? 'assets/imgs/icons/close.svg' : 'assets/imgs/icons/chat.svg'" [svgStyle]="{ 'height.px':30}"></svg-icon>
			</a>
		</li>

	</ul>
</div>

<!-- chat start -->
<article class="chat text-center" *ngIf="showChat">
	<h3>Start Chat</h3>
	<p>We're here to help! In order to help us serve you better, please provide some information before initiating the chat with
		a representative.</p>
	<form name="" method="post">
		<input type="text" class="form-control mb-2" placeholder="Name">
		<input type="email" class="form-control mb-2" placeholder="Email">
		<input type="text" class="form-control mb-2" placeholder="Phone Number">
		<input type="text" class="form-control mb-2" placeholder="City">
		<input type="text" class="form-control mb-2" placeholder="Company">
		<textarea class="form-control mb-2" placeholder="Question" rows="3"></textarea>
		<select class="form-control mb-3">
			<option>Department</option>
			<option>ShopTomyDoor - Customer Service 2</option>
			<option>ShopTomyDoor - Customer Service 3</option>
			<option>ShopTomyDoor - Customer Service 4</option>
			<option>ShopTomyDoor - Customer Service 5</option>
		</select>
		<div class="row">
			<div class="col-sm-12">
				<button type="button" class="btn btn-secondary btn-lg">Start Chat</button>
			</div>
			<div class="col-sm-12">
				<a routerLink="/" class="btn btn-link text-dark">Live Chat</a>
			</div>
		</div>
	</form>
</article>
<!-- chat end -->

<app-footer></app-footer>
