<section class="container">
	<div class="row">
		<!-- sidebar start -->
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-flyout></app-sidebar-flyout>
		</aside>
		<!-- sidebar end -->

		<!-- main content start -->
		<main class="col main-content py-md-5 py-3  pl-lg-5">

			<!-- header start -->
			<header class="page-header border-bottom mb-3">
				<h3>Shop For Me</h3>
			</header>
			<!-- header end -->

			<!-- form start -->
			<div class="white-box mb-4">
				<form method="post" (ngSubmit)="orderForm.form.valid && onSubmit(orderForm)" enctype="multipart/form-data"
				 #orderForm="ngForm">
					<div class="form-row mb-2 mb-md-3">
						<div class="form-group col-sm-6">
							<label class="font-weight-medium">Country of Purchase</label>
							<select [disabled]="isStoreShopForMe" class="form-control" (change)="reCalculateCart($event)" #warehouseId="ngModel" [(ngModel)]="shopforme.warehouseId"
							 name="warehouseId">
								<option (click)="warehouseChanged($event)" *ngFor="let warehouse of warehouseList" [attr.data-code]="warehouse.code"
								 [value]="warehouse.id">{{warehouse.name}} ({{warehouse.cityName}})</option>
							</select>
						</div>
						<div class="form-group col-sm-6">
							<label class="font-weight-medium">Urgent Purchase</label>
							<div class="input-group">
								<select #urgent="ngModel" (change)="reCalculateCart($event)" [(ngModel)]="shopforme.urgent" name="urgent" class="form-control">
									<option selected="selected" value="N">No</option>
									<option value="Y">Yes</option>
								</select>
								<div class="input-group-append">
									<a href="javascript:void(0)" class="btn btn-outline-primary" container="body" placement="left" tooltip="Select this to have your purchases made within 24 hours. We recommend this for items on sale or for items that are in limited
												quantities.">
										<i class="fa fa-question" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

					<!-- add product form start -->
					<article class="mb-3">
						<header class="border-bottom mb-3">
							<h6 class="mb-3">
								<i class="fa fa-chevron-circle-right mr-2 text-primary" aria-hidden="true"></i>Tell us what you will like to buy below
							</h6>
						</header>
						<div class="form-row">
							<div class="form-group col-sm-3">
								<label>Store </label>
								<div class="input-group">
									<select class="form-control" #storeId="ngModel" [(ngModel)]="shopforme.storeId" (ngModelChange)="storeChanged($event)" name="storeId">
										<option value="">Not Listed</option>
										<option *ngFor="let store of storeList" [value]="store.id">{{store.storeName}}</option>
									</select>
									 <div class="input-group-append">
										<a href="javascript:void(0)" class="btn btn-outline-primary" container="body" placement="left" tooltip="Store not listed? Please call us now to include it immediately.">
											<i class="fa fa-question" aria-hidden="true"></i>
										</a>
									</div> 
									
								</div>
							</div>
							<div class="form-group col-sm-3">
								<label>Category</label>
								<select class="form-control" #siteCategoryId="ngModel" [(ngModel)]="shopforme.siteCategoryId" (ngModelChange)="categoryChanged($event)"
								 name="siteCategoryId">
									<option value="">Not Listed</option>
									<option *ngFor="let category of categoryList" [value]="category.id">{{category.categoryName}}</option>
								</select>
							</div>
							<div class="form-group col-sm-3">
								<label>Sub Category</label>
								<select class="form-control" #siteSubCategoryId="ngModel" [(ngModel)]="shopforme.siteSubCategoryId"
								 (ngModelChange)="subCategoryChanged($event)" name="siteSubCategoryId">
									<option value="">Not Listed</option>
									<option *ngFor="let subcategory of subcategoryList" [value]="subcategory.id">{{subcategory.categoryName}}</option>
								</select>
							</div>
							<div class="form-group col-sm-3">
								<label>Product</label>
								<div class="input-group">
									<select class="form-control" #siteProductId="ngModel" [(ngModel)]="shopforme.siteProductId" name="siteProductId">
										<option value="">Not Listed</option>
										<option (click)="productChanged($event)" *ngFor="let product of productList" [attr.data-image]="product.image"
										 [value]="product.id">{{product.productName}}</option>
									</select>
									<div class="input-group-append">
										<a href="javascript:void(0)" class="btn btn-outline-primary" container="body" placement="left" tooltip="Product not listed? Please call us now to include it immediately.">
											<i class="fa fa-question" aria-hidden="true"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="form-group col-sm-6">
								<label>URL/Website Link
									<span class="text-secondary">*</span>
								</label>
								<input type="text" class="form-control" [ngClass]="{ 'is-invalid': orderForm.submitted && websiteUrl.invalid }"
								 #websiteUrl="ngModel" [(ngModel)]="shopforme.websiteUrl" required name="websiteUrl">
								<div *ngIf="orderForm.submitted && websiteUrl.invalid" class="invalid-feedback">
									<div *ngIf="itemPrice.errors.required">Field is required</div>
								</div>
							</div>
							<div class="form-group col-sm-6">
								<label>Name of Item
									<span class="text-secondary">*</span>
								</label>
								<input type="text" class="form-control" [ngClass]="{ 'is-invalid': orderForm.submitted && itemName.invalid }"
								 #itemName="ngModel" [(ngModel)]="shopforme.itemName" required name="itemName">
								<div *ngIf="orderForm.submitted && itemName.invalid" class="invalid-feedback">
									<div *ngIf="itemName.errors.required">Field is required</div>
								</div>
							</div>
							<div class="form-group col-sm-2 col-4">
								<label>Color/Size</label>
								<input type="text" class="form-control" #options="ngModel" [(ngModel)]="shopforme.options" name="options">
							</div>
						
						<div class="form-group col-sm-2 col-4">
							<label>Unit Price ({{defaultCurrencySymbol}})
								<span class="text-secondary">*</span>
							</label>
							<input type="text" class="form-control" [ngClass]="{ 'is-invalid': orderForm.submitted && itemPrice.invalid }"
							 (change)="setTwoNumberDecimal($event)" #itemPrice="ngModel" [(ngModel)]="shopforme.itemPrice" required name="itemPrice">
							<div *ngIf="orderForm.submitted && itemPrice.invalid" class="invalid-feedback">
								<div *ngIf="itemPrice.errors.required">Field is required</div>
							</div>
						</div>
						<div class="form-group col-sm-2 col-4">
							<label>Quantity
								<span class="text-secondary">*</span>
							</label>
							<input type="number" class="form-control" [ngClass]="{ 'is-invalid': orderForm.submitted && itemQuantity.invalid }"
							 (change)="setTwoNumberDecimal($event)" #itemQuantity="ngModel" [(ngModel)]="shopforme.itemQuantity" required
							 min="1" name="itemQuantity">
							<div *ngIf="orderForm.submitted && itemQuantity.invalid" class="invalid-feedback">
								<div *ngIf="itemQuantity.errors.required">Field is required</div>
							</div>
						</div>
						<div class="form-group col-sm-6">
							<label>Shipping cost to your warehouse &amp; Sales Tax</label>
							<div class="input-group">
								<input type="text" class="form-control" (change)="setTwoNumberDecimal($event)" #itemShippingCost="ngModel"
								 [(ngModel)]="shopforme.itemShippingCost" name="itemShippingCost">
								 <div class="input-group-append">
									<a href="javascript:void(0)" class="btn btn-outline-primary" container="body" placement="left" tooltip="Enter the sum of the delivery cost from the store to your assigned warehouse and the sales tax if any.">
										<i class="fa fa-question" aria-hidden="true"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="form-group col-sm-12 mb-0">
							<label>Upload Picture</label>
							<input class="form-control-file" type="file" name="itemImage" (change)="fileUpload($event)" ngModel>
						</div>
						</div>
					</article>
					<!-- add product form end -->

					<article class="text-center border-top pt-3">
						<button type="submit" class="btn btn-primary"><i aria-hidden="true" class="fa fa-plus mr-2"></i>Add to My Bag
						</button>
					</article>
				</form>
			</div>
			<!-- form end -->

			<!-- add produce start -->
			<div class="white-box cart-list p-0">
				<article class="item" *ngFor="let item of bagList; index as i">
					<div class="row no-gutters">
						<div class="col img pr-3">
							<img *ngIf="!item.itemImagePath" src="assets/imgs/box.png">
							<img *ngIf="item.itemImagePath" src="{{item.itemImagePath}}">
						</div>
						<div class="col content">
							<!-- header start -->
							<header>
								<h4 class="text-ellipsis">
									<a href="">{{item.itemName}}</a>
								</h4>
							</header>
							<!-- header end -->

							<!-- body start -->
							<div class="row cart-list-body">
								<div class="col-sm">
									<span class="font-size-sm d-block">Store:
										<strong class="font-weight-medium">{{item.storeName}}</strong>
									</span>
									<span class="font-size-sm d-block">URL/Website Link:
										<strong class="font-weight-medium">{{item.websiteUrl}}</strong>
									</span>
									<span class="font-size-sm d-block">Color/Size:
										<strong class="font-weight-medium">{{item.options!=""?item.options:'N/A'}}</strong>
									</span>
								</div>
								<div class="col-sm text-sm-right">
									<span class="font-size-sm d-block">Quantity:
										<strong class="font-weight-medium">{{item.itemQuantity}}</strong>
									</span>
									<span class="font-size-sm d-block">Unit Price :
										<strong>{{item.itemPrice}}</strong>
									</span>
									<span class="font-size-sm d-block">Shipping to Your Warehouse :
										<strong>{{item.itemShippingCost}}</strong>
									</span>
								</div>
							</div>
							<!-- body end -->

							<!-- footer start -->
							<footer class="mt-2 d-sm-flex flex-row-reverse align-items-center">
								<div class="flex-1 text-sm-right">
									<h4>Total :
										<strong class="text-success">{{item.itemTotalCost}}</strong>
									</h4>
								</div>
								<div class="flex-none">
									<a href="javascript:void(0);" (click)="deleteItem(i, item.id)" class="btn btn-secondary btn-sm">Remove</a>
								</div>
							</footer>
							<!-- footer end -->
						</div>
					</div>
				</article>

				<article *ngIf="paymentDetails" class="px-3 py-2 bg-medium text-center text-sm-left">
					<div class="row">
						<div class="col-md-3 col-sm-6 mb-2 mb-md-0">
							<span class="font-weight-medium d-md-block">Total From Store(s):</span>
							<strong>{{paymentDetails.totalItemCost}}</strong>
						</div>
						<div class="col-md-3 col-sm-6 mb-2 mb-md-0">
							<span class="font-weight-medium d-md-block">Processing Fee:</span>
							<strong>{{paymentDetails.totalProcessingFee}}</strong>
						</div>
						<div class="col-md-3 col-sm-6 mb-2 mb-sm-0">
							<span class="font-weight-medium d-md-block">Urgent Purchase Fee:</span>
							<strong>{{paymentDetails.totalUrgentCost}}</strong>
						</div>
						<div class="col-md-3 col-sm-6">
							<span class="font-weight-medium d-md-block">Total Shop For Me Cost:</span>
							<strong>{{paymentDetails.totalCost}}</strong>
						</div>
					</div>
				</article>
				<div *ngIf="bagList" class="p-3 text-center">
					<a href="javascript:void(0);" (click)="saveCartItems($event)" class="btn btn-primary mr-1">
						<i class="fa fa-floppy-o mr-2" aria-hidden="true"></i>Save For Later
					</a>
				</div>
			</div>
			<!-- add produce end -->
			<div *ngIf="bagList" class="text-center mt-3">
				<button class="btn btn-secondary btn-lg" type="button" (click)="calculateShippingCost()">Calculate Shipping Cost</button>
			</div>

			<div *ngIf="showShipping">
				<div class="row shipping-type">
					<div class="col-md col-sm-12 mt-3 item" *ngFor="let item of shippingTypes">
						<div class="item-inn px-0">
							<img src="{{item.companyLogo}}" class="mb-3">
							<h5 class="text-primary">{{item.shipping}}</h5>
							<span class="font-size-sm font-weight-medium">Shipping Cost: {{item.shippingCost}}</span>
							<span *ngIf="item.isDutyCharged" class="font-size-sm font-weight-medium">Clearing, duty & Local Handling:
								{{item.clearingDuty}}</span>
							<span *ngIf="!item.isDutyCharged" class="font-size-sm font-weight-medium">Clearing, & Local Handling:
								{{item.clearingDuty}}</span>
							<div class="bg-dark w-100 my-3">
								<span class="mb-2 d-block font-size-lg text-white">
									<strong>{{item.totalShippingCost}}</strong>
								</span>
								<span class="d-block font-size-sm text-medium">{{item.shipping_time}}</span>
								<span class="mb-3 d-block font-size-sm text-medium">{{item.estimatedDeliveryDate}}</span>
							</div>
							<div>
								<a href="javascript:void(0)" tooltip="{{item.learn_more}}" container="body" class="btn btn-primary btn-sm mr-1">Details</a>
								<a href="javascript:void(0)" (click)="submitProcurement($event, item.shippingId);" class="btn btn-secondary btn-sm">Checkout</a>
							</div>
						</div>

					</div>
				</div>
				<div class="row shipping-type">
					<div class="col-md col-sm-6 mt-3 item">
						<div class="item-inn px-0">
							<h5 class="text-primary">Add to My Warehouse</h5>
							<span class="font-size-sm font-weight-medium">Shipping Cost: </span>
							<span class="font-size-sm font-weight-medium">Clearing, duty & Local Handling: </span>
							<div class="bg-dark w-100 my-3">
								<span class="mb-2 d-block font-size-lg text-white">
									<strong>{{paymentDetails.totalCost}}</strong>
								</span>
							</div>
							<div>
								<!-- Items will be added to other items of your warehouse. You can ship later. -->
								Cost above is cost to buy the items and deliver to your Shoptomydoor warehouse.
							</div>
							<div class="mt-3">
								<a href="javascript:void(0)" (click)="submitProcurement($event,0);" class="btn btn-secondary btn-sm">Checkout</a>
							</div>
						</div>
					</div>
					<div class="col-md col-sm-12 mt-3 item">
						<div class="item-inn px-0">
							<h5 class="text-primary">Send me Shipping Cost</h5>
							<span class="font-size-sm font-weight-medium">Shipping Cost: </span>
							<span class="font-size-sm font-weight-medium">Clearing, duty & Local Handling: </span>
							<div class="bg-dark w-100 my-3">
								<span class="mb-2 d-block font-size-lg text-white">
									<strong>{{defaultCurrencySymbol}} 0.00</strong>
								</span>
							</div>
							<div>
								Shipping Cost will be email to you within 24 hours.
							</div>
							<div class="mt-3">
								<a href="javascript:void(0)" (click)="submitProcurement($event, -1);" class="btn btn-secondary btn-sm">Checkout</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</main>
		<!-- main content end -->
	</div>
</section>
