<div class="page-overlay" *ngIf="showPaystackOverlay">
    <span class="h4 mb-0">Payment is under process. Please do not click anywhere or reload the page.</span>
</div>
<form method="post" (ngSubmit)="placeorderFrm.form.valid && placeOrder(placeorderFrm)" #placeorderFrm="ngForm">
      <div class="row">

        <!-- main content start -->
        <main class="col main-content py-md-5 py-3">
            <!-- header start -->
            <header class="page-header border-bottom mb-3 pb-2">
                <h3>Place order</h3>
            </header>
            <!-- header end -->
            <!-- added product start -->
            <article class="white-box p-0 mb-4">
                <!-- table start -->
                <table datatable class="hover" [dtOptions]="dtOptions">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Discount</th>
                            <th>Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of usercart.items">
                            <td>{{item.itemName}}</td>
                            <td>{{usercart.currencySymbol}} {{item.itemPrice | number:'1.2-2'}}</td>
                            <td>{{item.itemQuantity}}</td>
                            <td>{{usercart.currencySymbol}} {{item.itemShippingCost | number:'1.2-2'}}</td>
                            <td>{{usercart.currencySymbol}} {{item.itemTotalCost | number:'1.2-2'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="4" class="text-right">Summary</th>
                            <th>{{usercart.currencySymbol}} {{usercart.data.totalItemCost | number:'1.2-2'}}</th>
                        </tr>
                    </tfoot>
                </table>
                <!-- table end -->
            </article>
            <!-- added product end -->

            <!-- personal information start -->
            <div class="row">
                <!-- contact information start -->
                <div class="col-12 mt-3 item">
                    <div class="border payment-type-box d-flex flex-column">
                        <header class="border-bottom px-3 py-2">
                            <h4 class="mb-0 text-primary">
                                Contact information
                            </h4>
                        </header>
                        <div class="py-1">
                            <div class="d-flex align-items-center py-1">
                                <div class="col-md-3 col-sm-4 col-5">
                                    <span class="font-weight-medium">Email :</span>
                                </div>
                                <div class="col-md-9 col-sm-8 col-7 break-word">
                                    <a href="mailto:mrityunjoy.marial@indusnet.co.in">{{usercart.personalDetails.userEmail}}</a>
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-1">
                                <div class="col-md-3 col-sm-4 col-5">
                                    <span class="font-weight-medium">Title :</span>
                                </div>
                                <div class="col-md-9 col-sm-8 col-7">
                                    <span>{{usercart.personalDetails.title}}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-1">
                                <div class="col-md-3 col-sm-4 col-5">
                                    <span class="font-weight-medium">First name :</span>
                                </div>
                                <div class="col-md-9 col-sm-8 col-7">
                                    <span>{{usercart.personalDetails.firstName}}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-1">
                                <div class="col-md-3 col-sm-4 col-5">
                                    <span class="font-weight-medium">Last name :</span>
                                </div>
                                <div class="col-md-9 col-sm-8 col-7">
                                    <span>{{usercart.personalDetails.lastName}}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-1">
                                <div class="col-md-3 col-sm-4 col-5">
                                    <span class="font-weight-medium">Company :</span>
                                </div>
                                <div class="col-md-9 col-sm-8 col-7">{{usercart.personalDetails.company}}</div>
                            </div>
                        </div>
                        <footer class="px-3 py-2 mt-auto border-top">
                            <a routerLink="/auto-parts/checkout/personal-detail" class="btn btn-primary btn-sm">Modify</a>
                        </footer>
                    </div>
                </div>
                <!-- contact information end -->

                <!-- billing address start -->
                <div class="col-12 mt-3 item">
                    <div class="border payment-type-box d-flex flex-column">
                        <header class="border-bottom px-3 py-2">
                            <h4 class="mb-0 text-primary">
                                <span class="font-weight-medium">Billing address</span>
                            </h4>
                        </header>
                        <div class="py-1">
                            <div class="d-flex align-items-center py-1">
                                <div class="col-md-3 col-sm-4 col-5">
                                    <span class="font-weight-medium">First name :</span>
                                </div>
                                <div class="col-md-9 col-sm-8 col-7">
                                    <span>{{usercart.personalDetails.billingFirstName}}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-1">
                                <div class="col-md-3 col-sm-4 col-5">
                                    <span class="font-weight-medium">Last name :</span>
                                </div>
                                <div class="col-md-9 col-sm-8 col-7">
                                    <span>{{usercart.personalDetails.billingLastName}}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-1">
                                <div class="col-md-3 col-sm-4 col-5">
                                    <span class="font-weight-medium">Address :</span>
                                </div>
                                <div class="col-md-9 col-sm-8 col-7">
                                    <span>{{usercart.personalDetails.billingAddress}}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-1">
                                <div class="col-md-3 col-sm-4 col-5">
                                    <span class="font-weight-medium">City :</span>
                                </div>
                                <div class="col-md-9 col-sm-8 col-7">
                                    <span>{{usercart.personalDetails.billingCityName}}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-1">
                                <div class="col-md-3 col-sm-4 col-5">
                                    <span class="font-weight-medium">State :</span>
                                </div>
                                <div class="col-md-9 col-sm-8 col-7">
                                    <span>{{usercart.personalDetails.billingStateName}}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-1">
                                <div class="col-md-3 col-sm-4 col-5">
                                    <span class="font-weight-medium">Country :</span>
                                </div>
                                <div class="col-md-9 col-sm-8 col-7">
                                    <span>{{usercart.personalDetails.billingCountryName}}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-1">
                                <div class="col-md-3 col-sm-4 col-5">
                                    <span class="font-weight-medium">Zip/Postal code :</span>
                                </div>
                                <div class="col-md-9 col-sm-8 col-7">
                                    <span>{{usercart.personalDetails.billingZipcode}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- billing address start -->

                <!-- shipping address start -->
                <div class="col-12 mt-3 item">
                    <div class="border payment-type-box d-flex flex-column">
                        <header class="border-bottom px-3 py-2">
                            <h4 class="mb-0 text-primary">
                                <span class="font-weight-medium">Shipping address</span>
                            </h4>
                        </header>
                        <div class="py-1">
                            <div class="d-flex align-items-center py-1">
                                <div class="col-md-3 col-sm-4 col-5">
                                    <span class="font-weight-medium">First name :</span>
                                </div>
                                <div class="col-md-9 col-sm-8 col-7">
                                    <span>{{usercart.personalDetails.shippingFirstName}}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-1">
                                <div class="col-md-3 col-sm-4 col-5">
                                    <span class="font-weight-medium">Last name :</span>
                                </div>
                                <div class="col-md-9 col-sm-8 col-7">
                                    <span>{{usercart.personalDetails.shippingLastName}}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-1">
                                <div class="col-md-3 col-sm-4 col-5">
                                    <span class="font-weight-medium">Address :</span>
                                </div>
                                <div class="col-md-9 col-sm-8 col-7">
                                    <span>{{usercart.personalDetails.shippingAddress}}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-1">
                                <div class="col-md-3 col-sm-4 col-5">
                                    <span class="font-weight-medium">City :</span>
                                </div>
                                <div class="col-md-9 col-sm-8 col-7">
                                    <span>{{usercart.personalDetails.shippingCityName}}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-1">
                                <div class="col-md-3 col-sm-4 col-5">
                                    <span class="font-weight-medium">State :</span>
                                </div>
                                <div class="col-md-9 col-sm-8 col-7">
                                    <span>{{usercart.personalDetails.shippingStateName}}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-1">
                                <div class="col-md-3 col-sm-4 col-5">
                                    <span class="font-weight-medium">Country :</span>
                                </div>
                                <div class="col-md-9 col-sm-8 col-7">
                                    <span>{{usercart.personalDetails.shippingCountryName}}</span>
                                </div>
                            </div>
                            <div class="d-flex align-items-center py-1">
                                <div class="col-md-3 col-sm-4 col-5">
                                    <span class="font-weight-medium">Zip/Postal code :</span>
                                </div>
                                <div class="col-md-9 col-sm-8 col-7">
                                    <span>{{usercart.personalDetails.shippingZipcode}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- shipping address start -->

                <!-- payment method start -->
                <div class="col-12 mt-3 item">
                    <div class="border payment-type-box d-flex flex-column">
                        <header class="border-bottom px-3 py-2">
                            <h4 class="mb-0 text-primary">
                                Payment method
                            </h4>
                        </header>
                        <div class="p-3">
                            <strong>{{usercart.paymentMethod.paymentMethodName}}</strong>
                        </div>
                        <!-- payment method start -->
                        <div *ngIf="usercart.paymentMethod.paymentMethodKey == 'wire_transfer'" class="p-3">

                            <div class="form-group">
                                <label>PO Number
                                    <span class="text-secondary">*</span>
                                </label>
                                <input type="text" class="form-control" name="poNumber" #poNumber="ngModel" [ngClass]="{ 'is-invalid': placeorderFrm.submitted && poNumber.invalid }" ngModel required>
                                       <div *ngIf="placeorderFrm.submitted && poNumber.invalid" class="invalid-feedback">
                                       <div *ngIf="poNumber.errors.required">Field is required</div>
                                </div>
                            </div>	
                            <div class="form-group">
                                <label>Company name
                                    <span class="text-secondary">*</span>
                                </label>
                                <input type="text" class="form-control" name="companyName" #companyName="ngModel" [ngClass]="{ 'is-invalid': placeorderFrm.submitted && companyName.invalid }" ngModel required>
                                       <div *ngIf="placeorderFrm.submitted && companyName.invalid" class="invalid-feedback">
                                       <div *ngIf="companyName.errors.required">Field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Buyer's name
                                    <span class="text-secondary">*</span>
                                </label>
                                <input type="text" class="form-control" name="buyerName" #buyerName="ngModel" [ngClass]="{ 'is-invalid': placeorderFrm.submitted && buyerName.invalid }" ngModel required>
                                       <div *ngIf="placeorderFrm.submitted && buyerName.invalid" class="invalid-feedback">
                                       <div *ngIf="buyerName.errors.required">Field is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Position
                                    <span class="text-secondary">*</span>
                                </label>
                                <input type="text" class="form-control" name="position" #position="ngModel" [ngClass]="{ 'is-invalid': placeorderFrm.submitted && position.invalid }" ngModel required>
                                       <div *ngIf="placeorderFrm.submitted && position.invalid" class="invalid-feedback">
                                       <div *ngIf="position.errors.required">Field is required</div>
                                </div>
                            </div>
                        </div>
                        <div *ngIf="usercart.paymentMethod.paymentMethodKey == 'ewallet'" class="p-3">
                            <article class="mb-3">
                                <span class="font-size-sm d-block mb-2">
                                    <strong class="d-block">Have an E-Wallet ID?</strong> Enter it here and click on Submit.</span>
                                <div class="input-group input-group-sm mb-3">
                                    <input type="text" class="form-control" [readonly]="ewalletReadonly" name="ewallet" [ngClass]="{ 'is-invalid': ewalletInvalid}" [(ngModel)]="ewallet" (ngModelChange)="ewalletCheck($event)" placeholder="E-Wallet ID">
                                           <div class="input-group-append">
                                        <button class="btn btn-outline-primary" (click)="validateEwallet()" type="button">Submit</button>
                                    </div>
                                    <div *ngIf="ewalletInvalid" class="invalid-feedback">
                                        <div>Field is required</div>
                                    </div>
                                </div>
                                <div *ngIf="ewalletMsg" class="text-danger">{{ewalletMsg}}</div>
                            </article>

                        </div>
                        <div  *ngIf="usercart.paymentMethod.paymentMethodKey == 'credit_debit_card'" class="p-3">
                            <div class="form-group row">
                                <label class="col-lg-3 col-md-5 col-sm-4 col-form-label">Card Number <span class="text-secondary">*</span></label>
                                <div class="col-lg-7 col-md-7 col-sm-8">
                                    <input type="text" class="form-control" name="ccardNumber" (input)="onSearchChange($event.target.value)" [(ngModel)]="ccardNumber" id="ccardNumber" [ngClass]="{ 'is-invalid': cardNumberIsInvalid}" autocomplete="off" />
                                           <div *ngIf="cardNumberIsInvalid" class="invalid-feedback">
                                        <div>Field is required</div>
                                    </div>
                                </div>
                                <div class="col-lg-2 col-md-7 col-sm-8">{{payCardType}}</div>	                    		
                            </div>
                            <div class="form-group row">
                                <label   class="col-lg-3 col-md-5 col-sm-4 col-form-label">Expiry Month <span class="text-secondary">*</span>
                                </label>
                                <div class="col-lg-3 col-md-7 col-sm-8">
                                    <select class="form-control" [ngClass]="{ 'is-invalid': expiryMonthIsInvalid }" name="expiryMonth" [(ngModel)]="expiryMonth" autocomplete="off">
                                            <option value="">Select</option>
                                        <option value="01">January</option>
                                        <option value="02">February</option>
                                        <option value="03">March</option>
                                        <option value="04">April</option>
                                        <option value="05">May</option>
                                        <option value="06">June</option>
                                        <option value="07">July</option>
                                        <option value="08">August</option>
                                        <option value="09">September</option>
                                        <option value="10">October</option>
                                        <option value="11">November</option>
                                        <option value="12">December</option>
                                    </select>
                                    <div *ngIf="expiryMonthIsInvalid" class="invalid-feedback">
                                        <div>Field is required</div>
                                    </div>
                                </div>

                                <label  class="col-lg-2 col-md-5 col-sm-4 col-form-label">Expiry Year <span class="text-secondary">*</span>
                                </label>
                                <div class="col-lg-2 col-md-7 col-sm-8">
                                    <select class="form-control" [ngClass]="{ 'is-invalid': expiryYearIsInvalid }" name="expiryYear" [(ngModel)]="expiryYear" autocomplete="off">
                                            <option value="">Select</option>
                                        <option *ngFor="let item of createRangeYear(5);" [ngValue]="item">{{item}}</option>
                                    </select>
                                    <div *ngIf="expiryYearIsInvalid" class="invalid-feedback">
                                        <div>Field is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-md-5 col-sm-4 col-form-label">CVV <span class="text-secondary">*</span></label>
                                <div class="col-lg-3 col-md-7 col-sm-8">
                                    <input type="password" class="form-control" name="cvvCode" [(ngModel)]="cvvCode" [ngClass]="{ 'is-invalid': cvvCodeIsInvalid}" autocomplete="off" />
                                           <div *ngIf="cvvCodeIsInvalid" class="invalid-feedback">
                                        <div>Field is required</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- payment method end -->
                        <footer class="px-3 py-2 mt-auto border-top">
                            <a routerLink="/auto-parts/checkout/shipping-and-payment" class="btn btn-primary btn-sm">Change payment method</a>
                        </footer>
                    </div>
                </div>

                <!-- <div class="col-12 mt-4">
                        <a routerLink="/auto-parts/checkout/shipping-and-payment" class="btn btn-light btn-sm"> <i class="fa fa-chevron-left mr-2" aria-hidden="true"></i> Back </a>
                </div> -->

                <!-- note start -->
                <div class="col-12 mt-4">
                    <a routerLink="/auto-parts/checkout/shipping-and-payment" class="btn btn-light btn-sm float-left"> <i class="fa fa-chevron-left mr-2" aria-hidden="true"></i> Back </a>
                    <div class="alert alert-danger mb-0">
                        <span>
                            <strong>Note :</strong> We do not ship or return any fraudulently purchased items. You are advised to only pay to ship items that you can provide valid evidence of proof of purchase when and if requested. Items for which a valid proof of purchase can not be provided will be handed over to US Customs. In addition, any shipping cost paid will be forfeited and billed
                            to you as cost of fraud verification.
                        </span>
                    </div>
                </div>
                <!-- note end -->
            </div>
            <!-- personal information end -->
        </main>
        <!-- main content end -->
        <!-- sidebar start -->
        <aside class="col sidebar right py-md-5 py-3">
            <div class="content">
                <article *ngIf="subscriptionCouponCode" class="mb-3">
                    <span class="d-block mb-2">
                        <strong class="d-block text-secondary">You have an exclusive coupon code</strong>
                    </span>
                    <div class="d-flex">
                        <span class="coupon-code flex-1">{{subscriptionCouponCode}}</span>
                        <button class="btn btn-secondary btn-sm btn-clip" (click)="copyText(subscriptionCouponCode)" tooltip="Copy to Clipboard" type="button"
                                placement="left"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
                    </div>
                </article>
                <!-- coupon start -->
                <article class="mb-3 border-bottom" *ngIf="usercart.data.shipmentMethodId">
                    <span class="font-size-sm d-block mb-2">
                        <strong class="d-block">Have a coupon code?</strong> Enter it here and click on Submit.</span>
                    <div class="input-group input-group-sm mb-3">
                        <input type="text" class="form-control" name="couponcode" [disabled]="couponApplied" [(ngModel)]="couponcode" placeholder="Coupon Code" (ngModelChange)="checkEmptyCouponInput()">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" [disabled]="couponApplied || blankCouponCode" (click)="validateCoupon()" type="button">Submit</button>
                        </div>
                        <!-- <div *ngIf="couponInValid" class="input-group input-group-sm mb-3">
                        <strong class="d-block">{{couponInValidMsg}}</strong>
                        </div> -->
                        <div *ngIf="couponInValid" class="input-group input-group-sm mb-3">
                            <small class="{{couponApplied?'text-success':'text-danger'}}"><b>{{couponInValidMsg}}</b></small>
                        </div>
                        <div *ngIf="this.couponApplied" class="input-group input-group-sm mb-3">
                            <a href="javascript:void(0)" class="pull-right" (click)="clearCouponCode()">Clear</a>
                        </div>
                    </div>
                </article>
                <!-- coupon end -->
                <!-- price detail start -->
                <article class="mb-3 border-bottom">
                    <h6>Price Details</h6>
                    <table border="0" width="100%" class="font-size-sm">
                        <tbody>
                            <tr>
                                <td valign="top" class="py-2">Total Procurement Cost : </td>
                                <td valign="top" class="white-space-nowrap text-right py-2">
                                    <strong class="font-weight-medium">{{usercart.currencySymbol}} {{usercart.data.totalProcurementCost | number:'1.2-2'}}</strong>
                                </td>
                                <td valign="top" class="white-space-nowrap text-success text-right py-2" *ngIf = "usercart.isCurrencyChanged=='Y'"><small>({{usercart.defaultCurrencySymbol}} {{usercart.data.defaultTotalProcurementCost | number:'1.2-2'}})</small></td>
                            </tr>						
                            <tr *ngIf="usercart.data.shipmentMethodId" >
                                <td valign="top" class="py-2">Total Shipping Cost : </td>
                                <td valign="top" class="white-space-nowrap text-right py-2">
                                    <strong class="font-weight-medium">{{usercart.currencySymbol}} {{usercart.data.totalShippingCost | number:'1.2-2'}}</strong>
                                </td>
                                <td valign="top" class="white-space-nowrap text-success text-right py-2" *ngIf = "usercart.isCurrencyChanged=='Y'"><small>({{usercart.defaultCurrencySymbol}} {{usercart.data.defaultTotalShippingCost | number:'1.2-2'}})</small></td>
                            </tr>
                            <tr *ngIf="usercart.coupondetails.discountAmount">
                                <td class="white-space-nowrap py-2">Total Discount : </td>
                                <td class="white-space-nowrap text-right py-2">{{usercart.currencySymbol}} {{usercart.data.totalDiscount | number:'1.2-2'}}</td>
                                <td *ngIf="usercart.isCurrencyChanged=='Y'" class="white-space-nowrap text-right text-success py-2"><small>( {{usercart.defaultCurrencySymbol}} {{usercart.data.defaultTotalDiscount | number:'1.2-2'}} )</small></td>
                            </tr>
                            <tr>
                                <td valign="top" class="py-2">Value Added Tax : </td>
                                <td valign="top" class="white-space-nowrap text-right py-2">
                                    <strong class="font-weight-medium">{{usercart.currencySymbol}} {{usercart.data.totalTax | number:'1.2-2'}}</strong>
                                </td>
                                <td *ngIf="usercart.isCurrencyChanged=='Y'" class="white-space-nowrap text-success text-right py-2"><small>( {{usercart.defaultCurrencySymbol}} {{usercart.data.defaultTotalTax | number:'1.2-2'}} )</small></td>
                            </tr>
                            <tr *ngIf="usercart.data.isInsuranceCharged=='Y'" >
                                <td class="white-space-nowrap py-2">Insurance Cost : </td>
                                <td class="white-space-nowrap text-right py-2">
                                    <strong class="font-weight-medium">{{usercart.currencySymbol}} {{usercart.data.totalInsurance | number:'1.2-2'}}</strong>
                                </td>
                                <td *ngIf="usercart.isCurrencyChanged=='Y'" class="white-space-nowrap text-success text-right py-2"><small>( {{usercart.defaultCurrencySymbol}} {{usercart.data.defaultTotalInsurance | number:'1.2-2'}} )</small></td>
                            </tr>
                        </tbody>
                        <tfoot class="border-top">
                            <tr>
                                <th valign="top" class="white-space-nowrap py-2">Total : </th>
                                <th valign="top" class="white-space-nowrap text-right  py-2">{{usercart.currencySymbol}} {{(usercart.data.totalCost * 1)+(usercart.data.totalTax * 1) | number:'1.2-2'}}</th>
                                <th valign="top" class="white-space-nowrap text-right text-success py-2" *ngIf = "usercart.isCurrencyChanged=='Y'"><small>({{usercart.defaultCurrencySymbol}} {{(usercart.data.defaultTotalCost * 1)+(usercart.data.defaultTotalTax * 1) | number:'1.2-2'}})</small></th>
                            </tr>
                        </tfoot>
                    </table>
                </article>
                <div *ngIf="pointEarned" class="input-group input-group-sm mb-3">
                    <strong class="d-block">{{pointEarned}}</strong>
                </div>
                <!-- price detail end -->

                <!-- currency start -->
                <article class="text-center mb-3 border-bottom pb-3">
                    <a href="javascript:void(0)" (click)="showCurrency()" class="btn btn-outline-primary btn-sm">Change Currency</a>
                </article>
                <!-- currency end -->

                <!-- note start -->
                <article class="mb-3">
                    <ul class="list-ui mb-0">
                        <li>Prices and subtotals are displayed including taxes.</li>
                        <li>Discounts are calculated based on prices and subtotals taken without consideration of taxes.</li>
                    </ul>
                </article>
                <!-- note end -->

                <article class="mb-3 border-bottom pb-3">
                    <label class="custom-check text-left flex-row">
                        <input type="checkbox" value="Y" id="termsAndCondition" [checked] = "termsAndCondition == 'N'? false:true" (change) = "checkTermsAndCondition($event)">
                               <span class="checkmark"></span>
                        <span class="font-size-sm ml-2">I accept the "
                            <a routerLink="/terms_conditions" class="text-underline">Terms & Conditions</a> "
                        </span>
                    </label>
                </article>

                <!-- submit start -->
                <article class="text-center">
                    <!-- <a href="javascript:void(0)" class="btn btn-secondary btn-lg btn-block" (click)="placeOrder()">Submit order</a> -->
                    <button type="submit" class="btn btn-secondary btn-lg btn-block" *ngIf="!formSubmit && !paypalPayment">Submit order</button>
                    <button type="submit" class="btn btn-secondary btn-lg btn-block" *ngIf="formSubmit" disabled="">Submit order</button>
                    <ngx-paypal [config]="payPalConfig" *ngIf="paypalPayment"></ngx-paypal>
                </article>
                <!-- submit end -->
            </div>
        </aside>
        <!-- sidebar end -->

    </div>
</form>

