<!-- header start -->
<header class="page-header border-bottom mb-3">
	<h3>Other Vehicle</h3>
</header>
<!-- header end -->

<p>Ever tried shopping in international online stores, only to have your cards declined. With Shop For Me, we can help you make
	purchases from these stores usig the following simple process.</p>

<ul class="list-ui">
	<li>Click on "Order Form" and start by selecting your country of purchase.</li>
	<li>Fill in all the details of your order and add them to your cart.</li>
	<li>You can always come back later to add other items to your cart.</li>
	<li>Once satisfied with what you want to buy, follow the process to make payment.</li>
	<li>We charge a small fee to perform this service on your behalf, and you will see the details as you fill the order form.</li>
	<li>We will review your order and if everything is correct buy them and have it delivered to your warehouse.</li>
</ul>
<p>ny questions, please chat with us, call us or email us at
	<a href="mailto:contact@shoptomydoor.com">contact@shoptomydoor.com</a>
</p>

<form method="post" (ngSubmit)="otherVehicleFrm.form.valid && onSubmit(otherVehicleFrm)" #otherVehicleFrm="ngForm">
	<!-- buy car form start -->
	<div class="white-box">
		<div class="form-row">
			<div class="white-box border border-primary mb-4" *ngIf="websiteList">
				<div class="form-row">
					<div class="form-group col-sm-4">
						<label>Website<span class="text-secondary">*</span> : </label>
						<select class="form-control" (change)="getMake($event)" name="website" #website="ngModel" [ngClass]="{ 'is-invalid': otherVehicleFrm.submitted && website.invalid }" ngModel required>
							<option>Select</option>
							<option value="{{ eachWebsite.id }}" *ngFor="let eachWebsite of websiteList">
								{{ eachWebsite.name }}
							</option>
						</select>
						<div *ngIf="otherVehicleFrm.submitted && website.invalid" class="invalid-feedback">
                        <div *ngIf="website.errors.required">Field is required</div>
                    	</div>
					</div>
				</div>
				<div class="border-top pt-3">
					<img src="{{ websiteLogo }}" class="mb-3" *ngIf="websiteLogo">
					<p class="mb-0">Ever tried shopping in international online stores, only to have your cards declined. With Shop For Me, we can help you
						make purchases from these stores usig the following simple process.
					</p>
				</div>
			</div>
			<div class="form-group col-sm-4 col-6">
				<label>Make
					<span class="text-secondary">*</span>
				</label>
				<select class="form-control" (change)="getModel($event)" name="make" #make="ngModel" [ngClass]="{ 'is-invalid': otherVehicleFrm.submitted && make.invalid }" ngModel required>
					<option>Select</option>
					<option value="{{ eachMake.makeId }}" *ngFor="let eachMake of makeList">{{ eachMake.make.name }}</option>
				</select>
				<div *ngIf="otherVehicleFrm.submitted && make.invalid" class="invalid-feedback">
                	<div *ngIf="make.errors.required">Field is required</div>
        		</div>
			</div>
			<div class="form-group col-sm-4 col-6">
				<label>Model
					<span class="text-secondary">*</span>
				</label>
				<select class="form-control" name="model" #model="ngModel" [ngClass]="{ 'is-invalid': otherVehicleFrm.submitted && model.invalid }" ngModel required>
					<option>Select</option>
					<option value="{{ eachModel.modelId }}" *ngFor="let eachModel of modelList">{{ eachModel.model.name }}</option>
				</select>
				<div *ngIf="otherVehicleFrm.submitted && model.invalid" class="invalid-feedback">
                	<div *ngIf="model.errors.required">Field is required</div>
        		</div>
			</div>
			<div class="form-group col-sm-4 col-6">
				<label>Year
					<span class="text-secondary">*</span>
				</label>
				<select class="form-control" name="year" #year="ngModel" [ngClass]="{ 'is-invalid': otherVehicleFrm.submitted && year.invalid }" ngModel required>
					<option>Select</option>
					<option *ngFor="let year of yearList">{{ year }}</option>
				</select>
				<div *ngIf="otherVehicleFrm.submitted && year.invalid" class="invalid-feedback">
                	<div *ngIf="year.errors.required">Field is required</div>
        		</div>
			</div>
			<div class="form-group col-sm-8 col-6">
				<label>Direct URL/Website Link
					<span class="text-secondary">*</span>
				</label>
				<input type="text" class="form-control" name="carUrl" #carUrl="ngModel" [ngClass]="{ 'is-invalid': otherVehicleFrm.submitted && carUrl.invalid }" ngModel required>
				<div *ngIf="otherVehicleFrm.submitted && carUrl.invalid" class="invalid-feedback">
                	<div *ngIf="carUrl.errors.required">Field is required</div>
        		</div>
			</div>
			<div class="form-group col-sm-4 col-6">
				<label>Price
					<span class="text-secondary">*</span>
				</label>
				<input type="text" class="form-control" name="price" (blur)="getProcessingFee($event)" #price="ngModel" [ngClass]="{ 'is-invalid': otherVehicleFrm.submitted && price.invalid }" ngModel required>
				<div *ngIf="otherVehicleFrm.submitted && price.invalid" class="invalid-feedback">
                	<div *ngIf="price.errors.required">Field is required</div>
        		</div>
			</div>
			<div class="form-group col-sm-4">
				<label>Location of Car (Country)
					<span class="text-secondary">*</span>
				</label>
				<select class="form-control" (change)="getStateCity($event)" name="fromCountry" #fromCountry="ngModel" [ngClass]="{ 'is-invalid': otherVehicleFrm.submitted && fromCountry.invalid }" ngModel required>
					<option>Select</option>
					<option value="{{eachCountry.id}}" *ngFor="let eachCountry of countryList">{{eachCountry.name}}</option>
				</select>
				<div *ngIf="otherVehicleFrm.submitted && fromCountry.invalid" class="invalid-feedback">
                	<div *ngIf="fromCountry.errors.required">Field is required</div>
        		</div>
			</div>
			<div class="form-group col-sm-4">
				<label>Location of Car (State)
					<span class="text-secondary">*</span>
				</label>
				<select class="form-control" (change)="getCity($event)" name="fromState" #fromState="ngModel" [ngClass]="{ 'is-invalid': otherVehicleFrm.submitted && fromState.invalid }" ngModel required>
					<option>Select</option>
					<option value="{{eachState.id}}" *ngFor="let eachState of stateList">{{eachState.name}}</option>
				</select>
				<div *ngIf="otherVehicleFrm.submitted && fromState.invalid" class="invalid-feedback">
                	<div *ngIf="fromState.errors.required">Field is required</div>
        		</div>
			</div>
			<div class="form-group col-sm-4">
				<label>Location of Car (City)
					<span class="text-secondary">*</span>
				</label>
				<select class="form-control" name="fromCity" #fromCity="ngModel" [ngClass]="{ 'is-invalid': otherVehicleFrm.submitted && fromCity.invalid }" ngModel required>
					<option>Select</option>
					<option value="{{eachCity.id}}" *ngFor="let eachCity of cityList">{{eachCity.name}}</option>
				</select>
				<div *ngIf="otherVehicleFrm.submitted && fromCity.invalid" class="invalid-feedback">
                	<div *ngIf="fromCity.errors.required">Field is required</div>
        		</div>
				<small class="form-text text-muted">(This is used to determine the pick up cost. Select a car in houston to enjoy free pick up cost)</small>
			</div>
			<div class="form-group col-sm-4 col-6">
				<label>Millage</label>
				<input type="text" class="form-control" name="milage" ngModel>
			</div>
			<div class="form-group col-sm-4 col-6">
				<label>VIN Number</label>
				<input type="text" class="form-control" name="vinnumber" ngModel>
			</div>
			<div class="form-group col-sm-4 col-6">
				<label>Color</label>
				<input type="text" class="form-control" name="color" ngModel>
			</div>

			<div class="form-group col-sm-12">
				<label>Upload Picture</label>
				<input class="form-control-file" type="file" name="vehicleImage" (change)="fileUpload($event)" ngModel>
			</div>
			<!--<div class="form-group col-12">
				<div class="alert alert-danger mb-0">
					<span>
						<strong>Note :</strong> We need this to schedule this car for immediate shipping. Car wont be scheduled untill we have this
						or untill we receive original title.
					</span>
				</div>
			</div>-->
			<div class="form-group col-sm-4">
				<label>Destination Country<span class="text-secondary">*</span></label>
				<select class="form-control" (change)="getdestinationStateCity($event)" name="toCountry" #toCountry="ngModel" [ngClass]="{ 'is-invalid': otherVehicleFrm.submitted && toCountry.invalid }" ngModel required>
					<option>Select</option>
					<option value="{{eachCountry.id}}" *ngFor="let eachCountry of countryList">{{eachCountry.name}}</option>
				</select>
				<div *ngIf="otherVehicleFrm.submitted && toCountry.invalid" class="invalid-feedback">
                	<div *ngIf="toCountry.errors.required">Field is required</div>
        		</div>
			</div>
			<div class="form-group col-sm-4">
				<label>Destination State<span class="text-secondary">*</span></label>
				<select class="form-control" (change)="getdestinationCity($event)" name="toState" #toState="ngModel" [ngClass]="{ 'is-invalid': otherVehicleFrm.submitted && toState.invalid }" ngModel required>
					<option>Select</option>
					<option value="{{eachState.id}}" *ngFor="let eachState of destStateList">{{eachState.name}}</option>
				</select>
				<div *ngIf="otherVehicleFrm.submitted && toState.invalid" class="invalid-feedback">
                	<div *ngIf="toState.errors.required">Field is required</div>
        		</div>
			</div>
			<div class="form-group col-sm-4">
				<label>Destination City<span class="text-secondary">*</span></label>
				<select class="form-control" name="toCity" #toCity="ngModel" [ngClass]="{ 'is-invalid': otherVehicleFrm.submitted && toCity.invalid }" ngModel required>
					<option>Select</option>
					<option value="{{eachCity.id}}" *ngFor="let eachCity of destCityList">{{eachCity.name}}</option>
				</select>
				<div *ngIf="otherVehicleFrm.submitted && toCity.invalid" class="invalid-feedback">
                	<div *ngIf="toCity.errors.required">Field is required</div>
        		</div>
			</div>
			<div class="form-group col-12">
				<label>Destination Address<span class="text-secondary">*</span></label>
				<input type="text" class="form-control" name="toAddress" #toAddress="ngModel" [ngClass]="{ 'is-invalid': otherVehicleFrm.submitted && toAddress.invalid }" ngModel required>
				<div *ngIf="otherVehicleFrm.submitted && toAddress.invalid" class="invalid-feedback">
                	<div *ngIf="toAddress.errors.required">Field is required</div>
        		</div>
			</div>
			<div class="form-group col-sm-6">
				<label>Recipient Phone Number<span class="text-secondary">*</span></label>
				<input type="tel" class="form-control" name="toPhone" #toPhone="ngModel" [ngClass]="{ 'is-invalid': otherVehicleFrm.submitted && toPhone.invalid }" ngModel required>
				<div *ngIf="otherVehicleFrm.submitted && toPhone.invalid" class="invalid-feedback">
                	<div *ngIf="toPhone.errors.required">Field is required</div>
        		</div>
			</div>
			<div class="form-group col-sm-6">
				<label>Recipient Email<span class="text-secondary">*</span></label>
				<input type="email" class="form-control" name="toEmail" #toEmail="ngModel" [ngClass]="{ 'is-invalid': otherVehicleFrm.submitted && toEmail.invalid }" ngModel required email>
				<div *ngIf="otherVehicleFrm.submitted && toEmail.invalid" class="invalid-feedback">
                	<div *ngIf="toEmail.errors.required">Field is required</div>
                	<div *ngIf="toEmail.errors.email">Enter valid email id</div>
        		</div>
			</div>
		</div>

		<article class="px-3 py-2 bg-medium text-center text-sm-left">
			<div class="row">
				<div class="col-md-4 col-sm-6 mb-2 mb-md-0">
					<span class="font-weight-medium">Price : </span>
					<strong>${{ itemPrice }}</strong>
				</div>
				<div class="col-md-4 col-sm-6 mb-2 mb-md-0">
					<span class="font-weight-medium">Processing Fee : </span>
					<strong>${{ processingFee }}</strong>
				</div>
			</div>
		</article>
	</div>
	<!-- buy car form end -->

	<div class="text-center mt-3">
		<button type="submit" class="btn btn-secondary btn-lg">Checkout</button>
	</div>
</form>
