<ng-walkthrough-flow #walkCarBought focusBackdrop="true" closeAnywhere="false" showArrow="true" radius="auto" [texts]="navText"
 arrowColor="#5bc6d0" (finished)="walkCarBoughtFinished();">

	<!-- step track start -->
	<ng-walkthrough focusElementSelector="#track" [contentTemplate]="stepTrack">
		<ng-template #stepTrack>
			<h5 class="text-primary font-weight-bold">Step 1 :</h5>
			<p>Display status of you shipment here.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step track cart end -->

	<!-- step detail start -->
	<ng-walkthrough focusElementSelector="#detail" [contentTemplate]="stepDetail">
		<ng-template #stepDetail>
			<h5 class="text-primary font-weight-bold">Step 2 :</h5>
			<p>Displays ordered car details here.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step detail cart end -->

	<!-- step detail2 start -->
	<ng-walkthrough focusElementSelector="#detail2" [contentTemplate]="stepFormDetail2">
		<ng-template #stepFormDetail2>
			<h5 class="text-primary font-weight-bold">Step 3 :</h5>
			<p>Displays payment breakdown details here.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step detail2 cart end -->

	<!-- step checkout start -->
	<ng-walkthrough focusElementSelector="#print" [contentTemplate]="stepPrint">
		<ng-template #stepPrint>
			<h5 class="text-primary font-weight-bold">Step 4 :</h5>
			<p>You can download Invoce/Receipt from here.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step checkout cart end -->

	<!-- step myWarehouse start -->
	<ng-walkthrough focusElementSelector="#myWarehouse" [contentTemplate]="stepMyWarehouse">
		<ng-template #stepMyWarehouse>
			<h5 class="text-primary font-weight-bold">Step 5 :</h5>
			<p>Go to My Warehouse for Ship My Car order history</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step myWarehouse cart end -->


</ng-walkthrough-flow>

<section class="container">
	<div class="row">
		<!-- sidebar start -->
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-flyout></app-sidebar-flyout>
		</aside>
		<!-- sidebar end -->

		<!-- main content start -->
		<main class="col main-content py-md-5 py-3  pl-lg-5">
			<!-- header tab start -->
			<ul class="list-tab-link">
				<li *ngFor="let item of links">
					<a routerLink="/{{item.url}}" routerLinkActive="active" id="{{item.id}}">{{item.title}}</a>
				</li>
			</ul>
			<!-- header tab end -->

			<section class="white-box p-0 mb-4" *ngFor="let item of [1, 2, 3]">
				<div id="track">
					<header class="px-3 pb-0 pt-3">
						<h4>Shipment: #2</h4>
					</header>

					<!-- track order start -->
					<nav aria-label="track-order" class="p-3 border-bottom">
						<ul class="track-order">
							<li *ngFor="let item of tracks" [ngClass]="{'visited': item.visited === true, 'completed': item.completed === true}">
								<span class="milestone"></span>
								<div class="content">
									<span class="font-weight-medium d-block title">{{item.title}}</span>
									<span class="text-medium d-block">{{item.date}}</span>
								</div>
							</li>
						</ul>
					</nav>
					<!-- track order end -->
				</div>

				<div class="px-3 py-4 border-bottom" id="pickup">
					<!-- detail start -->
					<div class="row font-size-sm mb-2">
						<div class="col-md-12 col-sm-12 mb-2 justify-content-between d-flex d-sm-block">
							<header>
								<h4 class="text-ellipsis">
									Pick Up Location
								</h4>
							</header>
						</div>

						<div class="col-md-4 col-sm-6 mb-2 justify-content-between d-flex d-sm-block">
							Country:
							<span class="font-weight-medium text-right text-sm-left">United States</span>
						</div>
						<div class="col-md-4 col-sm-6 mb-2 justify-content-between d-flex d-sm-block">
							State:
							<span class="font-weight-medium text-right text-sm-left">Texas</span>
						</div>
						<div class="col-md-4 col-sm-6 mb-2 justify-content-between d-flex d-sm-block">
							City:
							<span class="font-weight-medium text-right text-sm-left">Houston</span>
						</div>
					</div>
					<!-- detail end -->
				</div>

				<!-- car details start -->
				<div class="cart-list p-0">
					<article class="item p-3" id="detail">
						<div class="row no-gutters">
							<div class="col img pr-3">
								<img src="assets/imgs/box.png">
							</div>
							<div class="col content">
								<!-- body start -->
								<div class="row cart-list-body">
									<div class="col-md-4 col-sm-6 mb-2">
										<span class="font-size-sm d-block justify-content-between d-flex d-sm-block">Make:
											<strong class="font-weight-medium text-right text-sm-left">Acuraa</strong>
										</span>
									</div>
									<div class="col-md-4 col-sm-6 mb-2">
										<span class="font-size-sm d-block justify-content-between d-flex d-sm-block">Model:
											<strong class="font-weight-medium text-right text-sm-left">CL</strong>
										</span>
									</div>
									<div class="col-md-4 col-sm-6 mb-2">
										<span class="font-size-sm d-block justify-content-between d-flex d-sm-block">VIN Number:
											<strong class="font-weight-medium text-right text-sm-left">OP00977YGD7787O</strong>
										</span>
									</div>
									<div class="col-md-4 col-sm-6 mb-2">
										<span class="font-size-sm d-block justify-content-between d-flex d-sm-block">Car URL:
											<strong class="font-weight-medium text-right text-sm-left">pp23.com</strong>
										</span>
									</div>
									<div class="col-md-4 col-sm-6 mb-2">
										<span class="font-size-sm d-block justify-content-between d-flex d-sm-block">Year:
											<strong class="font-weight-medium text-right text-sm-left">2013</strong>
										</span>
									</div>


									<div class="col-md-4 col-sm-6 mb-2">
										<span class="font-size-sm d-block justify-content-between d-flex d-sm-block">Color:
											<strong class="font-weight-medium text-right text-sm-left">Black</strong>
										</span>
									</div>

									<div class="col-md-4 col-sm-6 mb-2">
										<span class="font-size-sm d-block justify-content-between d-flex d-sm-block">Car Website:
											<strong class="font-weight-medium text-right text-sm-left">Cargurus.com</strong>
										</span>
									</div>

									<div class="col-md-4 col-sm-6 mb-2">
										<span class="font-size-sm d-block justify-content-between d-flex d-sm-block">Millage:
											<strong class="font-weight-medium text-right text-sm-left">12569</strong>
										</span>
									</div>

								</div>
								<!-- body end -->
							</div>
						</div>
					</article>
				</div>
				<!-- car details end -->

				<article class="px-3 py-2 bg-medium text-center text-sm-left" id="detail2">
					<div class="row">
						<div class="col-md-3 col-sm-6 mb-2 mb-md-0 justify-content-between d-flex d-sm-block">
							<span class="font-weight-medium d-md-block">Item Cost:</span>
							<strong>25000.00</strong>
						</div>
						<div class="col-md-3 col-sm-6 mb-2 mb-md-0 justify-content-between d-flex d-sm-block">
							<span class="font-weight-medium d-md-block">Processing Fee:</span>
							<strong>1750.00</strong>
						</div>
						<div class="col-md-3 col-sm-6 mb-2 mb-sm-0 justify-content-between d-flex d-sm-block">
							<span class="font-weight-medium d-md-block">Pick Up Cost:</span>
							<strong>49.99</strong>
						</div>
						<div class="col-md-3 col-sm-6 justify-content-between d-flex d-sm-block">
							<span class="font-weight-medium d-md-block">Shipping Cost:</span>
							<strong>23.48</strong>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 col-sm-6 mb-2 mb-md-0 justify-content-between d-flex d-sm-block">
							<span class="font-weight-medium d-md-block">Insurance:</span>
							<strong>103.49</strong>
						</div>
						<div class="col-md-3 col-sm-6 mb-2 mb-md-0 justify-content-between d-flex d-sm-block">
							<span class="font-weight-medium d-md-block">Tax:</span>
							<strong>20.68</strong>
						</div>
						<div class="col-md-3 col-sm-6 mb-2 mb-sm-0 justify-content-between d-flex d-sm-block">
							<span class="font-weight-medium d-md-block">Discount:</span>
							<strong>236.58</strong>
						</div>
						<div class="col-md-3 col-sm-6 justify-content-between d-flex d-sm-block">
							<span class="font-weight-medium d-md-block">Total Cost:</span>
							<strong>26823.47</strong>
						</div>
					</div>
				</article>

				<div class="p-3 text-center">
					<button type="button" class="btn btn-sm btn-info btn-action" tooltip="Print Invoice" id="print" placement="left"
					 container="body"><i class="fa fa-print" aria-hidden="true"></i></button>
				</div>
			</section>
		</main>
		<!-- main content end -->
	</div>
</section>
