<!-- header start -->
<header class="page-header border-bottom mb-3">
	<h3>File a claim</h3>
	<span class="d-block mb-3">Need to file a claim. Please fill the form and include all requested information. We will
		get back to you within 3 business days.</span>
</header>
<!-- header end -->

<section class="white-box">
	<!-- date start -->
	<article class="mb-2 mb-md-3">
		<header class="border-bottom mb-3">
			<h6 class="mb-3"><i aria-hidden="true" class="fa fa-chevron-circle-right mr-2 text-primary"></i>Claimant Date</h6>
		</header>
		<div class="form-row">
			<div class="form-group col-sm-4">
				<label> Date
					<span class="text-secondary">*</span>
				</label>
				<input type="text" placeholder="Datepicker" class="form-control" bsDatepicker>
			</div>
		</div>
	</article>
	<!-- date end -->

	<!-- data start -->
	<article class="mb-2 mb-md-3">
		<header class="border-bottom mb-3">
			<h6 class="mb-3"><i aria-hidden="true" class="fa fa-chevron-circle-right mr-2 text-primary"></i>Claimant Date</h6>
		</header>
		<div class="form-row">
			<div class="form-group col-sm-4">
				<label> Name of Claimant
					<span class="text-secondary">*</span>
				</label>
				<input type="text" class="form-control">
			</div>
			<div class="form-group col-sm-4">
				<label>Address
					<span class="text-secondary">*</span>
				</label>
				<input type="text" class="form-control">
			</div>
			<div class="form-group col-sm-4">
				<label>Phone Number
					<span class="text-secondary">*</span>
				</label>
				<input type="text" class="form-control">
			</div>
		</div>
	</article>
	<!-- data end -->

	<!-- purpose start -->
	<article class="mb-2 mb-md-4">
		<header class="border-bottom mb-3">
			<h6 class="mb-3"><i aria-hidden="true" class="fa fa-chevron-circle-right mr-2 text-primary"></i>Purpose of Claim</h6>
		</header>
		<label class="custom-check text-left flex-row">
			<input type="checkbox" value=""><span class="checkmark"></span><strong class="font-weight-medium pl-2">Loss</strong>
		</label>
		<label class="custom-check text-left flex-row">
			<input type="checkbox" value=""><span class="checkmark"></span><strong class="font-weight-medium pl-2">Damage</strong>
		</label>
		<label class="custom-check text-left flex-row">
			<input type="checkbox" value=""><span class="checkmark"></span><strong class="font-weight-medium pl-2">Incomplete
				Item</strong>
		</label>
	</article>
	<!-- purpose end -->

	<!-- information start -->
	<article class="mb-2 mb-md-3">
		<header class="border-bottom mb-3">
			<h6 class="mb-3"><i aria-hidden="true" class="fa fa-chevron-circle-right mr-2 text-primary"></i>Claim Information</h6>
		</header>
		<div class="form-row">
			<div class="form-group col-sm-4">
				<label> Description of item
					<span class="text-secondary">*</span>
				</label>
				<input type="text" class="form-control">
			</div>
			<div class="form-group col-sm-4">
				<label> Order Number
					<span class="text-secondary">*</span>
				</label>
				<input type="text" class="form-control">
			</div>
			<div class="form-group col-sm-4">
				<label> Item number (if applicable) </label>
				<input type="text" class="form-control">
			</div>
			<div class="form-group col-sm-4">
				<label>Value if item at date of purchase
					<span class="text-secondary">*</span>
				</label>
				<input type="text" class="form-control">
			</div>
			<div class="form-group col-sm-4">
				<label>Purchase date for item
					<span class="text-secondary">*</span>
				</label>
				<input type="text" class="form-control">
			</div>
			<div class="form-group col-sm-4">
				<label>Place of purchase
					<span class="text-secondary">*</span>
				</label>
				<select class="form-control">
					<option>Select</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
				</select>
			</div>
			<div class="form-group col-sm-4">
				<label>Total amount been claimed
					<span class="text-secondary">*</span>
				</label>
				<input type="text" class="form-control">
			</div>
			<div class="form-group col-sm-4">
				<label>Explain nature of damage
					<span class="text-secondary">*</span>
				</label>
				<input type="text" class="form-control">
			</div>
			<div class="form-group col-sm-4">
				<label>Shipment Via(Indicate Whether Air Or Ocean)
					<span class="text-secondary">*</span>
				</label>
				<input type="text" class="form-control">
			</div>
			<div class="form-group col-sm-12">
				<label>Date items were received</label>
				<textarea class="form-control"></textarea>
			</div>
			<div class="form-group col-sm-6">
				<label>Upload Photo of Damaged Item(If Applicable)</label>
				<input class="form-control-file" type="file">
			</div>
			<div class="form-group col-sm-6">
				<label>Upload a scanned copy of invoice</label>
				<input class="form-control-file" type="file">
			</div>
			<div class="form-group col-sm-12 text-center">
				<button class="btn btn-secondary btn-lg" type="button">Send</button>
			</div>
		</div>
	</article>
	<!-- information end -->

</section>
