<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">Using Your Warehouse Address</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()" *ngIf="closeBtnName">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div>
		Congratulation on your new address. Below is your address for <span *ngIf="warehouseAddress">{{warehouseAddress.country.code}}</span>
	</div>
	<div>
		Here is how it works
	</div>
	<p>* When shopping online in the <span *ngIf="warehouseAddress">{{warehouseAddress.country.code}}</span>, use your address as your shipping address</p>
	<p>* Enter your address as shown below</p>
	<div class="row field-area">
		<div class="col-4 mb-sm-4 mb-3">
			<b>Full Name</b>
		</div>
		<div class="col-8 mb-sm-4 mb-3">
			{{ userInfo.item.user.firstName+' '+userInfo.item.user.lastName }}
		</div>
	</div>
	<div class="row field-area" *ngIf="warehouseAddress">
		<div class="col-4 mb-sm-4 mb-3">
			<b>Address Line 1</b>
		</div>
		<div class="col-8 mb-sm-4 mb-3">
			{{ warehouseAddress.address }}
		</div>
	</div>
	<div class="row field-area" *ngIf="warehouseAddress">
		<div class="col-4 mb-sm-4 mb-3">
			<b>Address Line 2</b>
		</div>
		<div class="col-8 mb-sm-4 mb-3">
			STMD - UNIT {{ userInfo.item.user.unit }}
		</div>
	</div>
	<div class="row field-area" *ngIf="warehouseAddress">
		<div class="col-4 mb-sm-4 mb-3">
			<b>City</b>
		</div>
		<div class="col-8 mb-sm-4 mb-3">
			{{ warehouseAddress.city.name }}
		</div>
	</div>
	<div class="row field-area" *ngIf="warehouseAddress">
		<div class="col-4 mb-sm-4 mb-3">
			<b>State</b>
		</div>
		<div class="col-8 mb-sm-4 mb-3">
			{{ warehouseAddress.state.name }}
		</div>
	</div>
	<div class="row field-area" *ngIf="warehouseAddress">
		<div class="col-4 mb-sm-4 mb-3">
			<b>Zip Code</b>
		</div>
		<div class="col-8 mb-sm-4 mb-3">
			{{ warehouseAddress.zipcode }}
		</div>
	</div>
	<div class="row field-area" *ngIf="warehouseAddress">
		<div class="col-4 mb-sm-4 mb-3">
			<b>Country</b>
		</div>
		<div class="col-8 mb-sm-4 mb-3">
			{{ warehouseAddress.country.name }}
		</div>
	</div>
	<div class="row field-area" *ngIf="warehouseAddress">
		<div class="col-4 mb-sm-4 mb-3">
			<b>Phone Number</b>
		</div>
		<div class="col-8 mb-sm-4 mb-3">
			{{ warehouseAddress.phone }}
		</div>
	</div>
	<ul>
	<li>
		You are to use your own personal phone number in the phone field incase the store needs to contact you.</li>
	<li>
		The billing address to use on any site you are shopping from is the address as registered with your bank on your card.</li>
	<li>
		The store will deliver to your Shoptomydoor assigned address and we will combine all your items and ship to you.&nbsp;</li>
</ul>
</div>
<div class="modal-footer">
	
</div>
