<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">Change Currency</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div class="row align-items-center mb-md-5 mb-3">
		<div class="col-md-4 col-sm-5">
			<label>Select Currency:</label>
			<select class="form-control" [(ngModel)]="selectedCurrency" (change)="currencyChange($event)">
				<option value="">Select</option>
				<option value="{{ currency.code }}" *ngFor="let currency of currencyList">{{ currency.name }}</option>

			</select>
		</div>
	</div>
</div>
<div class="modal-footer">
	
</div>
