@import "src/assets/scss/variables";
@import "src/assets/scss/utilities";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";


.account-type{
	border-right: 1px solid theme-color(medium);
}

// upload
.upload{
	border-radius: 0;
	top: 0;
	right: 0;
	position: absolute;
	background-color: rgba(theme-color(dark), .20);
	padding: 0;
	width: 30px;
	height: 30px;
}

