<main class="container" *ngIf="autoCart">
    <div class="page-overlay" *ngIf="showPaystackOverlay">
        <span class="h4 mb-0">Payment is under process. Please do not click anywhere or reload the page.</span>
    </div>
    <form method="post" (ngSubmit)="checkoutFrm.form.valid && savedata(checkoutFrm)" #checkoutFrm="ngForm">
          <div class="row">
            <!-- main content start -->
            <main class="col main-content py-md-5 py-3">
                <!-- header start -->
                <header class="page-header border-bottom mb-3 pb-2">
                    <h3>Your shopping cart</h3>
                </header>
                <!-- header end -->

                <!-- added product start -->
                <article class="white-box p-3 mb-4 product">
                    <div class="row" *ngIf="autoCart">
                        <div class="col-lg col-md-12 col-sm img">
                            <img src="{{ autoCart.itemImagePath }}">
                        </div>
                        <div class="col-lg col-md-12 col-sm content">
                            <h5 class="text-primary">Car Details</h5>
                            <div class="row cart-list-body">
                                <div class="col-12 mb-2">
                                    <span class="font-size-sm d-block justify-content-between d-flex">Car Website:
                                        <strong class="font-weight-medium text-right">{{ autoCart.websiteName }}</strong>
                                    </span>
                                </div>
                                <div class="col-12 mb-2">
                                    <span class="font-size-sm d-block justify-content-between d-flex">Make:
                                        <strong class="font-weight-medium text-right">{{ autoCart.makeName }}</strong>
                                    </span>
                                </div>
                                <div class="col-12 mb-2">
                                    <span class="font-size-sm d-block justify-content-between d-flex">Model:
                                        <strong class="font-weight-medium text-right">{{ autoCart.modelName }}</strong>
                                    </span>
                                </div>
                                <div class="col-12 mb-2">
                                    <span class="font-size-sm d-block justify-content-between d-flex">Year:
                                        <strong class="font-weight-medium text-right">{{ autoCart.year }}</strong>
                                    </span>
                                </div>
                                <div class="col-12 mb-2">
                                    <span class="font-size-sm d-block justify-content-between d-flex text-ellipsis" tooltip="{{ autoCart.carUrl }}">Direct Link:
                                        <strong class="font-weight-medium text-right text-ellipsis ml-3">{{ autoCart.carUrl }}</strong>
                                    </span>
                                </div>
                                <div class="col-12 mb-2">
                                    <span class="font-size-sm d-block justify-content-between d-flex">Pickup Country:
                                        <strong class="font-weight-medium text-right">{{ autoCart.countryName }}</strong>
                                    </span>
                                </div>
                                <div class="col-12 mb-2">
                                    <span class="font-size-sm d-block justify-content-between d-flex">Pickup State:
                                        <strong class="font-weight-medium text-right">{{ autoCart.stateName }}</strong>
                                    </span>
                                </div>
                                <div class="col-12 mb-2">
                                    <span class="font-size-sm d-block justify-content-between d-flex">Pickup City:
                                        <strong class="font-weight-medium text-right">{{ autoCart.cityName }}</strong>
                                    </span>
                                </div>
                                <div class="col-12 mb-2">
                                    <span class="font-size-sm d-block justify-content-between d-flex">Milage:
                                        <strong class="font-weight-medium text-right">{{ autoCart.milage }}</strong>
                                    </span>
                                </div>
                                <div class="col-12 mb-2">
                                    <span class="font-size-sm d-block justify-content-between d-flex">VIN Number:
                                        <strong class="font-weight-medium text-right">{{ autoCart.vinnumber }}</strong>
                                    </span>
                                </div>
                                <div class="col-12 mb-2">
                                    <span class="font-size-sm d-block justify-content-between d-flex">Color:
                                        <strong class="font-weight-medium text-right">{{ autoCart.color }}</strong>
                                    </span>
                                </div>
                                <div class="col-12 mb-2">
                                    <span class="font-size-sm d-block justify-content-between d-flex">Value:
                                        <strong class="font-weight-medium text-right">{{ autoCart.price }}</strong>
                                    </span>
                                </div>

                            </div>
                        </div>
                    </div>
                </article>
                <!-- added product end -->

                <!-- personal information start -->
                <div class="row">
                    <!-- contact information start -->
                    <div class="col-12 mt-3 item">
                        <div class="border payment-type-box d-flex flex-column">
                            <header class="border-bottom px-3 py-2">
                                <h4 class="mb-0 text-primary">
                                    Contact information
                                </h4>
                            </header>
                            <div class="py-1" *ngIf="userData">
                                <div class="d-flex align-items-center py-1">
                                    <div class="col-md-3 col-sm-4 col-5">
                                        <span class="font-weight-medium">Email :</span>
                                    </div>
                                    <div class="col-md-9 col-sm-8 col-7 break-word">
                                        <a href="mailto:{{ userData.email }}">{{ userData.email }}</a>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center py-1">
                                    <div class="col-md-3 col-sm-4 col-5">
                                        <span class="font-weight-medium">Title :</span>
                                    </div>
                                    <div class="col-md-9 col-sm-8 col-7">
                                        <span>{{ userData.title }}</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center py-1">
                                    <div class="col-md-3 col-sm-4 col-5">
                                        <span class="font-weight-medium">First name :</span>
                                    </div>
                                    <div class="col-md-9 col-sm-8 col-7">
                                        <span>{{ userData.firstName }}</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center py-1">
                                    <div class="col-md-3 col-sm-4 col-5">
                                        <span class="font-weight-medium">Last name :</span>
                                    </div>
                                    <div class="col-md-9 col-sm-8 col-7">
                                        <span>{{ userData.lastName }}</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center py-1">
                                    <div class="col-md-3 col-sm-4 col-5">
                                        <span class="font-weight-medium">Company :</span>
                                    </div>
                                    <div class="col-md-9 col-sm-8 col-7">{{ userData.company }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- contact information end -->

                    <!-- billing address start -->
                    <div class="col-12 mt-3 item" *ngIf="billingAddress">
                        <div class="border payment-type-box d-flex flex-column">
                            <header class="border-bottom px-3 py-2">
                                <h4 class="mb-0 text-primary">
                                    <span class="font-weight-medium">Billing address</span>
                                </h4>
                            </header>
                            <div class="py-1">
                                <div class="d-flex align-items-center py-1">
                                    <div class="col-md-3 col-sm-4 col-5">
                                        <span class="font-weight-medium">First name :</span>
                                    </div>
                                    <div class="col-md-9 col-sm-8 col-7">
                                        <span>{{ billingAddress.firstName }}</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center py-1">
                                    <div class="col-md-3 col-sm-4 col-5">
                                        <span class="font-weight-medium">Last name :</span>
                                    </div>
                                    <div class="col-md-9 col-sm-8 col-7">
                                        <span>{{ billingAddress.lastName }}</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center py-1">
                                    <div class="col-md-3 col-sm-4 col-5">
                                        <span class="font-weight-medium">Address :</span>
                                    </div>
                                    <div class="col-md-9 col-sm-8 col-7">
                                        <span>{{ billingAddress.address }}</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center py-1">
                                    <div class="col-md-3 col-sm-4 col-5">
                                        <span class="font-weight-medium">City :</span>
                                    </div>
                                    <div class="col-md-9 col-sm-8 col-7">
                                        <span>{{ billingAddress.city.name }}</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center py-1">
                                    <div class="col-md-3 col-sm-4 col-5">
                                        <span class="font-weight-medium">State :</span>
                                    </div>
                                    <div class="col-md-9 col-sm-8 col-7">
                                        <span>{{ billingAddress.state.name }}</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center py-1">
                                    <div class="col-md-3 col-sm-4 col-5">
                                        <span class="font-weight-medium">Country :</span>
                                    </div>
                                    <div class="col-md-9 col-sm-8 col-7">
                                        <span>{{ billingAddress.country.name }}</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center py-1">
                                    <div class="col-md-3 col-sm-4 col-5">
                                        <span class="font-weight-medium">Zip/Postal code :</span>
                                    </div>
                                    <div class="col-md-9 col-sm-8 col-7">
                                        <span>{{ billingAddress.zipcode }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- billing address start -->

                    <!-- shipping address start -->
                    <div class="col-12 mt-3 item" *ngIf="shippingAddress">
                        <div class="border payment-type-box d-flex flex-column">
                            <header class="border-bottom px-3 py-2">
                                <h4 class="mb-0 text-primary">
                                    <span class="font-weight-medium">Shipping address</span>
                                </h4>
                            </header>
                            <div class="py-1">
                                <div class="d-flex align-items-center py-1" *ngIf="autoCart.type=='buy_a_car'">
                                    <div class="col-md-3 col-sm-4 col-5">
                                        <span class="font-weight-medium">First name :</span>
                                    </div>
                                    <div class="col-md-9 col-sm-8 col-7">
                                        <span>{{ shippingAddress.firstName }}</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center py-1" *ngIf="autoCart.type=='buy_a_car'">
                                    <div class="col-md-3 col-sm-4 col-5">
                                        <span class="font-weight-medium">Last name :</span>
                                    </div>
                                    <div class="col-md-9 col-sm-8 col-7">
                                        <span>{{ shippingAddress.lastName }}</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center py-1" *ngIf="autoCart.type=='ship_my_car'">
                                    <div class="col-md-3 col-sm-4 col-5">
                                        <span class="font-weight-medium">Name :</span>
                                    </div>
                                    <div class="col-md-9 col-sm-8 col-7">
                                        <span>{{ shippingAddress.name }}</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center py-1">
                                    <div class="col-md-3 col-sm-4 col-5">
                                        <span class="font-weight-medium">Address :</span>
                                    </div>
                                    <div class="col-md-9 col-sm-8 col-7">
                                        <span>{{ shippingAddress.address }}</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center py-1">
                                    <div class="col-md-3 col-sm-4 col-5">
                                        <span class="font-weight-medium">City :</span>
                                    </div>
                                    <div class="col-md-9 col-sm-8 col-7">
                                        <span>{{ shippingAddress.city.name }}</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center py-1">
                                    <div class="col-md-3 col-sm-4 col-5">
                                        <span class="font-weight-medium">State :</span>
                                    </div>
                                    <div class="col-md-9 col-sm-8 col-7">
                                        <span>{{ shippingAddress.state.name }}</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center py-1">
                                    <div class="col-md-3 col-sm-4 col-5">
                                        <span class="font-weight-medium">Country :</span>
                                    </div>
                                    <div class="col-md-9 col-sm-8 col-7">
                                        <span>{{ shippingAddress.country.name }}</span>
                                    </div>
                                </div>
                                <div class="d-flex align-items-center py-1">
                                    <div class="col-md-3 col-sm-4 col-5">
                                        <span class="font-weight-medium">Zip/Postal code :</span>
                                    </div>
                                    <div class="col-md-9 col-sm-8 col-7">
                                        <span>{{ shippingAddress.zipcode }}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- shipping address start -->

                    <!-- payment method start -->
                    <div class="col-12 mt-3 item">
                        <div class="border payment-type-box d-flex flex-column">
                            <header class="border-bottom px-3 py-2">
                                <h4 class="mb-0 text-primary">
                                    Payment method
                                </h4>
                            </header>
                            <div>
                                <div *ngFor="let paymentMethod of paymentMethodList" class="d-flex align-items-center p-3 border-bottom justify-content-between">
                                    <label class="form-check custom-radio mb-0">
                                        <input type="radio" name="paymentMethodId" (click)="changePaymentMethod($event, paymentMethod.paymentMethod, paymentMethod.paymentMethodKey, paymentMethod.surcharge, paymentMethod.surchargeType)" [checked]="autoCart.paymentMethodId == paymentMethod.id?true:false" [value]="paymentMethod.id" [disabled]="totalCost<paymentMethod.minallowedvalue || totalCost>paymentMethod.maxallowedvalue"/>
                                            <span class="checkmark" [ngClass]="{'disabledinput': totalCost<paymentMethod.minallowedvalue || totalCost>paymentMethod.maxallowedvalue}"></span>
                                            <span class="ml-2" [ngClass]="{'disabledtext': totalCost<paymentMethod.minallowedvalue || totalCost>paymentMethod.maxallowedvalue}">{{paymentMethod.paymentMethod}}</span><span class="ml-2 text-info" *ngIf="paymentMethod.paymentDetails" [ngClass]="{'disabledtext': totalCost<paymentMethod.minallowedvalue || totalCost>paymentMethod.maxallowedvalue}">: {{paymentMethod.paymentDetails}}</span>
                                    </label>
                                    <!-- <a *ngIf="paymentMethod.paymentDetails" class="help-icon ml-2 flex-none" container="body" href="javascript:void(0)" tooltip="{{paymentMethod.paymentDetails}}" placement="left">
                                            <i aria-hidden="true" class="fa fa-question"></i>
                                    </a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  *ngIf="autoCart.paymentMethodKey == 'wire_transfer'" class="p-3">

                        <div class="form-group">
                            <label>PO Number
                                <span class="text-secondary">*</span>
                            </label>
                            <input type="text" class="form-control" name="poNumber" #poNumber="ngModel" [ngClass]="{ 'is-invalid': checkoutFrm.submitted && poNumber.invalid }" ngModel required>
                                   <div *ngIf="checkoutFrm.submitted && poNumber.invalid" class="invalid-feedback">
                                   <div *ngIf="poNumber.errors.required">Field is required</div>
                            </div>
                        </div>	
                        <div class="form-group">
                            <label>Company name
                                <span class="text-secondary">*</span>
                            </label>
                            <input type="text" class="form-control" name="companyName" #companyName="ngModel" [ngClass]="{ 'is-invalid': checkoutFrm.submitted && companyName.invalid }" ngModel required>
                                   <div *ngIf="checkoutFrm.submitted && companyName.invalid" class="invalid-feedback">
                                   <div *ngIf="companyName.errors.required">Field is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Buyer's name
                                <span class="text-secondary">*</span>
                            </label>
                            <input type="text" class="form-control" name="buyerName" #buyerName="ngModel" [ngClass]="{ 'is-invalid': checkoutFrm.submitted && buyerName.invalid }" ngModel required>
                                   <div *ngIf="checkoutFrm.submitted && buyerName.invalid" class="invalid-feedback">
                                   <div *ngIf="buyerName.errors.required">Field is required</div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Position
                                <span class="text-secondary">*</span>
                            </label>
                            <input type="text" class="form-control" name="position" #position="ngModel" [ngClass]="{ 'is-invalid': checkoutFrm.submitted && position.invalid }" ngModel required>
                                   <div *ngIf="checkoutFrm.submitted && position.invalid" class="invalid-feedback">
                                   <div *ngIf="position.errors.required">Field is required</div>
                            </div>
                        </div>
                    </div>
                    <div  *ngIf="autoCart.paymentMethodKey == 'credit_debit_card'" class="p-3">
                        <div class="row">
                            <div class="col-sm-12">	
                                <div class="form-group">
                                    <label>Card Number
                                        <span class="text-secondary">*</span>
                                    </label>
                                    <div class="input-group">
                                        <input type="text" (input)="onSearchChange($event.target.value)" class="form-control validate" [ngClass]="{ 'is-invalid': checkoutFrm.submitted && card.invalid }" #card="ngModel" [(ngModel)]="cardNumber" maxlength="19" id="cc-number" type="tel" autocomplete="cc-number" name="cardNumber" placeholder="Card Number" required />
                                               <div *ngIf="checkoutFrm.submitted && card.invalid" class="invalid-feedback">
                                               <div *ngIf="card.errors.required">Field is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">	
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Card Type
                                        <span class="text-secondary">*</span>
                                    </label>
                                    <div class="input-group">		
                                        <select class="form-control" [ngClass]="{ 'is-invalid': checkoutFrm.submitted && payCardTypes.invalid }" name="payCardType" #payCardTypes="ngModel" [(ngModel)]="payCardType" required>
                                                <option value="">Select</option>
                                            <option value="VISA">VISA</option>
                                            <option value="MASTERCARD">MASTERCARD</option>
                                            <option value="AMEX">AMEX</option>
                                            <option value="MAESTRO">MAESTRO</option>
                                            <option value="DISCOVER">DISCOVER</option>
                                        </select>
                                        <div *ngIf="checkoutFrm.submitted && payCardTypes.invalid" class="invalid-feedback">
                                            <div *ngIf="payCardTypes.errors.required">Field is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Expiry Month<span class="text-secondary">*</span>
                                    </label>
                                    <div class="input-group">
                                        <select class="form-control" [ngClass]="{ 'is-invalid': checkoutFrm.submitted && expM.invalid }" name="expMonth" #expM="ngModel" [(ngModel)]="expMonth" required>
                                                <option value="">Select</option>
                                            <option value="01">January</option>
                                            <option value="02">February</option>
                                            <option value="03">March</option>
                                            <option value="04">April</option>
                                            <option value="05">May</option>
                                            <option value="06">June</option>
                                            <option value="07">July</option>
                                            <option value="08">August</option>
                                            <option value="09">September</option>
                                            <option value="10">October</option>
                                            <option value="11">November</option>
                                            <option value="12">December</option>
                                        </select>
                                        <div *ngIf="checkoutFrm.submitted && expM.invalid" class="invalid-feedback">
                                            <div *ngIf="expM.errors.required">Field is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>Expiry Year<span class="text-secondary">*</span>
                                    </label>
                                    <div class="input-group">
                                        <select class="form-control" [ngClass]="{ 'is-invalid': checkoutFrm.submitted && expY.invalid }" name="expYear" #expY="ngModel" [(ngModel)]="expYear" required>
                                                <option value="">Select</option>
                                            <option *ngFor="let item of createRangeYear(5);" [ngValue]="item">{{item}}</option>
                                        </select>
                                        <div *ngIf="checkoutFrm.submitted && expY.invalid" class="invalid-feedback">
                                            <div *ngIf="expY.errors.required">Field is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label>CVV
                                        <span class="text-secondary">*</span>
                                    </label>
                                    <div class="input-group">
                                        <input type="password" class="form-control validate" [ngClass]="{ 'is-invalid': checkoutFrm.submitted && cvv.invalid }" #cvv="ngModel" [(ngModel)]="cardCode" maxlength="4" name="cardCode" placeholder="CVV" required /> 
                                               <div *ngIf="checkoutFrm.submitted && cvv.invalid" class="invalid-feedback">
                                               <div *ngIf="cvv.errors.required">Field is required</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div  *ngIf="autoCart.paymentMethodKey == 'ewallet'" class="p-3">
                        <article class="mb-3">
                            <span class="font-size-sm d-block mb-2">
                                <strong class="d-block">Have an E-Wallet ID?</strong> Enter it here and click on Submit.</span>
                            <div class="input-group input-group-sm mb-3">
                                <input type="text" class="form-control" [readonly]="ewalletReadonly" name="ewallet" [ngClass]="{ 'is-invalid': ewalletInvalid}" [(ngModel)]="ewallet" (ngModelChange)="ewalletCheck($event)" placeholder="E-Wallet ID">
                                       <div class="input-group-append">
                                    <button class="btn btn-outline-primary" (click)="validateEwallet();" type="button">Submit</button>
                                </div>
                                <div *ngIf="ewalletInvalid" class="invalid-feedback">
                                    <div>Field is required</div>
                                </div>
                            </div>
                            <div *ngIf="ewalletMsg" class="text-danger">{{ewalletMsg}}</div>
                        </article>

                    </div>	

                    <!-- payment method end -->

                    <!-- note start -->
                    <div class="col-12 mt-4">
                        <div class="alert alert-danger mb-0">
                            <span>
                                <strong>Note :</strong> We do not ship or return any fraudulently purchased items. You are advised to only pay to ship items
                                that you can provide valid evidence of proof of purchase when and if requested. Items for which a valid proof of purchase
                                can not be provided will be handed over to US Customs. In addition, any shipping cost paid will be forfeited and billed
                                to you as cost of fraud verification.
                            </span>
                        </div>
                    </div>
                    <!-- note end -->
                </div>
                <!-- personal information end -->
            </main>
            <!-- main content end -->
            <!-- sidebar start -->
            <aside class="col sidebar right py-md-5 py-3">
                <div class="content">
                    <article *ngIf="this.userData.subscription.couponCode" class="mb-3">
                        <span class="d-block mb-2">
                            <strong class="d-block text-secondary">You have an exclusive coupon code</strong>
                        </span>
                        <div class="d-flex">
                            <span class="coupon-code flex-1">{{this.userData.subscription.couponCode}}</span>
                            <button class="btn btn-secondary btn-sm btn-clip" (click)="copyText(this.userData.subscription.couponCode)" tooltip="Copy to Clipboard" type="button"
                                    placement="left"><i class="fa fa-clipboard" aria-hidden="true"></i></button>
                        </div>
                    </article>
                    <!-- coupon start -->
                    <article class="mb-3 border-bottom">
                        <span class="font-size-sm d-block mb-2">
                            <strong class="d-block">Have a coupon code?</strong> Enter it here and click on Submit.</span>
                        <div class="input-group input-group-sm mb-3">
                            <input type="text" class="form-control" name="couponcode" [(ngModel)]="couponcode" placeholder="Coupon Code" (ngModelChange)="checkEmptyCouponInput()" [readonly]="couponReadonly">
                            <div class="input-group-append">
                                <button class="btn btn-outline-primary" [disabled]="blankCouponCode" (click)="validateCoupon()" type="button" *ngIf="!couponReadonly">Submit</button>
                                <button class="btn btn-outline-primary" type="button" *ngIf="couponReadonly" (click)="clearCoupon()">Clear</button>
                            </div>
                            <div *ngIf="couponInValid" class="input-group input-group-sm mb-3">
                                <small class="{{couponApplied?'text-success':'text-danger'}}"><b>{{couponInValidMsg}}</b></small> 
                           </div>
                        </div>
                    </article>
                    <!-- coupon end -->

                    <!-- price detail start -->
                    <article class="mb-3 border-bottom" *ngIf="autoCart">
                        <h6>Price Details</h6>
                        <table border="0" width="100%" class="font-size-sm">
                            <tbody>
                                <tr>
                                    <td class="white-space-nowrap py-2">Item Price : </td>
                                    <td class="white-space-nowrap text-right py-2">
                                        <strong class="font-weight-medium">{{ autoCart.currencySymbol }}{{ (autoCart.price*autoCart.exchangeRate) | number:'1.2-2' }}</strong>
                                    </td>
                                    <td class="white-space-nowrap text-right py-2" *ngIf="autoCart.defaultCurrency!=autoCart.currencyCode">({{currencySymbol}}{{ autoCart.price }})</td>
                                </tr>
                                <tr *ngIf="autoCart.processingFee">
                                    <td class="white-space-nowrap py-2">Processing Fee : </td>
                                    <td class="white-space-nowrap text-right py-2">
                                        <strong class="font-weight-medium">{{ autoCart.currencySymbol }}{{ (autoCart.processingFee*autoCart.exchangeRate) | number:'1.2-2' }}</strong>
                                    </td>
                                    <td class="white-space-nowrap text-right py-2" *ngIf="autoCart.defaultCurrency!=autoCart.currencyCode">({{currencySymbol}}{{ autoCart.processingFee }})</td>
                                </tr>
                                <tr>
                                    <td class="white-space-nowrap py-2">Pickup Cost : </td>
                                    <td class="white-space-nowrap text-right py-2">
                                        <strong class="font-weight-medium">{{ autoCart.currencySymbol }}{{ (autoCart.pickupCost*autoCart.exchangeRate) | number:'1.2-2' }}</strong>
                                    </td>
                                    <td class="white-space-nowrap text-right py-2" *ngIf="autoCart.defaultCurrency!=autoCart.currencyCode">({{currencySymbol}}{{ autoCart.pickupCost }})</td>
                                </tr>
                                <tr>
                                    <td class="white-space-nowrap py-2">Shipping Cost : </td>
                                    <td class="white-space-nowrap text-right py-2">
                                        <strong class="font-weight-medium">{{ autoCart.currencySymbol }}{{ (autoCart.shippingCost*autoCart.exchangeRate) | number:'1.2-2' }}</strong>
                                    </td>
                                    <td class="white-space-nowrap text-right py-2" *ngIf="autoCart.defaultCurrency!=autoCart.currencyCode">({{currencySymbol}}{{ autoCart.shippingCost }})</td>
                                </tr>
                                <tr>
                                    <td class="white-space-nowrap py-2">Value Added Tax (VAT) : </td>
                                    <td class="white-space-nowrap text-right py-2">
                                        <strong class="font-weight-medium">{{ autoCart.currencySymbol }}{{(autoCart.tax*autoCart.exchangeRate) | number:'1.2-2'}}</strong>
                                    </td>
                                    <td class="white-space-nowrap text-right py-2" *ngIf="autoCart.defaultCurrency!=autoCart.currencyCode">({{currencySymbol}}{{ autoCart.tax | number:'1.2-2' }})</td>
                                </tr>
                                <tr *ngIf="autoCart.isInsuranceCharged=='Y'">
                                    <td class="white-space-nowrap py-2">Insurance Cost : </td>
                                    <td class="white-space-nowrap text-right py-2">
                                        <strong class="font-weight-medium">{{ autoCart.currencySymbol }}{{ (autoCart.insuranceCost*autoCart.exchangeRate) | number:'1.2-2' }}</strong>
                                    </td>
                                    <td class="white-space-nowrap text-right py-2" *ngIf="autoCart.defaultCurrency!=autoCart.currencyCode">({{currencySymbol}}{{ autoCart.insuranceCost | number:'1.2-2' }})</td>
                                </tr>
                                <tr>
                                    <td class="white-space-nowrap py-2">Discount : </td>
                                    <td class="white-space-nowrap text-right py-2 text-success">
                                        <strong class="font-weight-medium">{{ autoCart.currencySymbol }}{{ (autoCart.discountAmount*autoCart.exchangeRate) | number:'1.2-2' }}</strong>
                                    </td>
                                    <td class="white-space-nowrap text-right py-2 text-success" *ngIf="autoCart.defaultCurrency!=autoCart.currencyCode">({{currencySymbol}}{{ autoCart.discountAmount | number:'1.2-2' }})</td>
                                </tr>
                            </tbody>
                            <tfoot class="border-top">
                                <tr>
                                    <th class="white-space-nowrap py-2">Total : </th>
                                    <th class="white-space-nowrap text-right py-2">{{ autoCart.currencySymbol }}{{ (autoCart.totalCost*autoCart.exchangeRate) | number:'1.2-2' }}</th>
                                    <th class="white-space-nowrap text-right py-2" *ngIf="autoCart.defaultCurrency!=autoCart.currencyCode">({{currencySymbol}}{{ autoCart.totalCost | number:'2.2-2' }})</th>
                                </tr>
                            </tfoot>
                        </table>
                        <!--<label class="custom-check text-left flex-row mt-2">
                                <input type="checkbox" [value]="Y" (change)="addInsurance($event)" [checked]="autoCart.isInsuranceCharged=='Y'?true:false">
                                <span class="checkmark"></span>
                                <strong class="font-weight-medium pl-2">Do you want to add Insurance?</strong>
                        </label>-->
                    </article>
                    <!-- price detail end -->

                    <!-- currency start -->
                    <article class="text-center mb-3 border-bottom pb-3">
                        <a href="javascript:void(0)" (click)="showCurrency();" class="btn btn-outline-primary btn-sm">Change Currency</a>
                    </article>
                    <!-- currency end -->

                    <!-- note start -->
                    <article class="mb-3">
                        <ul class="list-ui mb-0">
                            <li>Prices and subtotals are displayed including taxes.</li>
                            <li>Discounts are calculated based on prices and subtotals taken without consideration of taxes.</li>
                        </ul>
                    </article>
                    <!-- note end -->

                    <article class="mb-3 border-bottom pb-3">
                        <label class="custom-check text-left flex-row">
                            <input type="checkbox" value="Y" [checked]="termsCondition?true:false" (click)="setTermsCond($event)">
                            <span class="checkmark"></span>
                            <span class="font-size-sm ml-2">I accept the "
                                <a routerLink="/terms_conditions" class="text-underline">Terms & Conditions</a> "
                            </span>
                        </label>
                    </article>

                    <!-- submit start -->
                    <article class="text-center">
                        <!--<a href="javascript:void(0)" class="btn btn-secondary btn-lg btn-block" (click)="savedata()">Submit order</a>-->
                        <button type="submit" class="btn btn-secondary btn-lg btn-block" *ngIf="!formSubmit && !paypalPayment">Submit order</button>
                        <ngx-paypal [config]="payPalConfig" *ngIf="paypalPayment"></ngx-paypal>
                        <button type="submit" class="btn btn-secondary btn-lg btn-block" disabled="" *ngIf="formSubmit">Submit order</button>
                    </article>

                    <!-- submit end -->
                </div>
            </aside>
            <!-- sidebar end -->
        </div>
    </form>
</main>
