@import "src/assets/scss/variables";
@import "src/assets/scss/utilities";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";
@import "node_modules/bootstrap/scss/utilities";


.payment-type-box{
	height: 100%;
}

.inner-container{
	@include media-breakpoint-down(sm) {
		padding-left: 0;
		padding-right: 0;
	}
}
.main-content{
	@include media-breakpoint-up(md) {
		width: calc(100% - 320px);
	}
}

.product{
	img{
		width: 100%;
		height: 300px;
		object-fit: contain;
		@extend .border;
		@include media-breakpoint-up(md) {
			margin-bottom: $spacer;
		}
		@include media-breakpoint-down(sm) {
			margin-bottom: $spacer;
		}
	}
}
.disabledinput {
  opacity: 0.4;
  border-color: #cdcdcd;
  background-color: #cccccc;
  filter: alpha(opacity=40); /* For IE8 and earlier */
  cursor: default ;
}
.disabledtext {
  opacity: 0.7;
  filter: alpha(opacity=50); /* For IE8 and earlier */
  cursor: default ;
}

.coupon-code{
	background: rgba(theme-color(secondary), .2);
	border: 2px dashed theme-color(secondary);
	border-radius: $spacer/4 0 0 $spacer/4;
	font-weight: 600;
	padding: $spacer/4 $spacer/2;
}
.btn-clip{
	border-radius: 0 $spacer/4 $spacer/4 0;
}
