<app-header></app-header>
<section class="container">
    <div class="row">
        <!-- sidebar start -->
        <aside class="col sidebar" *ngIf="!isMediumScreen">
            <app-sidebar-flyout></app-sidebar-flyout>
        </aside>
        <!-- sidebar end -->

        <!-- main content start -->
        <main class="col main-content py-md-5 py-3  pl-lg-5">
            <div class="white-box cart-list p-3 mb-4">
                <!-- header start -->
                <header class="page-header border-bottom mb-3">
                    <h3>Extra/Unpaid invoices</h3>
                </header>
                <!-- header end -->

                <!-- table start -->
                <table id="first-table" datatable class="row-border hover" [dtOptions]="dtOptions[0]"  [dtTrigger]="dtTrigger1">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Invoice ID</th>
                            <th>Invoice For</th>
                            <th>Invoiced Date</th>
                            <th>Total Amount Due</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let invoice of invoices | paginate: { id: 'invpagination',
                            itemsPerPage: invpageSize,
                            currentPage: currentInvoicePage,
                            totalItems: totalInvoiceItems }; index as i">
                            <td>{{i+1}}</td>
                            <td>{{invoice.invoiceUniqueId}}</td>
                            <td>{{invoice.paidForLabel}}</td>
                            <td>{{invoice.createdOn}}</td>
                            <td>{{defaultCurrencySymbol}} {{invoice.extraCostAmount}}</td>
                            <td  class="white-space-nowrap text-right">
                                <button type="button" (click)="payinvoice(invoice.id)" class="btn btn-sm btn-primary btn-action" tooltip="Pay Invoice" placement="left" container="body"><i class="fa fa-money" aria-hidden="true"></i></button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <!-- table end -->

                <!-- datatable bottom panel start -->
                <footer class="border-bottom border-left border-right p-2 mb-3" *ngIf="invoices.length > 0">
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-9 d-flex justify-content-sm-end justify-content-center mt-2 mt-sm-0">
                            <pagination-controls  id="invpagination"
                                                  (pageChange)="pageinvoiceChanged($event)"
                                                  maxSize="9"
                                                  directionLinks="true"
                                                  autoHide="false"
                                                  previousLabel="Previous"
                                                  nextLabel="Next">
                            </pagination-controls>              
                        </div>
                    </div>
                </footer> 
            </div>

            <div class="white-box cart-list p-3 mb-4">
                <!-- header start -->
                <header class="page-header border-bottom mb-3">
                    <h3>Payment</h3>
                </header>
                <!-- header end -->

                <!-- table start -->
                <table id="second-table" datatable  class="row-border hover" [dtOptions]="dtOptions[1]"  [dtTrigger]="dtTrigger">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Paid For</th>
                            <th>Payment Date</th>
                            <th>Paid Via</th>
                            <th>Total Amount Paid</th>
                            <th>Status</th>
                            <th>&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of payments | paginate: { id: 'pagination',
                            itemsPerPage: pageSize,
                            currentPage: currentPage,
                            totalItems: totalItems }; index as i">
                            <td>{{i+1}}</td>
                            <td>{{item.paidForLabel}}</td>
                            <td>{{item.transactionOn}}</td>
                            <td>{{item.paymentMethod}}</td>
                            <td>{{item.amountPaid}}</td>
                            <td class="font-size-md">
                                <button class="btn btn-sm btn-action" container="body" placement="left" tooltip="{{ item.status=='paid'?'Paid':'Unpaid' }}" type="button" [ngClass]="{' btn-light': item.status == 'unpaid', 'btn-success': item.status == 'paid'}"><i class="fa fa-usd" aria-hidden="true"></i></button>
                            </td>
                            <td  class="white-space-nowrap text-right">
                                <button type="button" class="btn btn-sm btn-info btn-action" (click)="print(item.paidForId,item.paidFor,item.invoiceId)" tooltip="{{ item.status=='paid'?'Print Receipt':'Print Invoice' }}" placement="left" container="body"><i class="fa fa-print" aria-hidden="true"></i></button>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <!-- table end -->

                <!-- datatable bottom panel start -->
                <footer class="border-bottom border-left border-right p-2" *ngIf="payments">
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="input-group input-group-sm">
                                <select name="perPage" [(ngModel)]="pageSize" class="form-control" (change)="perPageChanged($event)">
                                    <option value="10">10</option>
                                    <option value="20">20</option>
                                    <option value="30">30</option>
                                    <option value="50">50</option>
                                    <option value="100">100</option>
                                </select>
                                <div class="input-group-append">
                                    <span class="input-group-text" id="basic-addon2">Records</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-9 d-flex justify-content-sm-end justify-content-center mt-2 mt-sm-0" *ngIf="payments">
                            <pagination-controls  id="pagination"
                                                  (pageChange)="pageChanged($event)"
                                                  maxSize="9"
                                                  directionLinks="true"
                                                  autoHide="true"
                                                  previousLabel="Previous"
                                                  nextLabel="Next">
                            </pagination-controls>              
                        </div>
                    </div>
                </footer> 
            </div>	

        </main>
        <!-- main content end -->
    </div>
</section>
<app-footer></app-footer>
