<app-header></app-header>
<!-- banner start -->
<section class="login-banner" *ngIf="registrationForm">
    <img src="{{ bannerImage}}">
</section>
<!-- banner end -->
<div class="container-fluid">
    <section class="container-sm login" *ngIf="registrationForm">

        <!-- header start -->
        <header class="text-center section-header text-white">
            <h3 class="text-white">Create Your Profile</h3>
            <span>
                <span class="text-secondary font-size-lg">*</span> Denotes required field</span>
        </header>
        <!-- header end -->
        <article class="login-box">
            <span class="icon">
                <svg-icon src="assets/imgs/icons/sign-in.svg" [svgStyle]="{'height.px':35}"></svg-icon>
            </span>
            <form method="post" (ngSubmit)="onSubmit(signupFrm)" #signupFrm="ngForm">
                <!-- <span class="d-block mb-3 font-weight-light">Enter your user ID and password to login</span> -->
                <div class="row field-area">
                    <div *ngIf="subscribedplan" class="col-md-12">
                        <div class="mb-3 bg-light shadow-1 px-3 py-2 border border-medium">
                            <h5>Subscribed For</h5>
                            <label class="d-flex justify-content-between w-100 mb-0">
                                <span>{{subscribedplan.duration}} {{subscribedplan.duration > 1?'MONTHS':'MONTH'}}</span>
                                <span class="btn btn-warning px-3 py-0 font-weight-bold">${{subscribedplan.amount}}</span>
                            </label>
                        </div>
                    </div>
                    <div class="col-4 col-sm-2 mb-sm-4 mb-3">
                        <label>Title <span class="text-secondary font-size-lg">*</span></label>
                        <select class="form-control" [ngClass]="{'is-invalid': signupFrm.submitted && title.invalid }"
                                name="title" #title="ngModel" [(ngModel)]="user.title" required>
                                <option value="">Select</option>
                            <option value="Mr.">Mr.</option>
                            <option value="Mrs.">Mrs.</option>
                            <option value="Ms.">Ms.</option>
                        </select>
                        <div *ngIf="signupFrm.submitted && title.invalid" class="invalid-feedback">
                            <div *ngIf="title.errors.required">Field is required</div>
                        </div>
                    </div>
                    <div class="col-8 col-sm-4 mb-sm-4 mb-3">
                        <label data-error="Required Field!">First name <span
                                class="text-secondary font-size-lg">*</span></label>
                        <input autocomplete="off" type="text" class="form-control validate"
                               [ngClass]="{'is-invalid': signupFrm.submitted && firstName.invalid }"
                               placeholder="First name" name="firstName" #firstName="ngModel" [(ngModel)]="user.firstName"
                               required="">
                               <div *ngIf="signupFrm.submitted && firstName.invalid" class="invalid-feedback">
                               <div *ngIf="firstName.errors.required">Field is required</div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-sm-4 mb-3">
                        <label>Last name <span class="text-secondary font-size-lg">*</span></label>
                        <input autocomplete="off" type="text" class="form-control"
                               [ngClass]="{'is-invalid': signupFrm.submitted && lastName.invalid }" placeholder="Last name"
                               name="lastName" #lastName="ngModel" [(ngModel)]="user.lastName" required="">
                               <div *ngIf="signupFrm.submitted && lastName.invalid" class="invalid-feedback">
                               <div *ngIf="lastName.errors.required">Field is required</div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-sm-4 mb-3">
                        <label>Email <span class="text-secondary font-size-lg">*</span></label>
                        <input autocomplete="off" type="email" class="form-control"
                               [ngClass]="{'is-invalid': signupFrm.submitted && email.invalid }" placeholder="Email"
                               name="email" #email="ngModel" [(ngModel)]="user.email" required email>
                               <div *ngIf="signupFrm.submitted && email.invalid" class="invalid-feedback">
                               <div *ngIf="email.errors.required">Email is required</div>
                            <div *ngIf="email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-sm-4 mb-3">
                        <label>Confirm Email <span class="text-secondary font-size-lg">*</span></label>
                        <input autocomplete="off" type="email" class="form-control"
                               [ngClass]="{'is-invalid': signupFrm.submitted && confirmEmail.invalid }"
                               placeholder="Confirm Email" name="confirmEmail" #confirmEmail="ngModel"
                               [(ngModel)]="user.confirmEmail" required email (ngModelChange)="checkMatchEmails($event)">
                               <div *ngIf="signupFrm.submitted && confirmEmail.invalid" class="invalid-feedback">
                               <div *ngIf="confirmEmail.errors.required">Email is required</div>
                            <div *ngIf="confirmEmail.errors.email">Email must be a valid email address</div>
                        </div>
                        <div class="text-danger" *ngIf='deactiveBtn==false && emailMatch==false'>
                            Emails not matched
                        </div>
                    </div>

                    <!-- <div class="col-sm-2 mb-sm-6 mb-3">
                            <label><span class="text-secondary"></span></label>
                            <input type="text" class="form-control" [ngClass]="{'is-invalid': signupFrm.submitted && number.invalid }" placeholder="Contact" name="number" #number="ngModel" [(ngModel)]="user.number" required>
                            <div *ngIf="signupFrm.submitted && number.invalid" class="invalid-feedback">
        <div *ngIf="number.errors.required">Field is required</div>
    </div>
                    </div> -->
                    <div class="col-sm-6 mb-sm-4 mb-3">
                        <label>Password
                            <span class="text-secondary font-size-lg">*</span>
                        </label>

                        <!-- <input type="password" class="form-control" [ngClass]="{ 'is-invalid': signupFrm.submitted && password.invalid }" placeholder="******" name="password" #password="ngModel" [(ngModel)]="user.password" required [pattern]="wcodePattern" (ngModelChange)="checkEmptyPassword($event)">
                        <div *ngIf="signupFrm.submitted && password.invalid" class="invalid-feedback">
    <div *ngIf="password.errors.required">Field is required</div>
</div> -->


                        <div class="input-group">
                            <input autocomplete="off" [type]="showPassText ? 'text' : 'password'" class="form-control"
                                   [ngClass]="{ 'is-invalid': signupFrm.submitted && password.invalid }"
                                   placeholder="******" name="password" #password="ngModel" [(ngModel)]="user.password"
                                   required [pattern]="wcodePattern" (ngModelChange)="checkEmptyPassword($event)">

                                   <div class="input-group-append mr-1">
                                <button class="btn btn-primary pt-1 pb-1 pl-2 pr-2" type="button"
                                        (click)="changePasswordView('pass')"><span
                                        class="fa fa-fw field-icon toggle-password"
                                        [ngClass]="showPassText ? 'fa-eye-slash' : 'fa-eye'"></span></button>
                            </div>
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button"
                                        tooltip="Password must contains minimum 8 characters"
                                        container="body" placement="left"><i class="fa fa-question"
                                                                     aria-hidden="true"></i></button>
                            </div>
                        </div>


                    </div>
                    <div class="col-sm-6 mb-sm-4 mb-3">
                        <label>Confirm Password
                            <span class="text-secondary font-size-lg">*</span>
                        </label>
                        <div class="input-group">
                            <input autocomplete="off" [type]="showRepeatPassText ? 'text' : 'password'"
                                   class="form-control"
                                   [ngClass]="{ 'is-invalid' : signupFrm.submitted && confPassword.invalid }"
                                   placeholder="******" name="confPassword" #confPassword="ngModel"
                                   [(ngModel)]="user.confPassword" required validateEqual="password"
                                   (ngModelChange)="checkMatchPasswords($event)">

                                   <div class="input-group-append mr-1">
                                <button class="btn btn-primary pt-1 pb-1 pl-2 pr-2" type="button"
                                        (click)="changePasswordView('rpass')"><span
                                        class="fa fa-fw field-icon toggle-password"
                                        [ngClass]="showRepeatPassText ? 'fa-eye-slash' : 'fa-eye'"></span></button>
                            </div>
                        </div>
                        <div *ngIf="signupFrm.submitted && (confPassword.invalid || confPassword.pristine)"
                            class="invalid-feedback">
                            <div *ngIf="confPassword.errors.required">Password is required</div>
                            <div *ngIf="confPassword.errors.pristine">Password does not match</div>
                        </div>
                        <div class="text-danger" *ngIf='deactiveBtn==false && passwordMatch==false'>
                            Passwords not matched
                        </div>
                    </div>
                    <div class="col-sm-12 mb-sm-4 mb-3" *ngIf="hidePwdStrength == false">
                         <ng2-password-strength-bar [passwordToCheck]="user.password" [barLabel]="barLabel"
                            [barColors]="myColors">
                        </ng2-password-strength-bar>
                    </div>
                    <div class="col-sm-12 mb-sm-4 mb-3 text-danger" *ngIf='password.errors?.pattern'>
                        Weak Password: Password must contains minimum 8 characters
                    </div>
                    <div class="col-sm-6 mb-sm-6 mb-3">
                        <label>Contact No <span class="text-secondary font-size-lg">*</span></label>

                        <div class="input-group">
                            <ng-select [items]="phcodeList" name="phcode" [searchable]="true" [clearable]="false"
                                #phcode="ngModel" [(ngModel)]="user.phcode" bindLabel="image" bindValue="isdCode"
                                [virtualScroll]="true">
                                <ng-template ng-option-tmp ng-label-tmp let-item="item">
                                    <img height="20" class="float-left mr-2" src="{{item.image}}" />
                                    <span [ngOptionHighlight]="search">{{item.name}} {{item.isdCode}}</span>
                                </ng-template>
                            </ng-select>
                            <input type="text" myNumberOnly class="form-control"
                                   [ngClass]="{'is-invalid': signupFrm.submitted && number.invalid }" placeholder="Contact"
                                   name="number" #number="ngModel" [(ngModel)]="user.number" required>
                                   <div *ngIf="signupFrm.submitted && number.invalid" class="invalid-feedback">
                                   <div *ngIf="number.errors.required">Field is required</div>
                            </div>
                        </div>

                        <div *ngIf="signupFrm.submitted && phcode.invalid" class="invalid-feedback">
                            <div *ngIf="phcode.errors.required">Field is required</div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-sm-4 mb-3">
                        <label>Company</label>
                        <input type="text" class="form-control" placeholder="Company" name="company" #company="ngModel"
                               [(ngModel)]="user.company">
                    </div>



                    <div class="col-sm-6 mb-sm-4 mb-3">
                        <label>Your Home/Office Address
                            <span class="text-secondary font-size-lg">*</span>
                        </label>
                        <input autocomplete="off" type="text" class="form-control"
                               [ngClass]="{'is-invalid': signupFrm.submitted && address.invalid }"
                               placeholder="Your Home/Office Address" name="address" #address="ngModel"
                               [(ngModel)]="user.address" required>
                               <div *ngIf="signupFrm.submitted && address.invalid" class="invalid-feedback">
                               <div *ngIf="address.errors.required">Field is required</div>
                        </div>
                    </div>
                    <div class="col-sm-6 mb-sm-4 mb-3">
                        <label>Your Home/Office Address(Line 2)</label>
                        <input autocomplete="off" type="text" class="form-control"
                               placeholder="Your Home/Office Address" name="alternateaddress" #address2="ngModel"
                               [(ngModel)]="user.alternateaddress">

                    </div>
                    <div class="col-sm-4 mb-sm-4 mb-3">
                        <label>Country <span class="text-secondary font-size-lg">*</span>
                        </label>
                        <select class="form-control" name="country"
                                [ngClass]="{'is-invalid': signupFrm.submitted && country.invalid }" #country="ngModel"
                                [(ngModel)]="user.country" required (change)="getStateCity($event)">
                                <option value="">Select</option>
                            <option value="{{eachCountry.id}}" *ngFor="let eachCountry of countryList">
                                    {{eachCountry.name}}</option>
                        </select>
                        <div *ngIf="signupFrm.submitted && country.invalid" class="invalid-feedback">
                            <div *ngIf="country.errors.required">Field is required</div>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-sm-4 mb-3">
                        <label>State
                            <!-- <span class="text-secondary">*</span> -->
                        </label>
                        <select class="form-control" name="state"
                                [ngClass]="{'is-invalid': signupFrm.submitted && state.invalid }" #state="ngModel"
                                [(ngModel)]="user.state" (change)="getCity($event)">
                                <option value="">Select</option>
                            <option value="{{eachState.id}}" *ngFor="let eachState of stateList">{{eachState.name}}
                        </option>
                    </select>
                    <div *ngIf="signupFrm.submitted && state.invalid" class="invalid-feedback">
                        <div *ngIf="state.errors.required">Field is required</div>
                    </div>
                </div>
                <div class="col-sm-4 mb-sm-4 mb-3">
                    <label>City <span class="text-secondary font-size-lg">*</span>
                    </label>
                    <select class="form-control" name="city"
                            [ngClass]="{'is-invalid': signupFrm.submitted && city.invalid }" #city="ngModel"
                            [(ngModel)]="user.city" required>
                            <option value="">Select</option>
                        <option value="{{eachCity.id}}" *ngFor="let eachCity of cityList">{{eachCity.name}}</option>
                    </select>
                    <div *ngIf="signupFrm.submitted && city.invalid" class="invalid-feedback">
                        <div *ngIf="city.errors.required">Field is required</div>
                    </div>
                </div>
                <!-- <div class="col-sm-12 mb-sm-4 mb-3">
                        <label>Company</label>
                        <input type="text" class="form-control"  placeholder="Company" name="company" #company="ngModel" [(ngModel)]="user.company">						
                </div> -->
                <div class="col-sm-12 mb-sm-4 mb-3" *ngIf="referralCode">
                    <label>Referral code</label>
                    <input type="text" class="form-control" placeholder="Referral Code" name="referralCode"
                           readonly="" #referralCode="ngModel" [(ngModel)]="user.referralCode">
                </div>
                <div class="col-sm-12 mb-sm-4 mb-3" *ngIf="!referralCode">
                    <label>Referral code (Optional)</label>
                    <input type="text" class="form-control" placeholder="Referral Code" name="referralCode"
                           #referralCode="ngModel" [(ngModel)]="user.referralCode">
                </div>
                <div class="col-sm-6 mb-sm-4 mb-3">
                    <!-- <small *ngIf="password.errors?.pattern; else other_content" class="form-text text-danger">Password not valid</small> -->
                    <!-- <ng-template #other_content><button type="submit" class="btn btn-secondary btn-lg" *ngIf="!formSubmitted">Submit</button></ng-template> -->
                    <!-- <button type="submit" class="btn btn-secondary btn-lg" disabled="" *ngIf="formSubmitted">Submit</button> -->
                    <button type="submit" class="btn btn-secondary btn-lg"
                            [disabled]='password.errors?.pattern || deactiveBtn==false'>Submit</button>

                    <br />
                    <div data-ng-show="showError" ng-class="{fade:doFade}" class="alert alert-danger"
                         *ngIf="formError">
                        <strong>Error: </strong>{{ formError}}
                    </div>
                </div>

                <div class="col-sm-12">
                    <span>Already have an account?
                        <a routerLink="/login" class="text-underline"> Sign in</a>
                    </span>
                </div>
                <p class="text-center"><a routerLink="/zero_fraud"><img src="assets/imgs/zero2.png"></a></p>
            </div>
        </form>
    </article>
</section>
<section class="container-sm login" *ngIf="tokenActivate">
    <article class="login-box">
        <div class="border bg-light login-bottom">
            <span class="icon">
                <svg-icon src="assets/imgs/icons/check-mark-button.svg" [svgStyle]="{ 'height.px':50}"></svg-icon>
            </span>
            <!-- <h4 class="text-center">{{ activationMsg }}</h4> -->
            <h4 class="text-center" *ngIf="activationMsg=='checking'">Checking Data. Please wait</h4>
            <div *ngIf="activationMsg=='activate'">
                <!-- <h4 class="text-center">Your account has been activated.</h4>
        <h4 class="text-center">Please click on the <a routerLink="/login" class="font-weight-bold">Sign In</a> button to login</h4> -->
                <h4 class="text-center">Thank you for verifying your email address.</h4>
                <h4 class="text-center">An account executive is reviewing your account and will call you within 24
                    hours. Should you need immediate activation please call, email or chat with us now.</h4>
                <h4 class="text-center">You will get an email notification after your account is activated.</h4>
            </div>
            <h4 class="text-center" *ngIf="activationMsg=='error'">Something went wrong.Please check the link and
                try again</h4>
        </div>
    </article>
</section>
<section class="container-sm login" *ngIf="registrationSuccess">
    <article class="login-box">
        <div class="border bg-light login-bottom">
            <span class="icon">
                <svg-icon src="assets/imgs/icons/check-mark-button.svg" [svgStyle]="{ 'height.px':50}"></svg-icon>
            </span>
            <h5 class="text-center mb-3">Your registration was successful. Click the link sent to your email to
                verify your email.Check your SPAM folder if you don’t see the email in your inbox.</h5>
            <div class="col-sm-12 text-center" *ngIf="activationResendUser"><span>Haven’t received the verification
                    mail: <a (click)='resendActivationMail(activationResendUser)' href="javascript:void(0)">Click
                        here</a> to resend</span></div>
            <div class="col-sm-12 text-center" *ngIf="!activationResendUser"><span>Verification email sent
                    successfully</span></div>
        </div>
    </article>
</section>
</div>
<app-footer></app-footer>