<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">Delivery Details</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
		<span aria-hidden="true">&times;</span>
	</button> 
</div>
<div class="modal-body" *ngIf="deliveryInfo.name">
	<div class="row">
		<div class="col-sm-4 text-right">Delivery Company :</div>
		<div class="col-sm-4 text-left">{{deliveryInfo.name}}</div>
	</div>
	<div class="row">
		<div class="col-sm-4 text-right">Received Date :</div>
		<div class="col-sm-4 text-left">{{deliveryInfo.receivedDate}}</div>
	</div>
	<div class="row">
		<div class="col-sm-4 text-right">Delivery Notes :</div>
		<div class="col-sm-4 text-left">{{deliveryInfo.deliveryNotes}}</div>
	</div>
	<div class="row">
		<div class="col-sm-4 text-right">Tracking Number :</div>
		<div class="col-sm-4 text-left">{{deliveryInfo.trackingNumber}}</div>
	</div>
	<div class="row">
		<div class="col-sm-4 text-right">Tracking Number 2 :</div>
		<div class="col-sm-4 text-left">{{deliveryInfo.tracking2}}</div>
	</div>
</div>
<div class="modal-body text-center" *ngIf="!deliveryInfo.name">Item is not yet delivered</div>