<section class="container">
	<div class="row">
		<!-- sidebar start -->
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-flyout></app-sidebar-flyout>
		</aside>
		<!-- sidebar end -->

		<!-- main content start -->
		<main class="col main-content py-md-5 py-3  pl-lg-5">
			<!-- header start -->
			<ul class="list-tab-link">
				<li *ngFor="let item of links">
					<a routerLink="/{{item.url}}" routerLinkActive="active">{{item.title}}</a>
				</li>
			</ul>
			<!-- header end -->

			<!-- location start -->
			<div class="row align-items-center mb-md-5 mb-3">
				<div class="col-md-4 col-sm-5">
					<label>Select Warehouse Location:</label>
					<select class="form-control" [(ngModel)]="selectedWarehouse" (change)="selectWarehose($event)">
						<option value="{{ i }}" *ngFor="let eachWarehouse of allWarehouse; let i = index">{{ eachWarehouse.country.name }} ({{eachWarehouse.city.name}})</option>
					</select>
				</div>

			</div>
			<!-- location end -->

			<!-- profile details start -->
			<section class="white-box p-0">
				<!-- account details collapsed start -->
				<article class="account-collapse-in">
					<div class="row no-gutters">
						<div class="col-md img">
							<img src="{{ defaultProfile }}" >
						</div>
						<div class="col-md">
							<!-- details start -->
							<div class="details">
								<div class="row">
									<!-- my Delivery Address start -->
									<div *ngFor="let eachShippingAddress of userShippingAddress" class="col-sm-4 mb-3 mb-sm-0">
										<h6>My Delivery Address</h6>
										<span class="d-block">
											<strong>{{eachShippingAddress.firstName+ ' '+eachShippingAddress.lastName}}</strong>
										</span>
										
										<span class="d-block">{{eachShippingAddress.address}}, {{(eachShippingAddress.city!=null)?eachShippingAddress.city.name+',':''}} {{(eachShippingAddress.state!=null)?eachShippingAddress.state.name+',':''}} {{(eachShippingAddress.zipcode!=null)?eachShippingAddress.zipcode+',':''}} {{(eachShippingAddress.country!=null)?eachShippingAddress.country.code+',':''}} {{(eachShippingAddress.phone!=null)?'Phone: '+eachShippingAddress.phone:''}}</span>
										<ul class="list-link">
											<li>
												<a routerLink="/addressbook" >Go To Addressbook</a>
											</li>
										</ul>
									</div>
									<!-- my Delivery Address end -->

									<!-- my Delivery Address start -->
									<div #warehouseAddress id="warehouseAddress" class="col-sm-4 mb-3 mb-sm-0" *ngIf="selectedWarehouseDetails">
										<h6>My {{ selectedWarehouseDetails.country.code }} Address</h6>
										<span class="d-block">
											<strong>{{regService.item.user.firstName+' '+regService.item.user.lastName}}</strong>
										</span>
										<span class="d-block">
											<strong>{{'UNIT '+regService.item.user.unit}}</strong>
										</span>
										<span class="d-block">{{ selectedWarehouseDetails.address }}, {{ selectedWarehouseDetails.city.name }}, {{ selectedWarehouseDetails.state.name }}, {{selectedWarehouseDetails.zipcode}} {{selectedWarehouseDetails.country.code}}</span>
										<ul class="list-link">
											<li>
												<a href="javascript:void(0)" (click)="showWarehouseAddress()">How to use my address</a>
											</li>
										</ul>
									</div>
									<!-- my Delivery Address end -->

									<!-- my Delivery Address start -->
									<div class="col-sm-4">
										<h6>Shopper Rewards</h6>
										<span class="d-block">
											<strong>{{regService.item.user.firstName+' '+regService.item.user.lastName}}</strong>
										</span>
										<span class="d-block">Earned Points :
											<strong class="font-weight-medium">{{earnedPoints}}</strong>
										</span>
										<span class="d-block">Reward Level :
											<strong class="font-weight-medium">{{rewardName}}</strong>
										</span>
										<span class="d-block">Reward Expires :
											<strong class="font-weight-medium">{{expString}}</strong>
										</span>
										<ul class="list-link">
											<li>
												<a routerLink="/my-account/reward">My Reward Details</a>
											</li>
										</ul>
									</div>
									<!-- my Delivery Address end -->
								</div>
							</div>
							<!-- details end -->
						</div>
					</div>
				</article>
				<!-- account details collapsed end -->
			</section>
			<!-- profile details end -->
			
			<!-- shipment item start -->
			<div *ngIf="warehouseShipmentList.length > 0">
				<section *ngFor="let item of warehouseShipmentList; let i = index" class="shipment-item mt-md-5 mt-4">

					<header class="d-flex align-items-center mb-md-4 mb-3 justify-content-between">
						<div class="d-flex align-items-center">
							<h3 class="mb-0 text-ellipsis">Shipment:#{{item.id}}</h3>
						<svg-icon src="assets/imgs/icons/shipment-id.svg" [svgStyle]="{ 'height.px':35}" class="ml-3"></svg-icon>
					</div>
						<div class="gauge gauge-horizontal ml-md-4 ml-2" [ngStyle]="{'width':'155px'}" *ngIf="item.actualFillPercentage">
							<article class="gauge-container">
								<div class="gauge-scale">
									<ul>
										<li>Empty</li>
										<li>Half</li>
										<li>Full</li>
									</ul>
								</div>
								<div class="gauge-box">
									<span class="gauge-fill" [ngStyle]="{'width':item.actualFillPercentage+'%'}"></span>
								</div>
							</article>
							<span class="gauge-value d-block text-center"><strong>{{item.actualFillPercentage}}%</strong></span>
						</div>
						<!-- <a href="javascript:void(0)" class="help-icon ml-2" container="body" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
							<i class="fa fa-question" aria-hidden="true"></i>
						</a> -->
					</header>

					<div *ngIf="tracks[i]">
						<nav aria-label="track-order" class="mb-4 white-box">
							<ul class="track-order">
								<li *ngFor="let eachStatus of tracks[i]" [ngClass]="{'visited': eachStatus.visited === true, 'completed': eachStatus.completed === true}">
									<span class="milestone"></span>
									<div class="content">
										<span class="font-weight-medium d-block title">{{eachStatus.status}}</span>
										<span class="text-medium d-block">{{eachStatus.date}}</span>
									</div>
								</li>
							</ul>
						</nav>
					</div>

					<!-- delivery status start -->
					<article class="bg-medium font-size-sm px-3 py-2 mb-3">
						<div class="row align-items-md-center">
							<div class="col-md-4 col-12 mb-1 mb-md-0 d-flex align-items-center">
								<span _ngcontent-c10="" class="font-weight-medium">Box Selected: {{ item.filshipboxinfo.name }}</span>
							</div>
							<div class="col-md-4 col-6 mb-1 mb-md-0">
								<span class="font-weight-medium">Box Dimension: {{ item.filshipboxinfo.length }}*{{ item.filshipboxinfo.width }}*{{ item.filshipboxinfo.height }}</span>
							</div>
							<div class="col-md-4 col-6 mb-1 mb-md-0">
								<span class="font-weight-medium">Maximum Weight For Air: {{ item.boxChargeableWeight }} lbs</span>
							</div>
							<div class="col-md-4 col-6 mb-1 mb-md-0">
								<span class="font-weight-medium">Maximum Storage Date: {{ item.maxStorageDate}}</span>
							</div>
							<div class="col-md-4 col-12 mb-1 mb-md-0 d-flex align-items-center">
								<span _ngcontent-c10="" class="font-weight-medium">First Receive Date: {{ item.firstReceivedDate }}</span>
							</div>
							<div class="col-md-4 col-6 mb-1 mb-md-0">
								<span class="font-weight-medium">Estimated Store Charge: {{ item.storageCharge}}</span>
							</div>
						</div>

						<div class="row align-items-md-center">
							<div class="col-md-4 col-12 mb-1 mb-md-0 d-flex align-items-center">
								<!-- <span class="font-weight-medium">First Receive Date: {{item.firstReceived}}</span> -->
								<!--<a href="javascript:void(0)" class="help-icon ml-2 flex-none" container="body" tooltip="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
									<i class="fa fa-question" aria-hidden="true"></i>
								</a>-->
							</div>
							<!-- <div class="col-md-4 col-6 mb-1 mb-md-0">
								<span class="font-weight-medium">Maximum Storage Date: {{item.maxStorageDate}}</span>
							</div> -->
							<!-- <div class="col-md-4 col-6 mb-1 mb-md-0">
								<span class="font-weight-medium">Estimated Store Charge: {{defaultCurrencySymbol}} {{item.storageCharge  | number:'1.2-2'}}</span>
							</div> -->
						</div>
					</article>
					<!-- delivery status end -->
					<div class="p-0 mb-4">
						<div class="col-md-12 mb-1 text-left">
							<span>Total Actual Weight : <strong>{{ item.totalWeight }}lbs</strong></span>&nbsp;&nbsp;
							<span>Total Volume Weight : <strong>{{ item.totalVolumeWeight }}lbs</strong></span>&nbsp;&nbsp;
                          	<span>Total Chargeable Weight : <strong>{{item.totalChargeableWeight}}lbs</strong></span>
						</div>
					</div>
					<!-- package start -->
					<div class="white-box p-0 mb-4">

						<!-- table start -->
						<table datatable class="hover" [dtOptions]="dtOptions">
							<thead>
								<tr>
									<th>Store</th>
									<th>Dimensions</th>
									<th>Weight(Lbs)</th>
									<th>Items ordered</th>
									<th>Value Per Item</th>
									<th>Quantity</th>
									<th>Total Cost</th>
									<th>Status</th>
									<th>Other Actions</th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let package of hack(item.packages); let p = index;">
									<td>{{ package.storeName }}</td>
									<td *ngIf="package.length">{{package.length}}*{{package.width}}*{{package.height}}</td>
									<td *ngIf="!package.length">N/A</td>
									<td>{{package.weight}}</td>
									<td>{{ package.itemName }}</td>
									<td>{{item.currencySymbol}} {{package.itemPrice}}</td>
									<td>{{package.itemQuantity}}</td>
									<td>{{item.currencySymbol}} {{package.itemTotalCost}}</td>
									<td>{{package.status  | titlecase}}</td>
									<td class="white-space-nowrap text-right">					
										<div class="btn-group" dropdown placement="bottom right" container="body">
											<button dropdownToggle type="button" tooltip="Actions" placement="left" container="body" class="btn btn-light btn-action text-primary dropdown-toggle"><i
												 class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
												<ul *dropdownMenu class="dropdown-menu dropdown-menu-right">						
													<li role="menuitem"><a class="dropdown-item px-3" (click)="showItemDetail(package.id)"><i class="fa fa-info-circle mr-2" aria-hidden="true"></i>Delivery Information</a></li>
												</ul>
										</div>
									</td>
								</tr>

							</tbody>
						</table>
						<!-- table end -->
						<div class="p-3 text-center">
							<button type="button" class="btn btn-sm btn-info btn-action" (click)="print(item.id,'fillship')" tooltip="Print Invoice" placement="left" container="body"><i class="fa fa-print" aria-hidden="true"></i></button>
						</div>
					</div>
					<!-- package end -->
					<div class="text-center">
						<button *ngIf="item.shipout_extracharge && item.actualFillPercentage!='0.00'" [disabled]="!item.shipmentReceivedStatus" (click)="shipout($event, item.id, i)" class="btn btn-secondary btn-lg">Ship My Box</button>
						<button *ngIf="!item.shipout_extracharge && item.status == 'processed'" class="btn btn-secondary btn-lg" [disabled]="true">Ship Out Requested</button>
						<button *ngIf="item.status == 'shipped' && item.shippOutOpt == '1'" class="btn btn-secondary btn-lg" [disabled]="true">Shipped Out</button>
					</div>
				</section>
			</div>
			<!-- shipment item end -->



			<!-- shipment item start -->
			<section  *ngIf="warehouseShipmentList.length == 0" class="shipment-item mt-md-5 mt-4">
				<div class="text-center">No Shipments in Warehouse.</div>
			</section>
		</main>
		<!-- main content end -->

	</div>
</section>
