<ng-walkthrough-flow #walkOrderHistory id="wt-test-flow" focusBackdrop="true" closeAnywhere="false" showArrow="true"
 radius="auto" [texts]="navText" (finished)="walkOrderHistoryFinished();" arrowColor="#5bc6d0">

	<!-- step datePeriod start -->
	<ng-walkthrough focusElementSelector="#datePeriod" [contentTemplate]="stepDatePeriod">
		<ng-template #stepDatePeriod>
			<h5 class="text-primary font-weight-bold">Step 38 :</h5>
			<p><b>Submitted Orders :</b> This section allows to view all your past Shop For Me orders. The <b>Search</b> section allows you to easily filter your orders.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step datePeriod cart end -->

	<!-- step reset start -->
	<ng-walkthrough focusElementSelector="#reset" [contentTemplate]="stepReset">
		<ng-template #stepReset>
			<h5 class="text-primary font-weight-bold">Step 39 :</h5>
			<p>Click to reset the search form and display all orders.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step reset end -->

	<!-- step search start -->
	<ng-walkthrough focusElementSelector="#search" [contentTemplate]="stepSearch">
		<ng-template #stepSearch>
			<h5 class="text-primary font-weight-bold">Step 40 :</h5>
			<p>Click to search with the above search criteriaZ(s).</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step search end -->

	<!-- step submitOrder start -->
	<ng-walkthrough focusElementSelector="#submitOrder" [contentTemplate]="stepSubmitOrder">
		<ng-template #stepSubmitOrder>
			<h5 class="text-primary font-weight-bold">Step 41 :</h5>
			<p>List of all the past orders that have been processed.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step submitOrder end -->

	<!-- step submitDrop start -->
	<ng-walkthrough focusElementSelector="#submitDrop" [contentTemplate]="stepSubmitDrop">
		<ng-template #stepSubmitDrop>
			<h5 class="text-primary font-weight-bold">Step 42 :</h5>
			<p>Click to view the detailed <b>item(s) information</b> amd <b>print invoice</b>.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step submitDrop end -->

	<!-- step submitPagination start -->
	<ng-walkthrough focusElementSelector="#submitPagination" [contentTemplate]="stepSubmitPagination">
		<ng-template #stepSubmitPagination>
			<h5 class="text-primary font-weight-bold">Step 43 :</h5>
			<p>Change the number of records displayed above.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step submitPagination end -->

	<!-- step date2 start -->
	<ng-walkthrough focusElementSelector="#date2" [contentTemplate]="stepDate2">
		<ng-template #stepDate2>
			<h5 class="text-primary font-weight-bold">Step 44 :</h5>
			<p>Click to search with the above search criteria(s).</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step date2 end -->

	<!-- step request start -->
	<ng-walkthrough focusElementSelector="#request" [contentTemplate]="stepRequest">
		<ng-template #stepRequest>
			<h5 class="text-primary font-weight-bold">Step 45 :</h5>
			<p><b>Request for cost :</b> This section allows to view all orders for which you have requested for a <b>Shipping cost</b>. The <b>Search</b> section allows you to easily filter your orders.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step request end -->

	<!-- step request drop start -->
	<ng-walkthrough focusElementSelector="#requestDrop" [contentTemplate]="stepRequestDrop">
		<ng-template #stepRequestDrop>
			<h5 class="text-primary font-weight-bold">Step 46 :</h5>
			<p>Click to view the detailed <b>item(s) information</b> amd <b>print invoice</b>.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step request drop end -->

	<!-- step request drop start -->
	<ng-walkthrough focusElementSelector="#requestPage" [contentTemplate]="stepRequestPage">
		<ng-template #stepRequestPage>
			<h5 class="text-primary font-weight-bold">Step 47 :</h5>
			<p>Change the number of records displayed above.</p>
		<a href="javascript:void(0)" class="btn-skip" (click)="pause()">Skip</a>
		</ng-template>
	</ng-walkthrough>
	<!-- step request drop end -->
</ng-walkthrough-flow>


<section class="container">
	<div class="row">
		<!-- sidebar start -->
		<aside class="col sidebar" *ngIf="!isMediumScreen">
			<app-sidebar-flyout></app-sidebar-flyout>
		</aside>
		<!-- sidebar end -->

		<!-- main content start -->
		<main class="col main-content py-md-5 py-3  pl-lg-5">
			<!-- header start -->
			<header class="page-header border-bottom mb-3">
				<h3>Order History</h3>
			</header>
			<!-- header end -->

			<!-- order history content start -->
			<p>You can search for the orders to view/process using the form below.</p>

			<!-- form start -->
			<section class="filter my-4 pt-2 pb-0 px-3 white-box" id="datePeriod">
				<form method="post" name="">
					<div class="form-row">
						<div class="form-group col-md-3 col-sm-4">
							<label class="font-weight-medium">Date period</label>
							<select class="form-control form-control-sm" (change)="enableRange($event.target.value)">
								<option value="AD">All dates</option>
								<option value="TM">This month</option>
								<option value="TW">This week</option>
								<option value="TO">Today</option>
								<option value="FR">From</option>
							</select>
						</div>
						<div class="form-group col-md-3 col-sm-4">

						</div>
						<div class="form-group col-md-9 col-sm-6 d-flex d-sm-block justify-content-center justify-content-sm-start">
							<label class="custom-check text-left flex-row">
								<input type="checkbox" value="" (click)="showMore($event)">
								<span class="checkmark"></span>
								<strong class="font-weight-medium pl-2">More Search Options</strong>
							</label>
						</div>

						<!-- more options start -->
						<div class="form-group col-md-9 col-sm-8 mb-0" *ngIf="!showMoreOptions === true">
							<div class="form-row">
								<div class="form-group col-md-4 col-6">
									<label class="font-weight-medium">Order id
										<span class="text-secondary">*</span>
									</label>
									<input type="text" class="form-control form-control-sm">
								</div>
								<div class="form-group col-md-4 col-6">
									<label class="font-weight-medium">Order status</label>
									<select class="form-control form-control-sm">
										<option value="NF">Not finished</option>
										<option value="SM">Submitted</option>
										<option value="PR">Processed</option>
										<option value="DC">Declined</option>
										<option value="FA">Failed</option>
										<option value="CM">Complete</option>
									</select>
								</div>
							</div>
						</div>
						<!-- more options end -->

						<div class="form-group col-sm justify-content-sm-end justify-content-center d-flex align-items-end">
							<a href="#" class="btn btn-sm btn-link" id="reset">Reset filter</a>
							<button type="submit" class="btn btn-sm btn-secondary" (click)="openHistory()" id="search">Search</button>
						</div>
					</div>
				</form>
			</section>
			<!-- form end -->

			<article *ngIf="!showHistory" class="mb-3" id="submitOrder">
				<header>
					<h4>Submitted Orders</h4>
				</header>
				<!-- table start -->
				<table datatable class="hover" [dtOptions]="dtOptions">
					<thead>
						<tr>
							<th>#</th>
							<th>Urgent <br> Purchase</th>
							<th>Shop For Me <br> Cost</th>
							<th>Total Shipping <br> Cost</th>
							<th>Total Cost</th>
							<th>Status</th>
							<th>Payment <br> Status</th>
							<th>Order Date</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of orders" [ngClass]="{'active': item.selected }">

							<td class="white-space-nowrap">
								<a href="#">#{{item.id}}</a>
							</td>
							<td>
								<span class="badge badge-pill font-weight-medium" [ngClass]="{'badge-success': item.urgent == 'Y', 'badge-danger': item.urgent == 'N'}">{{
									item.urgent=='Y'?'Yes':'No' }}</span>
							</td>
							<td>
								<a href="#">${{item.shop_costg}}</a>
							</td>
							<td>${{item.shipping_cost}}</td>
							<td>${{item.total_cost}}</td>
							<td class="font-size-md">
								<span class="badge badge-pill font-weight-medium" tooltip="Processed" container="body" [ngClass]="{'badge-warning': item.status === 'Processed', 'badge-danger': item.status === 'Not finished', 'badge-success': item.status === 'Submitted'}">{{item.status}}</span>
							</td>
							<td class="font-size-md">
								<button class="btn btn-sm btn-action" container="body" placement="left" tooltip="{{ item.payment_status=='paid'?'Paid':'Unpaid' }}"
								 type="button" [ngClass]="{' btn-light': item.payment_status == 'Unpaid', 'btn-success': item.payment_status == 'Paid'}"><i
									 class="fa fa-usd" aria-hidden="true"></i></button>
							</td>
							<td>{{item.date}}</td>
							<td class="text-right">
								<div class="btn-group" dropdown placement="bottom right" container="body">
									<button dropdownToggle type="button" id="submitDrop" tooltip="Actions" placement="left" container="body" class="btn btn-light btn-action text-primary dropdown-toggle"><i
										 class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
									<ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
										<li role="menuitem"><a class="dropdown-item px-3" href="#"><i class="fa fa-print mr-2" aria-hidden="true"></i>Print</a></li>
										<li role="menuitem"><a class="dropdown-item px-3" href="#"><i class="fa fa-eye mr-2" aria-hidden="true"></i>View</a></li>
										<li role="menuitem"><a class="dropdown-item px-3" href="#"><i class="fa fa-info-circle mr-2" aria-hidden="true"></i>Information</a></li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- table end -->

				<!-- datatable bottom panel start -->
				<footer class="border-bottom border-left border-right p-2">
					<div class="row">
						<div class="col-sm-3" id="submitPagination">
							<div class="input-group input-group-sm">
								<select name="perPage" class="form-control">
									<option value="10">10</option>
									<option value="20">20</option>
									<option value="30">30</option>
									<option value="50">50</option>
									<option value="100">100</option>
								</select>
								<div class="input-group-append">
									<span class="input-group-text" id="basic-addon2">Records</span>
								</div>
							</div>
						</div>

						<!-- <div class="col-sm-9 d-flex justify-content-sm-end justify-content-center mt-2 mt-sm-0">
							<pagination-controls id="pagination" maxSize="5" directionLinks="true" autoHide="true" previousLabel="Previous"
							 nextLabel="Next">
							</pagination-controls>
						</div> -->
					</div>
				</footer>
				<!-- datatable bottom panel end -->
			</article>

			<div class="white-box cart-list p-3 mb-4" id="date2">
				<form method="post" name="form">
					<div class="form-row">
						<div class="form-group col-md-3 col-sm-4">
							<label class="font-weight-medium">Date Period</label>
							<select name="requestforcostDate" class="form-control form-control-sm">
								<option value="AD">All dates</option>
								<option value="TM">This month</option>
								<option value="TW">This week</option>
								<option value="TO">Today</option>
								<option value="FR">From</option>
							</select>
						</div>
						<div class="form-group col-sm justify-content-sm-end justify-content-center d-flex align-items-end">
							<a href="javascript:void(0);" class="btn btn-sm btn-link" id="dateReset">Reset Filter</a>
							<button type="submit" class="btn btn-sm btn-secondary" id="dateSearch">Search</button>
						</div>
					</div>
				</form>
			</div>
			<!-- form end -->

			<article *ngIf="!showHistory" id="request">
				<header>
					<h4>Request for cost</h4>
				</header>
				<!-- table start -->

				<!-- table start -->
				<table datatable class="hover" [dtOptions]="dtOptions">
					<thead>
						<tr>
							<th>#</th>
							<th>Urgent <br> Purchase</th>
							<th>Shop For Me <br> Cost</th>
							<th>Total Shipping <br> Cost</th>
							<th>Total Cost</th>
							<th>Status</th>
							<th>Payment <br> Status</th>
							<th>Order Date</th>
							<th>&nbsp;</th>
						</tr>
					</thead>
					<tbody>
						<tr *ngFor="let item of orders" [ngClass]="{'active': item.selected }">

							<td class="white-space-nowrap">
								<a href="#">#{{item.id}}</a>
							</td>
							<td>
								<span class="badge badge-pill font-weight-medium" [ngClass]="{'badge-success': item.urgent == 'Y', 'badge-danger': item.urgent == 'N'}">{{
									item.urgent=='Y'?'Yes':'No' }}</span>
							</td>
							<td>
								<a href="#">${{item.shop_costg}}</a>
							</td>
							<td>${{item.shipping_cost}}</td>
							<td>${{item.total_cost}}</td>
							<td class="font-size-md">
								<span class="badge badge-pill font-weight-medium" tooltip="Processed" container="body" [ngClass]="{'badge-warning': item.status === 'Processed', 'badge-danger': item.status === 'Not finished', 'badge-success': item.status === 'Submitted'}">{{item.status}}</span>
							</td>
							<td class="font-size-md">
								<button class="btn btn-sm btn-action" container="body" placement="left" tooltip="{{ item.payment_status=='paid'?'Paid':'Unpaid' }}"
								 type="button" [ngClass]="{' btn-light': item.payment_status == 'Unpaid', 'btn-success': item.payment_status == 'Paid'}"><i
									 class="fa fa-usd" aria-hidden="true"></i></button>
							</td>
							<td>{{item.date}}</td>
							<td class="text-right">
								<div class="btn-group" dropdown placement="bottom right" container="body">
									<button dropdownToggle type="button" tooltip="Actions" placement="left" container="body" class="btn btn-light btn-action text-primary dropdown-toggle"
									 id="requestDrop"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></button>
									<ul *dropdownMenu class="dropdown-menu dropdown-menu-right">
										<li role="menuitem"><a class="dropdown-item px-3" href="#"><i class="fa fa-print mr-2" aria-hidden="true"></i>Print</a></li>
										<li role="menuitem"><a class="dropdown-item px-3" href="#"><i class="fa fa-eye mr-2" aria-hidden="true"></i>View</a></li>
										<li role="menuitem"><a class="dropdown-item px-3" href="#"><i class="fa fa-info-circle mr-2" aria-hidden="true"></i>Information</a></li>
									</ul>
								</div>
							</td>
						</tr>
					</tbody>
				</table>
				<!-- table end -->


				<!-- datatable bottom panel start -->
				<footer class="border-bottom border-left border-right p-2">
					<div class="row">
						<div class="col-sm-3" id="requestPage">
							<div class="input-group input-group-sm">
								<select name="perPage" class="form-control">
									<option value="10">10</option>
									<option value="20">20</option>
									<option value="30">30</option>
									<option value="50">50</option>
									<option value="100">100</option>
								</select>
								<div class="input-group-append">
									<span class="input-group-text" id="basic-addon2">Records</span>
								</div>
							</div>
						</div>

						<!-- <div class="col-sm-9 d-flex justify-content-sm-end justify-content-center mt-2 mt-sm-0">
											<pagination-controls id="pagination" maxSize="5" directionLinks="true" autoHide="true" previousLabel="Previous"
											 nextLabel="Next">
											</pagination-controls>
										</div> -->
					</div>
				</footer>
				<!-- datatable bottom panel end -->
			</article>

		</main>
		<!-- main content end -->
	</div>
</section>
