<!-- header start -->
<header class="page-header border-bottom mb-3">
	<h3>Your shopping cart</h3>
</header>
<!-- header end -->


<!-- add produce start -->
<div class="white-box cart-list p-0">
	<header class="border-bottom">
		<label class="custom-check text-right flex-row-reverse mb-0">
			<input type="checkbox" name="type" value="SelectAll" [(ngModel)]="check_all.type" (click)="selectAll('type')">
			<span class="checkmark"></span>
			<strong class="font-weight-medium pr-2">Select All</strong>
		</label>
	</header>
	<article class="item" *ngFor="let item of carts" [ngClass]="{'active': item.selected }">
		<div class="row no-gutters">
			<div class="col img pr-3">
				<img src="assets/imgs/box.png">
			</div>
			<div class="col content">
				<!-- header start -->
				<header class="d-flex align-items-center justify-content-between">
					<h4 class="text-ellipsis">
						<a href="">Tommy Hilfiger Shoes</a>
					</h4>
					<label class="custom-check text-right flex-row-reverse">
						<!-- <input type="checkbox" value="" (change)="checkUncheckAll(ev)" [(ngModel)]="item.selected"> -->
						<input type="checkbox" [(ngModel)]="item.selected" (change)="filterSearch(item.selected);">
						<span class="checkmark"></span>
					</label>
				</header>
				<!-- header end -->

				<!-- body start -->
				<div class="row cart-list-body">
					<div class="col-sm">
						<span class="font-size-sm d-block">Product:
							<strong class="font-weight-medium">Men Shoes</strong>
						</span>
						<span class="font-size-sm d-block">URL/Website Link:
							<strong class="font-weight-medium">https://www.flipkart.com</strong>
						</span>
						<span class="font-size-sm d-block">Color/Size:
							<strong class="font-weight-medium">Green/14</strong>
						</span>
					</div>
					<div class="col-sm text-sm-right">
						<span class="font-size-sm d-block">Quantity:
							<strong class="font-weight-medium">1</strong>
						</span>
						<span class="font-size-sm d-block">Unit Price :
							<strong>$25.00</strong>
						</span>
						<span class="font-size-sm d-block">Shipping to Your Warehouse :
							<strong>$4.99</strong>
						</span>
					</div>
				</div>
				<!-- body end -->

				<!-- footer start -->
				<footer class="mt-2 d-sm-flex flex-row-reverse align-items-center">
					<div class="flex-1 text-sm-right">
						<h4>Total :
							<strong class="text-success">$29.99</strong>
						</h4>
					</div>
					<div class="flex-none">
						<a href="#" class="btn btn-secondary btn-sm">Remove</a>
					</div>
				</footer>
				<!-- footer end -->
			</div>
		</div>
	</article>

	<footer class="clearfix text-center text-sm-left">
		<ul class="pagination mb-sm-0 float-sm-left justify-content-center">
			<li class="page-item">
				<a class="page-link" href="#" aria-label="Previous">
					<span aria-hidden="true">&laquo;</span>
					<span class="sr-only">Previous</span>
				</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">1</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">2</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#">3</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="#" aria-label="Next">
					<span aria-hidden="true">&raquo;</span>
					<span class="sr-only">Next</span>
				</a>
			</li>
		</ul>

		<a href="#" class="btn btn-primary mr-1 float-sm-right">
			<i class="fa fa-shopping-cart mr-2" aria-hidden="true"></i>Move To Cart
		</a>
	</footer>
</div>
<!-- add produce end -->
