<div class="modal-header">
	<h4 class="modal-title pull-left text-primary">Cart Item Already Exists!!</h4>
	<button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()" *ngIf="closeBtnName">
		<span aria-hidden="true">&times;</span>
	</button>
</div>
<div class="modal-body">
	<div>
		You have already items in your cart for your {{warehouseCode}} warehouse address.
	</div>
	<div>
		 Please choose any of the below actions to continue
	</div>
	


</div>
<div class="modal-footer">
	<button type="button" (click)="clearcart()" class="btn btn-sm btn-danger">Clear Cart</button>
	<button type="button" (click)="saveCartItems()" class="btn btn-sm btn-primary">Save Items For Later</button>
	<button type="button" (click)="continue()" class="btn btn-sm btn-success">Continue with Cart</button>
</div>
