<!-- header start -->
<header class="page-header border-bottom mb-3">
	<h3>My Documents</h3>
</header>
<!-- header end -->

<!-- form start -->
<section class="white-box text-center mb-4">
	<div class="row">
		<div class="col-md-6 offset-md-3">
			<h3>Add New Document</h3>
			<div class="form-group">
				<label class="font-weight-medium">Select document</label>
				<input class="form-control-file border" type="file">
				<small class="form-text text-muted">(Image, PDF or Word doc)</small>
			</div>
			<div class="form-group">
				<label class="font-weight-medium">Select document</label>
				<textarea class="form-control"></textarea>
				<small class="form-text text-muted">(e.g. Photo ID)</small>
			</div>
			<div class="form-group">
				<button class="btn btn-secondary" type="button">Upload</button>
			</div>
		</div>
	</div>
</section>
<!-- form end -->

<!-- table start -->
<table datatable class="hover" [dtOptions]="dtOptions">
	<thead>
		<tr>
			<th>Document</th>
			<th> Description</th>
			<th class="text-right">Actions</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let item of documents; let i = index">
			<td>
				<img src="assets/imgs/{{item.document}}" class="object-fit-contain" width="30" height="30">
			</td>
			<td>{{item.des}}</td>
			<td class="text-right">
				<button class="btn btn-secondary btn-sm btn-action" container="body" placement="left" tooltip="Delete" (click)="deleteDocumentRow(i)">
					<i class="fa fa-trash-o" aria-hidden="true"></i>
				</button>
			</td>
		</tr>
	</tbody>
</table>
<!-- table end -->
