<accordion [closeOthers]="oneAtATime" class="sidemenu-accordion">
	<accordion-group *ngFor="let item of sideNavList;let i = index">
		<a href="{{item.link == '' ? 'javascript:void(0)' : item.link}}" accordion-heading>
			<svg-icon src="assets/imgs/icons/{{item.icon}}" [svgStyle]="{ 'width.px':20}"></svg-icon>
			<span>{{item.name}}</span>
		</a>
		<!-- content here -->

		<!-- sub accordion -->
		<accordion *ngIf="item.children" [closeOthers]="oneAtATime" class="accordion-submenu">
			<accordion-group *ngFor="let children of sideNavList[i].children; let j = index">
				<a href="{{children.link == '' ? 'javascript:void(0)' : children.link}}" accordion-heading>{{children.name}}</a>
				<!-- content here -->

				<!-- sub sub menu -->
				<ul class="sub-sub-menu">
					<li *ngFor="let subChildren of sideNavList[i].children[j].subChildren;">
						<a href="">{{subChildren.name}}</a>
					</li>
				</ul>
			</accordion-group>
		</accordion>
	</accordion-group>
</accordion>
