@import "src/assets/scss/variables";
@import "src/assets/scss/utilities";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";

::ng-deep.sidemenu-accordion{
	.card{
		background: transparent;
		border: 0;
		// header
		.card-header{
			padding: 0;
			border: 0;
			a{
				display: flex;
				align-items: center;
				font-size: $font-size-base/1.10;
				color: theme-color-level(blue-grey, -4);
				padding: $spacer/2 $spacer;
				svg{
					fill: theme-color-level(blue-grey, -4);
					height: 16px;
					margin-right: $spacer/2;
				}
				span{
					@extend .text-ellipsis;
					flex: 1;
				}
				&:after{
					content: '\f107';
					font-family: fontAwesome;
					display: block;
					font-size: $font-size-base;
					margin-left: $spacer/2;
					display: block;
				}
			}
		}

		// body
		.card-body{
			padding: 0;
			background: theme-color-level(blue-grey, 8);
			// sub menu
			.accordion-submenu{
				.card{
					.card-header{
						a{
							position: relative;
							padding: $spacer/2 $spacer $spacer/2 $spacer*2.85;
							&:after{
								content: '\f105';
								font-family: fontAwesome;
								position: absolute;
								right: $spacer;
							}
						}
					}
				}
				.panel-open .card .card-header a{
					background: transparent;
					&:after{
						content: '\f107';
						opacity: .50;
					}
				}
			}

			// sub sub menu
			.sub-sub-menu{
				padding: 0;
				margin: 0;
				li{
					margin: $spacer/4 $spacer $spacer/4 $spacer*2.85;
				}
			}

		}
	}

	// open
	.panel-open .card .card-header a{
		color: var(--white);
		background: theme-color-level(blue-grey, 6);
		svg{
			fill: var(--white);
		}
		&:after{
			content: '\f106';
		}
	}
}


